PI workflows backup 2025-10-31 19-52/Create new AD account.json
{
  "updatedAt": "2025-09-27T21:10:39.000Z",
  "createdAt": "2025-09-02T14:15:20.496Z",
  "id": "rI6ezGxmkfeQku3n",
  "name": "Create new AD account",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f54ab6de-2566-4063-b57a-aa7fd93f51fb",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        288
      ],
      "id": "ccfc0a58-2caa-4163-a5ee-f2f4741a8f5e",
      "name": "Webhook",
      "webhookId": "f54ab6de-2566-4063-b57a-aa7fd93f51fb"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C099QKJSCTD",
          "mode": "list",
          "cachedResultName": "new-user-created"
        },
        "text": "=🤖 *New AD User Created Successfully!*\n\n*First Name:* {{$json[\"FirstName\"]}}\n*Last Name:* {{$json[\"LastName\"]}}\n*Employee Number:* {{$json[\"EmployeeNumber\"]}}\n*Job Title:* {{$json[\"JobTitle\"]}}\n*Department:* {{$json[\"Department\"]}}\n*Manager:* {{$json[\"Manager\"]}}\n*Office Location:* {{$json[\"OfficeLocation\"]}}\n*Phone:* {{$json[\"OfficePhone\"]}}\n*Email:* {{$json[\"Email\"]}}\n*Password:* `{{$json[\"Password\"]}}`\n*DL Groups Copied:* {{$json[\"DLGroupsCopied\"].join(', ')}}\n*Security Groups Copied:* {{$json[\"SecurityGroupsCopied\"].join(', ')}}\n{{$json[\"ConflictMessage\"]}}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        0,
        576
      ],
      "id": "8ef812ba-cc2e-43c1-a1ed-c0b11099a497",
      "name": "Send a message",
      "webhookId": "619d4034-0d7d-43f0-9691-ea960aef7115",
      "credentials": {
        "slackApi": {
          "id": "DaNIVrtwfHymDT9P",
          "name": "New User"
        }
      }
    },
    {
      "parameters": {
        "command": "=powershell.exe -NoProfile -Command \"& { C:\\Scripts\\Create-ADUser-From-n8n.ps1 -FirstName '{{$json[\"body\"][\"firstname\"]}}' -LastName '{{$json[\"body\"][\"lastname\"]}}' -EmployeeNumber '{{$json[\"body\"][\"employeenumber\"]}}' -JobTitle '{{$json[\"body\"][\"jobtitle\"]}}' -Department '{{$json[\"body\"][\"department\"]}}' -ManagerSam '{{$json[\"body\"][\"managersam\"]}}' -OfficePhone '{{$json[\"body\"][\"officephone\"]}}' -OfficeLocation '{{$json[\"body\"][\"officelocation\"]}}' -SourceUsername '{{$json[\"body\"][\"sourceusername\"]}}' }\"",
        "cwd": "="
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -672,
        288
      ],
      "id": "ac9189cf-9825-4cef-9f58-e00da3481123",
      "name": "Create New AD User",
      "credentials": {
        "sshPassword": {
          "id": "79KNHZGwd8w288i9",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if (!$json[\"stdout\"] || $json[\"stdout\"].trim() === \"\") {\n  throw new Error(\"No JSON output received from PowerShell script. Stdout was empty.\");\n}\ntry {\n  return JSON.parse($json[\"stdout\"]);\n} catch (e) {\n  throw new Error(\"Failed to parse JSON from PowerShell script: \" + e.message + \"\\n\\nOutput was:\\n\" + $json[\"stdout\"]);\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        288
      ],
      "id": "2d1d1d5e-a29b-487e-993b-f508629c528e",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "426570413",
        "text": "=🤖 *New AD User Created Successfully!*\n\n*First Name:* {{$json[\"FirstName\"]}}\n*Last Name:* {{$json[\"LastName\"]}}\n*Employee Number:* {{$json[\"EmployeeNumber\"]}}\n*Job Title:* {{$json[\"JobTitle\"]}}\n*Department:* {{$json[\"Department\"]}}\n*Manager:* {{$json[\"Manager\"]}}\n*Office Location:* {{$json[\"OfficeLocation\"]}}\n*Phone:* {{$json[\"OfficePhone\"]}}\n*Email:* {{$json[\"Email\"]}}\n*Password:* `{{$json[\"Password\"]}}`\n*DL Groups Copied:* {{$json[\"DLGroupsCopied\"].join(', ')}}\n*Security Groups Copied:* {{$json[\"SecurityGroupsCopied\"].join(', ')}}\n{{$json[\"ConflictMessage\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        400
      ],
      "id": "4a693a22-2db9-4921-a81a-bcd2aa287ad6",
      "name": "Send a text message",
      "webhookId": "ae9b49c5-f740-4d7f-b4af-c7ce2935e45f",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "QH2SVpRQkhmpSDsN",
          "name": "Users Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nh_eXCRjrbruYZWqF8_8LvW3TQ_d7EsN3bCQF_6Wfpg",
          "mode": "list",
          "cachedResultName": "New AD User Created",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nh_eXCRjrbruYZWqF8_8LvW3TQ_d7EsN3bCQF_6Wfpg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nh_eXCRjrbruYZWqF8_8LvW3TQ_d7EsN3bCQF_6Wfpg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{$json[\"FirstName\"]}}",
            "Last Name": "={{$json[\"LastName\"]}}",
            "Job Title": "={{$json[\"JobTitle\"]}}\n",
            "Password": "={{$json[\"Password\"]}}",
            "Employee Number": "={{$json[\"EmployeeNumber\"]}}",
            "Department": "={{$json[\"Department\"]}}",
            "Manager": "={{$json[\"Manager\"]}}",
            "Office Location": "={{$json[\"OfficeLocation\"]}}",
            "Office Phone": "={{$json[\"OfficePhone\"]}}",
            "Username": "={{$json[\"Username\"]}}",
            "Email": "={{$json[\"Email\"]}}",
            "DL Groups Copied": "={{$json[\"DLGroupsCopied\"].join(', ')}}",
            "Security Groups Copied": "={{$json[\"SecurityGroupsCopied\"].join(', ')}}",
            "Conflict Message": "={{$json[\"ConflictMessage\"]}}",
            "Timestamp": "={{new Date().toLocaleString(\"en-GB\", { hour12: false, timeZone: \"Asia/Jerusalem\" })}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Number",
              "displayName": "Employee Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Manager",
              "displayName": "Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Office Location",
              "displayName": "Office Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Office Phone",
              "displayName": "Office Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DL Groups Copied",
              "displayName": "DL Groups Copied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Security Groups Copied",
              "displayName": "Security Groups Copied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Password",
              "displayName": "Password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conflict Message",
              "displayName": "Conflict Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        208
      ],
      "id": "1133ab76-92ab-499b-a63a-1619b9e0521e",
      "name": "Append row in sheet",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OtSObLXRdd1pIx61",
          "name": "Google Sheets New User"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "vinokura@alex-it.net",
        "subject": "New AD user Created",
        "message": "=<h1 style=\"color:blue;\">🤖 New AD User Created:</h1>\n\n<p style=\"color:black; font-size:1.1em;\"><b>First Name:</b> {{$json[\"FirstName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Last Name:</b> {{$json[\"LastName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Employee Number:</b> {{$json[\"EmployeeNumber\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Department:</b> {{$json[\"Department\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Job Title:</b> {{$json[\"JobTitle\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Username:</b> {{$json[\"Username\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Manager:</b> {{$json[\"Manager\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Office Location:</b> {{$json[\"OfficeLocation\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Office Phone:</b> {{$json[\"OfficePhone\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>E-mail:</b> {{$json[\"Email\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>DL Groups Copied:</b> {{$json[\"DLGroupsCopied\"].join(', ')}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Security Groups Copied:</b> {{$json[\"SecurityGroupsCopied\"].join(', ')}}</p>\n<p style=\"color:red; font-size:1.3em;\"><b>Initial Password:</b> <code>{{$json[\"Password\"]}}</code></p>\n<p style=\"color:red; font-size:1.1em;\"><b>Make sure to save the initial password in a safe location!</b></p>\n<p style=\"color:green; font-size:1.3em;\"><b>Alex IT</b></p>\n<hr>\n<small>This is an automated message. Do not reply.</small>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4431e225-fedf-4657-933f-169176796355",
      "name": "Send Message",
      "webhookId": "961eced4-af4c-4015-a632-1c5dcecb5a5f",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "Ajg1dWYNadbKjzNX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create New AD User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New AD User": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "42df8486-8270-47cd-9225-6d6f317e5507",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T09:14:00.828Z",
      "createdAt": "2025-10-31T09:14:00.828Z",
      "role": "workflow:owner",
      "workflowId": "rI6ezGxmkfeQku3n",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "tags": []
}