PI workflows backup 2026-03-21 20-00/Slack Article Summarizer.json
{
  "updatedAt": "2026-03-21T17:56:11.716Z",
  "createdAt": "2025-09-02T14:14:42.893Z",
  "id": "GzAlS0kt9q4YI0n7",
  "name": "Slack Article Summarizer",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3568,
        2576
      ],
      "id": "8f1e7861-f9fe-4f68-b4e9-0ee8bf9f5255",
      "name": "Webhook",
      "webhookId": "d63266c1-1b49-4fc1-8530-cbdb5e8fb27f",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "url-verify-check",
              "leftValue": "={{$json[\"body\"][\"type\"]}}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3312,
        2576
      ],
      "id": "e8ff465c-7a1f-4ffb-9bcd-3116eaa499f2",
      "name": "Is URL Verification?",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { challenge: $json.body.challenge } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        2480
      ],
      "id": "5b1af3a4-7a2a-4466-9241-3205164de5f7",
      "name": "Return Challenge",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3072,
        2672
      ],
      "id": "95cb0f2d-1c52-4b09-8dcc-b643af76261d",
      "name": "Respond 200 (Ack)",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2832,
        2480
      ],
      "id": "71a65bff-e02e-4b10-ac65-68acedf86841",
      "name": "Respond 200 (Challenge)",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst event = body.event || {};\nconst headers = $json.headers || {};\n\nif (headers['x-slack-retry-num']) return [];\n\nconst skipSubtypes = ['bot_message','message_deleted','channel_join','channel_leave','channel_topic','channel_purpose','file_share','pinned_item','unpinned_item'];\nif (event.subtype && skipSubtypes.includes(event.subtype)) return [];\n\nif (event.subtype === 'message_changed') {\n  const prev = event.previous_message?.text || '';\n  const curr = event.message?.text || '';\n  if (prev === curr) return [];\n}\n\nconst BOT_USER_ID = 'U07K8QJ9XYZ';\nif (event.type !== 'message' || event.bot_id || event.user === BOT_USER_ID || !event.text) return [];\n\nconst text = event.text || '';\nconst urls = new Set();\n\nconst slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\nlet m;\nwhile ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\n\nconst plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}]+/g;\nwhile ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n\nconst firstUrl = [...urls].find(u => u.match(/^https?:\\/\\/.+\\..+/));\nif (!firstUrl) return [];\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedUrls) staticData.processedUrls = {};\nif (!staticData.processedMsgs) staticData.processedMsgs = {};\n\nconst msgKey = `${event.user}_${event.ts}`;\nif (staticData.processedMsgs[msgKey]) return [];\nstaticData.processedMsgs[msgKey] = Date.now();\n\nconst fourHoursAgo = Date.now() - 14400000;\nconst isDuplicate = staticData.processedUrls[firstUrl] > fourHoursAgo;\nif (!isDuplicate) staticData.processedUrls[firstUrl] = Date.now();\n\nconst twoDaysAgo = Date.now() - 172800000;\nfor (const k of Object.keys(staticData.processedUrls)) {\n  if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\n}\nfor (const k of Object.keys(staticData.processedMsgs)) {\n  if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n}\n\nreturn [{ json: { isDuplicate, url: firstUrl, slack_channel: event.channel, slack_user: event.user, slack_ts: event.ts } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        2672
      ],
      "id": "6fec5c60-001b-4c69-9c94-373da6675b37",
      "name": "Extract URL & Deduplicate",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dup-check",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2592,
        2672
      ],
      "id": "87c8b579-ed10-42cc-a564-669e7dbbed73",
      "name": "Is Duplicate?",
      "disabled": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09BFKKCMQ8",
          "mode": "list",
          "cachedResultName": "n8n-sammarize"
        },
        "text": "=ℹ️ This URL was already summarized recently.\n\n<{{$json.url}}|{{$json.url}}>",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -2352,
        2576
      ],
      "id": "78fa412f-b168-4d9e-89fd-ff84e9a66a9a",
      "name": "Send Duplicate Notice",
      "webhookId": "4c109572-f287-4e64-9bda-ffb85c1243de",
      "credentials": {
        "slackApi": {
          "id": "I5astSkOODZZU76Y",
          "name": "n8n Summery"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9,he;q=0.8,ru;q=0.7"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2352,
        2768
      ],
      "id": "cf0622a7-1ef0-47be-94b4-e95214978c4e",
      "name": "Fetch Page",
      "retryOnFail": true,
      "maxTries": 2,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || $json.html || $json.body || $json.content || '';\nconst url = $('Is Duplicate?').first().json.url || '';\n\nif (!html || html.length < 100) return [{ json: { error: 'No HTML content received', url } }];\n\nconst MAX_LEN = 12000;\nlet text = '';\n\ntry {\n  const ld = html.match(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\n  if (ld) { const d = JSON.parse(ld[1]); if (d.articleBody && d.articleBody.length > 300) text = d.articleBody; }\n} catch (e) {}\n\nif (text.length < 300) {\n  const art = html.match(/<article[^>]*>([\\s\\S]*?)<\\/article>/i);\n  if (art) {\n    const ex = art[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<aside[\\s\\S]*?<\\/aside>/gi,'').replace(/<footer[\\s\\S]*?<\\/footer>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\n\nif (text.length < 300) {\n  const main = html.match(/<main[^>]*>([\\s\\S]*?)<\\/main>/i);\n  if (main) {\n    const ex = main[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\n\nif (text.length < 300) {\n  const pat = /<div[^>]*class=\"[^\"]*(?:art_body|article_text|article-body|post-content|entry-content|story-body|article__content|content-body)[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/i;\n  const match = html.match(pat);\n  if (match) { const ex = match[1].replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim(); if (ex.length > text.length) text = ex; }\n}\n\nif (text.length < 300) {\n  const paras = html.match(/<p[^>]*>(.*?)<\\/p>/gis);\n  if (paras && paras.length > 3) {\n    const good = paras.map(p => p.replace(/<[^>]+>/g,'').trim()).filter(p => p.length > 40 && !/cookie|privacy|subscribe|newsletter|הרשמה|פרטיות/i.test(p));\n    if (good.length >= 3) text = good.join('\\n\\n');\n  }\n}\n\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\n\nif (!text || text.length < 200) {\n  let reason = 'Could not extract article text.';\n  if (html.includes('נדרשת הרשמה') || html.includes('subscription')) reason += ' Site may require login.';\n  else if (html.length < 5000) reason += ' Page too small — may be blocked.';\n  else reason += ' Site may use JS rendering.';\n  return [{ json: { error: reason, url } }];\n}\n\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\n\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\n\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\n\nreturn [{ json: { article: text, url, language, charCount: text.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        2768
      ],
      "id": "bbc824d0-a9c4-4dd6-88b1-4b691ce5bb87",
      "name": "Extract Text & Detect Language",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1872,
        2768
      ],
      "id": "42dac2e4-f356-4118-a899-e30f404d2147",
      "name": "Has Error?",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const err = $json.error || 'Unknown error';\nconst url = $json.url || '';\nconst lang = $json.language || 'en';\nconst msgs = { he: '⚠️ נכשל בסיכום המאמר', ru: '⚠️ Не удалось обобщить статью', en: '⚠️ Failed to summarize article' };\nconst reasons = { he: 'סיבה:', ru: 'Причина:', en: 'Reason:' };\nreturn [{ json: { text: `${msgs[lang] || msgs.en}\\n${reasons[lang] || reasons.en} ${err}\\n\\n${url ? `<${url}|Link>` : ''}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1632,
        2672
      ],
      "id": "c846304c-fe7f-4981-99b8-f9f980acd181",
      "name": "Format Error",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const article = $json.article || '';\nconst language = $json.language || 'en';\nconst url = $json.url || '';\n\nconst langNames = { he: 'Hebrew', ru: 'Russian', en: 'English' };\nconst langName = langNames[language] || 'English';\n\nconst prompt = `Summarize the following article in ${langName}.\n\nRules:\n- Output ONLY valid JSON, no markdown fences, no extra text.\n- Return a short title and exactly 5 bullet points.\n- Each bullet: 2-3 sentences, 40-50 words, with specific details (names, dates, numbers, locations).\n- Each bullet must cover a DIFFERENT key point from the article.\n- Include real names, dates, numbers, locations, and quotes mentioned in the article.\n- Do NOT invent or guess dates, facts, or details not in the article.\n- Do NOT repeat the title as a bullet point.\n- Do NOT include bullet characters in the bullets array.\n- Do NOT include filler like \"no further details available\".\n- The title and all bullets MUST be written in ${langName}.\n\nFormat:\n{\"title\": \"Short descriptive title\", \"bullets\": [\"Point 1...\", \"Point 2...\", \"Point 3...\", \"Point 4...\", \"Point 5...\"]}\n\nArticle:\n${article}`;\n\nreturn [{ json: { prompt, language, url } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1632,
        2864
      ],
      "id": "54352f78-b7ad-48ef-96de-829c4509e148",
      "name": "Build Prompt",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert article summarizer. Output ONLY valid JSON — no markdown fences, no preamble, no thinking."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1392,
        2864
      ],
      "id": "594dcafe-ac93-4f99-b432-61c89868f9da",
      "name": "AI Summarizer",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemma-3-27b",
          "mode": "list",
          "cachedResultName": "google/gemma-3-27b"
        },
        "options": {
          "frequencyPenalty": 0.3,
          "maxTokens": 2500,
          "presencePenalty": 0.1,
          "temperature": 0.2,
          "timeout": 300000,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1520,
        3072
      ],
      "id": "47ee3750-7028-48de-9672-83cd4f329373",
      "name": "Local LLM",
      "credentials": {
        "openAiApi": {
          "id": "WJsCuec8UzGRGVIc",
          "name": "Macbook ProM1 Pro"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1344,
        3072
      ],
      "id": "d8d31399-b244-4cd1-9854-8fc68b0e616e",
      "name": "OpenRouter Fallback",
      "credentials": {
        "openRouterApi": {
          "id": "hGAnvpSAhWRbFktq",
          "name": "OpenRouter account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.output || $json.text || $json.content || '';\nif (typeof raw !== 'string') raw = JSON.stringify(raw);\n\nconst url = $('Build Prompt').first().json.url || '';\nconst language = $('Build Prompt').first().json.language || 'en';\n\n// ── FIX: unwrap double-encoded string (n8n agent wraps output in extra JSON layer)\ntry {\n  const unwrapped = JSON.parse(raw);\n  if (typeof unwrapped === 'string') raw = unwrapped;\n} catch (e) {}\n\n// Strip <think>...</think> blocks (Gemma/DeepSeek reasoning traces)\nraw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n\n// Strip markdown fences\nlet s = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '');\n\n// Extract first JSON object\nconst si = s.indexOf('{');\nconst ei = s.lastIndexOf('}');\nif (si > -1 && ei > si) s = s.substring(si, ei + 1);\n\n// Normalize whitespace and smart quotes\ns = s.replace(/[\\r\\n]+/g, ' ').replace(/[\\u2018\\u2019]/g, \"'\").replace(/[\\u201C\\u201D]/g, '\"').trim();\n\nlet title = 'Summary';\nlet bullets = [];\n\n// Attempt 1: Direct JSON parse\ntry {\n  const obj = JSON.parse(s);\n  title = obj.title || 'Summary';\n  bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n} catch (e) {\n  // Attempt 2: Fix trailing commas\n  try {\n    let fixed = s.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n    const obj = JSON.parse(fixed);\n    title = obj.title || 'Summary';\n    bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n  } catch (e2) {\n    // Attempt 3: Truncated JSON repair\n    try {\n      let repair = s;\n      const openBrackets = (repair.match(/\\[/g) || []).length;\n      const closeBrackets = (repair.match(/\\]/g) || []).length;\n      const openBraces = (repair.match(/\\{/g) || []).length;\n      const closeBraces = (repair.match(/\\}/g) || []).length;\n      const quotes = repair.match(/(?<!\\\\)\"/g) || [];\n      if (quotes.length % 2 !== 0) repair += '\"';\n      for (let i = 0; i < (openBrackets - closeBrackets); i++) repair += ']';\n      for (let i = 0; i < (openBraces - closeBraces); i++) repair += '}';\n      repair = repair.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n      const obj = JSON.parse(repair);\n      title = obj.title || 'Summary';\n      bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n    } catch (e3) {\n      // Attempt 4: Regex fallback\n      const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n      const bm = s.match(/\"bullets\"\\s*:\\s*\\[([\\s\\S]*?)\\]/);\n      if (tm) title = tm[1];\n      if (bm) bullets = [...bm[1].matchAll(/\"((?:[^\"\\\\]|\\\\.){10,})\"/g)].map(m => m[1]).filter(b => b.length > 15);\n    }\n  }\n}\n\nbullets = bullets\n  .map(b => String(b).replace(/^[•\\-\\s]+/, '').replace(/\\.{2,}/g, '.').replace(/\\s+/g, ' ').replace(/\\\\n/g, ' ').replace(/\\\\\"/g, '\"').trim())\n  .filter(b => {\n    if (!b || b.length < 25) return false;\n    const lc = b.toLowerCase();\n    return !lc.includes('no further details') && !lc.includes('no additional details') &&\n           !lc.includes('לא נמצאו פרטים') && !lc.includes('אין פרטים') &&\n           !lc.includes('информация недоступна');\n  });\n\nif (bullets.length === 0) {\n  const noContent = { he: 'לא הצלחתי לחלץ מידע מהמאמר', ru: 'Не удалось извлечь информацию', en: 'Could not extract summary from article' };\n  return [{ json: { text: `⚠️ ${noContent[language] || noContent.en}\\n\\n${url ? `<${url}|Link>` : ''}` } }];\n}\n\nconst RLM = '\\u200F';\nconst LRM = '\\u200E';\nconst wrapLatin = t => t.replace(/([A-Za-z0-9]+(?:[.,:/\\-][A-Za-z0-9]+)*)/g, `${LRM}$1${LRM}`);\n\nlet titleLine, bulletLines;\n\nif (language === 'he') {\n  const wt = wrapLatin(title);\n  titleLine = url ? `${RLM}:brain: <${url}|${wt}>` : `${RLM}:brain: ${wt}`;\n  bulletLines = bullets.map(b => `${RLM}• ${wrapLatin(b)}`);\n} else if (language === 'ru') {\n  titleLine = url ? `:brain: <${url}|${title}>` : `:brain: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n} else {\n  titleLine = url ? `:brain: Summary: <${url}|${title}>` : `:brain: Summary: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n}\n\nreturn [{ json: { text: [titleLine, '', ...bulletLines].join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        2864
      ],
      "id": "6afa6cca-f5fa-4f6a-8921-3cd538c012b3",
      "name": "Validate & Format",
      "disabled": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09BFKKCMQ8",
          "mode": "list",
          "cachedResultName": "n8n-sammarize"
        },
        "text": "={{$json.text}}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -896,
        2672
      ],
      "id": "a0e282c6-b251-41a8-bce1-d3d34bcb265e",
      "name": "Send to Slack",
      "webhookId": "946820e3-d85c-43a1-a0e5-58777a4a0c86",
      "credentials": {
        "slackApi": {
          "id": "I5astSkOODZZU76Y",
          "name": "n8n Summery"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "needs-jina-check",
              "leftValue": "={{ $json.needsJina }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2224,
        3552
      ],
      "id": "8b235aaa-6e96-4f98-bf92-46af950abb01",
      "name": "Needs Jina Fallback?"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/plain"
            },
            {
              "name": "X-Return-Format",
              "value": "text"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1984,
        3456
      ],
      "id": "d8b8dfa3-afe0-41bc-a396-4cc6fc6d9f0f",
      "name": "Jina Reader Fallback",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.data || $json.body || $json.content || '';\nconst prevData = $('Needs Jina Fallback?').first().json;\nconst url = prevData.url || '';\n\nif (!raw || (typeof raw === 'string' && raw.length < 200)) {\n  let reason = prevData.error || 'Could not extract article text.';\n  if (reason === 'Direct extraction failed') {\n    reason += ' Jina Reader also failed — site may require login or block automated access.';\n  }\n  return [{ json: { error: reason, url, needsJina: false } }];\n}\n\nlet text = typeof raw === 'string' ? raw : JSON.stringify(raw);\nconst MAX_LEN = 12000;\n\n// Clean Jina output\ntext = text.replace(/^Title:.*\\n/i, '').replace(/^URL Source:.*\\n/i, '').replace(/^Markdown Content:\\n/i, '').replace(/!\\[.*?\\]\\(.*?\\)/g, '').replace(/\\[([^\\]]+)\\]\\(.*?\\)/g, '$1').replace(/#{1,6}\\s*/g, '').replace(/[*_]{1,3}/g, '').replace(/\\s+/g, ' ').trim();\n\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\n\n// Detect language\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\n\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\n\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\n\nreturn [{ json: { article: text, url, language, charCount: text.length, needsJina: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        3456
      ],
      "id": "e43ef29b-7e4d-48c6-87ee-f923c9fd8b3d",
      "name": "Parse Jina Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "error-check-direct",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2224,
        3744
      ],
      "id": "97c03f1d-37da-4008-b5a8-0dc65a32e767",
      "name": "Has Direct Error?"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3920,
        3360
      ],
      "id": "4ee208b0-ede4-4a93-9a0d-d889c4ddc2fc",
      "name": "Webhook1",
      "webhookId": "d63266c1-1b49-4fc1-8530-cbdb5e8fb27f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "url-verify-check",
              "leftValue": "={{$json[\"body\"][\"type\"]}}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3664,
        3360
      ],
      "id": "b8ac08ee-13e0-42ae-a8fe-456fa45becc9",
      "name": "Is URL Verification?1"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { challenge: $json.body.challenge } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3424,
        3264
      ],
      "id": "4f111d54-34cc-4e76-b554-8c6775c4c653",
      "name": "Return Challenge1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3424,
        3456
      ],
      "id": "a91e6b18-b39b-438b-892b-3c79326cc288",
      "name": "Respond 200 (Ack)1"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3184,
        3264
      ],
      "id": "928ea041-29e4-4ebb-9109-8c27a5e33455",
      "name": "Respond 200 (Challenge)1"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst event = body.event || {};\nconst headers = $json.headers || {};\n\n// --- Retry filter ---\nif (headers['x-slack-retry-num']) return [];\n\n// --- Bot user ID from env or fallback ---\nconst BOT_USER_ID = 'U07K8QJ9XYZ';\n\n// --- Handle message_changed: only process if a NEW URL was added ---\nif (event.subtype === 'message_changed') {\n  const prev = event.previous_message?.text || '';\n  const curr = event.message?.text || '';\n  if (prev === curr) return [];\n\n  // Extract URLs from both versions\n  const extractUrls = (text) => {\n    const urls = new Set();\n    const slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\n    let m;\n    while ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\n    const plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}]+/g;\n    while ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n    return urls;\n  };\n\n  const prevUrls = extractUrls(prev);\n  const currUrls = extractUrls(curr);\n  const newUrls = [...currUrls].filter(u => !prevUrls.has(u) && u.match(/^https?:\\/\\/.+\\..+/));\n\n  if (newUrls.length === 0) return [];\n\n  const user = event.message?.user || event.previous_message?.user || '';\n  if (!user || user === BOT_USER_ID || event.message?.bot_id) return [];\n\n  // Dedup\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.processedUrls) staticData.processedUrls = {};\n  if (!staticData.processedMsgs) staticData.processedMsgs = {};\n\n  const msgKey = `${user}_${event.message?.ts || event.ts}_edited`;\n  if (staticData.processedMsgs[msgKey]) return [];\n  staticData.processedMsgs[msgKey] = Date.now();\n\n  // Clean old entries\n  const twoDaysAgo = Date.now() - 172800000;\n  for (const k of Object.keys(staticData.processedUrls)) {\n    if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\n  }\n  for (const k of Object.keys(staticData.processedMsgs)) {\n    if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n  }\n\n  // Return all new URLs (supports multi-URL messages)\n  const results = [];\n  const fourHoursAgo = Date.now() - 14400000;\n  for (const url of newUrls) {\n    const isDuplicate = staticData.processedUrls[url] > fourHoursAgo;\n    if (!isDuplicate) staticData.processedUrls[url] = Date.now();\n    results.push({ json: { isDuplicate, url, slack_channel: event.channel, slack_user: user, slack_ts: event.message?.ts || event.ts } });\n  }\n  return results;\n}\n\n// --- Skip non-message subtypes ---\nconst skipSubtypes = ['bot_message','message_deleted','channel_join','channel_leave','channel_topic','channel_purpose','file_share','pinned_item','unpinned_item'];\nif (event.subtype && skipSubtypes.includes(event.subtype)) return [];\n\n// --- Skip bots and empty messages ---\nif (event.type !== 'message' || event.bot_id || event.user === BOT_USER_ID || !event.text) return [];\n\n// --- Extract URLs ---\nconst text = event.text || '';\nconst urls = new Set();\n\nconst slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\nlet m;\nwhile ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\n\nconst plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}]+/g;\nwhile ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n\nconst validUrls = [...urls].filter(u => u.match(/^https?:\\/\\/.+\\..+/));\nif (validUrls.length === 0) return [];\n\n// --- Dedup ---\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedUrls) staticData.processedUrls = {};\nif (!staticData.processedMsgs) staticData.processedMsgs = {};\n\nconst msgKey = `${event.user}_${event.ts}`;\nif (staticData.processedMsgs[msgKey]) return [];\nstaticData.processedMsgs[msgKey] = Date.now();\n\nconst fourHoursAgo = Date.now() - 14400000;\nconst twoDaysAgo = Date.now() - 172800000;\n\n// Clean old entries\nfor (const k of Object.keys(staticData.processedUrls)) {\n  if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\n}\nfor (const k of Object.keys(staticData.processedMsgs)) {\n  if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n}\n\n// Return ALL URLs from message (multi-URL support)\nconst results = [];\nfor (const url of validUrls) {\n  const isDuplicate = staticData.processedUrls[url] > fourHoursAgo;\n  if (!isDuplicate) staticData.processedUrls[url] = Date.now();\n  results.push({ json: { isDuplicate, url, slack_channel: event.channel, slack_user: event.user, slack_ts: event.ts } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3152,
        3456
      ],
      "id": "c54cacfc-56d2-4662-b5de-62435a57236d",
      "name": "Extract URL & Deduplicate1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dup-check",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2944,
        3456
      ],
      "id": "1510d9ba-cd7e-4e1b-a343-ec21dbf1ab35",
      "name": "Is Duplicate?1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel }}",
          "mode": "id"
        },
        "text": "=ℹ️ This URL was already summarized recently.\n\n<{{$json.url}}|{{$json.url}}>",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -2704,
        3360
      ],
      "id": "23a73f67-7552-4b95-a888-262fce2d438c",
      "name": "Send Duplicate Notice1",
      "webhookId": "4c109572-f287-4e64-9bda-ffb85c1243de",
      "credentials": {
        "slackApi": {
          "id": "I5astSkOODZZU76Y",
          "name": "n8n Summery"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9,he;q=0.8,ru;q=0.7"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2704,
        3552
      ],
      "id": "f6100f27-ccd4-4cb5-a868-0f60a7e03546",
      "name": "Fetch Page1",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "// Check content-type — skip non-HTML responses (PDFs, images, etc.)\nconst headers = $json.headers || {};\nconst contentType = (headers['content-type'] || headers['Content-Type'] || '').toLowerCase();\nconst url = $('Is Duplicate?1').first().json.url || '';\n\n// Accept text/html and application/xhtml+xml\nif (contentType && !contentType.includes('text/html') && !contentType.includes('application/xhtml') && !contentType.includes('text/plain')) {\n  return [{ json: { error: `Non-HTML content (${contentType.split(';')[0]}). Cannot extract article text.`, url, needsJina: false } }];\n}\n\nconst html = $json.body || $json.data || $json.html || $json.content || '';\n\nif (!html || (typeof html === 'string' && html.length < 100)) {\n  return [{ json: { error: 'No HTML content received', url, needsJina: true } }];\n}\n\nconst MAX_LEN = 12000;\nlet text = '';\n\ntry {\n  const ld = html.match(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\n  if (ld) { const d = JSON.parse(ld[1]); if (d.articleBody && d.articleBody.length > 300) text = d.articleBody; }\n} catch (e) {}\n\nif (text.length < 300) {\n  const art = html.match(/<article[^>]*>([\\s\\S]*?)<\\/article>/i);\n  if (art) {\n    const ex = art[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<aside[\\s\\S]*?<\\/aside>/gi,'').replace(/<footer[\\s\\S]*?<\\/footer>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\n\nif (text.length < 300) {\n  const main = html.match(/<main[^>]*>([\\s\\S]*?)<\\/main>/i);\n  if (main) {\n    const ex = main[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\n\nif (text.length < 300) {\n  const pat = /<div[^>]*class=\"[^\"]*(?:art_body|article_text|article-body|post-content|entry-content|story-body|article__content|content-body)[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/i;\n  const match = html.match(pat);\n  if (match) { const ex = match[1].replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim(); if (ex.length > text.length) text = ex; }\n}\n\nif (text.length < 300) {\n  const paras = html.match(/<p[^>]*>(.*?)<\\/p>/gis);\n  if (paras && paras.length > 3) {\n    const good = paras.map(p => p.replace(/<[^>]+>/g,'').trim()).filter(p => p.length > 40 && !/cookie|privacy|subscribe|newsletter|הרשמה|פרטיות/i.test(p));\n    if (good.length >= 3) text = good.join('\\n\\n');\n  }\n}\n\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\n\n// If extraction failed, flag for Jina fallback\nif (!text || text.length < 200) {\n  return [{ json: { error: 'Direct extraction failed', url, needsJina: true } }];\n}\n\n// Detect language\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\n\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\n\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\n\nreturn [{ json: { article: text, url, language, charCount: text.length, needsJina: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2464,
        3552
      ],
      "id": "0f86ab05-f7dd-40a2-b4c4-38fe749d8d4b",
      "name": "Extract Text & Detect Language1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1504,
        3456
      ],
      "id": "260f243d-cb52-4cac-a521-3c254f7965da",
      "name": "Has Error?1"
    },
    {
      "parameters": {
        "jsCode": "const err = $json.error || 'Unknown error';\nconst url = $json.url || '';\nconst lang = $json.language || 'en';\nconst channel = $('Is Duplicate?1').first().json.slack_channel || $('Extract URL & Deduplicate1').first().json.slack_channel || '';\n\nconst msgs = { he: '⚠️ נכשל בסיכום המאמר', ru: '⚠️ Не удалось обобщить статью', en: '⚠️ Failed to summarize article' };\nconst reasons = { he: 'סיבה:', ru: 'Причина:', en: 'Reason:' };\nreturn [{ json: { text: `${msgs[lang] || msgs.en}\\n${reasons[lang] || reasons.en} ${err}\\n\\n${url ? `<${url}|Link>` : ''}`, slack_channel: channel } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        3728
      ],
      "id": "ded7cbcc-c308-492c-922e-a4d53057b9b0",
      "name": "Format Error1"
    },
    {
      "parameters": {
        "jsCode": "const article = $json.article || '';\nconst language = $json.language || 'en';\nconst url = $json.url || '';\n\nconst langNames = { he: 'Hebrew', ru: 'Russian', en: 'English' };\nconst langName = langNames[language] || 'English';\n\nconst prompt = `Summarize the following article in ${langName}.\n\nRules:\n- Output ONLY valid JSON, no markdown fences, no extra text.\n- Return a short title and exactly 5 bullet points. For very short articles, still aim for 5 by elaborating more.\n- Each bullet: 3-4 sentences, 60-80 words, with specific details (names, dates, numbers, locations, quotes).\n- Each bullet must cover a DIFFERENT key point and provide enough context that someone unfamiliar with the topic understands what happened and why it matters.\n- Include real names, dates, numbers, locations, and quotes mentioned in the article.\n- Do NOT invent or guess dates, facts, or details not in the article.\n- Do NOT repeat the title as a bullet point.\n- Do NOT include bullet characters in the bullets array.\n- Do NOT include filler like \"no further details available\".\n- The title and all bullets MUST be written in ${langName}.\n\nFormat:\n{\"title\": \"Short descriptive title\", \"bullets\": [\"Point 1...\", \"Point 2...\", ...]}\n\nArticle:\n${article}`;\n\nreturn [{ json: { prompt, language, url } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        3552
      ],
      "id": "aa790227-3cb2-4a68-a07f-b641cafad811",
      "name": "Build Prompt1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert article summarizer. Output ONLY valid JSON — no markdown fences, no preamble, no thinking."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1008,
        3552
      ],
      "id": "2b20ba38-e64c-47b5-9a86-578bb2374b8e",
      "name": "AI Summarizer1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemma-3-27b",
          "mode": "list",
          "cachedResultName": "google/gemma-3-27b"
        },
        "options": {
          "frequencyPenalty": 0.3,
          "maxTokens": 2500,
          "presencePenalty": 0.1,
          "temperature": 0.2,
          "timeout": 300000,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1152,
        3760
      ],
      "id": "35226b1f-4a66-4c77-ab1d-60079f35f4c7",
      "name": "Local LLM1",
      "credentials": {
        "openAiApi": {
          "id": "WJsCuec8UzGRGVIc",
          "name": "Macbook ProM1 Pro"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -976,
        3760
      ],
      "id": "335ffca0-4f9b-4707-ae91-ee0faa1f61d5",
      "name": "OpenRouter Fallback1",
      "credentials": {
        "openRouterApi": {
          "id": "hGAnvpSAhWRbFktq",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.output || $json.text || $json.content || '';\nif (typeof raw !== 'string') raw = JSON.stringify(raw);\n\nconst url = $('Build Prompt1').first().json.url || '';\nconst language = $('Build Prompt1').first().json.language || 'en';\nconst slack_channel = $('Is Duplicate?1').first().json.slack_channel || $('Extract URL & Deduplicate1').first().json.slack_channel || '';\n\n// Unwrap double-encoded string\ntry {\n  const unwrapped = JSON.parse(raw);\n  if (typeof unwrapped === 'string') raw = unwrapped;\n} catch (e) {}\n\n// Strip <think>...</think> blocks (Gemma/DeepSeek reasoning traces)\nraw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n\n// Strip markdown fences\nlet s = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '');\n\n// Extract first JSON object\nconst si = s.indexOf('{');\nconst ei = s.lastIndexOf('}');\nif (si > -1 && ei > si) s = s.substring(si, ei + 1);\n\n// Normalize whitespace and smart quotes\ns = s.replace(/[\\r\\n]+/g, ' ').replace(/[\\u2018\\u2019]/g, \"'\").replace(/[\\u201C\\u201D]/g, '\"').trim();\n\nlet title = 'Summary';\nlet bullets = [];\n\n// Attempt 1: Direct JSON parse\ntry {\n  const obj = JSON.parse(s);\n  title = obj.title || 'Summary';\n  bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n} catch (e) {\n  // Attempt 2: Fix trailing commas\n  try {\n    let fixed = s.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n    const obj = JSON.parse(fixed);\n    title = obj.title || 'Summary';\n    bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n  } catch (e2) {\n    // Attempt 3: Truncated JSON repair\n    try {\n      let repair = s;\n      const openBrackets = (repair.match(/\\[/g) || []).length;\n      const closeBrackets = (repair.match(/\\]/g) || []).length;\n      const openBraces = (repair.match(/\\{/g) || []).length;\n      const closeBraces = (repair.match(/\\}/g) || []).length;\n      const quotes = repair.match(/(?<!\\\\)\"/g) || [];\n      if (quotes.length % 2 !== 0) repair += '\"';\n      for (let i = 0; i < (openBrackets - closeBrackets); i++) repair += ']';\n      for (let i = 0; i < (openBraces - closeBraces); i++) repair += '}';\n      repair = repair.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n      const obj = JSON.parse(repair);\n      title = obj.title || 'Summary';\n      bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n    } catch (e3) {\n      // Attempt 4: Regex fallback\n      const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n      const bm = s.match(/\"bullets\"\\s*:\\s*\\[([\\s\\S]*?)\\]/);\n      if (tm) title = tm[1];\n      if (bm) bullets = [...bm[1].matchAll(/\"((?:[^\"\\\\]|\\\\.){10,})\"/g)].map(m => m[1]).filter(b => b.length > 15);\n    }\n  }\n}\n\nbullets = bullets\n  .map(b => String(b).replace(/^[•\\-\\s]+/, '').replace(/\\.{2,}/g, '.').replace(/\\s+/g, ' ').replace(/\\\\n/g, ' ').replace(/\\\\\"/g, '\"').trim())\n  .filter(b => {\n    if (!b || b.length < 25) return false;\n    const lc = b.toLowerCase();\n    return !lc.includes('no further details') && !lc.includes('no additional details') &&\n           !lc.includes('לא נמצאו פרטים') && !lc.includes('אין פרטים') &&\n           !lc.includes('информация недоступна');\n  });\n\nif (bullets.length === 0) {\n  const noContent = { he: 'לא הצלחתי לחלץ מידע מהמאמר', ru: 'Не удалось извлечь информацию', en: 'Could not extract summary from article' };\n  return [{ json: { text: `⚠️ ${noContent[language] || noContent.en}\\n\\n${url ? `<${url}|Link>` : ''}`, slack_channel } }];\n}\n\nconst RLM = '\\u200F';\nconst LRM = '\\u200E';\nconst wrapLatin = t => t.replace(/([A-Za-z0-9]+(?:[.,:/\\-][A-Za-z0-9]+)*)/g, `${LRM}$1${LRM}`);\n\nlet titleLine, bulletLines;\n\nif (language === 'he') {\n  const wt = wrapLatin(title);\n  titleLine = url ? `${RLM}:brain: <${url}|${wt}>` : `${RLM}:brain: ${wt}`;\n  bulletLines = bullets.map(b => `${RLM}• ${wrapLatin(b)}`);\n} else if (language === 'ru') {\n  titleLine = url ? `:brain: <${url}|${title}>` : `:brain: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n} else {\n  titleLine = url ? `:brain: Summary: <${url}|${title}>` : `:brain: Summary: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n}\n\nreturn [{ json: { text: [titleLine, '', ...bulletLines].join('\\n'), slack_channel } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        3552
      ],
      "id": "a6827aa9-9d5a-480b-a7e2-6564fc517732",
      "name": "Validate & Format1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel }}",
          "mode": "id"
        },
        "text": "={{$json.text}}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -336,
        3760
      ],
      "id": "7b4eff13-af75-446f-afe0-a637163cb90c",
      "name": "Send to Slack1",
      "webhookId": "946820e3-d85c-43a1-a0e5-58777a4a0c86",
      "credentials": {
        "slackApi": {
          "id": "I5astSkOODZZU76Y",
          "name": "n8n Summery"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is URL Verification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is URL Verification?": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 (Ack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Challenge": {
      "main": [
        [
          {
            "node": "Respond 200 (Challenge)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 (Ack)": {
      "main": [
        [
          {
            "node": "Extract URL & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL & Deduplicate": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Send Duplicate Notice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page": {
      "main": [
        [
          {
            "node": "Extract Text & Detect Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text & Detect Language": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "AI Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarizer": {
      "main": [
        [
          {
            "node": "Validate & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarizer",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Validate & Format": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Jina Fallback?": {
      "main": [
        [
          {
            "node": "Jina Reader Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Reader Fallback": {
      "main": [
        [
          {
            "node": "Parse Jina Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Jina Response": {
      "main": [
        [
          {
            "node": "Has Error?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Direct Error?": {
      "main": [
        [
          {
            "node": "Format Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Is URL Verification?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is URL Verification?1": {
      "main": [
        [
          {
            "node": "Return Challenge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 (Ack)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Challenge1": {
      "main": [
        [
          {
            "node": "Respond 200 (Challenge)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 (Ack)1": {
      "main": [
        [
          {
            "node": "Extract URL & Deduplicate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL & Deduplicate1": {
      "main": [
        [
          {
            "node": "Is Duplicate?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?1": {
      "main": [
        [
          {
            "node": "Send Duplicate Notice1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page1": {
      "main": [
        [
          {
            "node": "Extract Text & Detect Language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text & Detect Language1": {
      "main": [
        [
          {
            "node": "Needs Jina Fallback?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Direct Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?1": {
      "main": [
        [
          {
            "node": "Format Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error1": {
      "main": [
        [
          {
            "node": "Send to Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt1": {
      "main": [
        [
          {
            "node": "AI Summarizer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarizer1": {
      "main": [
        [
          {
            "node": "Validate & Format1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local LLM1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarizer1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Fallback1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarizer1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Validate & Format1": {
      "main": [
        [
          {
            "node": "Send to Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "binaryMode": "separate"
  },
  "staticData": {
    "global": {
      "metrics": {
        "total": 216,
        "success": 216
      },
      "processedUrls": {
        "https://sports.walla.co.il/item/3825024": 1773951114004,
        "https://sports.walla.co.il/item/3825016": 1773953398900,
        "https://www.jpost.com/international/article-890670": 1774018175371,
        "https://www.ign.com/articles/chuck-norris-dead-at-86?fbclid=IwY2xjawQqQ6RleHRuA2FlbQIxMABicmlkETFqZW5MSER6TzhybVhYWjNlc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHlv-XXtQWx6eQpGklYI2Kn5suL9PhA7dGt6WQMfHzBB5_I40qsYdsmxcgxSv_aem_s-NCKyCz4_M4YdyqBGz2gg": 1774019684774,
        "https://www.ynet.co.il/news/article/hjiza05511l": 1774022222074,
        "https://www.jpost.com/middle-east/iran-news/article-890636": 1774022368885,
        "https://www.ign.com/articles/netflix-assassins-creed-series-setting-and-exact-time-period-confirmed": 1774023601193,
        "https://www.ign.com/articles/chuck-norris-dead-at-86": 1774023706582,
        "https://www.jpost.com/defense-and-tech/article-890669": 1774024368052,
        "https://www.one.co.il/Article/517459.html?dicbo=v2-MESO4O2&amp;ref=hp": 1774024417098,
        "https://www.one.co.il/Article/25-26/7,441,0,68985/517629.html?ref=hp": 1774024529661,
        "https://sports.walla.co.il/item/3825162": 1774024748806,
        "https://news.walla.co.il/item/3825186": 1774039455933,
        "https://sports.walla.co.il/item/3825191": 1774039561153,
        "https://e.walla.co.il/item/3823851": 1774039656587,
        "https://www.xda-developers.com/replaced-google-with-self-hosted-search-aggregator-never-going-back/": 1774099487211,
        "https://www.calcalist.co.il/world_news/article/h12txhi5wl": 1774099579389,
        "https://www.jpost.com/middle-east/iran-news/article-890701": 1774099698923,
        "https://www.msn.com/en-us/tv/news/ted-season-3s-fate-seemingly-confirmed-by-seth-macfarlane-ahead-of-record-setting-shows-return/ar-AA1XpS0w": 1774113961440,
        "https://www.ign.com/articles/does-jury-duty-presents-company-retreat-season-2-justify-its-existence": 1774115159366,
        "https://news.walla.co.il/item/3825322": 1774115319351,
        "https://news.walla.co.il/item/3825320": 1774115810465
      },
      "processedEvents": {
        "1762243942.321019-undefined": 1762243945452
      },
      "processedMessages": {
        "U08AYDL2FQD_1771354645.863239": 1771354647255
      },
      "processedMsgs": {
        "U08AYDL2FQD_1773951112.260679": 1773951114004,
        "U08AYDL2FQD_1773953397.130939": 1773953398900,
        "U08AYDL2FQD_1774018173.778059": 1774018175371,
        "U08AYDL2FQD_1774019682.915069": 1774019684774,
        "U08AYDL2FQD_1774022220.271379": 1774022222074,
        "U08AYDL2FQD_1774022366.840289": 1774022368885,
        "U08AYDL2FQD_1774023599.234729": 1774023601193,
        "U08AYDL2FQD_1774023704.719239": 1774023706582,
        "U08AYDL2FQD_1774024216.501889": 1774024217467,
        "U08AYDL2FQD_1774024264.891889": 1774024265806,
        "U08AYDL2FQD_1774024366.983699": 1774024368052,
        "U08AYDL2FQD_1774024416.088109": 1774024417098,
        "U08AYDL2FQD_1774024528.457109": 1774024529661,
        "U08AYDL2FQD_1774024747.652089": 1774024748806,
        "U08AYDL2FQD_1774024814.548979": 1774024815795,
        "U08AYDL2FQD_1774039454.291569": 1774039455933,
        "U08AYDL2FQD_1774039559.430829": 1774039561153,
        "U08AYDL2FQD_1774039652.842199": 1774039656587,
        "U08AYDL2FQD_1774099484.874289": 1774099487211,
        "U08AYDL2FQD_1774099577.800069": 1774099579389,
        "U08AYDL2FQD_1774099697.233859": 1774099698923,
        "U08AYDL2FQD_1774113959.462719": 1774113961440,
        "U08AYDL2FQD_1774115157.528029": 1774115159366,
        "U08AYDL2FQD_1774115317.502489": 1774115319351,
        "U08AYDL2FQD_1774115808.770519": 1774115810465
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "94c411d4-c7cd-4bf9-ba92-2e2465900ad2",
  "activeVersionId": "94c411d4-c7cd-4bf9-ba92-2e2465900ad2",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T09:14:00.820Z",
      "createdAt": "2025-10-31T09:14:00.820Z",
      "role": "workflow:owner",
      "workflowId": "GzAlS0kt9q4YI0n7",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-21T17:56:18.000Z",
    "createdAt": "2026-03-21T17:56:11.718Z",
    "versionId": "94c411d4-c7cd-4bf9-ba92-2e2465900ad2",
    "workflowId": "GzAlS0kt9q4YI0n7",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "slack-events",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -3568,
          2576
        ],
        "id": "8f1e7861-f9fe-4f68-b4e9-0ee8bf9f5255",
        "name": "Webhook",
        "webhookId": "d63266c1-1b49-4fc1-8530-cbdb5e8fb27f",
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "url-verify-check",
                "leftValue": "={{$json[\"body\"][\"type\"]}}",
                "rightValue": "url_verification",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3312,
          2576
        ],
        "id": "e8ff465c-7a1f-4ffb-9bcd-3116eaa499f2",
        "name": "Is URL Verification?",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { challenge: $json.body.challenge } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3072,
          2480
        ],
        "id": "5b1af3a4-7a2a-4466-9241-3205164de5f7",
        "name": "Return Challenge",
        "disabled": true
      },
      {
        "parameters": {
          "respondWith": "text",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          -3072,
          2672
        ],
        "id": "95cb0f2d-1c52-4b09-8dcc-b643af76261d",
        "name": "Respond 200 (Ack)",
        "disabled": true
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          -2832,
          2480
        ],
        "id": "71a65bff-e02e-4b10-ac65-68acedf86841",
        "name": "Respond 200 (Challenge)",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body || $json;\nconst event = body.event || {};\nconst headers = $json.headers || {};\n\nif (headers['x-slack-retry-num']) return [];\n\nconst skipSubtypes = ['bot_message','message_deleted','channel_join','channel_leave','channel_topic','channel_purpose','file_share','pinned_item','unpinned_item'];\nif (event.subtype && skipSubtypes.includes(event.subtype)) return [];\n\nif (event.subtype === 'message_changed') {\n  const prev = event.previous_message?.text || '';\n  const curr = event.message?.text || '';\n  if (prev === curr) return [];\n}\n\nconst BOT_USER_ID = 'U07K8QJ9XYZ';\nif (event.type !== 'message' || event.bot_id || event.user === BOT_USER_ID || !event.text) return [];\n\nconst text = event.text || '';\nconst urls = new Set();\n\nconst slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\nlet m;\nwhile ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\n\nconst plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}]+/g;\nwhile ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n\nconst firstUrl = [...urls].find(u => u.match(/^https?:\\/\\/.+\\..+/));\nif (!firstUrl) return [];\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedUrls) staticData.processedUrls = {};\nif (!staticData.processedMsgs) staticData.processedMsgs = {};\n\nconst msgKey = `${event.user}_${event.ts}`;\nif (staticData.processedMsgs[msgKey]) return [];\nstaticData.processedMsgs[msgKey] = Date.now();\n\nconst fourHoursAgo = Date.now() - 14400000;\nconst isDuplicate = staticData.processedUrls[firstUrl] > fourHoursAgo;\nif (!isDuplicate) staticData.processedUrls[firstUrl] = Date.now();\n\nconst twoDaysAgo = Date.now() - 172800000;\nfor (const k of Object.keys(staticData.processedUrls)) {\n  if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\n}\nfor (const k of Object.keys(staticData.processedMsgs)) {\n  if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n}\n\nreturn [{ json: { isDuplicate, url: firstUrl, slack_channel: event.channel, slack_user: event.user, slack_ts: event.ts } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2800,
          2672
        ],
        "id": "6fec5c60-001b-4c69-9c94-373da6675b37",
        "name": "Extract URL & Deduplicate",
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "dup-check",
                "leftValue": "={{ $json.isDuplicate }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2592,
          2672
        ],
        "id": "87c8b579-ed10-42cc-a564-669e7dbbed73",
        "name": "Is Duplicate?",
        "disabled": true
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C09BFKKCMQ8",
            "mode": "list",
            "cachedResultName": "n8n-sammarize"
          },
          "text": "=ℹ️ This URL was already summarized recently.\n\n<{{$json.url}}|{{$json.url}}>",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          -2352,
          2576
        ],
        "id": "78fa412f-b168-4d9e-89fd-ff84e9a66a9a",
        "name": "Send Duplicate Notice",
        "webhookId": "4c109572-f287-4e64-9bda-ffb85c1243de",
        "credentials": {
          "slackApi": {
            "id": "I5astSkOODZZU76Y",
            "name": "n8n Summery"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "url": "={{$json.url}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept",
                "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
              },
              {
                "name": "Accept-Language",
                "value": "en-US,en;q=0.9,he;q=0.8,ru;q=0.7"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {
                "maxRedirects": 5
              }
            },
            "timeout": 15000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2352,
          2768
        ],
        "id": "cf0622a7-1ef0-47be-94b4-e95214978c4e",
        "name": "Fetch Page",
        "retryOnFail": true,
        "maxTries": 2,
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const html = $json.data || $json.html || $json.body || $json.content || '';\nconst url = $('Is Duplicate?').first().json.url || '';\n\nif (!html || html.length < 100) return [{ json: { error: 'No HTML content received', url } }];\n\nconst MAX_LEN = 12000;\nlet text = '';\n\ntry {\n  const ld = html.match(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\n  if (ld) { const d = JSON.parse(ld[1]); if (d.articleBody && d.articleBody.length > 300) text = d.articleBody; }\n} catch (e) {}\n\nif (text.length < 300) {\n  const art = html.match(/<article[^>]*>([\\s\\S]*?)<\\/article>/i);\n  if (art) {\n    const ex = art[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<aside[\\s\\S]*?<\\/aside>/gi,'').replace(/<footer[\\s\\S]*?<\\/footer>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\n\nif (text.length < 300) {\n  const main = html.match(/<main[^>]*>([\\s\\S]*?)<\\/main>/i);\n  if (main) {\n    const ex = main[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\n\nif (text.length < 300) {\n  const pat = /<div[^>]*class=\"[^\"]*(?:art_body|article_text|article-body|post-content|entry-content|story-body|article__content|content-body)[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/i;\n  const match = html.match(pat);\n  if (match) { const ex = match[1].replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim(); if (ex.length > text.length) text = ex; }\n}\n\nif (text.length < 300) {\n  const paras = html.match(/<p[^>]*>(.*?)<\\/p>/gis);\n  if (paras && paras.length > 3) {\n    const good = paras.map(p => p.replace(/<[^>]+>/g,'').trim()).filter(p => p.length > 40 && !/cookie|privacy|subscribe|newsletter|הרשמה|פרטיות/i.test(p));\n    if (good.length >= 3) text = good.join('\\n\\n');\n  }\n}\n\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\n\nif (!text || text.length < 200) {\n  let reason = 'Could not extract article text.';\n  if (html.includes('נדרשת הרשמה') || html.includes('subscription')) reason += ' Site may require login.';\n  else if (html.length < 5000) reason += ' Page too small — may be blocked.';\n  else reason += ' Site may use JS rendering.';\n  return [{ json: { error: reason, url } }];\n}\n\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\n\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\n\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\n\nreturn [{ json: { article: text, url, language, charCount: text.length } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2112,
          2768
        ],
        "id": "bbc824d0-a9c4-4dd6-88b1-4b691ce5bb87",
        "name": "Extract Text & Detect Language",
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "error-check",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1872,
          2768
        ],
        "id": "42dac2e4-f356-4118-a899-e30f404d2147",
        "name": "Has Error?",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const err = $json.error || 'Unknown error';\nconst url = $json.url || '';\nconst lang = $json.language || 'en';\nconst msgs = { he: '⚠️ נכשל בסיכום המאמר', ru: '⚠️ Не удалось обобщить статью', en: '⚠️ Failed to summarize article' };\nconst reasons = { he: 'סיבה:', ru: 'Причина:', en: 'Reason:' };\nreturn [{ json: { text: `${msgs[lang] || msgs.en}\\n${reasons[lang] || reasons.en} ${err}\\n\\n${url ? `<${url}|Link>` : ''}` } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1632,
          2672
        ],
        "id": "c846304c-fe7f-4981-99b8-f9f980acd181",
        "name": "Format Error",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const article = $json.article || '';\nconst language = $json.language || 'en';\nconst url = $json.url || '';\n\nconst langNames = { he: 'Hebrew', ru: 'Russian', en: 'English' };\nconst langName = langNames[language] || 'English';\n\nconst prompt = `Summarize the following article in ${langName}.\n\nRules:\n- Output ONLY valid JSON, no markdown fences, no extra text.\n- Return a short title and exactly 5 bullet points.\n- Each bullet: 2-3 sentences, 40-50 words, with specific details (names, dates, numbers, locations).\n- Each bullet must cover a DIFFERENT key point from the article.\n- Include real names, dates, numbers, locations, and quotes mentioned in the article.\n- Do NOT invent or guess dates, facts, or details not in the article.\n- Do NOT repeat the title as a bullet point.\n- Do NOT include bullet characters in the bullets array.\n- Do NOT include filler like \"no further details available\".\n- The title and all bullets MUST be written in ${langName}.\n\nFormat:\n{\"title\": \"Short descriptive title\", \"bullets\": [\"Point 1...\", \"Point 2...\", \"Point 3...\", \"Point 4...\", \"Point 5...\"]}\n\nArticle:\n${article}`;\n\nreturn [{ json: { prompt, language, url } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1632,
          2864
        ],
        "id": "54352f78-b7ad-48ef-96de-829c4509e148",
        "name": "Build Prompt",
        "disabled": true
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "needsFallback": true,
          "options": {
            "systemMessage": "You are an expert article summarizer. Output ONLY valid JSON — no markdown fences, no preamble, no thinking."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -1392,
          2864
        ],
        "id": "594dcafe-ac93-4f99-b432-61c89868f9da",
        "name": "AI Summarizer",
        "disabled": true
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "google/gemma-3-27b",
            "mode": "list",
            "cachedResultName": "google/gemma-3-27b"
          },
          "options": {
            "frequencyPenalty": 0.3,
            "maxTokens": 2500,
            "presencePenalty": 0.1,
            "temperature": 0.2,
            "timeout": 300000,
            "topP": 0.9
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -1520,
          3072
        ],
        "id": "47ee3750-7028-48de-9672-83cd4f329373",
        "name": "Local LLM",
        "credentials": {
          "openAiApi": {
            "id": "WJsCuec8UzGRGVIc",
            "name": "Macbook ProM1 Pro"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "model": "google/gemini-2.5-flash-lite",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -1344,
          3072
        ],
        "id": "d8d31399-b244-4cd1-9854-8fc68b0e616e",
        "name": "OpenRouter Fallback",
        "credentials": {
          "openRouterApi": {
            "id": "hGAnvpSAhWRbFktq",
            "name": "OpenRouter account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "let raw = $json.output || $json.text || $json.content || '';\nif (typeof raw !== 'string') raw = JSON.stringify(raw);\n\nconst url = $('Build Prompt').first().json.url || '';\nconst language = $('Build Prompt').first().json.language || 'en';\n\n// ── FIX: unwrap double-encoded string (n8n agent wraps output in extra JSON layer)\ntry {\n  const unwrapped = JSON.parse(raw);\n  if (typeof unwrapped === 'string') raw = unwrapped;\n} catch (e) {}\n\n// Strip <think>...</think> blocks (Gemma/DeepSeek reasoning traces)\nraw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n\n// Strip markdown fences\nlet s = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '');\n\n// Extract first JSON object\nconst si = s.indexOf('{');\nconst ei = s.lastIndexOf('}');\nif (si > -1 && ei > si) s = s.substring(si, ei + 1);\n\n// Normalize whitespace and smart quotes\ns = s.replace(/[\\r\\n]+/g, ' ').replace(/[\\u2018\\u2019]/g, \"'\").replace(/[\\u201C\\u201D]/g, '\"').trim();\n\nlet title = 'Summary';\nlet bullets = [];\n\n// Attempt 1: Direct JSON parse\ntry {\n  const obj = JSON.parse(s);\n  title = obj.title || 'Summary';\n  bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n} catch (e) {\n  // Attempt 2: Fix trailing commas\n  try {\n    let fixed = s.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n    const obj = JSON.parse(fixed);\n    title = obj.title || 'Summary';\n    bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n  } catch (e2) {\n    // Attempt 3: Truncated JSON repair\n    try {\n      let repair = s;\n      const openBrackets = (repair.match(/\\[/g) || []).length;\n      const closeBrackets = (repair.match(/\\]/g) || []).length;\n      const openBraces = (repair.match(/\\{/g) || []).length;\n      const closeBraces = (repair.match(/\\}/g) || []).length;\n      const quotes = repair.match(/(?<!\\\\)\"/g) || [];\n      if (quotes.length % 2 !== 0) repair += '\"';\n      for (let i = 0; i < (openBrackets - closeBrackets); i++) repair += ']';\n      for (let i = 0; i < (openBraces - closeBraces); i++) repair += '}';\n      repair = repair.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n      const obj = JSON.parse(repair);\n      title = obj.title || 'Summary';\n      bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n    } catch (e3) {\n      // Attempt 4: Regex fallback\n      const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n      const bm = s.match(/\"bullets\"\\s*:\\s*\\[([\\s\\S]*?)\\]/);\n      if (tm) title = tm[1];\n      if (bm) bullets = [...bm[1].matchAll(/\"((?:[^\"\\\\]|\\\\.){10,})\"/g)].map(m => m[1]).filter(b => b.length > 15);\n    }\n  }\n}\n\nbullets = bullets\n  .map(b => String(b).replace(/^[•\\-\\s]+/, '').replace(/\\.{2,}/g, '.').replace(/\\s+/g, ' ').replace(/\\\\n/g, ' ').replace(/\\\\\"/g, '\"').trim())\n  .filter(b => {\n    if (!b || b.length < 25) return false;\n    const lc = b.toLowerCase();\n    return !lc.includes('no further details') && !lc.includes('no additional details') &&\n           !lc.includes('לא נמצאו פרטים') && !lc.includes('אין פרטים') &&\n           !lc.includes('информация недоступна');\n  });\n\nif (bullets.length === 0) {\n  const noContent = { he: 'לא הצלחתי לחלץ מידע מהמאמר', ru: 'Не удалось извлечь информацию', en: 'Could not extract summary from article' };\n  return [{ json: { text: `⚠️ ${noContent[language] || noContent.en}\\n\\n${url ? `<${url}|Link>` : ''}` } }];\n}\n\nconst RLM = '\\u200F';\nconst LRM = '\\u200E';\nconst wrapLatin = t => t.replace(/([A-Za-z0-9]+(?:[.,:/\\-][A-Za-z0-9]+)*)/g, `${LRM}$1${LRM}`);\n\nlet titleLine, bulletLines;\n\nif (language === 'he') {\n  const wt = wrapLatin(title);\n  titleLine = url ? `${RLM}:brain: <${url}|${wt}>` : `${RLM}:brain: ${wt}`;\n  bulletLines = bullets.map(b => `${RLM}• ${wrapLatin(b)}`);\n} else if (language === 'ru') {\n  titleLine = url ? `:brain: <${url}|${title}>` : `:brain: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n} else {\n  titleLine = url ? `:brain: Summary: <${url}|${title}>` : `:brain: Summary: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n}\n\nreturn [{ json: { text: [titleLine, '', ...bulletLines].join('\\n') } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1008,
          2864
        ],
        "id": "6afa6cca-f5fa-4f6a-8921-3cd538c012b3",
        "name": "Validate & Format",
        "disabled": true
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C09BFKKCMQ8",
            "mode": "list",
            "cachedResultName": "n8n-sammarize"
          },
          "text": "={{$json.text}}",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          -896,
          2672
        ],
        "id": "a0e282c6-b251-41a8-bce1-d3d34bcb265e",
        "name": "Send to Slack",
        "webhookId": "946820e3-d85c-43a1-a0e5-58777a4a0c86",
        "credentials": {
          "slackApi": {
            "id": "I5astSkOODZZU76Y",
            "name": "n8n Summery"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "needs-jina-check",
                "leftValue": "={{ $json.needsJina }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2224,
          3552
        ],
        "id": "8b235aaa-6e96-4f98-bf92-46af950abb01",
        "name": "Needs Jina Fallback?"
      },
      {
        "parameters": {
          "url": "=https://r.jina.ai/{{ $json.url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "text/plain"
              },
              {
                "name": "X-Return-Format",
                "value": "text"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {
                "maxRedirects": 5
              }
            },
            "timeout": 30000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1984,
          3456
        ],
        "id": "d8b8dfa3-afe0-41bc-a396-4cc6fc6d9f0f",
        "name": "Jina Reader Fallback",
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const raw = $json.data || $json.body || $json.content || '';\nconst prevData = $('Needs Jina Fallback?').first().json;\nconst url = prevData.url || '';\n\nif (!raw || (typeof raw === 'string' && raw.length < 200)) {\n  let reason = prevData.error || 'Could not extract article text.';\n  if (reason === 'Direct extraction failed') {\n    reason += ' Jina Reader also failed — site may require login or block automated access.';\n  }\n  return [{ json: { error: reason, url, needsJina: false } }];\n}\n\nlet text = typeof raw === 'string' ? raw : JSON.stringify(raw);\nconst MAX_LEN = 12000;\n\n// Clean Jina output\ntext = text.replace(/^Title:.*\\n/i, '').replace(/^URL Source:.*\\n/i, '').replace(/^Markdown Content:\\n/i, '').replace(/!\\[.*?\\]\\(.*?\\)/g, '').replace(/\\[([^\\]]+)\\]\\(.*?\\)/g, '$1').replace(/#{1,6}\\s*/g, '').replace(/[*_]{1,3}/g, '').replace(/\\s+/g, ' ').trim();\n\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\n\n// Detect language\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\n\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\n\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\n\nreturn [{ json: { article: text, url, language, charCount: text.length, needsJina: false } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1744,
          3456
        ],
        "id": "e43ef29b-7e4d-48c6-87ee-f923c9fd8b3d",
        "name": "Parse Jina Response"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "error-check-direct",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2224,
          3744
        ],
        "id": "97c03f1d-37da-4008-b5a8-0dc65a32e767",
        "name": "Has Direct Error?"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "slack-events",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -3920,
          3360
        ],
        "id": "4ee208b0-ede4-4a93-9a0d-d889c4ddc2fc",
        "name": "Webhook1",
        "webhookId": "d63266c1-1b49-4fc1-8530-cbdb5e8fb27f"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "url-verify-check",
                "leftValue": "={{$json[\"body\"][\"type\"]}}",
                "rightValue": "url_verification",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3664,
          3360
        ],
        "id": "b8ac08ee-13e0-42ae-a8fe-456fa45becc9",
        "name": "Is URL Verification?1"
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { challenge: $json.body.challenge } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3424,
          3264
        ],
        "id": "4f111d54-34cc-4e76-b554-8c6775c4c653",
        "name": "Return Challenge1"
      },
      {
        "parameters": {
          "respondWith": "text",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          -3424,
          3456
        ],
        "id": "a91e6b18-b39b-438b-892b-3c79326cc288",
        "name": "Respond 200 (Ack)1"
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          -3184,
          3264
        ],
        "id": "928ea041-29e4-4ebb-9109-8c27a5e33455",
        "name": "Respond 200 (Challenge)1"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body || $json;\nconst event = body.event || {};\nconst headers = $json.headers || {};\n\n// --- Retry filter ---\nif (headers['x-slack-retry-num']) return [];\n\n// --- Bot user ID from env or fallback ---\nconst BOT_USER_ID = 'U07K8QJ9XYZ';\n\n// --- Handle message_changed: only process if a NEW URL was added ---\nif (event.subtype === 'message_changed') {\n  const prev = event.previous_message?.text || '';\n  const curr = event.message?.text || '';\n  if (prev === curr) return [];\n\n  // Extract URLs from both versions\n  const extractUrls = (text) => {\n    const urls = new Set();\n    const slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\n    let m;\n    while ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\n    const plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}]+/g;\n    while ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n    return urls;\n  };\n\n  const prevUrls = extractUrls(prev);\n  const currUrls = extractUrls(curr);\n  const newUrls = [...currUrls].filter(u => !prevUrls.has(u) && u.match(/^https?:\\/\\/.+\\..+/));\n\n  if (newUrls.length === 0) return [];\n\n  const user = event.message?.user || event.previous_message?.user || '';\n  if (!user || user === BOT_USER_ID || event.message?.bot_id) return [];\n\n  // Dedup\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.processedUrls) staticData.processedUrls = {};\n  if (!staticData.processedMsgs) staticData.processedMsgs = {};\n\n  const msgKey = `${user}_${event.message?.ts || event.ts}_edited`;\n  if (staticData.processedMsgs[msgKey]) return [];\n  staticData.processedMsgs[msgKey] = Date.now();\n\n  // Clean old entries\n  const twoDaysAgo = Date.now() - 172800000;\n  for (const k of Object.keys(staticData.processedUrls)) {\n    if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\n  }\n  for (const k of Object.keys(staticData.processedMsgs)) {\n    if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n  }\n\n  // Return all new URLs (supports multi-URL messages)\n  const results = [];\n  const fourHoursAgo = Date.now() - 14400000;\n  for (const url of newUrls) {\n    const isDuplicate = staticData.processedUrls[url] > fourHoursAgo;\n    if (!isDuplicate) staticData.processedUrls[url] = Date.now();\n    results.push({ json: { isDuplicate, url, slack_channel: event.channel, slack_user: user, slack_ts: event.message?.ts || event.ts } });\n  }\n  return results;\n}\n\n// --- Skip non-message subtypes ---\nconst skipSubtypes = ['bot_message','message_deleted','channel_join','channel_leave','channel_topic','channel_purpose','file_share','pinned_item','unpinned_item'];\nif (event.subtype && skipSubtypes.includes(event.subtype)) return [];\n\n// --- Skip bots and empty messages ---\nif (event.type !== 'message' || event.bot_id || event.user === BOT_USER_ID || !event.text) return [];\n\n// --- Extract URLs ---\nconst text = event.text || '';\nconst urls = new Set();\n\nconst slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\nlet m;\nwhile ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\n\nconst plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}]+/g;\nwhile ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n\nconst validUrls = [...urls].filter(u => u.match(/^https?:\\/\\/.+\\..+/));\nif (validUrls.length === 0) return [];\n\n// --- Dedup ---\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedUrls) staticData.processedUrls = {};\nif (!staticData.processedMsgs) staticData.processedMsgs = {};\n\nconst msgKey = `${event.user}_${event.ts}`;\nif (staticData.processedMsgs[msgKey]) return [];\nstaticData.processedMsgs[msgKey] = Date.now();\n\nconst fourHoursAgo = Date.now() - 14400000;\nconst twoDaysAgo = Date.now() - 172800000;\n\n// Clean old entries\nfor (const k of Object.keys(staticData.processedUrls)) {\n  if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\n}\nfor (const k of Object.keys(staticData.processedMsgs)) {\n  if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n}\n\n// Return ALL URLs from message (multi-URL support)\nconst results = [];\nfor (const url of validUrls) {\n  const isDuplicate = staticData.processedUrls[url] > fourHoursAgo;\n  if (!isDuplicate) staticData.processedUrls[url] = Date.now();\n  results.push({ json: { isDuplicate, url, slack_channel: event.channel, slack_user: event.user, slack_ts: event.ts } });\n}\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3152,
          3456
        ],
        "id": "c54cacfc-56d2-4662-b5de-62435a57236d",
        "name": "Extract URL & Deduplicate1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "dup-check",
                "leftValue": "={{ $json.isDuplicate }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2944,
          3456
        ],
        "id": "1510d9ba-cd7e-4e1b-a343-ec21dbf1ab35",
        "name": "Is Duplicate?1"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "={{ $json.slack_channel }}",
            "mode": "id"
          },
          "text": "=ℹ️ This URL was already summarized recently.\n\n<{{$json.url}}|{{$json.url}}>",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          -2704,
          3360
        ],
        "id": "23a73f67-7552-4b95-a888-262fce2d438c",
        "name": "Send Duplicate Notice1",
        "webhookId": "4c109572-f287-4e64-9bda-ffb85c1243de",
        "credentials": {
          "slackApi": {
            "id": "I5astSkOODZZU76Y",
            "name": "n8n Summery"
          }
        }
      },
      {
        "parameters": {
          "url": "={{$json.url}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept",
                "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
              },
              {
                "name": "Accept-Language",
                "value": "en-US,en;q=0.9,he;q=0.8,ru;q=0.7"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {
                "maxRedirects": 5
              }
            },
            "response": {
              "response": {
                "fullResponse": true
              }
            },
            "timeout": 15000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2704,
          3552
        ],
        "id": "f6100f27-ccd4-4cb5-a868-0f60a7e03546",
        "name": "Fetch Page1",
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "parameters": {
          "jsCode": "// Check content-type — skip non-HTML responses (PDFs, images, etc.)\nconst headers = $json.headers || {};\nconst contentType = (headers['content-type'] || headers['Content-Type'] || '').toLowerCase();\nconst url = $('Is Duplicate?1').first().json.url || '';\n\n// Accept text/html and application/xhtml+xml\nif (contentType && !contentType.includes('text/html') && !contentType.includes('application/xhtml') && !contentType.includes('text/plain')) {\n  return [{ json: { error: `Non-HTML content (${contentType.split(';')[0]}). Cannot extract article text.`, url, needsJina: false } }];\n}\n\nconst html = $json.body || $json.data || $json.html || $json.content || '';\n\nif (!html || (typeof html === 'string' && html.length < 100)) {\n  return [{ json: { error: 'No HTML content received', url, needsJina: true } }];\n}\n\nconst MAX_LEN = 12000;\nlet text = '';\n\ntry {\n  const ld = html.match(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\n  if (ld) { const d = JSON.parse(ld[1]); if (d.articleBody && d.articleBody.length > 300) text = d.articleBody; }\n} catch (e) {}\n\nif (text.length < 300) {\n  const art = html.match(/<article[^>]*>([\\s\\S]*?)<\\/article>/i);\n  if (art) {\n    const ex = art[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<aside[\\s\\S]*?<\\/aside>/gi,'').replace(/<footer[\\s\\S]*?<\\/footer>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\n\nif (text.length < 300) {\n  const main = html.match(/<main[^>]*>([\\s\\S]*?)<\\/main>/i);\n  if (main) {\n    const ex = main[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\n\nif (text.length < 300) {\n  const pat = /<div[^>]*class=\"[^\"]*(?:art_body|article_text|article-body|post-content|entry-content|story-body|article__content|content-body)[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/i;\n  const match = html.match(pat);\n  if (match) { const ex = match[1].replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim(); if (ex.length > text.length) text = ex; }\n}\n\nif (text.length < 300) {\n  const paras = html.match(/<p[^>]*>(.*?)<\\/p>/gis);\n  if (paras && paras.length > 3) {\n    const good = paras.map(p => p.replace(/<[^>]+>/g,'').trim()).filter(p => p.length > 40 && !/cookie|privacy|subscribe|newsletter|הרשמה|פרטיות/i.test(p));\n    if (good.length >= 3) text = good.join('\\n\\n');\n  }\n}\n\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\n\n// If extraction failed, flag for Jina fallback\nif (!text || text.length < 200) {\n  return [{ json: { error: 'Direct extraction failed', url, needsJina: true } }];\n}\n\n// Detect language\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\n\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\n\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\n\nreturn [{ json: { article: text, url, language, charCount: text.length, needsJina: false } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2464,
          3552
        ],
        "id": "0f86ab05-f7dd-40a2-b4c4-38fe749d8d4b",
        "name": "Extract Text & Detect Language1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "error-check",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1504,
          3456
        ],
        "id": "260f243d-cb52-4cac-a521-3c254f7965da",
        "name": "Has Error?1"
      },
      {
        "parameters": {
          "jsCode": "const err = $json.error || 'Unknown error';\nconst url = $json.url || '';\nconst lang = $json.language || 'en';\nconst channel = $('Is Duplicate?1').first().json.slack_channel || $('Extract URL & Deduplicate1').first().json.slack_channel || '';\n\nconst msgs = { he: '⚠️ נכשל בסיכום המאמר', ru: '⚠️ Не удалось обобщить статью', en: '⚠️ Failed to summarize article' };\nconst reasons = { he: 'סיבה:', ru: 'Причина:', en: 'Reason:' };\nreturn [{ json: { text: `${msgs[lang] || msgs.en}\\n${reasons[lang] || reasons.en} ${err}\\n\\n${url ? `<${url}|Link>` : ''}`, slack_channel: channel } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1504,
          3728
        ],
        "id": "ded7cbcc-c308-492c-922e-a4d53057b9b0",
        "name": "Format Error1"
      },
      {
        "parameters": {
          "jsCode": "const article = $json.article || '';\nconst language = $json.language || 'en';\nconst url = $json.url || '';\n\nconst langNames = { he: 'Hebrew', ru: 'Russian', en: 'English' };\nconst langName = langNames[language] || 'English';\n\nconst prompt = `Summarize the following article in ${langName}.\n\nRules:\n- Output ONLY valid JSON, no markdown fences, no extra text.\n- Return a short title and exactly 5 bullet points. For very short articles, still aim for 5 by elaborating more.\n- Each bullet: 3-4 sentences, 60-80 words, with specific details (names, dates, numbers, locations, quotes).\n- Each bullet must cover a DIFFERENT key point and provide enough context that someone unfamiliar with the topic understands what happened and why it matters.\n- Include real names, dates, numbers, locations, and quotes mentioned in the article.\n- Do NOT invent or guess dates, facts, or details not in the article.\n- Do NOT repeat the title as a bullet point.\n- Do NOT include bullet characters in the bullets array.\n- Do NOT include filler like \"no further details available\".\n- The title and all bullets MUST be written in ${langName}.\n\nFormat:\n{\"title\": \"Short descriptive title\", \"bullets\": [\"Point 1...\", \"Point 2...\", ...]}\n\nArticle:\n${article}`;\n\nreturn [{ json: { prompt, language, url } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1264,
          3552
        ],
        "id": "aa790227-3cb2-4a68-a07f-b641cafad811",
        "name": "Build Prompt1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "needsFallback": true,
          "options": {
            "systemMessage": "You are an expert article summarizer. Output ONLY valid JSON — no markdown fences, no preamble, no thinking."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -1008,
          3552
        ],
        "id": "2b20ba38-e64c-47b5-9a86-578bb2374b8e",
        "name": "AI Summarizer1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "google/gemma-3-27b",
            "mode": "list",
            "cachedResultName": "google/gemma-3-27b"
          },
          "options": {
            "frequencyPenalty": 0.3,
            "maxTokens": 2500,
            "presencePenalty": 0.1,
            "temperature": 0.2,
            "timeout": 300000,
            "topP": 0.9
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -1152,
          3760
        ],
        "id": "35226b1f-4a66-4c77-ab1d-60079f35f4c7",
        "name": "Local LLM1",
        "credentials": {
          "openAiApi": {
            "id": "WJsCuec8UzGRGVIc",
            "name": "Macbook ProM1 Pro"
          }
        }
      },
      {
        "parameters": {
          "model": "google/gemini-2.5-flash-lite",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -976,
          3760
        ],
        "id": "335ffca0-4f9b-4707-ae91-ee0faa1f61d5",
        "name": "OpenRouter Fallback1",
        "credentials": {
          "openRouterApi": {
            "id": "hGAnvpSAhWRbFktq",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "let raw = $json.output || $json.text || $json.content || '';\nif (typeof raw !== 'string') raw = JSON.stringify(raw);\n\nconst url = $('Build Prompt1').first().json.url || '';\nconst language = $('Build Prompt1').first().json.language || 'en';\nconst slack_channel = $('Is Duplicate?1').first().json.slack_channel || $('Extract URL & Deduplicate1').first().json.slack_channel || '';\n\n// Unwrap double-encoded string\ntry {\n  const unwrapped = JSON.parse(raw);\n  if (typeof unwrapped === 'string') raw = unwrapped;\n} catch (e) {}\n\n// Strip <think>...</think> blocks (Gemma/DeepSeek reasoning traces)\nraw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n\n// Strip markdown fences\nlet s = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '');\n\n// Extract first JSON object\nconst si = s.indexOf('{');\nconst ei = s.lastIndexOf('}');\nif (si > -1 && ei > si) s = s.substring(si, ei + 1);\n\n// Normalize whitespace and smart quotes\ns = s.replace(/[\\r\\n]+/g, ' ').replace(/[\\u2018\\u2019]/g, \"'\").replace(/[\\u201C\\u201D]/g, '\"').trim();\n\nlet title = 'Summary';\nlet bullets = [];\n\n// Attempt 1: Direct JSON parse\ntry {\n  const obj = JSON.parse(s);\n  title = obj.title || 'Summary';\n  bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n} catch (e) {\n  // Attempt 2: Fix trailing commas\n  try {\n    let fixed = s.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n    const obj = JSON.parse(fixed);\n    title = obj.title || 'Summary';\n    bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n  } catch (e2) {\n    // Attempt 3: Truncated JSON repair\n    try {\n      let repair = s;\n      const openBrackets = (repair.match(/\\[/g) || []).length;\n      const closeBrackets = (repair.match(/\\]/g) || []).length;\n      const openBraces = (repair.match(/\\{/g) || []).length;\n      const closeBraces = (repair.match(/\\}/g) || []).length;\n      const quotes = repair.match(/(?<!\\\\)\"/g) || [];\n      if (quotes.length % 2 !== 0) repair += '\"';\n      for (let i = 0; i < (openBrackets - closeBrackets); i++) repair += ']';\n      for (let i = 0; i < (openBraces - closeBraces); i++) repair += '}';\n      repair = repair.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n      const obj = JSON.parse(repair);\n      title = obj.title || 'Summary';\n      bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n    } catch (e3) {\n      // Attempt 4: Regex fallback\n      const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n      const bm = s.match(/\"bullets\"\\s*:\\s*\\[([\\s\\S]*?)\\]/);\n      if (tm) title = tm[1];\n      if (bm) bullets = [...bm[1].matchAll(/\"((?:[^\"\\\\]|\\\\.){10,})\"/g)].map(m => m[1]).filter(b => b.length > 15);\n    }\n  }\n}\n\nbullets = bullets\n  .map(b => String(b).replace(/^[•\\-\\s]+/, '').replace(/\\.{2,}/g, '.').replace(/\\s+/g, ' ').replace(/\\\\n/g, ' ').replace(/\\\\\"/g, '\"').trim())\n  .filter(b => {\n    if (!b || b.length < 25) return false;\n    const lc = b.toLowerCase();\n    return !lc.includes('no further details') && !lc.includes('no additional details') &&\n           !lc.includes('לא נמצאו פרטים') && !lc.includes('אין פרטים') &&\n           !lc.includes('информация недоступна');\n  });\n\nif (bullets.length === 0) {\n  const noContent = { he: 'לא הצלחתי לחלץ מידע מהמאמר', ru: 'Не удалось извлечь информацию', en: 'Could not extract summary from article' };\n  return [{ json: { text: `⚠️ ${noContent[language] || noContent.en}\\n\\n${url ? `<${url}|Link>` : ''}`, slack_channel } }];\n}\n\nconst RLM = '\\u200F';\nconst LRM = '\\u200E';\nconst wrapLatin = t => t.replace(/([A-Za-z0-9]+(?:[.,:/\\-][A-Za-z0-9]+)*)/g, `${LRM}$1${LRM}`);\n\nlet titleLine, bulletLines;\n\nif (language === 'he') {\n  const wt = wrapLatin(title);\n  titleLine = url ? `${RLM}:brain: <${url}|${wt}>` : `${RLM}:brain: ${wt}`;\n  bulletLines = bullets.map(b => `${RLM}• ${wrapLatin(b)}`);\n} else if (language === 'ru') {\n  titleLine = url ? `:brain: <${url}|${title}>` : `:brain: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n} else {\n  titleLine = url ? `:brain: Summary: <${url}|${title}>` : `:brain: Summary: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n}\n\nreturn [{ json: { text: [titleLine, '', ...bulletLines].join('\\n'), slack_channel } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -640,
          3552
        ],
        "id": "a6827aa9-9d5a-480b-a7e2-6564fc517732",
        "name": "Validate & Format1"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "={{ $json.slack_channel }}",
            "mode": "id"
          },
          "text": "={{$json.text}}",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          -336,
          3760
        ],
        "id": "7b4eff13-af75-446f-afe0-a637163cb90c",
        "name": "Send to Slack1",
        "webhookId": "946820e3-d85c-43a1-a0e5-58777a4a0c86",
        "credentials": {
          "slackApi": {
            "id": "I5astSkOODZZU76Y",
            "name": "n8n Summery"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Is URL Verification?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is URL Verification?": {
        "main": [
          [
            {
              "node": "Return Challenge",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond 200 (Ack)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return Challenge": {
        "main": [
          [
            {
              "node": "Respond 200 (Challenge)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond 200 (Ack)": {
        "main": [
          [
            {
              "node": "Extract URL & Deduplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract URL & Deduplicate": {
        "main": [
          [
            {
              "node": "Is Duplicate?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Duplicate?": {
        "main": [
          [
            {
              "node": "Send Duplicate Notice",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Page": {
        "main": [
          [
            {
              "node": "Extract Text & Detect Language",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Text & Detect Language": {
        "main": [
          [
            {
              "node": "Has Error?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Error?": {
        "main": [
          [
            {
              "node": "Format Error",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Error": {
        "main": [
          [
            {
              "node": "Send to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Prompt": {
        "main": [
          [
            {
              "node": "AI Summarizer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Summarizer": {
        "main": [
          [
            {
              "node": "Validate & Format",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Local LLM": {
        "ai_languageModel": [
          [
            {
              "node": "AI Summarizer",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Fallback": {
        "ai_languageModel": [
          [
            {
              "node": "AI Summarizer",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Validate & Format": {
        "main": [
          [
            {
              "node": "Send to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Needs Jina Fallback?": {
        "main": [
          [
            {
              "node": "Jina Reader Fallback",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Prompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Jina Reader Fallback": {
        "main": [
          [
            {
              "node": "Parse Jina Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Jina Response": {
        "main": [
          [
            {
              "node": "Has Error?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Direct Error?": {
        "main": [
          [
            {
              "node": "Format Error1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook1": {
        "main": [
          [
            {
              "node": "Is URL Verification?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is URL Verification?1": {
        "main": [
          [
            {
              "node": "Return Challenge1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond 200 (Ack)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return Challenge1": {
        "main": [
          [
            {
              "node": "Respond 200 (Challenge)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond 200 (Ack)1": {
        "main": [
          [
            {
              "node": "Extract URL & Deduplicate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract URL & Deduplicate1": {
        "main": [
          [
            {
              "node": "Is Duplicate?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Duplicate?1": {
        "main": [
          [
            {
              "node": "Send Duplicate Notice1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch Page1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Page1": {
        "main": [
          [
            {
              "node": "Extract Text & Detect Language1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Text & Detect Language1": {
        "main": [
          [
            {
              "node": "Needs Jina Fallback?",
              "type": "main",
              "index": 0
            },
            {
              "node": "Has Direct Error?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Error?1": {
        "main": [
          [
            {
              "node": "Format Error1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Prompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Error1": {
        "main": [
          [
            {
              "node": "Send to Slack1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Prompt1": {
        "main": [
          [
            {
              "node": "AI Summarizer1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Summarizer1": {
        "main": [
          [
            {
              "node": "Validate & Format1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Local LLM1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Summarizer1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Fallback1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Summarizer1",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Validate & Format1": {
        "main": [
          [
            {
              "node": "Send to Slack1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 94c411d4",
    "description": "",
    "autosaved": true
  },
  "tags": []
}