PI workflows backup 2026-03-03 21-40/PI workflows backup to Google Drive & GitHub.json
{
  "updatedAt": "2026-03-03T19:40:22.098Z",
  "createdAt": "2025-08-31T19:35:34.809Z",
  "id": "lIAp2PZeA0MG7QiE",
  "name": "PI workflows backup to Google Drive & GitHub",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "folder",
        "name": "=PI workflows backup",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -24320,
        3360
      ],
      "id": "ff650287-a496-4be0-ad15-bf8c30c8942a",
      "name": "Create folder if not exist",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Generate timestamp ONCE at the top\nconst dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n\n  const safe = orig\n    .replace(/[\\/\\\\]+/g, '-')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;      // ✅ Store for GitHub Backup\n  json.timestamp = timestamp;        // ✅ Store for README\n\n  return { json, binary: bin };\n});"
      },
      "id": "6e944376-8d64-4367-8cfe-1836e27da067",
      "name": "Normalize Filename1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23568,
        3616
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Update README with latest backup summary"
      },
      "id": "bafbb8b6-2a72-49a9-9aae-24841fdf34c1",
      "name": "GitHub Edit README (binary)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -19680,
        3856
      ],
      "webhookId": "327e766f-55b5-4285-b308-498138c7521b",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Create README with latest backup summary"
      },
      "id": "afa32194-bcd2-4a8c-bf02-1a28a101f7ea",
      "name": "GitHub Create README (binary)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -19680,
        4096
      ],
      "webhookId": "4d2b8cab-bb0e-4e4f-a303-2cd86eb3f482",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$node[\"GitHub Get README\"].item}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "greater"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "4cd47400-dfd5-4c9b-b52e-18381f8c34fb",
      "name": "IF README exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -20416,
        3936
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.readme || '# PI workflows backup\\n\\n(empty)')\n  .replace(/\\r?\\n/g, '\\n');\n\nconst getReadmeItem = $item(0, 'GitHub Get README');\nconst sha = getReadmeItem?.json?.sha || '';\n\nreturn {\n  json: { sha },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
      },
      "id": "f3138cf4-deae-4a7f-b913-2f9f63374b5e",
      "name": "Make README Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19888,
        4416
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "additionalParameters": {}
      },
      "id": "a02bccad-bdde-4208-aab1-267c7e713f18",
      "name": "GitHub Get README",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -20848,
        4416
      ],
      "webhookId": "976c9847-715d-4eac-8686-4d65d58fddff",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Get the stored timestamp from Normalize Filename1\nconst normalizeItems = $items('Normalize Filename1') || [];\nconst storedData = normalizeItems[0]?.json || {};\n\nconst folder = storedData.folderName;\nconst timestamp = storedData.timestamp;\n\n// Collect workflow names\nlet workflowNames = normalizeItems\n  .map(item => item.json?.workflowName)\n  .filter(name => name);\n\n// GitHub backup info\nconst OWNER = \"alexxx55555\";\nconst REPO  = \"n8n-Raspberry-PI-Workflow-Backup\";\nconst BRANCH = \"main\";\n\nconst ghUrl = `https://github.com/${OWNER}/${encodeURIComponent(REPO)}/tree/${encodeURIComponent(BRANCH)}/${encodeURIComponent(folder)}`;\n\n// Markdown README content\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join(\"\\n\") : \"- (no workflows found)\"}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{\n  json: {\n    readme,\n    timestamp,\n    folder,\n    ghUrl,\n    workflowCount: workflowNames.length\n  }\n}];"
      },
      "id": "cf8ac659-6a44-4878-a41b-c44deb4817dd",
      "name": "Create README Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21184,
        4400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Collect all workflow names that were just backed up\nconst normalizeItems = $items('Normalize Filename1') || [];\nconst workflowNames = normalizeItems\n  .map(item => item.json?.workflowName || item.binary?.data?.fileName || 'Unknown Workflow')\n  .filter(name => name && name !== 'Unknown Workflow');\n\n// Pass the names to the next node\nreturn [{ json: { backedUpWorkflows: workflowNames } }];\n"
      },
      "id": "f3a55101-540d-4827-b031-a0778d8c0203",
      "name": "Collect Workflow Names",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22880,
        3616
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23872,
        3024
      ],
      "id": "8990a26c-9069-41e0-8b0d-1d6a338638b0",
      "name": "workflow Export",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "deleteFolder",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -25488,
        3040
      ],
      "id": "b9a45d62-5775-449e-9d93-a0b051a0fb11",
      "name": "Delete folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "PI workflows backup",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -25888,
        3040
      ],
      "id": "07ec5a62-1280-4c35-b2dd-47fd2719ef91",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -24336,
        3040
      ],
      "id": "515738f7-de0a-45ff-9b1b-4b7fc4e6bd5d",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -24768,
        3040
      ],
      "id": "cd1a06be-d5c9-4500-8df6-370038904fdd",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "SKAlyF2lhIc4Qqwz",
          "name": "n8n account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "name": "=",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $items(\"Create folder\")[0].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -23184,
        3024
      ],
      "id": "bddc56a6-13f2-4f0a-adde-06e0d475262e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=PI workflows backup_{{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -25120,
        3040
      ],
      "id": "a3fe7df1-710a-43ca-8c47-3b070e75428d",
      "name": "Create folder",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -24912,
        3360
      ],
      "id": "a4abf63b-4637-42e5-9416-946eb757fec8",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "alexxx55555",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.folderName}}/{{$binary.data.fileName}}",
        "binaryData": true,
        "commitMessage": "=PI workflows backup: {{$json.name}} - {{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
        "additionalParameters": {
          "author": {
            "name": "PI workflows backup",
            "email": "vinokura@alex-it.net"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -23280,
        3824
      ],
      "id": "a1128647-c174-4ffb-b68a-65b420cb2eb0",
      "name": "GitHub Backup (sanitized)",
      "webhookId": "e533a661-fea4-4243-8df3-c8400cbb80f1",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        }
      },
      "id": "7b10a774-06dc-4147-9baf-d25e806f2680",
      "name": "GitHub List Backup Folders (root)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -22720,
        3824
      ],
      "webhookId": "8d0653eb-ecf7-4341-8e77-74e221755ff7",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Filter ONLY backup folders\nconst folders = $items()\n  .filter(i => i.json?.type === 'dir' && i.json?.name?.startsWith('PI workflows backup '))\n  .map(i => ({\n    ...i,\n    name: i.json.name,\n    path: i.json.path\n  }));\n\nif (folders.length <= 1) {\n  return [];\n}\n\n// Parse date from folder name: \"PI workflows backup yyyy-MM-dd HH-mm\"\nconst parseDate = (name) => {\n  const match = name.match(/(\\d{4}-\\d{2}-\\d{2} \\d{2}-\\d{2})/);\n  if (!match) return new Date('1900-01-01'); // invalid = oldest\n  try {\n    return new Date(match[1].replace(/-/g, '/'));\n  } catch {\n    return new Date('1900-01-01');\n  }\n};\n\n// Sort by REAL date (newest first)\nconst sorted = folders\n  .map(folder => ({ \n    ...folder, \n    date: parseDate(folder.name),\n    dateStr: folder.name.match(/(\\d{4}-\\d{2}-\\d{2} \\d{2}-\\d{2})/)?.[1] || 'invalid'\n  }))\n  .sort((a, b) => b.date - a.date);\n\n// Keep ONLY the newest, return ALL others for deletion\nconst toDelete = sorted.slice(1);\n\nreturn toDelete.map(folder => ({ \n  json: { \n    path: folder.path, \n    name: folder.name,\n    deleteReason: `Older than \"${sorted[0].name}\" (${sorted[0].dateStr})`\n  } \n}));\n"
      },
      "id": "9b96caba-3e0f-42b3-a154-f164bb88fe79",
      "name": "Filter Old GH Backup Folders (keep newest)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22320,
        3824
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}"
      },
      "id": "5cd60be5-d121-48dc-8f77-5db6258387c2",
      "name": "GH List Files In Old Folder",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -21984,
        3824
      ],
      "webhookId": "49ccb808-35ee-4453-9e48-6b71cc7da4fd",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}"
      },
      "id": "a59501f3-87ee-439e-afd8-077f1e105ba7",
      "name": "GH List Files In Subfolder",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -22432,
        4304
      ],
      "webhookId": "ee5a437b-36ea-4187-8250-380e17574093",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{$json[\"type\"]}}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "isfile"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "988ef64b-a0b5-458f-b649-9da8c06f1ead",
      "name": "IF Is File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -21968,
        4496
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
      },
      "id": "2f65d5c2-619d-44f1-afb1-11b5226ff64e",
      "name": "To Files (root)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21728,
        4560
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}",
        "commitMessage": "=Cleanup old backup file {{$json.path}}"
      },
      "id": "5e1d230b-36ad-4bff-98db-f88adadf2d06",
      "name": "GH Delete File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -21472,
        4400
      ],
      "webhookId": "4335414b-45d6-4334-9a77-13aebaa9a888",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
      },
      "id": "02971699-35e2-48dc-99f4-147e9e22501a",
      "name": "To Files (subfolder)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21728,
        4304
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "PI workflows backup",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -22896,
        5952
      ],
      "id": "a3b1e0ef-bca4-44ee-b1f9-3d833c348ee3",
      "name": "Search Drive Folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "deleteFolder",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -22688,
        5952
      ],
      "id": "600f892f-9fc5-47fc-81b1-01ab20a5b2ba",
      "name": "Delete Old Drive Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=PI workflows backup {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH-mm') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -22496,
        5952
      ],
      "id": "72b65c9e-cd31-42ed-a726-7b4777aa6db4",
      "name": "Create Drive Folder",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Generate timestamp ONCE at the top\nconst dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n\n  const safe = orig\n    .replace(/[\\/\\\\]+/g, '-')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;\n  json.timestamp = timestamp;\n\n  return { json, binary: bin };\n});"
      },
      "id": "6c1ae048-5ae9-45e2-a99d-6e4be39b9888",
      "name": "Normalize Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21696,
        5952
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -23088,
        5952
      ],
      "id": "2dae7221-6c87-4e9f-9dc5-0643414ae962",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -22288,
        5952
      ],
      "id": "3e8f0a70-0ffd-4bca-863e-d98f28eb1db4",
      "name": "Get many workflows1",
      "credentials": {
        "n8nApi": {
          "id": "SKAlyF2lhIc4Qqwz",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -22096,
        5952
      ],
      "id": "36e3122b-bb1f-4fc2-a509-fb37c41cf13b",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21888,
        5952
      ],
      "id": "38b64898-fad0-48f3-88ee-23ca09eb28ce",
      "name": "workflow Export1"
    },
    {
      "parameters": {
        "name": "=",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $items('Create Drive Folder')[0].json['id'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -21488,
        5840
      ],
      "id": "9606f7dc-ba1a-4af5-b02c-701a86de8da8",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "alexxx55555",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{ $json.folderName }}/{{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "=PI workflows backup: {{ $json.name }} - {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm') }}",
        "additionalParameters": {
          "author": {
            "name": "PI workflows backup",
            "email": "vinokura@alex-it.net"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -21488,
        6048
      ],
      "id": "92d8355e-d0b5-48a5-bbfc-2f1232bee797",
      "name": "GitHub Backup (sanitized)1",
      "webhookId": "114a3d57-956f-449c-8f2a-4f795d6a79b4",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate ALL items after the loop finishes\nconst allItems = $items('Normalize Filename') || [];\n\nconst folderName = allItems[0]?.json?.folderName || 'PI workflows backup';\nconst timestamp  = allItems[0]?.json?.timestamp  || $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm');\n\nconst workflowNames = allItems\n  .map(i => i.json?.workflowName)\n  .filter(Boolean);\n\nconst OWNER  = 'alexxx55555';\nconst REPO   = 'n8n-Raspberry-PI-Workflow-Backup';\nconst BRANCH = 'main';\n\n// Build correctly encoded URL — spaces → %20, colons → %3A\nconst encodedFolder = encodeURIComponent(folderName);\nconst ghUrl = `https://github.com/${OWNER}/${REPO}/tree/${BRANCH}/${encodedFolder}`;\n\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length\n  ? workflowNames.map(n => `- ${n}`).join('\\n')\n  : '- (no workflows found)'}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{ json: { readme, timestamp, folderName, ghUrl, workflowCount: workflowNames.length } }];"
      },
      "id": "2a9e64a1-4903-4fb6-9e92-b70a8098cdd6",
      "name": "Create README Text1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21088,
        6048
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "additionalParameters": {}
      },
      "id": "0d0c2d36-fa47-4641-aa9c-dcdaf1556491",
      "name": "GitHub Get README1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -20896,
        6048
      ],
      "webhookId": "d736aee6-56dc-42a6-a349-c0eaa710f0d2",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.readme || '# PI workflows backup\\n\\n(empty)')\n  .replace(/\\r?\\n/g, '\\n');\n\nconst getReadmeItem = $item(0, 'GitHub Get README');\nconst sha = getReadmeItem?.json?.sha || '';\n\nreturn {\n  json: { sha },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
      },
      "id": "584c1646-91bc-47cd-8586-f25559325e7b",
      "name": "Make README Binary1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20688,
        6048
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "54999d79-f096-47a3-9849-06de46b92e72",
      "name": "IF README exists?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -20496,
        6048
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Update README with latest backup summary"
      },
      "id": "40059532-15ee-4904-92e6-02c50382300c",
      "name": "GitHub Edit README (binary)1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -20288,
        5952
      ],
      "webhookId": "05ff000e-8b2c-4937-b7cb-93dd8a896623",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Create README with latest backup summary"
      },
      "id": "d97030dd-d87e-4e69-b751-f94a01160d45",
      "name": "GitHub Create README (binary)1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -20288,
        6144
      ],
      "webhookId": "2d48f044-b3d5-4525-9bb5-ad95c88713d8",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        }
      },
      "id": "fc576c6f-51ca-4c1f-aa21-1fa9a7291c64",
      "name": "GitHub List Backup Folders (root)1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -19984,
        6048
      ],
      "webhookId": "1e8231ce-81e7-4996-887a-4350ee5cc069",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const folders = $items()\n  .filter(i => i.json?.type === 'dir' && i.json?.name?.startsWith('PI workflows backup '))\n  .map(i => ({ name: i.json.name, path: i.json.path }));\n\nif (folders.length <= 1) {\n  return [];\n}\n\n// Parse date from folder name: \"PI workflows backup yyyy-MM-dd HH-mm\"\nconst parseDate = (name) => {\n  const match = name.match(/(\\d{4}-\\d{2}-\\d{2}) (\\d{2})-(\\d{2})$/);\n  if (!match) return new Date('1900-01-01');\n  try {\n    return new Date(`${match[1]}T${match[2]}:${match[3]}:00`);\n  } catch {\n    return new Date('1900-01-01');\n  }\n};\n\nconst sorted = folders\n  .map(f => ({ ...f, date: parseDate(f.name) }))\n  .sort((a, b) => b.date - a.date);\n\n// Keep newest, delete everything else\nconst toDelete = sorted.slice(1);\n\nreturn toDelete.map(f => ({ json: { path: f.path, name: f.name } }));"
      },
      "id": "213d2de6-aa2e-4347-8520-ec748aad44fe",
      "name": "Filter Old GH Backup Folders (keep newest)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19792,
        6048
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{ $json.path }}"
      },
      "id": "d55985f6-b393-4a52-bd1f-17a3f26c6548",
      "name": "GH List Files In Old Folder1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -19584,
        6048
      ],
      "webhookId": "747bc648-6d4a-4730-be63-a90383c026e9",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json['type'] }}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "isfile"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12fd3036-01f7-4473-8b7c-6222c49195b1",
      "name": "IF Is File?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -19392,
        6048
      ]
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i => i.json && i.json.type === 'file' && i.json.path && i.json.sha).map(i => ({ json: { path: i.json.path, sha: i.json.sha } }));"
      },
      "id": "090fcb48-acc6-483d-9ae0-9bea7600b03a",
      "name": "To Files (root)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19184,
        5952
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{ $json.path }}"
      },
      "id": "2e6b6335-6762-485b-8771-5de9d92c2de4",
      "name": "GH List Files In Subfolder1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -19184,
        6144
      ],
      "webhookId": "0e3b3f41-c2ff-4ae9-aa8e-d74f5b217588",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i => i.json && i.json.type === 'file' && i.json.path && i.json.sha).map(i => ({ json: { path: i.json.path, sha: i.json.sha } }));"
      },
      "id": "06c86893-eb99-452c-ba3e-66e1bfc7c738",
      "name": "To Files (subfolder)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18992,
        6144
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{ $json.path }}",
        "commitMessage": "=Cleanup old backup file {{ $json.path }}"
      },
      "id": "efe04279-1e32-4342-9730-25bdf5b94084",
      "name": "GH Delete File1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -18992,
        5952
      ],
      "webhookId": "e025f017-c79c-43d7-9d57-876995308d6e",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Create folder if not exist": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Filename1": {
      "main": [
        [
          {
            "node": "GitHub Backup (sanitized)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Collect Workflow Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF README exists?": {
      "main": [
        [
          {
            "node": "GitHub Edit README (binary)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub Create README (binary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make README Binary": {
      "main": [
        [
          {
            "node": "IF README exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Get README": {
      "main": [
        [
          {
            "node": "Make README Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create README Text": {
      "main": [
        [
          {
            "node": "GitHub Get README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow Export": {
      "main": [
        [
          {
            "node": "Normalize Filename1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete folder": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Delete folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "workflow Export",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create folder if not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Backup (sanitized)": {
      "main": [
        [
          {
            "node": "GitHub List Backup Folders (root)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub List Backup Folders (root)": {
      "main": [
        [
          {
            "node": "Filter Old GH Backup Folders (keep newest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Old GH Backup Folders (keep newest)": {
      "main": [
        [
          {
            "node": "GH List Files In Old Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Old Folder": {
      "main": [
        [
          {
            "node": "IF Is File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Subfolder": {
      "main": [
        [
          {
            "node": "To Files (subfolder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is File?": {
      "main": [
        [
          {
            "node": "To Files (root)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GH List Files In Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (root)": {
      "main": [
        [
          {
            "node": "GH Delete File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH Delete File": {
      "main": [
        [
          {
            "node": "Create README Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (subfolder)": {
      "main": [
        [
          {
            "node": "GH Delete File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Drive Folders": {
      "main": [
        [
          {
            "node": "Delete Old Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Drive Folder": {
      "main": [
        [
          {
            "node": "Create Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive Folder": {
      "main": [
        [
          {
            "node": "Get many workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Filename": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Backup (sanitized)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Search Drive Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "workflow Export1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow Export1": {
      "main": [
        [
          {
            "node": "Normalize Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Backup (sanitized)1": {
      "main": [
        [
          {
            "node": "Create README Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create README Text1": {
      "main": [
        [
          {
            "node": "GitHub Get README1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Get README1": {
      "main": [
        [
          {
            "node": "Make README Binary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make README Binary1": {
      "main": [
        [
          {
            "node": "IF README exists?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF README exists?1": {
      "main": [
        [
          {
            "node": "GitHub Edit README (binary)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub Create README (binary)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit README (binary)1": {
      "main": [
        [
          {
            "node": "GitHub List Backup Folders (root)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create README (binary)1": {
      "main": [
        [
          {
            "node": "GitHub List Backup Folders (root)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub List Backup Folders (root)1": {
      "main": [
        [
          {
            "node": "Filter Old GH Backup Folders (keep newest)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Old GH Backup Folders (keep newest)1": {
      "main": [
        [
          {
            "node": "GH List Files In Old Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Old Folder1": {
      "main": [
        [
          {
            "node": "IF Is File?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is File?1": {
      "main": [
        [
          {
            "node": "To Files (root)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GH List Files In Subfolder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (root)1": {
      "main": [
        [
          {
            "node": "GH Delete File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Subfolder1": {
      "main": [
        [
          {
            "node": "To Files (subfolder)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (subfolder)1": {
      "main": [
        [
          {
            "node": "GH Delete File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        12
      ]
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": [
        20
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6a14eed9-01bf-4974-9c8a-ced503e4fb32",
  "activeVersionId": "515bcf33-d11c-489a-b5f6-cd9d008fdbfa",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T09:14:00.800Z",
      "createdAt": "2025-10-31T09:14:00.800Z",
      "role": "workflow:owner",
      "workflowId": "lIAp2PZeA0MG7QiE",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-03T11:43:18.000Z",
    "createdAt": "2026-03-03T11:43:17.280Z",
    "versionId": "515bcf33-d11c-489a-b5f6-cd9d008fdbfa",
    "workflowId": "lIAp2PZeA0MG7QiE",
    "nodes": [
      {
        "parameters": {
          "resource": "folder",
          "name": "=PI workflows backup",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -22112,
          1856
        ],
        "id": "ff650287-a496-4be0-ad15-bf8c30c8942a",
        "name": "Create folder if not exist",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "// Generate timestamp ONCE at the top\nconst dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n\n  const safe = orig\n    .replace(/[\\/\\\\]+/g, '-')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;      // ✅ Store for GitHub Backup\n  json.timestamp = timestamp;        // ✅ Store for README\n\n  return { json, binary: bin };\n});"
        },
        "id": "6e944376-8d64-4367-8cfe-1836e27da067",
        "name": "Normalize Filename1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -21360,
          2112
        ],
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Update README with latest backup summary"
        },
        "id": "bafbb8b6-2a72-49a9-9aae-24841fdf34c1",
        "name": "GitHub Edit README (binary)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -17488,
          2352
        ],
        "webhookId": "327e766f-55b5-4285-b308-498138c7521b",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Create README with latest backup summary"
        },
        "id": "afa32194-bcd2-4a8c-bf02-1a28a101f7ea",
        "name": "GitHub Create README (binary)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -17472,
          2592
        ],
        "webhookId": "4d2b8cab-bb0e-4e4f-a303-2cd86eb3f482",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{$node[\"GitHub Get README\"].item}}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "greater"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "4cd47400-dfd5-4c9b-b52e-18381f8c34fb",
        "name": "IF README exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -18000,
          2928
        ],
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const text = ($json.readme || '# PI workflows backup\\n\\n(empty)')\n  .replace(/\\r?\\n/g, '\\n');\n\nconst getReadmeItem = $item(0, 'GitHub Get README');\nconst sha = getReadmeItem?.json?.sha || '';\n\nreturn {\n  json: { sha },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
        },
        "id": "f3138cf4-deae-4a7f-b913-2f9f63374b5e",
        "name": "Make README Binary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -17680,
          2928
        ],
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "additionalParameters": {}
        },
        "id": "a02bccad-bdde-4208-aab1-267c7e713f18",
        "name": "GitHub Get README",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -18640,
          2928
        ],
        "webhookId": "976c9847-715d-4eac-8686-4d65d58fddff",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true,
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "// Get the stored timestamp from Normalize Filename1\nconst normalizeItems = $items('Normalize Filename1') || [];\nconst storedData = normalizeItems[0]?.json || {};\n\nconst folder = storedData.folderName;\nconst timestamp = storedData.timestamp;\n\n// Collect workflow names\nlet workflowNames = normalizeItems\n  .map(item => item.json?.workflowName)\n  .filter(name => name);\n\n// GitHub backup info\nconst OWNER = \"alexxx55555\";\nconst REPO  = \"n8n-Raspberry-PI-Workflow-Backup\";\nconst BRANCH = \"main\";\n\nconst ghUrl = `https://github.com/${OWNER}/${encodeURIComponent(REPO)}/tree/${encodeURIComponent(BRANCH)}/${encodeURIComponent(folder)}`;\n\n// Markdown README content\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join(\"\\n\") : \"- (no workflows found)\"}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{\n  json: {\n    readme,\n    timestamp,\n    folder,\n    ghUrl,\n    workflowCount: workflowNames.length\n  }\n}];"
        },
        "id": "cf8ac659-6a44-4878-a41b-c44deb4817dd",
        "name": "Create README Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -18976,
          2928
        ],
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "// Collect all workflow names that were just backed up\nconst normalizeItems = $items('Normalize Filename1') || [];\nconst workflowNames = normalizeItems\n  .map(item => item.json?.workflowName || item.binary?.data?.fileName || 'Unknown Workflow')\n  .filter(name => name && name !== 'Unknown Workflow');\n\n// Pass the names to the next node\nreturn [{ json: { backedUpWorkflows: workflowNames } }];\n"
        },
        "id": "f3a55101-540d-4827-b031-a0778d8c0203",
        "name": "Collect Workflow Names",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -20672,
          2112
        ],
        "disabled": true
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -21664,
          1520
        ],
        "id": "8990a26c-9069-41e0-8b0d-1d6a338638b0",
        "name": "workflow Export",
        "disabled": true
      },
      {
        "parameters": {
          "resource": "folder",
          "operation": "deleteFolder",
          "folderNoRootId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -23280,
          1536
        ],
        "id": "b9a45d62-5775-449e-9d93-a0b051a0fb11",
        "name": "Delete folder",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "queryString": "PI workflows backup",
          "returnAll": true,
          "filter": {},
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -23680,
          1536
        ],
        "id": "07ec5a62-1280-4c35-b2dd-47fd2719ef91",
        "name": "Search files and folders",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -22128,
          1536
        ],
        "id": "515738f7-de0a-45ff-9b1b-4b7fc4e6bd5d",
        "name": "Loop Over Items",
        "disabled": true
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -22560,
          1536
        ],
        "id": "cd1a06be-d5c9-4500-8df6-370038904fdd",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "SKAlyF2lhIc4Qqwz",
            "name": "n8n account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "name": "=",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $items(\"Create folder\")[0].json[\"id\"] }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -20976,
          1520
        ],
        "id": "bddc56a6-13f2-4f0a-adde-06e0d475262e",
        "name": "Upload file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "=PI workflows backup_{{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -22912,
          1536
        ],
        "id": "a3fe7df1-710a-43ca-8c47-3b070e75428d",
        "name": "Create folder",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 4
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -22704,
          1856
        ],
        "id": "a4abf63b-4637-42e5-9416-946eb757fec8",
        "name": "Schedule Trigger",
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "alexxx55555",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.folderName}}/{{$binary.data.fileName}}",
          "binaryData": true,
          "commitMessage": "=PI workflows backup: {{$json.name}} - {{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
          "additionalParameters": {
            "author": {
              "name": "PI workflows backup",
              "email": "vinokura@alex-it.net"
            }
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -21072,
          2320
        ],
        "id": "a1128647-c174-4ffb-b68a-65b420cb2eb0",
        "name": "GitHub Backup (sanitized)",
        "webhookId": "e533a661-fea4-4243-8df3-c8400cbb80f1",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          }
        },
        "id": "7b10a774-06dc-4147-9baf-d25e806f2680",
        "name": "GitHub List Backup Folders (root)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -20512,
          2320
        ],
        "webhookId": "8d0653eb-ecf7-4341-8e77-74e221755ff7",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "// The current items are from GitHub List (no folderName)\n// But the LAST item passed into this node still has context from the backup\n// So we need to find folderName from the folder names themselves\n\n// Get all dirs that match our pattern\nconst folders = $items().filter(i =>\n  i.json &&\n  i.json.type === \"dir\" &&\n  typeof i.json.name === \"string\" &&\n  i.json.name.startsWith(\"PI workflows backup \")\n);\n\n// Sort descending by name (date-based names sort correctly as strings)\nconst sorted = [...folders].sort((a, b) => b.json.name.localeCompare(a.json.name));\n\n// The newest folder is first — keep it, delete the rest\nconst newest = sorted[0]?.json?.name;\n\nif (!newest) return [];\n\nreturn sorted\n  .slice(1)  // everything except the newest\n  .map(i => ({ json: { path: i.json.path, name: i.json.name } }));"
        },
        "id": "9b96caba-3e0f-42b3-a154-f164bb88fe79",
        "name": "Filter Old GH Backup Folders (keep newest)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -20112,
          2320
        ],
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}"
        },
        "id": "5cd60be5-d121-48dc-8f77-5db6258387c2",
        "name": "GH List Files In Old Folder",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -19776,
          2320
        ],
        "webhookId": "49ccb808-35ee-4453-9e48-6b71cc7da4fd",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}"
        },
        "id": "a59501f3-87ee-439e-afd8-077f1e105ba7",
        "name": "GH List Files In Subfolder",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -20224,
          2800
        ],
        "webhookId": "ee5a437b-36ea-4187-8250-380e17574093",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{$json[\"type\"]}}",
                "rightValue": "file",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "isfile"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "988ef64b-a0b5-458f-b649-9da8c06f1ead",
        "name": "IF Is File?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -19760,
          2992
        ],
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
        },
        "id": "2f65d5c2-619d-44f1-afb1-11b5226ff64e",
        "name": "To Files (root)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -19520,
          3056
        ],
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}",
          "commitMessage": "=Cleanup old backup file {{$json.path}}"
        },
        "id": "5e1d230b-36ad-4bff-98db-f88adadf2d06",
        "name": "GH Delete File",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -19248,
          2928
        ],
        "webhookId": "4335414b-45d6-4334-9a77-13aebaa9a888",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true,
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
        },
        "id": "02971699-35e2-48dc-99f4-147e9e22501a",
        "name": "To Files (subfolder)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -19520,
          2800
        ],
        "disabled": true
      },
      {
        "parameters": {
          "amount": 30,
          "unit": "seconds"
        },
        "id": "dff3b8fe-cd7d-47a9-9fe2-d9d488e5b541",
        "name": "Wait 15s (let GH uploads finish)",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          -12032,
          10112
        ],
        "webhookId": "wait-gh-uploads-webhook"
      },
      {
        "parameters": {
          "amount": 3,
          "unit": "seconds"
        },
        "id": "07d4ad3a-eb44-4a5d-b6e2-f34671081a4d",
        "name": "Wait 3s Between Uploads",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          -12480,
          10320
        ],
        "webhookId": "wait-between-uploads-webhook"
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "=PI workflows backup",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -13776,
          9856
        ],
        "id": "6375cddf-3eae-4b3a-9a06-aae4074a4b2c",
        "name": "Create folder if not exist1",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n  const safe = orig.replace(/[\\/\\\\]+/g, '-').replace(/\\s+/g, ' ').trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;\n  json.timestamp = timestamp;\n\n  return { json, binary: bin };\n});"
        },
        "id": "0d78cf0a-8bc1-45ab-9c3e-3547328b2467",
        "name": "Normalize Filename",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -13024,
          10112
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Update README with latest backup summary"
        },
        "id": "bee78ee4-7b85-4048-a9fc-113638de1230",
        "name": "GitHub Edit README (binary)1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -9152,
          10352
        ],
        "webhookId": "eef3b2ce-4b20-4216-9a86-2afad977847f",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Create README with latest backup summary"
        },
        "id": "85c26dcf-5b9f-4d64-b94d-0dc14cc12997",
        "name": "GitHub Create README (binary)1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -9136,
          10592
        ],
        "webhookId": "f0405930-9e26-4a15-9ad9-d707e59c10d0",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{$node[\"GitHub Get README1\"].item}}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "greater"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "fb9b5fcc-69d3-402a-bbaa-e4db097460ff",
        "name": "IF README exists?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -9664,
          10928
        ]
      },
      {
        "parameters": {
          "jsCode": "const text = ($json.readme || '# PI workflows backup\\n\\n(empty)')\n  .replace(/\\r?\\n/g, '\\n');\n\nconst getReadmeItem = $item(0, 'GitHub Get README');\nconst sha = getReadmeItem?.json?.sha || '';\n\nreturn {\n  json: { sha },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
        },
        "id": "bc69cab3-48d1-4558-87bd-9ec5800f79e7",
        "name": "Make README Binary1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -9344,
          10928
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "additionalParameters": {}
        },
        "id": "3b7e2a30-be35-406f-8593-2293fa052925",
        "name": "GitHub Get README1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -10304,
          10928
        ],
        "webhookId": "544ea06c-9c00-40ca-bf83-9e181a787957",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "// Fix: generate a fresh timestamp here instead of reusing the stale one from Normalize Filename\nconst { DateTime } = require('luxon'); // available in n8n code nodes\n\nconst normalizeItems = $items('Normalize Filename') || [];\nconst storedData = normalizeItems[0]?.json || {};\n\nconst folder = storedData.folderName;\n\n// ✅ Use NOW instead of the old timestamp captured during export\nconst dt = $now.setZone('Asia/Jerusalem');\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nlet workflowNames = normalizeItems\n  .map(item => item.json?.workflowName)\n  .filter(name => name);\n\nconst OWNER = \"alexxx55555\";\nconst REPO  = \"n8n-Raspberry-PI-Workflow-Backup\";\nconst BRANCH = \"main\";\n\nconst ghUrl = `https://github.com/${OWNER}/${encodeURIComponent(REPO)}/tree/${encodeURIComponent(BRANCH)}/${encodeURIComponent(folder)}`;\n\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join(\"\\n\") : \"- (no workflows found)\"}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{\n  json: {\n    readme,\n    timestamp,\n    folder,\n    ghUrl,\n    workflowCount: workflowNames.length\n  }\n}];"
        },
        "id": "28b4df1c-f129-445f-b3e3-7c960af8a990",
        "name": "Create README Text1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -10640,
          10928
        ]
      },
      {
        "parameters": {
          "jsCode": "// Collect all 24 workflow names from Normalize Filename1\n// This node runs ONCE after all items are processed\nconst normalizeItems = $items('Normalize Filename') || [];\nconst workflowNames = normalizeItems\n  .map(item => item.json?.workflowName || item.binary?.data?.fileName || 'Unknown Workflow')\n  .filter(name => name && name !== 'Unknown Workflow');\n\n// Pass folderName and timestamp forward for README\nconst storedData = normalizeItems[0]?.json || {};\n\nreturn [{ \n  json: { \n    backedUpWorkflows: workflowNames,\n    folderName: storedData.folderName,\n    timestamp: storedData.timestamp\n  } \n}];"
        },
        "id": "f3f49c9b-77c3-48ad-b996-60e0d32f7d01",
        "name": "Collect Workflow Names1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -12336,
          10112
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -13328,
          9520
        ],
        "id": "e4e19ca0-ede1-41ac-81e1-dc500bae2d2e",
        "name": "workflow Export1"
      },
      {
        "parameters": {
          "resource": "folder",
          "operation": "deleteFolder",
          "folderNoRootId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -14944,
          9536
        ],
        "id": "84745f62-6b8b-4ef1-9710-1e38d4715518",
        "name": "Delete folder1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "queryString": "PI workflows backup",
          "returnAll": true,
          "filter": {},
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -15344,
          9536
        ],
        "id": "afa297db-aab4-48bc-a78d-4ae1e3a92d03",
        "name": "Search files and folders1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -13792,
          9536
        ],
        "id": "24e68259-a2a2-4401-972b-46ff4b293056",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -14224,
          9536
        ],
        "id": "19d1f5c4-411a-4a75-941e-0ea3b136c743",
        "name": "Get many workflows1",
        "credentials": {
          "n8nApi": {
            "id": "SKAlyF2lhIc4Qqwz",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "name": "=",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $items(\"Create folder1\")[0].json[\"id\"] }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -12640,
          9520
        ],
        "id": "793ff08a-7e2b-4f85-b7ad-2fbd813e956b",
        "name": "Upload file1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "=PI workflows backup_{{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -14576,
          9536
        ],
        "id": "866ab058-5040-4169-b863-a68fbf7ead06",
        "name": "Create folder1",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 4
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -14368,
          9856
        ],
        "id": "36bb4e88-cfa6-4749-8938-04df27f0d113",
        "name": "Schedule Trigger1"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "alexxx55555",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.folderName}}/{{$binary.data.fileName}}",
          "binaryData": true,
          "commitMessage": "=PI workflows backup: {{$json.name}} - {{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
          "additionalParameters": {
            "author": {
              "name": "PI workflows backup",
              "email": "vinokura@alex-it.net"
            }
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -12736,
          10320
        ],
        "id": "83f1a814-43fb-4701-8c80-37c2d56e71b6",
        "name": "GitHub Backup (sanitized)1",
        "webhookId": "a8b48fd4-69b5-444f-a159-2672185b8c08",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          }
        },
        "id": "c3ae07cf-19aa-4509-a895-9b8ac5e0a9a5",
        "name": "GitHub List Backup Folders (root)1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -11728,
          10112
        ],
        "webhookId": "17034b8f-be7a-4fe0-9605-03b92929f8fd",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "onst folders = $items().filter(i =>\n  i.json &&\n  i.json.type === \"dir\" &&               // ✅ must be a directory\n  typeof i.json.name === \"string\" &&\n  i.json.name.startsWith(\"PI workflows backup \")\n);\n\nconst sorted = [...folders].sort((a, b) => b.json.name.localeCompare(a.json.name));\n\nconst newest = sorted[0]?.json?.name;\nif (!newest) return [];\n\n// Only return folders that are NOT the newest (everything after index 0)\nreturn sorted\n  .slice(1)\n  .map(i => ({ json: { path: i.json.path, name: i.json.name } }));"
        },
        "id": "e167dbbf-1c0b-4023-af5a-186c6a57c82a",
        "name": "Filter Old GH Backup Folders (keep newest)1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -11328,
          10112
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}"
        },
        "id": "ecb69fbe-f0ea-4d0d-b1ad-bfbd27587935",
        "name": "GH List Files In Old Folder1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -10928,
          10112
        ],
        "webhookId": "88d9e8ca-9368-49d6-9f43-c90cc98172ee",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}"
        },
        "id": "e9190592-3734-40bc-a2d2-effca4e2efa4",
        "name": "GH List Files In Subfolder1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -11440,
          10560
        ],
        "webhookId": "435e61d9-64da-4645-a042-97b9f7e6bb2e",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{$json[\"type\"]}}",
                "rightValue": "file",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "isfile"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "099c7675-6afa-4996-8bb1-5dd880994efe",
        "name": "IF Is File?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -10528,
          10112
        ]
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
        },
        "id": "a2fc60df-c3a3-426b-8a5e-640ef293a855",
        "name": "To Files (root)1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -10128,
          10000
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}",
          "commitMessage": "=Cleanup old backup file {{$json.path}}"
        },
        "id": "d4cb188b-000a-408a-b3ff-c366c8e8ce7a",
        "name": "GH Delete File1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -9808,
          10112
        ],
        "webhookId": "f8b7867e-cbc1-4188-b8a6-ec9583dce1a0",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
        },
        "id": "83f6e52b-bd4a-4162-9974-4ae80bc6a231",
        "name": "To Files (subfolder)1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -10128,
          10560
        ]
      }
    ],
    "connections": {
      "Create folder if not exist": {
        "main": [
          [
            {
              "node": "Search files and folders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Filename1": {
        "main": [
          [
            {
              "node": "GitHub Backup (sanitized)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Collect Workflow Names",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF README exists?": {
        "main": [
          [
            {
              "node": "GitHub Edit README (binary)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GitHub Create README (binary)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make README Binary": {
        "main": [
          [
            {
              "node": "IF README exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Get README": {
        "main": [
          [
            {
              "node": "Make README Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create README Text": {
        "main": [
          [
            {
              "node": "GitHub Get README",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "workflow Export": {
        "main": [
          [
            {
              "node": "Normalize Filename1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete folder": {
        "main": [
          [
            {
              "node": "Create folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search files and folders": {
        "main": [
          [
            {
              "node": "Delete folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "workflow Export",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create folder": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Create folder if not exist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Backup (sanitized)": {
        "main": [
          [
            {
              "node": "GitHub List Backup Folders (root)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub List Backup Folders (root)": {
        "main": [
          [
            {
              "node": "Filter Old GH Backup Folders (keep newest)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Old GH Backup Folders (keep newest)": {
        "main": [
          [
            {
              "node": "GH List Files In Old Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Old Folder": {
        "main": [
          [
            {
              "node": "IF Is File?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Subfolder": {
        "main": [
          [
            {
              "node": "To Files (subfolder)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Is File?": {
        "main": [
          [
            {
              "node": "To Files (root)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GH List Files In Subfolder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (root)": {
        "main": [
          [
            {
              "node": "GH Delete File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH Delete File": {
        "main": [
          [
            {
              "node": "Create README Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (subfolder)": {
        "main": [
          [
            {
              "node": "GH Delete File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 15s (let GH uploads finish)": {
        "main": [
          [
            {
              "node": "GitHub List Backup Folders (root)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create folder if not exist1": {
        "main": [
          [
            {
              "node": "Search files and folders1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Filename": {
        "main": [
          [
            {
              "node": "GitHub Backup (sanitized)1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Collect Workflow Names1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF README exists?1": {
        "main": [
          [
            {
              "node": "GitHub Edit README (binary)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GitHub Create README (binary)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make README Binary1": {
        "main": [
          [
            {
              "node": "IF README exists?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Get README1": {
        "main": [
          [
            {
              "node": "Make README Binary1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create README Text1": {
        "main": [
          [
            {
              "node": "GitHub Get README1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect Workflow Names1": {
        "main": [
          [
            {
              "node": "Wait 15s (let GH uploads finish)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "workflow Export1": {
        "main": [
          [
            {
              "node": "Normalize Filename",
              "type": "main",
              "index": 0
            },
            {
              "node": "Upload file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete folder1": {
        "main": [
          [
            {
              "node": "Create folder1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search files and folders1": {
        "main": [
          [
            {
              "node": "Delete folder1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [
            {
              "node": "workflow Export1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows1": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create folder1": {
        "main": [
          [
            {
              "node": "Get many workflows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger1": {
        "main": [
          [
            {
              "node": "Create folder if not exist1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Backup (sanitized)1": {
        "main": [
          [
            {
              "node": "Wait 3s Between Uploads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub List Backup Folders (root)1": {
        "main": [
          [
            {
              "node": "Filter Old GH Backup Folders (keep newest)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Old GH Backup Folders (keep newest)1": {
        "main": [
          [
            {
              "node": "GH List Files In Old Folder1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Old Folder1": {
        "main": [
          [
            {
              "node": "IF Is File?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Subfolder1": {
        "main": [
          [
            {
              "node": "To Files (subfolder)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Is File?1": {
        "main": [
          [
            {
              "node": "To Files (root)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GH List Files In Subfolder1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (root)1": {
        "main": [
          [
            {
              "node": "GH Delete File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH Delete File1": {
        "main": [
          [
            {
              "node": "Create README Text1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (subfolder)1": {
        "main": [
          [
            {
              "node": "GH Delete File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 515bcf33",
    "description": "",
    "autosaved": true
  },
  "tags": []
}