PI workflows backup 2026-04-16 21-00/Monday - Board Discovery (run once).json
{
  "updatedAt": "2026-04-16T17:59:30.453Z",
  "createdAt": "2026-03-28T10:00:43.417Z",
  "id": "ExSSfaNuWllm5NNG",
  "name": "Monday - Board Discovery (run once)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getAll",
        "boardId": "5093821351",
        "groupId": "new_group29179",
        "returnAll": true
      },
      "id": "e1fb87a4-11cf-462c-b741-cea8abdd1a57",
      "name": "Get To-Do Items",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        -848,
        736
      ],
      "credentials": {
        "mondayComApi": {
          "id": "tL56OUnJPXJjPxm4",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst toMove = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const columns = data.column_values || [];\n  const statusCol = columns.find(c => c.id === 'project_status');\n\n  let isDone = false;\n  if (statusCol) {\n    if (statusCol.text === 'Done') {\n      isDone = true;\n    }\n    if (statusCol.value) {\n      try {\n        const parsed = typeof statusCol.value === 'string' ? JSON.parse(statusCol.value) : statusCol.value;\n        if (parsed.index === 1) isDone = true;\n      } catch (e) {}\n    }\n  }\n\n  if (isDone) {\n    toMove.push({\n      json: {\n        itemId: data.id,\n        itemName: data.name\n      }\n    });\n  }\n}\n\nreturn toMove;"
      },
      "id": "6d6627b9-193c-49f7-8e5e-c253dc5dd499",
      "name": "Filter Done Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'mutation { move_item_to_group(item_id: ' + $json.itemId + ', group_id: \"new_group43041\") { id } }' }) }}",
        "options": {}
      },
      "id": "2b1acaf4-526e-4817-9b74-816917321ea0",
      "name": "Move to Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        736
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DEEjaXy7pOncZeQ1",
          "name": "Monday.com"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 15
            }
          ]
        }
      },
      "id": "db01ddd8-ffc6-4fc1-b383-51507d566a36",
      "name": "Every 15 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1072,
        736
      ]
    },
    {
      "parameters": {},
      "id": "000a5f25-f531-417c-8365-8bec4dfc4420",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "API-Version",
              "value": "2024-10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: `query { boards(ids: 5093821351) { id name groups { id title } columns { id title type settings_str } } }` }) }}",
        "options": {}
      },
      "id": "c6b2aa26-0b20-4058-9944-d13302b59870",
      "name": "Fetch Board Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        -112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DEEjaXy7pOncZeQ1",
          "name": "Monday.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const board = $input.first().json.data.boards[0];\nconst columns = board.columns.map(c => {\n  const out = { id: c.id, title: c.title, type: c.type };\n  if (c.type === 'status' || c.type === 'color') {\n    try {\n      const s = JSON.parse(c.settings_str || '{}');\n      out.labels = s.labels || {};\n    } catch (e) {}\n  }\n  return out;\n});\nreturn [{\n  json: {\n    board_id: board.id,\n    board_name: board.name,\n    groups: board.groups,\n    columns\n  }\n}];"
      },
      "id": "c5cc2de7-3db5-43c3-9dd6-8b0a217ef641",
      "name": "Parse Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -112
      ]
    }
  ],
  "connections": {
    "Get To-Do Items": {
      "main": [
        [
          {
            "node": "Filter Done Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Done Items": {
      "main": [
        [
          {
            "node": "Move to Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 15 Seconds": {
      "main": [
        [
          {
            "node": "Get To-Do Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Board Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Board Metadata": {
      "main": [
        [
          {
            "node": "Parse Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Every 2 Minutes": {
      "recurrenceRules": []
    },
    "node:Every 15 Seconds": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3df86847-2528-4f65-be4e-5144c7d9e2db",
  "activeVersionId": "71de32f9-7f52-4c2d-89f2-4a8009f683a7",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-28T10:00:43.421Z",
      "createdAt": "2026-03-28T10:00:43.421Z",
      "role": "workflow:owner",
      "workflowId": "ExSSfaNuWllm5NNG",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-16T17:58:23.000Z",
    "createdAt": "2026-04-16T17:58:22.418Z",
    "versionId": "71de32f9-7f52-4c2d-89f2-4a8009f683a7",
    "workflowId": "ExSSfaNuWllm5NNG",
    "nodes": [
      {
        "parameters": {
          "resource": "boardItem",
          "operation": "getAll",
          "boardId": "5093821351",
          "groupId": "new_group29179",
          "returnAll": true
        },
        "id": "e1fb87a4-11cf-462c-b741-cea8abdd1a57",
        "name": "Get To-Do Items",
        "type": "n8n-nodes-base.mondayCom",
        "typeVersion": 1,
        "position": [
          -848,
          736
        ],
        "credentials": {
          "mondayComApi": {
            "id": "tL56OUnJPXJjPxm4",
            "name": "Monday.com account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst toMove = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const columns = data.column_values || [];\n  const statusCol = columns.find(c => c.id === 'project_status');\n\n  let isDone = false;\n  if (statusCol) {\n    if (statusCol.text === 'Done') {\n      isDone = true;\n    }\n    if (statusCol.value) {\n      try {\n        const parsed = typeof statusCol.value === 'string' ? JSON.parse(statusCol.value) : statusCol.value;\n        if (parsed.index === 1) isDone = true;\n      } catch (e) {}\n    }\n  }\n\n  if (isDone) {\n    toMove.push({\n      json: {\n        itemId: data.id,\n        itemName: data.name\n      }\n    });\n  }\n}\n\nreturn toMove;"
        },
        "id": "6d6627b9-193c-49f7-8e5e-c253dc5dd499",
        "name": "Filter Done Items",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -640,
          736
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.monday.com/v2",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query: 'mutation { move_item_to_group(item_id: ' + $json.itemId + ', group_id: \"new_group43041\") { id } }' }) }}",
          "options": {}
        },
        "id": "2b1acaf4-526e-4817-9b74-816917321ea0",
        "name": "Move to Completed",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -416,
          736
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DEEjaXy7pOncZeQ1",
            "name": "Monday.com"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds",
                "secondsInterval": 15
              }
            ]
          }
        },
        "id": "db01ddd8-ffc6-4fc1-b383-51507d566a36",
        "name": "Every 15 Seconds",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1072,
          736
        ]
      }
    ],
    "connections": {
      "Get To-Do Items": {
        "main": [
          [
            {
              "node": "Filter Done Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Done Items": {
        "main": [
          [
            {
              "node": "Move to Completed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every 15 Seconds": {
        "main": [
          [
            {
              "node": "Get To-Do Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 71de32f9",
    "description": "",
    "autosaved": true
  },
  "tags": []
}