PI workflows backup 2026-03-13 20-00/Whtsapp AI Bot.json
{
  "updatedAt": "2026-03-13T18:00:05.997Z",
  "createdAt": "2026-03-13T10:46:06.839Z",
  "id": "TuCodb0y457nG7iM",
  "name": "Whtsapp AI Bot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-incoming-bot",
        "options": {}
      },
      "id": "00fed327-a74d-4d24-b186-6f6464ef204f",
      "name": "Webhook - Receive WhatsApp Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        -864
      ],
      "webhookId": "waha-incoming"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-ask-prefix",
              "leftValue": "={{ $json.body.payload.body }}",
              "rightValue": "/ask",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "check-chat-id",
              "leftValue": "={{ $json.body.payload.from }}",
              "rightValue": "120363426439026095@g.us",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ab6fecf-48c5-47e1-906b-a8a3879d5b3f",
      "name": "Filter: /ask only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        192,
        -864
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-from",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "extract-question",
              "name": "question",
              "value": "={{ $json.body.payload.body.replace(/^\\/ask\\s*/i, '').trim() }}",
              "type": "string"
            },
            {
              "id": "session-key",
              "name": "sessionKey",
              "value": "={{ 'history_' + $json.body.payload.from.replace(/[^a-z0-9]/gi, '_') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2aed9e46-4c4c-420e-bfec-4c89dcf408dd",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -864
      ]
    },
    {
      "parameters": {
        "jsCode": "const key = $json.sessionKey;\nconst stored = $getWorkflowStaticData('global');\nconst history = stored[key] ? JSON.parse(stored[key]) : [];\n\nreturn [{\n  json: {\n    chatId: $json.chatId,\n    question: $json.question,\n    sessionKey: $json.sessionKey,\n    history: history\n  }\n}];"
      },
      "id": "ccd1f07e-d746-46d8-a79d-cfa1d89601fc",
      "name": "Load History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -864
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "google/gemma-3-27b",
          "mode": "list",
          "cachedResultName": "GOOGLE/GEMMA-3-27B"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful personal assistant for Alex, an IT administrator. Be concise and direct.",
              "role": "system"
            },
            {
              "content": "={{ $json.question }}"
            }
          ]
        },
        "options": {
          "maxTokens": 1024,
          "temperature": 0.7
        }
      },
      "id": "a0630804-89d6-46fa-b5b0-b7d848efb5b1",
      "name": "Ask LM Studio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        960,
        -864
      ],
      "credentials": {
        "openAiApi": {
          "id": "WJsCuec8UzGRGVIc",
          "name": "Macbook ProM1 Pro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Load History').first().json;\nconst answer = ($json.message?.content || $json.text || '').trim();\nconst key = prev.sessionKey;\n\nconst stored = $getWorkflowStaticData('global');\nlet history = stored[key] ? JSON.parse(stored[key]) : [];\n\nhistory.push({ role: 'user', content: prev.question });\nhistory.push({ role: 'assistant', content: answer });\n\nif (history.length > 20) history = history.slice(-20);\n\nstored[key] = JSON.stringify(history);\n\nreturn [{\n  json: {\n    chatId: prev.chatId,\n    answer: answer\n  }\n}];"
      },
      "id": "684ec52a-f90d-4f7a-b44b-4ee247914aba",
      "name": "Save History + Extract Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -864
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "default"
            },
            {
              "name": "chatId",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "183c2cb4-3b1e-4b88-b3d0-5070e1d5da2e",
      "name": "Send Reply via WAHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1632,
        -864
      ]
    }
  ],
  "connections": {
    "Webhook - Receive WhatsApp Message": {
      "main": [
        [
          {
            "node": "Filter: /ask only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: /ask only": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Load History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load History": {
      "main": [
        [
          {
            "node": "Ask LM Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask LM Studio": {
      "main": [
        [
          {
            "node": "Save History + Extract Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save History + Extract Answer": {
      "main": [
        [
          {
            "node": "Send Reply via WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "global": {
      "history_972545580431_c_us": "[{\"role\":\"user\",\"content\":\"what is 2+2?\"},{\"role\":\"assistant\",\"content\":\"4\"},{\"role\":\"user\",\"content\":\"what is the capital of France?\"},{\"role\":\"assistant\",\"content\":\"Paris.\"},{\"role\":\"user\",\"content\":\"what is the capital of Israel?\"},{\"role\":\"assistant\",\"content\":\"Jerusalem.\"},{\"role\":\"user\",\"content\":\"what is the capital of Belarus?\"},{\"role\":\"assistant\",\"content\":\"Minsk.\"},{\"role\":\"user\",\"content\":\"tell me about Trump\"},{\"role\":\"assistant\",\"content\":\"Donald Trump is a businessman and former U.S. President (2017-2021). Key points:\\n\\n*   **Business:** Real estate developer, known for Trump Tower and casinos.\\n*   **Politics:** Republican Party. Ran for president in 2016, winning against Hillary Clinton. Lost to Joe Biden in 2020.\\n*   **Policies:** Focused on tax cuts, deregulation, and stricter immigration policies.\\n*   **Controversies:** Faced investigations and impeachment proceedings during his presidency.\\n\\n\\n\\nIs there a specific aspect you'd like to know more about?\"},{\"role\":\"user\",\"content\":\"כמה שנים ישראל קיימת?\"},{\"role\":\"assistant\",\"content\":\"ישראל הוקמה בשנת 1948. לכן, היא קיימת כבר 76 שנים.\"},{\"role\":\"user\",\"content\":\"כמה  מלחמות ארצות הברית עברה ?\"},{\"role\":\"assistant\",\"content\":\"The United States has been involved in numerous conflicts. Here's a concise list of major wars:\\n\\n*   Revolutionary War (1775-1783)\\n*   War of 1812 (1812-1815)\\n*   Mexican-American War (1846-1848)\\n*   Civil War (1861-1865)\\n*   Spanish-American War (1898)\\n*   World War I (1917-1918)\\n*   World War II (1941-1945)\\n*   Korean War (1950-1953)\\n*   Vietnam War (1955-1975)\\n*   Persian Gulf War (1990-1991)\\n*   War in Afghanistan (2001-2021)\\n*   Iraq War (2003-2011)\"},{\"role\":\"user\",\"content\":\"מי היא מכבי חיפה ?\"},{\"role\":\"assistant\",\"content\":\"מכבי חיפה הוא מועדון כדורגל ישראלי מהצפון.\"},{\"role\":\"user\",\"content\":\"למה כשאדם רואה טוב אומרים שהוא רואה 6  6\"},{\"role\":\"assistant\",\"content\":\"It's a reference to the Snellen eye chart. \\\"6/6\\\" vision means you can see at 20 feet what a person with normal vision should be able to see at 20 feet.\"},{\"role\":\"user\",\"content\":\"תענה בעברית מי יותר טוב מסי או רונדלו?\"},{\"role\":\"assistant\",\"content\":\"מסי.\"}]",
      "history_120363407766258921_g_us": "[{\"role\":\"user\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"who is better messi or ronaldo?\"},{\"role\":\"assistant\",\"content\":\"That's a debate with no definitive answer, Alex. \\n\\n**Messi:** Generally considered more naturally gifted, exceptional dribbling & playmaking.\\n**Ronaldo:** Incredible athleticism, prolific goalscorer, strong aerial ability.\\n\\nIt comes down to preference. Both are all-time greats.\"},{\"role\":\"user\",\"content\":\"what is dns?\"},{\"role\":\"assistant\",\"content\":\"DNS (Domain Name System) translates human-readable domain names (like google.com) into IP addresses (like 172.217.160.142) computers use to locate websites and other online resources.\\n\\nEssentially, it's the internet's phonebook.\"},{\"role\":\"user\",\"content\":\"מי יותר טוב רונאלדו או מסי?\"},{\"role\":\"assistant\",\"content\":\"This is a subjective question! Both Ronaldo and Messi are incredible players. \\n\\n**Generally:**\\n\\n*   **Messi** is often praised for natural talent, dribbling, and playmaking.\\n*   **Ronaldo** is often praised for athleticism, finishing, and versatility.\\n\\nThere's no definitive \\\"better\\\" – it depends on preference!\"}]"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3619cd26-02c7-4b50-b5d7-30d2164b7a22",
  "activeVersionId": "3619cd26-02c7-4b50-b5d7-30d2164b7a22",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-13T10:46:06.843Z",
      "createdAt": "2026-03-13T10:46:06.843Z",
      "role": "workflow:owner",
      "workflowId": "TuCodb0y457nG7iM",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-13T18:00:08.000Z",
    "createdAt": "2026-03-13T18:00:05.998Z",
    "versionId": "3619cd26-02c7-4b50-b5d7-30d2164b7a22",
    "workflowId": "TuCodb0y457nG7iM",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "waha-incoming-bot",
          "options": {}
        },
        "id": "00fed327-a74d-4d24-b186-6f6464ef204f",
        "name": "Webhook - Receive WhatsApp Message",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -80,
          -864
        ],
        "webhookId": "waha-incoming"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "check-ask-prefix",
                "leftValue": "={{ $json.body.payload.body }}",
                "rightValue": "/ask",
                "operator": {
                  "type": "string",
                  "operation": "startsWith"
                }
              },
              {
                "id": "check-chat-id",
                "leftValue": "={{ $json.body.payload.from }}",
                "rightValue": "120363426439026095@g.us",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "7ab6fecf-48c5-47e1-906b-a8a3879d5b3f",
        "name": "Filter: /ask only",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2,
        "position": [
          192,
          -864
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "extract-from",
                "name": "chatId",
                "value": "={{ $json.body.payload.from }}",
                "type": "string"
              },
              {
                "id": "extract-question",
                "name": "question",
                "value": "={{ $json.body.payload.body.replace(/^\\/ask\\s*/i, '').trim() }}",
                "type": "string"
              },
              {
                "id": "session-key",
                "name": "sessionKey",
                "value": "={{ 'history_' + $json.body.payload.from.replace(/[^a-z0-9]/gi, '_') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "2aed9e46-4c4c-420e-bfec-4c89dcf408dd",
        "name": "Extract Message",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          448,
          -864
        ]
      },
      {
        "parameters": {
          "jsCode": "const key = $json.sessionKey;\nconst stored = $getWorkflowStaticData('global');\nconst history = stored[key] ? JSON.parse(stored[key]) : [];\n\nreturn [{\n  json: {\n    chatId: $json.chatId,\n    question: $json.question,\n    sessionKey: $json.sessionKey,\n    history: history\n  }\n}];"
        },
        "id": "ccd1f07e-d746-46d8-a79d-cfa1d89601fc",
        "name": "Load History",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          -864
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "google/gemma-3-27b",
            "mode": "list",
            "cachedResultName": "GOOGLE/GEMMA-3-27B"
          },
          "messages": {
            "values": [
              {
                "content": "You are a helpful personal assistant for Alex, an IT administrator. Be concise and direct.",
                "role": "system"
              },
              {
                "content": "={{ $json.question }}"
              }
            ]
          },
          "options": {
            "maxTokens": 1024,
            "temperature": 0.7
          }
        },
        "id": "a0630804-89d6-46fa-b5b0-b7d848efb5b1",
        "name": "Ask LM Studio",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          960,
          -864
        ],
        "credentials": {
          "openAiApi": {
            "id": "WJsCuec8UzGRGVIc",
            "name": "Macbook ProM1 Pro"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const prev = $('Load History').first().json;\nconst answer = ($json.message?.content || $json.text || '').trim();\nconst key = prev.sessionKey;\n\nconst stored = $getWorkflowStaticData('global');\nlet history = stored[key] ? JSON.parse(stored[key]) : [];\n\nhistory.push({ role: 'user', content: prev.question });\nhistory.push({ role: 'assistant', content: answer });\n\nif (history.length > 20) history = history.slice(-20);\n\nstored[key] = JSON.stringify(history);\n\nreturn [{\n  json: {\n    chatId: prev.chatId,\n    answer: answer\n  }\n}];"
        },
        "id": "684ec52a-f90d-4f7a-b44b-4ee247914aba",
        "name": "Save History + Extract Answer",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1312,
          -864
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://waha:3000/api/sendText",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Api-Key",
                "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "session",
                "value": "default"
              },
              {
                "name": "chatId",
                "value": "={{ $json.chatId }}"
              },
              {
                "name": "text",
                "value": "={{ $json.answer }}"
              }
            ]
          },
          "options": {}
        },
        "id": "183c2cb4-3b1e-4b88-b3d0-5070e1d5da2e",
        "name": "Send Reply via WAHA",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1632,
          -864
        ]
      }
    ],
    "connections": {
      "Webhook - Receive WhatsApp Message": {
        "main": [
          [
            {
              "node": "Filter: /ask only",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter: /ask only": {
        "main": [
          [
            {
              "node": "Extract Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Message": {
        "main": [
          [
            {
              "node": "Load History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load History": {
        "main": [
          [
            {
              "node": "Ask LM Studio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ask LM Studio": {
        "main": [
          [
            {
              "node": "Save History + Extract Answer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save History + Extract Answer": {
        "main": [
          [
            {
              "node": "Send Reply via WAHA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 3619cd26",
    "description": "",
    "autosaved": true
  },
  "tags": []
}