PI workflows backup 2026-05-11 21-00/Slack Article Summarizer.json
{
  "updatedAt": "2026-05-09T21:08:11.541Z",
  "createdAt": "2025-09-02T14:14:42.893Z",
  "id": "GzAlS0kt9q4YI0n7",
  "name": "Slack Article Summarizer",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "Add this temporarily to the top of your Extract URL & Deduplicate node to reset all saved websites\n\n$getWorkflowStaticData('global').processedUrls = {}; ",
        "height": 96,
        "width": 656,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2880,
        4464
      ],
      "typeVersion": 1,
      "id": "224b9d40-937c-4d50-b0ff-1fa0ca034904",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Add this temporarily to the top of your Extract URL & Deduplicate node to reset all saved websites\n\n$getWorkflowStaticData('global').processedUrls = {}; ",
        "height": 80,
        "width": 656,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        896
      ],
      "typeVersion": 1,
      "id": "856e2ac9-5ac0-432d-85d3-d6c7ad58fdc2",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9,he;q=0.8,ru;q=0.7"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3680,
        1712
      ],
      "id": "ea559ea6-e72b-4fa0-bf38-aad08d3bf11a",
      "name": "Fetch Page",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "const err = $json.error || 'Unknown error';\nconst url = $json.url || '';\nconst lang = $json.language || 'en';\nconst channel = $('Is Duplicate?').first().json.slack_channel || $('Extract URL & Deduplicate').first().json.slack_channel || '';\n\ntry {\n  const staticData = $getWorkflowStaticData('global');\n  if (staticData.processedUrls && url) delete staticData.processedUrls[url];\n} catch (e) {}\n\nconst msgs = { he: '⚠️ נכשל בסיכום המאמר', ru: '⚠️ Не удалось обобщить статью', en: '⚠️ Failed to summarize article' };\nconst reasons = { he: 'סיבה:', ru: 'Причина:', en: 'Reason:' };\nreturn [{ json: { text: `${msgs[lang] || msgs.en}\\n${reasons[lang] || reasons.en} ${err}`, slack_channel: channel } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4864,
        1888
      ],
      "id": "4321e6c4-d9d7-495a-8112-1dd7bffed686",
      "name": "Format Error"
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.output || $json.text || $json.content || '';\nif (typeof raw !== 'string') raw = JSON.stringify(raw);\n\nconst url = $('Build Prompt').first().json.url || '';\nconst language = $('Build Prompt').first().json.language || 'en';\nconst slack_channel = $('Is Duplicate?').first().json.slack_channel || $('Extract URL & Deduplicate').first().json.slack_channel || '';\n\nconst decodeEntities = (str) => str\n  .replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n  .replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\").replace(/&#x27;/g, \"'\")\n  .replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(Number(n)));\n\ntry {\n  const unwrapped = JSON.parse(raw);\n  if (typeof unwrapped === 'string') raw = unwrapped;\n} catch (e) {}\n\nraw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n\nlet s = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '');\n\n// Escape Hebrew acronym quotes (e.g., צה\"ל, מנכ״ל)\ns = s.replace(/([\\u0590-\\u05FF])[\"״\\u201C\\u201D]([\\u0590-\\u05FF])/g, '$1\\\\\"$2');\n\n// Merge duplicate bullets keys\nif ((s.match(/\"bullets\"\\s*:/g) || []).length > 1) {\n  const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n  const allBullets = [];\n  const bulletRx = /\"bullets\"\\s*:\\s*\\[\\s*\"((?:[^\"\\\\]|\\\\.)*)\"\\s*\\]/g;\n  let bm;\n  while ((bm = bulletRx.exec(s)) !== null) allBullets.push(bm[1]);\n  if (tm && allBullets.length > 1) s = JSON.stringify({ title: tm[1], bullets: allBullets });\n}\n\nconst si = s.indexOf('{');\nconst ei = s.lastIndexOf('}');\nif (si > -1 && ei > si) s = s.substring(si, ei + 1);\n\ns = s.replace(/[\\r\\n]+/g, ' ').replace(/[\\u2018\\u2019]/g, \"'\").replace(/[\\u201C\\u201D]/g, '\"').trim();\n\nlet title = 'Summary';\nlet bullets = [];\n\ntry {\n  const obj = JSON.parse(s);\n  title = obj.title || 'Summary';\n  bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n} catch (e) {\n  try {\n    let fixed = s.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n    const obj = JSON.parse(fixed);\n    title = obj.title || 'Summary';\n    bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n  } catch (e2) {\n    try {\n      let repair = s;\n      const openBrackets = (repair.match(/\\[/g) || []).length;\n      const closeBrackets = (repair.match(/\\]/g) || []).length;\n      const openBraces = (repair.match(/\\{/g) || []).length;\n      const closeBraces = (repair.match(/\\}/g) || []).length;\n      const quotes = repair.match(/(?<!\\\\)\"/g) || [];\n      if (quotes.length % 2 !== 0) repair += '\"';\n      for (let i = 0; i < (openBrackets - closeBrackets); i++) repair += ']';\n      for (let i = 0; i < (openBraces - closeBraces); i++) repair += '}';\n      repair = repair.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n      const obj = JSON.parse(repair);\n      title = obj.title || 'Summary';\n      bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n    } catch (e3) {\n      try {\n        const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        if (tm) title = tm[1].replace(/\\\\\"/g, '\"').replace(/\\\\n/g, ' ');\n        const bulletsStart = s.indexOf('\"bullets\"');\n        if (bulletsStart > -1) {\n          const afterBullets = s.substring(bulletsStart);\n          const bracketStart = afterBullets.indexOf('[');\n          if (bracketStart > -1) {\n            const bulletsContent = afterBullets.substring(bracketStart + 1);\n            const completeStrings = [];\n            let inString = false;\n            let current = '';\n            let escaped = false;\n            for (let i = 0; i < bulletsContent.length; i++) {\n              const ch = bulletsContent[i];\n              if (escaped) { current += ch; escaped = false; continue; }\n              if (ch === '\\\\') { current += ch; escaped = true; continue; }\n              if (ch === '\"') {\n                if (inString) {\n                  if (current.length > 25) completeStrings.push(current.replace(/\\\\\"/g, '\"').replace(/\\\\n/g, ' '));\n                  current = ''; inString = false;\n                } else {\n                  inString = false; current = ''; inString = true;\n                }\n              } else if (inString) current += ch;\n            }\n            if (completeStrings.length > 0) bullets = completeStrings;\n          }\n        }\n      } catch (e4) {\n        const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        const bm = s.match(/\"bullets\"\\s*:\\s*\\[([\\s\\S]*?)\\]/);\n        if (tm) title = tm[1];\n        if (bm) bullets = [...bm[1].matchAll(/\"((?:[^\"\\\\]|\\\\.){10,})\"/g)].map(m => m[1]).filter(b => b.length > 15);\n      }\n    }\n  }\n}\n\ntitle = decodeEntities(title);\n\n// Clean bullets — strip leading markers, replace any INTERNAL • with space (don't split on it!)\nbullets = bullets\n  .map(b => {\n    let cleaned = String(b)\n      .replace(/^[•\\-\\s]+/, '')\n      .replace(/\\s*•\\s*/g, ' ')\n      .replace(/\\.{2,}/g, '.')\n      .replace(/\\s+/g, ' ')\n      .replace(/\\\\n/g, ' ')\n      .replace(/\\\\\"/g, '\"')\n      .trim();\n    return decodeEntities(cleaned);\n  })\n  .filter(b => {\n    if (!b || b.length < 25) return false;\n    const lc = b.toLowerCase();\n    return !lc.includes('no further details') && !lc.includes('no additional details') &&\n           !lc.includes('לא נמצאו פרטים') && !lc.includes('אין פרטים') &&\n           !lc.includes('информация недоступна');\n  });\n\nif (bullets.length === 0) {\n  const noContent = { he: 'לא הצלחתי לחלץ מידע מהמאמר', ru: 'Не удалось извлечь информацию', en: 'Could not extract summary from article' };\n  return [{ json: { text: `⚠️ ${noContent[language] || noContent.en}`, slack_channel } }];\n}\n\n// POST-PROCESS: Strip filler/editorializing sentences that the model adds despite prompt rules\nconst PADDING_PATTERNS = [\n  // English filler\n  /\\s*This\\s+(strategic|operational|fiscal|historical|massive|directive|depletion|transition|situation|shift|outreach|move|decision|availability|technical|effort|release|step|approach|new\\s+generation|latest\\s+\\w+)\\s+\\S+[^.!?]*[.!?]/gi,\n  /\\s*This\\s+\\w+\\s+(aims|seeks|intends|ensures|serves|supports|highlights|mirrors|positions|reflects|demonstrates|underscores|represents|illustrates|facilitates|creates|introduces|marks|signals|offers)\\s+[^.!?]*[.!?]/gi,\n  /\\s*Such\\s+(a|an)\\s+\\S+\\s+(would|will|serves|reflects|demonstrates|transforms|ensures)\\s+[^.!?]*[.!?]/gi,\n  /\\s*These\\s+\\S+\\s+(ensure|ensures|serve|serves|support|supports|reflect|reflects)\\s+[^.!?]*[.!?]/gi,\n  /\\s*The\\s+(company|article|report)\\s+(continues|aims|seeks)\\s+[^.!?]*[.!?]/gi,\n  /\\s*Future\\s+developments\\s+[^.!?]*[.!?]/gi,\n  // Hebrew filler\n  /\\s*(מהלך|צעד|שינוי|מעבר|מצב|החלטה)\\s+זה\\s+[^.!?]*[.!?]/g,\n  /\\s*מדובר\\s+ב\\S*\\s+(חשוב|משמעותי|אסטרטגי|היסטורי)[^.!?]*[.!?]/g,\n  /\\s*בכך\\s+\\S+\\s+(מחזקת|מבטיח|מדגיש)[^.!?]*[.!?]/g,\n  // Russian filler\n  /\\s*(Это|Данный|Такой)\\s+(стратегическое|стратегический|шаг|решение|подход|изменение|переход|сдвиг)\\s+[^.!?]*[.!?]/g\n];\n\nbullets = bullets.map(b => {\n  let cleaned = b;\n  for (const rx of PADDING_PATTERNS) cleaned = cleaned.replace(rx, '');\n  cleaned = cleaned.replace(/\\s+/g, ' ').trim();\n  if (cleaned && !/[.!?]$/.test(cleaned)) cleaned += '.';\n  return cleaned;\n}).filter(b => b.length > 25);\n\nif (bullets.length === 0) {\n  const noContent = { he: 'לא נותר תוכן לאחר סינון', ru: 'После фильтрации контент не остался', en: 'No content remaining after filtering' };\n  return [{ json: { text: `⚠️ ${noContent[language] || noContent.en}`, slack_channel } }];\n}\n\ntry {\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.processedUrls) staticData.processedUrls = {};\n  staticData.processedUrls[url] = Date.now();\n} catch (e) {}\n\nconst RLM = '\\u200F';\nconst LRM = '\\u200E';\nconst wrapLatin = t => {\n  const protectd = t.replace(/([\\u0590-\\u05FF]+[\"'״׳\\u05F3\\u05F4][\\u0590-\\u05FF]+)/g, (m) => `\\x01${m}\\x01`);\n  const wrapped = protectd.replace(/([A-Za-z0-9]{2,}(?:[.,:/\\-][A-Za-z0-9]+)*)/g, `${LRM}$1${LRM}`);\n  return wrapped.replace(/\\x01/g, '');\n};\n\nlet titleLine, bulletLines;\n\nif (language === 'he') {\n  const wt = url ? `<${url}|${wrapLatin(title)}>` : wrapLatin(title);\n  titleLine = `${RLM}סיכום: ${wt}`;\n  bulletLines = bullets.map(b => `${RLM}• ${wrapLatin(b)}`);\n} else if (language === 'ru') {\n  titleLine = url ? `Резюме: <${url}|${title}>` : `Резюме: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n} else {\n  titleLine = url ? `Summary: <${url}|${title}>` : `Summary: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n}\n\nreturn [{ json: { text: titleLine + '\\n\\n' + bulletLines.join('\\n\\n'), slack_channel } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5728,
        1728
      ],
      "id": "3cb2723d-e9c9-4d40-9714-0516d0be041f",
      "name": "Validate & Format"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel }}",
          "mode": "id"
        },
        "text": "={{$json.text}}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": true,
          "unfurl_links": false,
          "unfurl_media": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        5920,
        1888
      ],
      "id": "b1b13297-49ea-40ad-b208-a0091cd12d6a",
      "name": "Send to Slack",
      "webhookId": "946820e3-d85c-43a1-a0e5-58777a4a0c86",
      "credentials": {
        "slackApi": {
          "id": "I5astSkOODZZU76Y",
          "name": "n8n Summery"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nconst contentType = (headers['content-type'] || headers['Content-Type'] || '').toLowerCase();\nconst url = $('Is Duplicate?').first().json.url || '';\n\nconst decodeEntities = (str) => str\n  .replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n  .replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\").replace(/&#x27;/g, \"'\")\n  .replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(Number(n)));\n\nif (contentType && !contentType.includes('text/html') && !contentType.includes('application/xhtml') && !contentType.includes('text/plain')) {\n  return [{ json: { error: `Non-HTML content (${contentType.split(';')[0]}). Cannot extract article text.`, url, needsJina: false } }];\n}\nconst html = $json.body || $json.data || $json.html || $json.content || '';\nif (!html || (typeof html === 'string' && html.length < 100)) {\n  return [{ json: { error: 'No HTML content received', url, needsJina: true } }];\n}\nconst MAX_LEN = 12000;\nlet text = '';\ntry {\n  const ld = html.match(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\n  if (ld) { const d = JSON.parse(ld[1]); if (d.articleBody && d.articleBody.length > 300) text = d.articleBody; }\n} catch (e) {}\nif (text.length < 300) {\n  const art = html.match(/<article[^>]*>([\\s\\S]*?)<\\/article>/i);\n  if (art) {\n    const ex = art[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<aside[\\s\\S]*?<\\/aside>/gi,'').replace(/<footer[\\s\\S]*?<\\/footer>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\nif (text.length < 300) {\n  const main = html.match(/<main[^>]*>([\\s\\S]*?)<\\/main>/i);\n  if (main) {\n    const ex = main[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\nif (text.length < 300) {\n  const pat = /<div[^>]*class=\"[^\"]*(?:art_body|article_text|article-body|post-content|entry-content|story-body|article__content|content-body)[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/i;\n  const match = html.match(pat);\n  if (match) { const ex = match[1].replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim(); if (ex.length > text.length) text = ex; }\n}\nif (text.length < 300) {\n  const paras = html.match(/<p[^>]*>(.*?)<\\/p>/gis);\n  if (paras && paras.length > 3) {\n    const good = paras.map(p => p.replace(/<[^>]+>/g,'').trim()).filter(p => p.length > 40 && !/cookie|privacy|subscribe|newsletter|הרשמה|פרטיות/i.test(p));\n    if (good.length >= 3) text = good.join('\\n\\n');\n  }\n}\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\nif (!text || text.length < 200) {\n  return [{ json: { error: 'Direct extraction failed', url, needsJina: true } }];\n}\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\ntext = decodeEntities(text);\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\nreturn [{ json: { article: text, url, language, charCount: text.length, needsJina: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3904,
        1712
      ],
      "id": "65c7cd3e-1267-4662-8c7c-d358a0d2312d",
      "name": "Extract Text & Detect Language"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dup-check",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3424,
        1616
      ],
      "id": "085d15ee-9c28-4b18-8f0f-99e44957ebe4",
      "name": "Is Duplicate?"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst event = body.event || {};\nconst headers = $json.headers || {};\n\nif (headers['x-slack-retry-num']) return [];\n\nconst BOT_USER_ID = 'U07K8QJ9XYZ';\n\nif (event.subtype === 'message_changed') {\n  const prev = event.previous_message?.text || '';\n  const curr = event.message?.text || '';\n  if (prev === curr) return [];\n\n  const extractUrls = (text) => {\n    const urls = new Set();\n    const slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\n    let m;\n    while ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\n    const plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}|]+/g;\n    while ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n    return urls;\n  };\n\n  const prevUrls = extractUrls(prev);\n  const currUrls = extractUrls(curr);\n  const newUrls = [...currUrls].map(u => u.split('|')[0]).filter(u => !prevUrls.has(u) && u.match(/^https?:\\/\\/.+\\..+/));\n\n  if (newUrls.length === 0) return [];\n\n  const user = event.message?.user || event.previous_message?.user || '';\n  if (!user || user === BOT_USER_ID || event.message?.bot_id) return [];\n\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.processedUrls) staticData.processedUrls = {};\n  if (!staticData.processedMsgs) staticData.processedMsgs = {};\n\n  const msgKey = `${user}_${event.message?.ts || event.ts}_edited`;\n  if (staticData.processedMsgs[msgKey]) return [];\n  staticData.processedMsgs[msgKey] = Date.now();\n\n  const twoDaysAgo = Date.now() - 172800000;\n  for (const k of Object.keys(staticData.processedUrls)) if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\n  for (const k of Object.keys(staticData.processedMsgs)) if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n\n  const results = [];\n  const fourHoursAgo = Date.now() - 14400000;\n  for (const url of newUrls) {\n    const isDuplicate = staticData.processedUrls[url] > fourHoursAgo;\n    if (!isDuplicate) staticData.processedUrls[url] = Date.now();\n    results.push({ json: { isDuplicate, url, slack_channel: event.channel, slack_user: user, slack_ts: event.message?.ts || event.ts } });\n  }\n  return results;\n}\n\nconst skipSubtypes = ['bot_message','message_deleted','channel_join','channel_leave','channel_topic','channel_purpose','file_share','pinned_item','unpinned_item'];\nif (event.subtype && skipSubtypes.includes(event.subtype)) return [];\nif (event.type !== 'message' || event.bot_id || event.user === BOT_USER_ID || !event.text) return [];\n\nconst text = event.text || '';\nconst urls = new Set();\nconst slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\nlet m;\nwhile ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\nconst plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}|]+/g;\nwhile ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n\nconst validUrls = [...urls].map(u => u.split('|')[0]).filter(u => u.match(/^https?:\\/\\/.+\\..+/));\nif (validUrls.length === 0) return [];\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedUrls) staticData.processedUrls = {};\nif (!staticData.processedMsgs) staticData.processedMsgs = {};\n\nconst msgKey = `${event.user}_${event.ts}`;\nif (staticData.processedMsgs[msgKey]) return [];\nstaticData.processedMsgs[msgKey] = Date.now();\n\nconst fourHoursAgo = Date.now() - 14400000;\nconst twoDaysAgo = Date.now() - 172800000;\nfor (const k of Object.keys(staticData.processedUrls)) if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\nfor (const k of Object.keys(staticData.processedMsgs)) if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n\nconst results = [];\nfor (const url of validUrls) {\n  const isDuplicate = staticData.processedUrls[url] > fourHoursAgo;\n  if (!isDuplicate) staticData.processedUrls[url] = Date.now();\n  results.push({ json: { isDuplicate, url, slack_channel: event.channel, slack_user: event.user, slack_ts: event.ts } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        1616
      ],
      "id": "1aa4affc-1c1f-4d7f-adfc-f990872a9987",
      "name": "Extract URL & Deduplicate"
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2944,
        1616
      ],
      "id": "3c63c0a6-8cc6-4032-80de-6f82a786677b",
      "name": "Respond 200 (Ack)"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { challenge: $json.body.challenge } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        1424
      ],
      "id": "882fc157-cad7-4ed4-ad8b-a407eee9f753",
      "name": "Return Challenge"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3216,
        1424
      ],
      "id": "04364112-d946-4960-8720-ea8a9cffe1f9",
      "name": "Respond 200 (Challenge)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "url-verify-check",
              "leftValue": "={{$json[\"body\"][\"type\"]}}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2704,
        1520
      ],
      "id": "f9956583-d141-4a6f-af26-2b5bbe6d1818",
      "name": "Is URL Verification?"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2448,
        1520
      ],
      "id": "e592cb0a-9b8a-4a7a-b54f-08acc2bf524e",
      "name": "Webhook",
      "webhookId": "d63266c1-1b49-4fc1-8530-cbdb5e8fb27f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "error-check-direct",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4144,
        1904
      ],
      "id": "a006a871-9ca5-450b-8b4b-bfb60fcb0680",
      "name": "Has Direct Error?"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.data || $json.body || $json.content || '';\nconst prevData = $('Needs Jina Fallback?').first().json;\nconst url = prevData.url || '';\n\nif (!raw || (typeof raw === 'string' && raw.length < 200)) {\n  let reason = prevData.error || 'Could not extract article text.';\n  if (reason === 'Direct extraction failed') reason += ' Jina Reader also failed — site may require login or block automated access.';\n  return [{ json: { error: reason, url, needsJina: false } }];\n}\n\nlet text = typeof raw === 'string' ? raw : JSON.stringify(raw);\nconst MAX_LEN = 12000;\n\ntext = text.replace(/^Title:.*\\n/i, '').replace(/^URL Source:.*\\n/i, '').replace(/^Markdown Content:\\n/i, '').replace(/!\\[.*?\\]\\(.*?\\)/g, '').replace(/\\[([^\\]]+)\\]\\(.*?\\)/g, '$1').replace(/#{1,6}\\s*/g, '').replace(/[*_]{1,3}/g, '').replace(/\\s+/g, ' ').trim();\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\n\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\n\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\n\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\nreturn [{ json: { article: text, url, language, charCount: text.length, needsJina: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        1616
      ],
      "id": "310619e4-dda5-4238-98cf-37e261a926d2",
      "name": "Parse Jina Response"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/plain"
            },
            {
              "name": "X-Return-Format",
              "value": "text"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4384,
        1616
      ],
      "id": "475c2efd-8863-4b11-bbdb-8096e83e1c50",
      "name": "Jina Reader Fallback",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "needs-jina-check",
              "leftValue": "={{ $json.needsJina }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4144,
        1712
      ],
      "id": "b4bbebcc-2679-4da0-8622-d22388433da0",
      "name": "Needs Jina Fallback?"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemma-4-31b",
          "mode": "list",
          "cachedResultName": "google/gemma-4-31b"
        },
        "options": {
          "frequencyPenalty": 0.3,
          "maxTokens": 8192,
          "presencePenalty": 0.1,
          "temperature": 0.3,
          "timeout": 120000,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5216,
        2048
      ],
      "id": "64af75b3-7473-43c5-90d8-df64de9edf80",
      "name": "Local LLM",
      "credentials": {
        "openAiApi": {
          "id": "uMyYbtW8Gx4me1fP",
          "name": "Macbook Pro m3 Max"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert article summarizer. Output ONLY valid JSON — no markdown fences, no preamble, no thinking. Do NOT use <think> tags or internal reasoning. Respond immediately with JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5312,
        1728
      ],
      "id": "e2e8d10b-03ad-4927-be00-e4a2795a3b14",
      "name": "AI Summarizer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4864,
        1616
      ],
      "id": "f651c09b-1bb7-4dd9-94db-c150e6dad5ac",
      "name": "Has Error?"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        5376,
        2048
      ],
      "id": "cf38669b-fd09-4860-8398-fd90cb7f9f6e",
      "name": "OpenRouter Fallback",
      "credentials": {
        "openRouterApi": {
          "id": "hGAnvpSAhWRbFktq",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const article = $json.article || '';\nconst language = $json.language || 'en';\nconst url = $json.url || '';\nconst langNames = { he: 'Hebrew', ru: 'Russian', en: 'English' };\nconst langName = langNames[language] || 'English';\n\nconst forbiddenByLang = {\n  en: `- Sentences starting with \"This [strategic/operational/fiscal/historical/massive/technical/new generation/latest] [noun]...\".\n- Sentences starting with \"Such a...\", \"This shift...\", \"This move...\", \"This transition...\", \"This effort...\", \"This release...\", \"This situation...\".\n- Phrases: \"aims to ensure\", \"serves as\", \"positions the\", \"highlights the current\", \"mirrors these\", \"reflects the\", \"underscores the\", \"represents a milestone\", \"introduces\".\n- Closing/summary sentences that restate the bullet in different words.\n- \"Future developments will likely...\", \"The company continues to...\", \"This ensures that...\".`,\n  he: `- משפטים הפותחים ב־\"צעד זה\", \"מהלך זה\", \"הדבר מעיד\", \"בכך\", \"מדובר ב...חשוב/משמעותי/אסטרטגי\", \"זהו שינוי\", \"מהלך אסטרטגי\", \"החלטה זו\", \"שינוי זה\".\n- ביטויי מילוי: \"נועד להבטיח\", \"משקף את\", \"מדגיש את\", \"מהווה אבן דרך\", \"מסמל\", \"מעיד על חשיבות\", \"מצביע על\", \"בעתיד הקרוב צפוי\".\n- משפטי סיכום בסוף כל נקודה המנסחים מחדש מה שכבר נאמר.\n- \"החברה ממשיכה\", \"מהלך זה מבטיח\", \"זהו שלב חשוב\".`,\n  ru: `- Предложения, начинающиеся с \"Это стратегическое...\", \"Данный шаг...\", \"Это решение...\", \"Такой подход...\", \"Это изменение...\", \"Этот переход...\".\n- Фразы-наполнители: \"направлено на обеспечение\", \"служит основой\", \"отражает\", \"подчёркивает\", \"знаменует\", \"является важным шагом\".\n- Завершающие/итоговые предложения, перефразирующие уже сказанное.\n- \"В ближайшем будущем ожидается...\", \"Компания продолжает...\", \"Это обеспечит...\".`\n};\nconst forbiddenList = forbiddenByLang[language] || forbiddenByLang.en;\n\nconst verbatimByLang = {\n  en: `Copy names, titles, ranks, numbers, quotes, and technical terms exactly as written in the article. Never paraphrase a proper noun into a generic description.`,\n  he: `העתק במדויק שמות אנשים, תארים, דרגות, מספרים, ציטוטים, ומונחים מקצועיים כפי שהם מופיעים במאמר. לעולם אל תפרוש ראשי תיבות (למשל צה\"ל, מל\"ל, מנכ\"ל, ח\"כ, שב\"כ) — השאר אותם כפי שהם. אל תחליף כינויים רשמיים בכינויים עממיים.`,\n  ru: `Копируйте имена, должности, звания, числа, цитаты и технические термины точно как в статье. Никогда не перефразируйте имена собственные и аббревиатуры.`\n};\nconst verbatimRule = verbatimByLang[language] || verbatimByLang.en;\n\nconst prompt = `Summarize the following article in ${langName}.\n\nOUTPUT FORMAT:\n- Output ONLY valid JSON, no markdown fences, no extra text.\n- Return a short headline title (5-10 words max) and exactly 5 bullet points.\n- The title should be a compelling headline capturing the main event or topic.\n- Do NOT repeat the title content in the first bullet point.\n- The title and all bullets MUST be written in ${langName}.\n\nBULLET QUALITY REQUIREMENTS (critical — read carefully):\n- Each bullet: 3-5 sentences, 60-110 words. Every sentence must contain a DIFFERENT concrete fact from the article.\n- A \"concrete fact\" is: a named person with their title/role, a specific number or statistic, a specific date or timeframe, a direct quote, a named organization, a named location, a specific product or technology, a specific action taken, or a specific decision made.\n- ${verbatimRule}\n- Each bullet must cover a DIFFERENT aspect of the story. Zero content overlap between bullets.\n- Do NOT invent or guess facts not stated in the article.\n- Do NOT include bullet characters (•) inside the bullet strings.\n- Do NOT include disclaimers like \"no further details available\".\n\nSUGGESTED STRUCTURE (pick 5 angles that fit the article):\n1. Core announcement or event — who, what, when, with specific numbers.\n2. Key people involved — full names, titles, organizations, specific quotes or directives.\n3. Technical or operational details — specific products, systems, figures, dates, locations.\n4. Background or context stated in the article — prior events, historical references, prior statements (only if explicitly in the article).\n5. Concrete next steps or outcomes stated in the article — planned actions, confirmed dates, named successors or replacements.\n\nFORBIDDEN — do NOT write any of these (in ${langName}):\n${forbiddenList}\n- Cause-effect chains that YOU invent. Only include cause-effect if the article explicitly states it.\n- Any sentence that could be deleted without losing a new fact.\n\nWRITING PATTERN FOR EACH SENTENCE:\n[Named person or organization with title] + [specific verb describing action] + [specific object: number, quote, date, location, product, or named entity].\n\nExample in English: \"Secretary of Defense Pete Hegseth met with General Motors CEO Mary Barra on Tuesday in Detroit to discuss converting two ISV production lines to munitions output.\"\nNOT: \"This strategic meeting aims to strengthen the industrial base.\" (no named person, no specific verb, no specific object — pure filler.)\n\nדוגמה בעברית: \"ראש הממשלה בנימין נתניהו הורה ביום שלישי לצה\\\"ל להרחיב את המבצע בדרום רצועת עזה, לאחר פגישה של קבינט המלחמה בקריה בתל אביב.\"\nלא: \"מהלך זה נועד להבטיח את ביטחון המדינה.\" (אין שם אדם, אין פעולה ספציפית, אין פרט קונקרטי — מילוי בלבד.)\n\nSELF-CHECK before finalizing each bullet:\n- Does every sentence contain a NEW named entity, number, date, or quote?\n- If any sentence could be deleted without losing a fact, DELETE IT.\n- If any sentence is generic commentary (starts with \"This/Such/מהלך זה/Данный шаг\"), DELETE IT.\n- If the bullet now has only 1-2 sentences left, that's fine — a short factual bullet is better than a padded one.\n\nCRITICAL JSON RULE: The \"bullets\" key must appear EXACTLY ONCE, containing an array of exactly 5 strings.\n\nCorrect format:\n{\"title\": \"Headline here\", \"bullets\": [\"First point...\", \"Second point...\", \"Third point...\", \"Fourth point...\", \"Fifth point...\"]}\n\nArticle:\n${article}`;\n\nreturn [{ json: { prompt, language, url } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5104,
        1728
      ],
      "id": "2b995fab-5e98-432e-82a1-2afdf5adb108",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel }}",
          "mode": "id"
        },
        "text": "=ℹ️ This URL was already summarized recently.",
        "otherOptions": {
          "mrkdwn": true,
          "unfurl_links": false,
          "unfurl_media": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3648,
        1424
      ],
      "id": "73ae6dd8-c8f1-4c67-a5c2-b0ae5ac691df",
      "name": "Send Duplicate Notice",
      "webhookId": "4c109572-f287-4e64-9bda-ffb85c1243de",
      "credentials": {
        "slackApi": {
          "id": "I5astSkOODZZU76Y",
          "name": "n8n Summery"
        }
      }
    }
  ],
  "connections": {
    "Fetch Page": {
      "main": [
        [
          {
            "node": "Extract Text & Detect Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Format": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text & Detect Language": {
      "main": [
        [
          {
            "node": "Has Direct Error?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Needs Jina Fallback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Send Duplicate Notice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL & Deduplicate": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 (Ack)": {
      "main": [
        [
          {
            "node": "Extract URL & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Challenge": {
      "main": [
        [
          {
            "node": "Respond 200 (Challenge)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is URL Verification?": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 (Ack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Is URL Verification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Direct Error?": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Jina Response": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Reader Fallback": {
      "main": [
        [
          {
            "node": "Parse Jina Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Jina Fallback?": {
      "main": [
        [
          {
            "node": "Jina Reader Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarizer": {
      "main": [
        [
          {
            "node": "Validate & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarizer",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "AI Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "binaryMode": "separate"
  },
  "staticData": {
    "global": {
      "metrics": {
        "total": 216,
        "success": 216,
        "processed": null
      },
      "processedUrls": {
        "https://news.walla.co.il/item/3836484": 1778303508249,
        "https://news.walla.co.il/item/3836551": 1778306834802,
        "https://news.walla.co.il/item/3836681": 1778358809145,
        "https://www.one.co.il/Article/522105.html": 1778359732275,
        "https://sports.walla.co.il/item/3836536": 1778359797613,
        "https://news.walla.co.il/item/3836564": 1778360048011,
        "https://sports.walla.co.il/item/3836695": 1778360998915
      },
      "processedEvents": {
        "1762243942.321019-undefined": 1762243945452
      },
      "processedMessages": {
        "U08AYDL2FQD_1771354645.863239": 1771354647255
      },
      "processedMsgs": {
        "U08AYDL2FQD_1778303455.790359": 1778303456943,
        "U08AYDL2FQD_1778306791.162449": 1778306793457,
        "U08AYDL2FQD_1778358788.201599": 1778358790364,
        "U08AYDL2FQD_1778359691.613569": 1778359693583,
        "U08AYDL2FQD_1778359761.950059": 1778359762915,
        "U08AYDL2FQD_1778359988.145059": 1778359989703,
        "U08AYDL2FQD_1778360933.557259": 1778360935851
      },
      "pendingUrls": {
        "https://news.walla.co.il/item/3831241": 1776361149601,
        "https://news.walla.co.il/item/3831112": 1776361280801
      },
      "retryQueue": {}
    },
    "node:⏰ Retry Cron (5m)": {
      "recurrenceRules": []
    },
    "node:⏰ Bot ID Cron (24h)": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "99ef0d4b-b6d5-449a-877b-63048fd8f6ba",
  "activeVersionId": "99ef0d4b-b6d5-449a-877b-63048fd8f6ba",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T09:14:00.820Z",
      "createdAt": "2025-10-31T09:14:00.820Z",
      "role": "workflow:owner",
      "workflowId": "GzAlS0kt9q4YI0n7",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-09T21:08:12.000Z",
    "createdAt": "2026-05-09T21:08:11.544Z",
    "versionId": "99ef0d4b-b6d5-449a-877b-63048fd8f6ba",
    "workflowId": "GzAlS0kt9q4YI0n7",
    "nodes": [
      {
        "parameters": {
          "content": "Add this temporarily to the top of your Extract URL & Deduplicate node to reset all saved websites\n\n$getWorkflowStaticData('global').processedUrls = {}; ",
          "height": 96,
          "width": 656,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2880,
          4464
        ],
        "typeVersion": 1,
        "id": "224b9d40-937c-4d50-b0ff-1fa0ca034904",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "Add this temporarily to the top of your Extract URL & Deduplicate node to reset all saved websites\n\n$getWorkflowStaticData('global').processedUrls = {}; ",
          "height": 80,
          "width": 656,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1840,
          896
        ],
        "typeVersion": 1,
        "id": "856e2ac9-5ac0-432d-85d3-d6c7ad58fdc2",
        "name": "Sticky Note",
        "disabled": true
      },
      {
        "parameters": {
          "url": "={{$json.url}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept",
                "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
              },
              {
                "name": "Accept-Language",
                "value": "en-US,en;q=0.9,he;q=0.8,ru;q=0.7"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {
                "maxRedirects": 5
              }
            },
            "response": {
              "response": {
                "fullResponse": true
              }
            },
            "timeout": 15000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3680,
          1712
        ],
        "id": "ea559ea6-e72b-4fa0-bf38-aad08d3bf11a",
        "name": "Fetch Page",
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "parameters": {
          "jsCode": "const err = $json.error || 'Unknown error';\nconst url = $json.url || '';\nconst lang = $json.language || 'en';\nconst channel = $('Is Duplicate?').first().json.slack_channel || $('Extract URL & Deduplicate').first().json.slack_channel || '';\n\ntry {\n  const staticData = $getWorkflowStaticData('global');\n  if (staticData.processedUrls && url) delete staticData.processedUrls[url];\n} catch (e) {}\n\nconst msgs = { he: '⚠️ נכשל בסיכום המאמר', ru: '⚠️ Не удалось обобщить статью', en: '⚠️ Failed to summarize article' };\nconst reasons = { he: 'סיבה:', ru: 'Причина:', en: 'Reason:' };\nreturn [{ json: { text: `${msgs[lang] || msgs.en}\\n${reasons[lang] || reasons.en} ${err}`, slack_channel: channel } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4864,
          1888
        ],
        "id": "4321e6c4-d9d7-495a-8112-1dd7bffed686",
        "name": "Format Error"
      },
      {
        "parameters": {
          "jsCode": "let raw = $json.output || $json.text || $json.content || '';\nif (typeof raw !== 'string') raw = JSON.stringify(raw);\n\nconst url = $('Build Prompt').first().json.url || '';\nconst language = $('Build Prompt').first().json.language || 'en';\nconst slack_channel = $('Is Duplicate?').first().json.slack_channel || $('Extract URL & Deduplicate').first().json.slack_channel || '';\n\nconst decodeEntities = (str) => str\n  .replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n  .replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\").replace(/&#x27;/g, \"'\")\n  .replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(Number(n)));\n\ntry {\n  const unwrapped = JSON.parse(raw);\n  if (typeof unwrapped === 'string') raw = unwrapped;\n} catch (e) {}\n\nraw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n\nlet s = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '');\n\n// Escape Hebrew acronym quotes (e.g., צה\"ל, מנכ״ל)\ns = s.replace(/([\\u0590-\\u05FF])[\"״\\u201C\\u201D]([\\u0590-\\u05FF])/g, '$1\\\\\"$2');\n\n// Merge duplicate bullets keys\nif ((s.match(/\"bullets\"\\s*:/g) || []).length > 1) {\n  const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n  const allBullets = [];\n  const bulletRx = /\"bullets\"\\s*:\\s*\\[\\s*\"((?:[^\"\\\\]|\\\\.)*)\"\\s*\\]/g;\n  let bm;\n  while ((bm = bulletRx.exec(s)) !== null) allBullets.push(bm[1]);\n  if (tm && allBullets.length > 1) s = JSON.stringify({ title: tm[1], bullets: allBullets });\n}\n\nconst si = s.indexOf('{');\nconst ei = s.lastIndexOf('}');\nif (si > -1 && ei > si) s = s.substring(si, ei + 1);\n\ns = s.replace(/[\\r\\n]+/g, ' ').replace(/[\\u2018\\u2019]/g, \"'\").replace(/[\\u201C\\u201D]/g, '\"').trim();\n\nlet title = 'Summary';\nlet bullets = [];\n\ntry {\n  const obj = JSON.parse(s);\n  title = obj.title || 'Summary';\n  bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n} catch (e) {\n  try {\n    let fixed = s.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n    const obj = JSON.parse(fixed);\n    title = obj.title || 'Summary';\n    bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n  } catch (e2) {\n    try {\n      let repair = s;\n      const openBrackets = (repair.match(/\\[/g) || []).length;\n      const closeBrackets = (repair.match(/\\]/g) || []).length;\n      const openBraces = (repair.match(/\\{/g) || []).length;\n      const closeBraces = (repair.match(/\\}/g) || []).length;\n      const quotes = repair.match(/(?<!\\\\)\"/g) || [];\n      if (quotes.length % 2 !== 0) repair += '\"';\n      for (let i = 0; i < (openBrackets - closeBrackets); i++) repair += ']';\n      for (let i = 0; i < (openBraces - closeBraces); i++) repair += '}';\n      repair = repair.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n      const obj = JSON.parse(repair);\n      title = obj.title || 'Summary';\n      bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n    } catch (e3) {\n      try {\n        const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        if (tm) title = tm[1].replace(/\\\\\"/g, '\"').replace(/\\\\n/g, ' ');\n        const bulletsStart = s.indexOf('\"bullets\"');\n        if (bulletsStart > -1) {\n          const afterBullets = s.substring(bulletsStart);\n          const bracketStart = afterBullets.indexOf('[');\n          if (bracketStart > -1) {\n            const bulletsContent = afterBullets.substring(bracketStart + 1);\n            const completeStrings = [];\n            let inString = false;\n            let current = '';\n            let escaped = false;\n            for (let i = 0; i < bulletsContent.length; i++) {\n              const ch = bulletsContent[i];\n              if (escaped) { current += ch; escaped = false; continue; }\n              if (ch === '\\\\') { current += ch; escaped = true; continue; }\n              if (ch === '\"') {\n                if (inString) {\n                  if (current.length > 25) completeStrings.push(current.replace(/\\\\\"/g, '\"').replace(/\\\\n/g, ' '));\n                  current = ''; inString = false;\n                } else {\n                  inString = false; current = ''; inString = true;\n                }\n              } else if (inString) current += ch;\n            }\n            if (completeStrings.length > 0) bullets = completeStrings;\n          }\n        }\n      } catch (e4) {\n        const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        const bm = s.match(/\"bullets\"\\s*:\\s*\\[([\\s\\S]*?)\\]/);\n        if (tm) title = tm[1];\n        if (bm) bullets = [...bm[1].matchAll(/\"((?:[^\"\\\\]|\\\\.){10,})\"/g)].map(m => m[1]).filter(b => b.length > 15);\n      }\n    }\n  }\n}\n\ntitle = decodeEntities(title);\n\n// Clean bullets — strip leading markers, replace any INTERNAL • with space (don't split on it!)\nbullets = bullets\n  .map(b => {\n    let cleaned = String(b)\n      .replace(/^[•\\-\\s]+/, '')\n      .replace(/\\s*•\\s*/g, ' ')\n      .replace(/\\.{2,}/g, '.')\n      .replace(/\\s+/g, ' ')\n      .replace(/\\\\n/g, ' ')\n      .replace(/\\\\\"/g, '\"')\n      .trim();\n    return decodeEntities(cleaned);\n  })\n  .filter(b => {\n    if (!b || b.length < 25) return false;\n    const lc = b.toLowerCase();\n    return !lc.includes('no further details') && !lc.includes('no additional details') &&\n           !lc.includes('לא נמצאו פרטים') && !lc.includes('אין פרטים') &&\n           !lc.includes('информация недоступна');\n  });\n\nif (bullets.length === 0) {\n  const noContent = { he: 'לא הצלחתי לחלץ מידע מהמאמר', ru: 'Не удалось извлечь информацию', en: 'Could not extract summary from article' };\n  return [{ json: { text: `⚠️ ${noContent[language] || noContent.en}`, slack_channel } }];\n}\n\n// POST-PROCESS: Strip filler/editorializing sentences that the model adds despite prompt rules\nconst PADDING_PATTERNS = [\n  // English filler\n  /\\s*This\\s+(strategic|operational|fiscal|historical|massive|directive|depletion|transition|situation|shift|outreach|move|decision|availability|technical|effort|release|step|approach|new\\s+generation|latest\\s+\\w+)\\s+\\S+[^.!?]*[.!?]/gi,\n  /\\s*This\\s+\\w+\\s+(aims|seeks|intends|ensures|serves|supports|highlights|mirrors|positions|reflects|demonstrates|underscores|represents|illustrates|facilitates|creates|introduces|marks|signals|offers)\\s+[^.!?]*[.!?]/gi,\n  /\\s*Such\\s+(a|an)\\s+\\S+\\s+(would|will|serves|reflects|demonstrates|transforms|ensures)\\s+[^.!?]*[.!?]/gi,\n  /\\s*These\\s+\\S+\\s+(ensure|ensures|serve|serves|support|supports|reflect|reflects)\\s+[^.!?]*[.!?]/gi,\n  /\\s*The\\s+(company|article|report)\\s+(continues|aims|seeks)\\s+[^.!?]*[.!?]/gi,\n  /\\s*Future\\s+developments\\s+[^.!?]*[.!?]/gi,\n  // Hebrew filler\n  /\\s*(מהלך|צעד|שינוי|מעבר|מצב|החלטה)\\s+זה\\s+[^.!?]*[.!?]/g,\n  /\\s*מדובר\\s+ב\\S*\\s+(חשוב|משמעותי|אסטרטגי|היסטורי)[^.!?]*[.!?]/g,\n  /\\s*בכך\\s+\\S+\\s+(מחזקת|מבטיח|מדגיש)[^.!?]*[.!?]/g,\n  // Russian filler\n  /\\s*(Это|Данный|Такой)\\s+(стратегическое|стратегический|шаг|решение|подход|изменение|переход|сдвиг)\\s+[^.!?]*[.!?]/g\n];\n\nbullets = bullets.map(b => {\n  let cleaned = b;\n  for (const rx of PADDING_PATTERNS) cleaned = cleaned.replace(rx, '');\n  cleaned = cleaned.replace(/\\s+/g, ' ').trim();\n  if (cleaned && !/[.!?]$/.test(cleaned)) cleaned += '.';\n  return cleaned;\n}).filter(b => b.length > 25);\n\nif (bullets.length === 0) {\n  const noContent = { he: 'לא נותר תוכן לאחר סינון', ru: 'После фильтрации контент не остался', en: 'No content remaining after filtering' };\n  return [{ json: { text: `⚠️ ${noContent[language] || noContent.en}`, slack_channel } }];\n}\n\ntry {\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.processedUrls) staticData.processedUrls = {};\n  staticData.processedUrls[url] = Date.now();\n} catch (e) {}\n\nconst RLM = '\\u200F';\nconst LRM = '\\u200E';\nconst wrapLatin = t => {\n  const protectd = t.replace(/([\\u0590-\\u05FF]+[\"'״׳\\u05F3\\u05F4][\\u0590-\\u05FF]+)/g, (m) => `\\x01${m}\\x01`);\n  const wrapped = protectd.replace(/([A-Za-z0-9]{2,}(?:[.,:/\\-][A-Za-z0-9]+)*)/g, `${LRM}$1${LRM}`);\n  return wrapped.replace(/\\x01/g, '');\n};\n\nlet titleLine, bulletLines;\n\nif (language === 'he') {\n  const wt = url ? `<${url}|${wrapLatin(title)}>` : wrapLatin(title);\n  titleLine = `${RLM}סיכום: ${wt}`;\n  bulletLines = bullets.map(b => `${RLM}• ${wrapLatin(b)}`);\n} else if (language === 'ru') {\n  titleLine = url ? `Резюме: <${url}|${title}>` : `Резюме: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n} else {\n  titleLine = url ? `Summary: <${url}|${title}>` : `Summary: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n}\n\nreturn [{ json: { text: titleLine + '\\n\\n' + bulletLines.join('\\n\\n'), slack_channel } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5728,
          1728
        ],
        "id": "3cb2723d-e9c9-4d40-9714-0516d0be041f",
        "name": "Validate & Format"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "={{ $json.slack_channel }}",
            "mode": "id"
          },
          "text": "={{$json.text}}",
          "otherOptions": {
            "includeLinkToWorkflow": false,
            "mrkdwn": true,
            "unfurl_links": false,
            "unfurl_media": false
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          5920,
          1888
        ],
        "id": "b1b13297-49ea-40ad-b208-a0091cd12d6a",
        "name": "Send to Slack",
        "webhookId": "946820e3-d85c-43a1-a0e5-58777a4a0c86",
        "credentials": {
          "slackApi": {
            "id": "I5astSkOODZZU76Y",
            "name": "n8n Summery"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const headers = $json.headers || {};\nconst contentType = (headers['content-type'] || headers['Content-Type'] || '').toLowerCase();\nconst url = $('Is Duplicate?').first().json.url || '';\n\nconst decodeEntities = (str) => str\n  .replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n  .replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\").replace(/&#x27;/g, \"'\")\n  .replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(Number(n)));\n\nif (contentType && !contentType.includes('text/html') && !contentType.includes('application/xhtml') && !contentType.includes('text/plain')) {\n  return [{ json: { error: `Non-HTML content (${contentType.split(';')[0]}). Cannot extract article text.`, url, needsJina: false } }];\n}\nconst html = $json.body || $json.data || $json.html || $json.content || '';\nif (!html || (typeof html === 'string' && html.length < 100)) {\n  return [{ json: { error: 'No HTML content received', url, needsJina: true } }];\n}\nconst MAX_LEN = 12000;\nlet text = '';\ntry {\n  const ld = html.match(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\n  if (ld) { const d = JSON.parse(ld[1]); if (d.articleBody && d.articleBody.length > 300) text = d.articleBody; }\n} catch (e) {}\nif (text.length < 300) {\n  const art = html.match(/<article[^>]*>([\\s\\S]*?)<\\/article>/i);\n  if (art) {\n    const ex = art[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<aside[\\s\\S]*?<\\/aside>/gi,'').replace(/<footer[\\s\\S]*?<\\/footer>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\nif (text.length < 300) {\n  const main = html.match(/<main[^>]*>([\\s\\S]*?)<\\/main>/i);\n  if (main) {\n    const ex = main[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\nif (text.length < 300) {\n  const pat = /<div[^>]*class=\"[^\"]*(?:art_body|article_text|article-body|post-content|entry-content|story-body|article__content|content-body)[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/i;\n  const match = html.match(pat);\n  if (match) { const ex = match[1].replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim(); if (ex.length > text.length) text = ex; }\n}\nif (text.length < 300) {\n  const paras = html.match(/<p[^>]*>(.*?)<\\/p>/gis);\n  if (paras && paras.length > 3) {\n    const good = paras.map(p => p.replace(/<[^>]+>/g,'').trim()).filter(p => p.length > 40 && !/cookie|privacy|subscribe|newsletter|הרשמה|פרטיות/i.test(p));\n    if (good.length >= 3) text = good.join('\\n\\n');\n  }\n}\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\nif (!text || text.length < 200) {\n  return [{ json: { error: 'Direct extraction failed', url, needsJina: true } }];\n}\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\ntext = decodeEntities(text);\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\nreturn [{ json: { article: text, url, language, charCount: text.length, needsJina: false } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3904,
          1712
        ],
        "id": "65c7cd3e-1267-4662-8c7c-d358a0d2312d",
        "name": "Extract Text & Detect Language"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "dup-check",
                "leftValue": "={{ $json.isDuplicate }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3424,
          1616
        ],
        "id": "085d15ee-9c28-4b18-8f0f-99e44957ebe4",
        "name": "Is Duplicate?"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body || $json;\nconst event = body.event || {};\nconst headers = $json.headers || {};\n\nif (headers['x-slack-retry-num']) return [];\n\nconst BOT_USER_ID = 'U07K8QJ9XYZ';\n\nif (event.subtype === 'message_changed') {\n  const prev = event.previous_message?.text || '';\n  const curr = event.message?.text || '';\n  if (prev === curr) return [];\n\n  const extractUrls = (text) => {\n    const urls = new Set();\n    const slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\n    let m;\n    while ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\n    const plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}|]+/g;\n    while ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n    return urls;\n  };\n\n  const prevUrls = extractUrls(prev);\n  const currUrls = extractUrls(curr);\n  const newUrls = [...currUrls].map(u => u.split('|')[0]).filter(u => !prevUrls.has(u) && u.match(/^https?:\\/\\/.+\\..+/));\n\n  if (newUrls.length === 0) return [];\n\n  const user = event.message?.user || event.previous_message?.user || '';\n  if (!user || user === BOT_USER_ID || event.message?.bot_id) return [];\n\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.processedUrls) staticData.processedUrls = {};\n  if (!staticData.processedMsgs) staticData.processedMsgs = {};\n\n  const msgKey = `${user}_${event.message?.ts || event.ts}_edited`;\n  if (staticData.processedMsgs[msgKey]) return [];\n  staticData.processedMsgs[msgKey] = Date.now();\n\n  const twoDaysAgo = Date.now() - 172800000;\n  for (const k of Object.keys(staticData.processedUrls)) if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\n  for (const k of Object.keys(staticData.processedMsgs)) if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n\n  const results = [];\n  const fourHoursAgo = Date.now() - 14400000;\n  for (const url of newUrls) {\n    const isDuplicate = staticData.processedUrls[url] > fourHoursAgo;\n    if (!isDuplicate) staticData.processedUrls[url] = Date.now();\n    results.push({ json: { isDuplicate, url, slack_channel: event.channel, slack_user: user, slack_ts: event.message?.ts || event.ts } });\n  }\n  return results;\n}\n\nconst skipSubtypes = ['bot_message','message_deleted','channel_join','channel_leave','channel_topic','channel_purpose','file_share','pinned_item','unpinned_item'];\nif (event.subtype && skipSubtypes.includes(event.subtype)) return [];\nif (event.type !== 'message' || event.bot_id || event.user === BOT_USER_ID || !event.text) return [];\n\nconst text = event.text || '';\nconst urls = new Set();\nconst slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\nlet m;\nwhile ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\nconst plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}|]+/g;\nwhile ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n\nconst validUrls = [...urls].map(u => u.split('|')[0]).filter(u => u.match(/^https?:\\/\\/.+\\..+/));\nif (validUrls.length === 0) return [];\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedUrls) staticData.processedUrls = {};\nif (!staticData.processedMsgs) staticData.processedMsgs = {};\n\nconst msgKey = `${event.user}_${event.ts}`;\nif (staticData.processedMsgs[msgKey]) return [];\nstaticData.processedMsgs[msgKey] = Date.now();\n\nconst fourHoursAgo = Date.now() - 14400000;\nconst twoDaysAgo = Date.now() - 172800000;\nfor (const k of Object.keys(staticData.processedUrls)) if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\nfor (const k of Object.keys(staticData.processedMsgs)) if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n\nconst results = [];\nfor (const url of validUrls) {\n  const isDuplicate = staticData.processedUrls[url] > fourHoursAgo;\n  if (!isDuplicate) staticData.processedUrls[url] = Date.now();\n  results.push({ json: { isDuplicate, url, slack_channel: event.channel, slack_user: event.user, slack_ts: event.ts } });\n}\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3216,
          1616
        ],
        "id": "1aa4affc-1c1f-4d7f-adfc-f990872a9987",
        "name": "Extract URL & Deduplicate"
      },
      {
        "parameters": {
          "respondWith": "text",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          2944,
          1616
        ],
        "id": "3c63c0a6-8cc6-4032-80de-6f82a786677b",
        "name": "Respond 200 (Ack)"
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { challenge: $json.body.challenge } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2944,
          1424
        ],
        "id": "882fc157-cad7-4ed4-ad8b-a407eee9f753",
        "name": "Return Challenge"
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          3216,
          1424
        ],
        "id": "04364112-d946-4960-8720-ea8a9cffe1f9",
        "name": "Respond 200 (Challenge)"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "url-verify-check",
                "leftValue": "={{$json[\"body\"][\"type\"]}}",
                "rightValue": "url_verification",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2704,
          1520
        ],
        "id": "f9956583-d141-4a6f-af26-2b5bbe6d1818",
        "name": "Is URL Verification?"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "slack-events",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          2448,
          1520
        ],
        "id": "e592cb0a-9b8a-4a7a-b54f-08acc2bf524e",
        "name": "Webhook",
        "webhookId": "d63266c1-1b49-4fc1-8530-cbdb5e8fb27f"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "error-check-direct",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4144,
          1904
        ],
        "id": "a006a871-9ca5-450b-8b4b-bfb60fcb0680",
        "name": "Has Direct Error?"
      },
      {
        "parameters": {
          "jsCode": "const raw = $json.data || $json.body || $json.content || '';\nconst prevData = $('Needs Jina Fallback?').first().json;\nconst url = prevData.url || '';\n\nif (!raw || (typeof raw === 'string' && raw.length < 200)) {\n  let reason = prevData.error || 'Could not extract article text.';\n  if (reason === 'Direct extraction failed') reason += ' Jina Reader also failed — site may require login or block automated access.';\n  return [{ json: { error: reason, url, needsJina: false } }];\n}\n\nlet text = typeof raw === 'string' ? raw : JSON.stringify(raw);\nconst MAX_LEN = 12000;\n\ntext = text.replace(/^Title:.*\\n/i, '').replace(/^URL Source:.*\\n/i, '').replace(/^Markdown Content:\\n/i, '').replace(/!\\[.*?\\]\\(.*?\\)/g, '').replace(/\\[([^\\]]+)\\]\\(.*?\\)/g, '$1').replace(/#{1,6}\\s*/g, '').replace(/[*_]{1,3}/g, '').replace(/\\s+/g, ' ').trim();\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\n\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\n\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\n\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\nreturn [{ json: { article: text, url, language, charCount: text.length, needsJina: false } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4624,
          1616
        ],
        "id": "310619e4-dda5-4238-98cf-37e261a926d2",
        "name": "Parse Jina Response"
      },
      {
        "parameters": {
          "url": "=https://r.jina.ai/{{ $json.url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "text/plain"
              },
              {
                "name": "X-Return-Format",
                "value": "text"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {
                "maxRedirects": 5
              }
            },
            "timeout": 30000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4384,
          1616
        ],
        "id": "475c2efd-8863-4b11-bbdb-8096e83e1c50",
        "name": "Jina Reader Fallback",
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "needs-jina-check",
                "leftValue": "={{ $json.needsJina }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4144,
          1712
        ],
        "id": "b4bbebcc-2679-4da0-8622-d22388433da0",
        "name": "Needs Jina Fallback?"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "google/gemma-4-31b",
            "mode": "list",
            "cachedResultName": "google/gemma-4-31b"
          },
          "options": {
            "frequencyPenalty": 0.3,
            "maxTokens": 8192,
            "presencePenalty": 0.1,
            "temperature": 0.3,
            "timeout": 120000,
            "topP": 0.9
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          5216,
          2048
        ],
        "id": "64af75b3-7473-43c5-90d8-df64de9edf80",
        "name": "Local LLM",
        "credentials": {
          "openAiApi": {
            "id": "uMyYbtW8Gx4me1fP",
            "name": "Macbook Pro m3 Max"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "needsFallback": true,
          "options": {
            "systemMessage": "You are an expert article summarizer. Output ONLY valid JSON — no markdown fences, no preamble, no thinking. Do NOT use <think> tags or internal reasoning. Respond immediately with JSON."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          5312,
          1728
        ],
        "id": "e2e8d10b-03ad-4927-be00-e4a2795a3b14",
        "name": "AI Summarizer"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "error-check",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4864,
          1616
        ],
        "id": "f651c09b-1bb7-4dd9-94db-c150e6dad5ac",
        "name": "Has Error?"
      },
      {
        "parameters": {
          "model": "openai/gpt-5-nano",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          5376,
          2048
        ],
        "id": "cf38669b-fd09-4860-8398-fd90cb7f9f6e",
        "name": "OpenRouter Fallback",
        "credentials": {
          "openRouterApi": {
            "id": "hGAnvpSAhWRbFktq",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const article = $json.article || '';\nconst language = $json.language || 'en';\nconst url = $json.url || '';\nconst langNames = { he: 'Hebrew', ru: 'Russian', en: 'English' };\nconst langName = langNames[language] || 'English';\n\nconst forbiddenByLang = {\n  en: `- Sentences starting with \"This [strategic/operational/fiscal/historical/massive/technical/new generation/latest] [noun]...\".\n- Sentences starting with \"Such a...\", \"This shift...\", \"This move...\", \"This transition...\", \"This effort...\", \"This release...\", \"This situation...\".\n- Phrases: \"aims to ensure\", \"serves as\", \"positions the\", \"highlights the current\", \"mirrors these\", \"reflects the\", \"underscores the\", \"represents a milestone\", \"introduces\".\n- Closing/summary sentences that restate the bullet in different words.\n- \"Future developments will likely...\", \"The company continues to...\", \"This ensures that...\".`,\n  he: `- משפטים הפותחים ב־\"צעד זה\", \"מהלך זה\", \"הדבר מעיד\", \"בכך\", \"מדובר ב...חשוב/משמעותי/אסטרטגי\", \"זהו שינוי\", \"מהלך אסטרטגי\", \"החלטה זו\", \"שינוי זה\".\n- ביטויי מילוי: \"נועד להבטיח\", \"משקף את\", \"מדגיש את\", \"מהווה אבן דרך\", \"מסמל\", \"מעיד על חשיבות\", \"מצביע על\", \"בעתיד הקרוב צפוי\".\n- משפטי סיכום בסוף כל נקודה המנסחים מחדש מה שכבר נאמר.\n- \"החברה ממשיכה\", \"מהלך זה מבטיח\", \"זהו שלב חשוב\".`,\n  ru: `- Предложения, начинающиеся с \"Это стратегическое...\", \"Данный шаг...\", \"Это решение...\", \"Такой подход...\", \"Это изменение...\", \"Этот переход...\".\n- Фразы-наполнители: \"направлено на обеспечение\", \"служит основой\", \"отражает\", \"подчёркивает\", \"знаменует\", \"является важным шагом\".\n- Завершающие/итоговые предложения, перефразирующие уже сказанное.\n- \"В ближайшем будущем ожидается...\", \"Компания продолжает...\", \"Это обеспечит...\".`\n};\nconst forbiddenList = forbiddenByLang[language] || forbiddenByLang.en;\n\nconst verbatimByLang = {\n  en: `Copy names, titles, ranks, numbers, quotes, and technical terms exactly as written in the article. Never paraphrase a proper noun into a generic description.`,\n  he: `העתק במדויק שמות אנשים, תארים, דרגות, מספרים, ציטוטים, ומונחים מקצועיים כפי שהם מופיעים במאמר. לעולם אל תפרוש ראשי תיבות (למשל צה\"ל, מל\"ל, מנכ\"ל, ח\"כ, שב\"כ) — השאר אותם כפי שהם. אל תחליף כינויים רשמיים בכינויים עממיים.`,\n  ru: `Копируйте имена, должности, звания, числа, цитаты и технические термины точно как в статье. Никогда не перефразируйте имена собственные и аббревиатуры.`\n};\nconst verbatimRule = verbatimByLang[language] || verbatimByLang.en;\n\nconst prompt = `Summarize the following article in ${langName}.\n\nOUTPUT FORMAT:\n- Output ONLY valid JSON, no markdown fences, no extra text.\n- Return a short headline title (5-10 words max) and exactly 5 bullet points.\n- The title should be a compelling headline capturing the main event or topic.\n- Do NOT repeat the title content in the first bullet point.\n- The title and all bullets MUST be written in ${langName}.\n\nBULLET QUALITY REQUIREMENTS (critical — read carefully):\n- Each bullet: 3-5 sentences, 60-110 words. Every sentence must contain a DIFFERENT concrete fact from the article.\n- A \"concrete fact\" is: a named person with their title/role, a specific number or statistic, a specific date or timeframe, a direct quote, a named organization, a named location, a specific product or technology, a specific action taken, or a specific decision made.\n- ${verbatimRule}\n- Each bullet must cover a DIFFERENT aspect of the story. Zero content overlap between bullets.\n- Do NOT invent or guess facts not stated in the article.\n- Do NOT include bullet characters (•) inside the bullet strings.\n- Do NOT include disclaimers like \"no further details available\".\n\nSUGGESTED STRUCTURE (pick 5 angles that fit the article):\n1. Core announcement or event — who, what, when, with specific numbers.\n2. Key people involved — full names, titles, organizations, specific quotes or directives.\n3. Technical or operational details — specific products, systems, figures, dates, locations.\n4. Background or context stated in the article — prior events, historical references, prior statements (only if explicitly in the article).\n5. Concrete next steps or outcomes stated in the article — planned actions, confirmed dates, named successors or replacements.\n\nFORBIDDEN — do NOT write any of these (in ${langName}):\n${forbiddenList}\n- Cause-effect chains that YOU invent. Only include cause-effect if the article explicitly states it.\n- Any sentence that could be deleted without losing a new fact.\n\nWRITING PATTERN FOR EACH SENTENCE:\n[Named person or organization with title] + [specific verb describing action] + [specific object: number, quote, date, location, product, or named entity].\n\nExample in English: \"Secretary of Defense Pete Hegseth met with General Motors CEO Mary Barra on Tuesday in Detroit to discuss converting two ISV production lines to munitions output.\"\nNOT: \"This strategic meeting aims to strengthen the industrial base.\" (no named person, no specific verb, no specific object — pure filler.)\n\nדוגמה בעברית: \"ראש הממשלה בנימין נתניהו הורה ביום שלישי לצה\\\"ל להרחיב את המבצע בדרום רצועת עזה, לאחר פגישה של קבינט המלחמה בקריה בתל אביב.\"\nלא: \"מהלך זה נועד להבטיח את ביטחון המדינה.\" (אין שם אדם, אין פעולה ספציפית, אין פרט קונקרטי — מילוי בלבד.)\n\nSELF-CHECK before finalizing each bullet:\n- Does every sentence contain a NEW named entity, number, date, or quote?\n- If any sentence could be deleted without losing a fact, DELETE IT.\n- If any sentence is generic commentary (starts with \"This/Such/מהלך זה/Данный шаг\"), DELETE IT.\n- If the bullet now has only 1-2 sentences left, that's fine — a short factual bullet is better than a padded one.\n\nCRITICAL JSON RULE: The \"bullets\" key must appear EXACTLY ONCE, containing an array of exactly 5 strings.\n\nCorrect format:\n{\"title\": \"Headline here\", \"bullets\": [\"First point...\", \"Second point...\", \"Third point...\", \"Fourth point...\", \"Fifth point...\"]}\n\nArticle:\n${article}`;\n\nreturn [{ json: { prompt, language, url } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5104,
          1728
        ],
        "id": "2b995fab-5e98-432e-82a1-2afdf5adb108",
        "name": "Build Prompt"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "={{ $json.slack_channel }}",
            "mode": "id"
          },
          "text": "=ℹ️ This URL was already summarized recently.",
          "otherOptions": {
            "mrkdwn": true,
            "unfurl_links": false,
            "unfurl_media": false
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          3648,
          1424
        ],
        "id": "73ae6dd8-c8f1-4c67-a5c2-b0ae5ac691df",
        "name": "Send Duplicate Notice",
        "webhookId": "4c109572-f287-4e64-9bda-ffb85c1243de",
        "credentials": {
          "slackApi": {
            "id": "I5astSkOODZZU76Y",
            "name": "n8n Summery"
          }
        }
      }
    ],
    "connections": {
      "Fetch Page": {
        "main": [
          [
            {
              "node": "Extract Text & Detect Language",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Error": {
        "main": [
          [
            {
              "node": "Send to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate & Format": {
        "main": [
          [
            {
              "node": "Send to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Text & Detect Language": {
        "main": [
          [
            {
              "node": "Has Direct Error?",
              "type": "main",
              "index": 0
            },
            {
              "node": "Needs Jina Fallback?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Duplicate?": {
        "main": [
          [
            {
              "node": "Send Duplicate Notice",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract URL & Deduplicate": {
        "main": [
          [
            {
              "node": "Is Duplicate?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond 200 (Ack)": {
        "main": [
          [
            {
              "node": "Extract URL & Deduplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return Challenge": {
        "main": [
          [
            {
              "node": "Respond 200 (Challenge)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is URL Verification?": {
        "main": [
          [
            {
              "node": "Return Challenge",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond 200 (Ack)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Is URL Verification?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Direct Error?": {
        "main": [
          [
            {
              "node": "Format Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Jina Response": {
        "main": [
          [
            {
              "node": "Has Error?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Jina Reader Fallback": {
        "main": [
          [
            {
              "node": "Parse Jina Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Needs Jina Fallback?": {
        "main": [
          [
            {
              "node": "Jina Reader Fallback",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Local LLM": {
        "ai_languageModel": [
          [
            {
              "node": "AI Summarizer",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Summarizer": {
        "main": [
          [
            {
              "node": "Validate & Format",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Error?": {
        "main": [
          [
            {
              "node": "Format Error",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Fallback": {
        "ai_languageModel": [
          [
            {
              "node": "AI Summarizer",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Build Prompt": {
        "main": [
          [
            {
              "node": "AI Summarizer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 99ef0d4b",
    "description": "",
    "autosaved": true
  },
  "tags": []
}