PI workflows backup 2026-05-11 21-00/WhatsApp AI Bot.json
{
  "updatedAt": "2026-05-09T15:42:28.129Z",
  "createdAt": "2026-03-13T10:46:06.839Z",
  "id": "TuCodb0y457nG7iM",
  "name": "WhatsApp AI Bot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-incoming-bot",
        "options": {}
      },
      "id": "3c226315-7795-44c5-9939-a2687e4da5e2",
      "name": "Webhook - Receive WhatsApp Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        -1520
      ],
      "webhookId": "waha-incoming-bot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-chat-id",
              "leftValue": "={{ $json.body.payload.from }}",
              "rightValue": "120363426439026095@g.us",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-not-from-api",
              "leftValue": "={{ $json.body.payload.source }}",
              "rightValue": "api",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "check-not-empty",
              "leftValue": "={{ $json.body.payload.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "13829c45-41ac-4e75-b533-7c3411ddf9a1",
      "name": "Filter: AI Bot group + valid msg",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -400,
        -1520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-from",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "extract-question",
              "name": "question",
              "value": "={{ $json.body.payload.body.trim() }}",
              "type": "string"
            },
            {
              "id": "extract-sender",
              "name": "senderName",
              "value": "={{ $json.body.payload.notifyName || 'User' }}",
              "type": "string"
            },
            {
              "id": "session-key",
              "name": "sessionKey",
              "value": "={{ 'history_' + $json.body.payload.from.replace(/[^a-z0-9]/gi, '_') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9703a764-6f4c-479d-8dbd-bbd780c2af2c",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -1520
      ]
    },
    {
      "parameters": {
        "jsCode": "const key = $json.sessionKey;\nconst stored = $getWorkflowStaticData('global');\nconst raw = stored[key];\nlet history = [];\n\ntry {\n  history = raw ? JSON.parse(raw) : [];\n  if (!Array.isArray(history)) history = [];\n} catch (e) {\n  history = [];\n}\n\nconst MAX_MESSAGES = 20;\nconst MAX_CHARS = 8000;\n\nif (history.length > MAX_MESSAGES) history = history.slice(-MAX_MESSAGES);\n\nlet totalChars = history.reduce((sum, m) => sum + (m.content?.length || 0), 0);\nwhile (totalChars > MAX_CHARS && history.length > 2) {\n  const removed = history.shift();\n  totalChars -= (removed.content?.length || 0);\n}\n\nreturn [{ json: { ...$json, history } }];"
      },
      "id": "ccb486d8-8ba9-410b-9e25-509b8349f71b",
      "name": "Load History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -1520
      ]
    },
    {
      "parameters": {
        "jsCode": "const { question, history } = $json;\n\nconst hebrewChars = (question.match(/[\\u0590-\\u05FF\\uFB1D-\\uFB4F]/g) || []).length;\nconst cyrillicChars = (question.match(/[\\u0400-\\u04FF]/g) || []).length;\nconst latinChars = (question.match(/[a-zA-Z]/g) || []).length;\nconst total = hebrewChars + cyrillicChars + latinChars || 1;\nconst cleanLen = question.replace(/\\s/g, '').length;\n\nlet detectedLang = 'en';\nif (hebrewChars / total > 0.3) detectedLang = 'he';\nelse if (cyrillicChars / total > 0.3) detectedLang = 'ru';\n\nif (cleanLen < 8 && history?.length) {\n  const recentText = history.slice(-6).map(m => m.content || '').join(' ');\n  const hHe = (recentText.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const hRu = (recentText.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const hEn = (recentText.match(/[a-zA-Z]/g) || []).length;\n  if (hHe > hRu && hHe > hEn) detectedLang = 'he';\n  else if (hRu > hHe && hRu > hEn) detectedLang = 'ru';\n}\n\nreturn [{ json: { ...$json, detectedLang } }];"
      },
      "id": "15ee9312-e31d-4e43-9861-4ee6a7c4c674",
      "name": "Detect Language",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -1520
      ]
    },
    {
      "parameters": {
        "jsCode": "const { question, history, detectedLang } = $json;\n\nconst q = question.trim();\nconst lower = q.toLowerCase();\n\nconst lastAssistant = [...(history || [])].reverse().find(m => m.role === 'assistant')?.content || '';\nconst recent = [...(history || [])].slice(-10).map(m => m.content || '').join(' ');\nconst context = `${lastAssistant} ${recent}`.replace(/\\s+/g, ' ').trim();\n\nfunction includesAny(text, arr) {\n  return arr.some(x => text.includes(x));\n}\n\nconst cleanLen = q.replace(/\\s/g, '').length;\nconst isShortFollowUp = cleanLen <= 22 && (history || []).length > 0;\n\nconst ctxLower = context.toLowerCase();\n\nconst isHebrew = detectedLang === 'he';\nconst currentYear = new Date().getFullYear();\n\n// broad intents\nconst isSports = /ספורט|כדורגל|כדורסל|משחק|תוצאה|כבש|שער|טבלה|ליגה|אליפות|מלך\\s*שערים|מכבי|הפועל|score|scored|match|standings|league|football|basketball/i.test(q + ' ' + context);\nconst isPolitics = /בחירות|כנסת|ממשלה|ראש\\s*ממשלה|נשיא|שרים|קואליציה|אופוזיציה|election|knesset|government|prime minister|president/i.test(q);\nconst isWeather = /מזג\\s*אוויר|טמפרטורה|גשם|חם|קר|תחזית|weather|forecast|temperature|rain/i.test(q);\nconst isFinance = /דולר|אירו|שקל|שער|בורסה|מניה|ביטקוין|קריפטו|מחיר|exchange rate|stock|price|bitcoin|crypto|usd|eur/i.test(q);\nconst isNews = /חדשות|מה\\s*קרה|היום|עכשיו|עדכני|אחרון|latest|news|today|current|now/i.test(q);\nconst isPerson = /מי\\s+זה|מי\\s+זו|בת\\s*כמה|בן\\s*כמה|מה\\s*אמר|מה\\s*עשתה|who is|age of|what did/i.test(q);\nconst isTravel = /טיסה|מלון|מסעדה|טיול|חופשה|לאן|אטרקציות|flight|hotel|restaurant|travel|trip|attractions/i.test(q);\nconst isTech = /איך\\s*לתקן|קוד|שגיאה|api|docker|n8n|javascript|python|server|bug|error|code/i.test(q);\nconst isHistoryFact = /מתי\\s*היה|באיזה\\s*שנה|מי\\s*היה|היסטוריה|פעם\\s*אחרונה|when was|what year|history|last time/i.test(q);\n\nconst needsSearch =\n  isShortFollowUp ||\n  isSports ||\n  isPolitics ||\n  isWeather ||\n  isFinance ||\n  isNews ||\n  isPerson ||\n  isTravel ||\n  isHistoryFact;\n\n// Specific sub-intents\nconst isAllTimeQuestion = /כל\\s*הזמנים|בכל\\s*הזמנים|היסטוריה|אי\\s*פעם|all[\\s-]?time|history|ever/i.test(q);\nconst isTopScorerQuestion = /מלך\\s*שערים|מלך\\s*השערים|top scorer|goalscorer/i.test(q);\n\nlet intent = 'general';\nif (isSports) intent = 'sports';\nelse if (isPolitics) intent = 'politics';\nelse if (isWeather) intent = 'weather';\nelse if (isFinance) intent = 'finance';\nelse if (isNews) intent = 'news';\nelse if (isPerson) intent = 'person';\nelse if (isTravel) intent = 'travel';\nelse if (isTech) intent = 'tech';\nelse if (isHistoryFact) intent = 'history_fact';\n\nlet queries = [];\n\nif (isShortFollowUp && context) {\n  // Follow-up: combine previous subject with current question.\n  queries = [\n    `${context} ${q}`.slice(-280),\n    `${q} ${context}`.slice(-280),\n    isHebrew ? `${q} ${currentYear}` : `${q} ${currentYear}`\n  ];\n} else if (intent === 'sports') {\n  if (isAllTimeQuestion && isTopScorerQuestion && /מכבי\\s*חיפה|maccabi haifa/i.test(q + ' ' + context)) {\n    queries = [\n      'מכבי חיפה מלך השערים בכל הזמנים',\n      'מכבי חיפה שיאני כיבושים כל הזמנים',\n      'Maccabi Haifa all time top scorer'\n    ];\n  } else {\n    queries = [\n      `${q} ${currentYear}`,\n      `${q} תוצאה טבלה כובשים ${currentYear}`,\n      `${q} latest result standings scorers ${currentYear}`\n    ];\n  }\n} else if (intent === 'politics') {\n  queries = [\n    `${q}`,\n    `${q} תאריך רשמי`,\n    `${q} official date`\n  ];\n\n  if (/בחירות|election/i.test(q)) {\n    queries = [\n      'הבחירות האחרונות בישראל מתי היו',\n      'בחירות לכנסת האחרונה תאריך',\n      'Israel last election date'\n    ];\n  }\n} else if (intent === 'weather') {\n  queries = [\n    `${q} תחזית מזג אוויר`,\n    `${q} weather forecast`,\n    `${q} temperature today`\n  ];\n} else if (intent === 'finance') {\n  queries = [\n    `${q} שער עדכני`,\n    `${q} מחיר עכשיו`,\n    `${q} current price exchange rate`\n  ];\n} else if (intent === 'news') {\n  queries = [\n    `${q} ${currentYear}`,\n    `${q} חדשות עדכניות`,\n    `${q} latest news`\n  ];\n} else if (intent === 'person') {\n  queries = [\n    `${q}`,\n    `${q} biography latest`,\n    `${q} ויקיפדיה`\n  ];\n} else if (intent === 'travel') {\n  queries = [\n    `${q} ${currentYear}`,\n    `${q} המלצות עדכניות`,\n    `${q} reviews guide`\n  ];\n} else if (intent === 'history_fact') {\n  queries = [\n    `${q}`,\n    `${q} תאריך`,\n    `${q} official`\n  ];\n} else {\n  // General fallback: always search, because this is a WhatsApp assistant expected to know many domains.\n  queries = [\n    `${q}`,\n    `${q} ${currentYear}`,\n    isHebrew ? `${q} מידע` : `${q} information`\n  ];\n}\n\nqueries = [...new Set(\n  queries\n    .map(x => x.replace(/\\s+/g, ' ').trim())\n    .filter(Boolean)\n)].slice(0, 3);\n\nreturn [{\n  json: {\n    ...$json,\n    searchQuery1: queries[0] || q,\n    searchQuery2: queries[1] || queries[0] || q,\n    searchQuery3: queries[2] || queries[1] || queries[0] || q,\n    searchQueries: queries,\n    shouldSearch: true,\n    intentDebug: {\n      intent,\n      needsSearch,\n      isShortFollowUp,\n      isSports,\n      isPolitics,\n      isWeather,\n      isFinance,\n      isNews,\n      isPerson,\n      isTravel,\n      isTech,\n      isHistoryFact,\n      isAllTimeQuestion,\n      isTopScorerQuestion\n    }\n  }\n}];"
      },
      "id": "ec00eb68-ce10-4ac8-bd2b-8859ff6cb132",
      "name": "Build Search Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -1520
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Build Search Query').first().json;\n\nfunction getResultsFromNode(nodeName) {\n  try {\n    const item = $(nodeName).first().json || {};\n    const results = Array.isArray(item.results) ? item.results : [];\n    return results;\n  } catch (e) {\n    return [];\n  }\n}\n\nconst allResults = [\n  ...getResultsFromNode('Search SearXNG 1').map(r => ({...r, _query: prev.searchQuery1})),\n  ...getResultsFromNode('Search SearXNG 2').map(r => ({...r, _query: prev.searchQuery2})),\n  ...getResultsFromNode('Search SearXNG 3').map(r => ({...r, _query: prev.searchQuery3}))\n];\n\nconst seen = new Set();\nconst results = [];\nfor (const r of allResults) {\n  const key = (r.url || r.title || '').toLowerCase();\n  if (!key || seen.has(key)) continue;\n  seen.add(key);\n  results.push(r);\n  if (results.length >= 12) break;\n}\n\nconst formattedResults = results.map((r, i) => {\n  const title = r.title || '';\n  const url = r.url || '';\n  const content = r.content || r.snippet || '';\n  const query = r._query || '';\n  return `${i + 1}. Query: ${query}\\nTitle: ${title}\\nSnippet: ${content}\\nURL: ${url}`;\n}).join('\\n\\n');\n\nconst now = new Date();\nconst israelTime = now.toLocaleString(\n  prev.detectedLang === 'he' ? 'he-IL' : prev.detectedLang === 'ru' ? 'ru-RU' : 'en-US',\n  { timeZone: 'Asia/Jerusalem', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' }\n);\n\nconst langLabel = prev.detectedLang === 'he' ? 'Hebrew' : prev.detectedLang === 'ru' ? 'Russian' : 'English';\n\nlet historyBlock = '';\nif (prev.history?.length) {\n  historyBlock = '\\nConversation so far:\\n';\n  for (const msg of prev.history) {\n    historyBlock += `${msg.role === 'user' ? 'User' : 'Assistant'}: ${msg.content}\\n`;\n  }\n}\n\nconst systemMessage = `You are a general-purpose smart WhatsApp assistant. Reply ONLY in ${langLabel}.\nToday: ${israelTime}. User: ${prev.senderName}.\n\nYou receive web search results from SearXNG for every user question.\nYour job:\n- Answer using the search results when they are relevant.\n- For current facts, politics, sports, weather, prices, people, news, schedules, laws, and recent info: rely on search results, not memory.\n- For stable/general questions, you may combine basic reasoning with search results.\n- For follow-up questions, use the conversation history to understand what \"it\", \"he\", \"there\", \"next\", \"who\", etc. refers to.\n\nImportant interpretation rules:\n- \"בכל הזמנים\", \"כל הזמנים\", \"היסטוריה\", \"אי פעם\" means all-time / historical record.\n- \"פעם אחרונה\" usually means the most recent occurrence.\n- \"מתי\" asks for date/time.\n- \"מי\" asks for a person/name.\n- \"באיזה מקום\" asks for ranking/position.\n\nAnswer rules:\n- If the exact answer appears in results, answer directly and briefly.\n- If the results are insufficient, say you could not find precise information. Do not guess.\n- If results disagree, mention uncertainty briefly.\n- Keep the answer natural like WhatsApp.\n- No preamble. No citations/URLs unless the user asks.\n- No emojis unless the user used emojis first.`;\n\nconst prompt = `${historyBlock}\n\nUser question: ${prev.question}\n\nDetected intent:\n${JSON.stringify(prev.intentDebug || {}, null, 2)}\n\nSearch queries used:\n1. ${prev.searchQuery1}\n2. ${prev.searchQuery2}\n3. ${prev.searchQuery3}\n\nWeb search results:\n${formattedResults || 'No useful search results returned.'}\n\nAnswer the user now.`;\n\nreturn [{\n  json: {\n    ...prev,\n    systemMessage,\n    prompt,\n    searchResultsCount: results.length\n  }\n}];"
      },
      "id": "cb8e4f89-b6d3-442f-b994-7bf9c134a363",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -1520
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "={{ $json.systemMessage }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1520,
        -1520
      ],
      "id": "1f547900-7650-4027-9c67-d794abc27a25",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemma-4-26b-a4b",
          "mode": "list",
          "cachedResultName": "google/gemma-4-26b-a4b"
        },
        "options": {
          "maxTokens": 1200,
          "temperature": 0.1,
          "timeout": 90000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1472,
        -1280
      ],
      "id": "805c64d6-ac87-419c-802a-88eb75eb6be0",
      "name": "Local LLM (Gemma 26B - M1 Pro)",
      "credentials": {
        "openAiApi": {
          "id": "WJsCuec8UzGRGVIc",
          "name": "Macbook Pro M1Pro"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1712,
        -1280
      ],
      "id": "3e5fdfce-8fe2-484f-a340-598ab12752f0",
      "name": "OpenRouter (Fallback)",
      "credentials": {
        "openRouterApi": {
          "id": "hGAnvpSAhWRbFktq",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Build AI Prompt').first().json;\n\nlet answer = '';\nlet provider = 'ai-agent';\n\ntry {\n  answer = ($json.output || $json.text || '').trim();\n} catch (e) {\n  answer = '';\n  provider = 'error';\n}\n\nfunction stripThinking(text) {\n  if (!text) return '';\n  let t = text;\n  t = t.replace(/<think[^>]*>[\\s\\S]*?<\\/think>/gi, '');\n  t = t.replace(/<reasoning[^>]*>[\\s\\S]*?<\\/reasoning>/gi, '');\n  t = t.replace(/<analysis[^>]*>[\\s\\S]*?<\\/analysis>/gi, '');\n  t = t.replace(/<scratchpad[^>]*>[\\s\\S]*?<\\/scratchpad>/gi, '');\n  t = t.replace(/<\\|[^|>]*\\|>/g, '');\n  t = t.replace(/\\n{3,}/g, '\\n\\n').trim();\n  return t;\n}\n\nanswer = stripThinking(answer);\n\nconst leakPatterns = [\n  /you are a.*assistant/i,\n  /system message/i,\n  /web search results/i,\n  /search query used/i,\n  /conversation so far/i\n];\n\nconst isLeak = leakPatterns.some(p => p.test(answer));\nconst lang = prev.detectedLang || 'en';\n\nif (!answer || answer.length < 2 || isLeak) {\n  answer = lang === 'he'\n    ? 'לא מצאתי מידע מדויק.'\n    : lang === 'ru'\n      ? 'Не нашёл точной информации.'\n      : 'I could not find precise information.';\n  provider = 'error';\n}\n\nconst key = prev.sessionKey;\nconst stored = $getWorkflowStaticData('global');\nlet history = [];\n\ntry {\n  history = stored[key] ? JSON.parse(stored[key]) : [];\n  if (!Array.isArray(history)) history = [];\n} catch (e) {\n  history = [];\n}\n\nif (provider !== 'error') {\n  history.push({ role: 'user', content: prev.question });\n  history.push({ role: 'assistant', content: answer });\n  if (history.length > 20) history = history.slice(-20);\n  stored[key] = JSON.stringify(history);\n}\n\nreturn [{\n  json: {\n    chatId: prev.chatId,\n    answer,\n    provider,\n    searchQuery: prev.searchQuery,\n    searchResultsCount: prev.searchResultsCount\n  }\n}];"
      },
      "id": "cff1e0b8-59ed-4c80-8f1f-f91c59cd569d",
      "name": "Save History + Extract Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -1520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "default"
            },
            {
              "name": "chatId",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.answer }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "cf452758-6d41-4f21-846a-bf94e6d8334f",
      "name": "Send Reply via WAHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2272,
        -1520
      ]
    },
    {
      "parameters": {
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.searchQuery1 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "all"
            },
            {
              "name": "safesearch",
              "value": "0"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "6e178e61-0e0a-4d29-8fbc-2718ff55e18c",
      "name": "Search SearXNG 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        -1632
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.searchQuery2 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "all"
            },
            {
              "name": "safesearch",
              "value": "0"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "a8f507f1-5ce7-4ebe-8850-6575a61b40f0",
      "name": "Search SearXNG 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        -1520
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.searchQuery3 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "all"
            },
            {
              "name": "safesearch",
              "value": "0"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "773f4c9c-1213-4e19-a86e-8fc177591d79",
      "name": "Search SearXNG 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        -1392
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook - Receive WhatsApp Message": {
      "main": [
        [
          {
            "node": "Filter: AI Bot group + valid msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: AI Bot group + valid msg": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Load History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load History": {
      "main": [
        [
          {
            "node": "Detect Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Language": {
      "main": [
        [
          {
            "node": "Build Search Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Query": {
      "main": [
        [
          {
            "node": "Search SearXNG 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Save History + Extract Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local LLM (Gemma 26B - M1 Pro)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter (Fallback)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Save History + Extract Answer": {
      "main": [
        [
          {
            "node": "Send Reply via WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search SearXNG 1": {
      "main": [
        [
          {
            "node": "Search SearXNG 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search SearXNG 2": {
      "main": [
        [
          {
            "node": "Search SearXNG 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search SearXNG 3": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "global": {
      "history_972545580431_c_us": "[{\"role\":\"user\",\"content\":\"what is 2+2?\"},{\"role\":\"assistant\",\"content\":\"4\"},{\"role\":\"user\",\"content\":\"what is the capital of France?\"},{\"role\":\"assistant\",\"content\":\"Paris.\"},{\"role\":\"user\",\"content\":\"what is the capital of Israel?\"},{\"role\":\"assistant\",\"content\":\"Jerusalem.\"},{\"role\":\"user\",\"content\":\"what is the capital of Belarus?\"},{\"role\":\"assistant\",\"content\":\"Minsk.\"},{\"role\":\"user\",\"content\":\"tell me about Trump\"},{\"role\":\"assistant\",\"content\":\"Donald Trump is a businessman and former U.S. President (2017-2021). Key points:\\n\\n*   **Business:** Real estate developer, known for Trump Tower and casinos.\\n*   **Politics:** Republican Party. Ran for president in 2016, winning against Hillary Clinton. Lost to Joe Biden in 2020.\\n*   **Policies:** Focused on tax cuts, deregulation, and stricter immigration policies.\\n*   **Controversies:** Faced investigations and impeachment proceedings during his presidency.\\n\\n\\n\\nIs there a specific aspect you'd like to know more about?\"},{\"role\":\"user\",\"content\":\"כמה שנים ישראל קיימת?\"},{\"role\":\"assistant\",\"content\":\"ישראל הוקמה בשנת 1948. לכן, היא קיימת כבר 76 שנים.\"},{\"role\":\"user\",\"content\":\"כמה  מלחמות ארצות הברית עברה ?\"},{\"role\":\"assistant\",\"content\":\"The United States has been involved in numerous conflicts. Here's a concise list of major wars:\\n\\n*   Revolutionary War (1775-1783)\\n*   War of 1812 (1812-1815)\\n*   Mexican-American War (1846-1848)\\n*   Civil War (1861-1865)\\n*   Spanish-American War (1898)\\n*   World War I (1917-1918)\\n*   World War II (1941-1945)\\n*   Korean War (1950-1953)\\n*   Vietnam War (1955-1975)\\n*   Persian Gulf War (1990-1991)\\n*   War in Afghanistan (2001-2021)\\n*   Iraq War (2003-2011)\"},{\"role\":\"user\",\"content\":\"מי היא מכבי חיפה ?\"},{\"role\":\"assistant\",\"content\":\"מכבי חיפה הוא מועדון כדורגל ישראלי מהצפון.\"},{\"role\":\"user\",\"content\":\"למה כשאדם רואה טוב אומרים שהוא רואה 6  6\"},{\"role\":\"assistant\",\"content\":\"It's a reference to the Snellen eye chart. \\\"6/6\\\" vision means you can see at 20 feet what a person with normal vision should be able to see at 20 feet.\"},{\"role\":\"user\",\"content\":\"תענה בעברית מי יותר טוב מסי או רונדלו?\"},{\"role\":\"assistant\",\"content\":\"מסי.\"}]",
      "history_120363407766258921_g_us": "[{\"role\":\"user\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"who is better messi or ronaldo?\"},{\"role\":\"assistant\",\"content\":\"That's a debate with no definitive answer, Alex. \\n\\n**Messi:** Generally considered more naturally gifted, exceptional dribbling & playmaking.\\n**Ronaldo:** Incredible athleticism, prolific goalscorer, strong aerial ability.\\n\\nIt comes down to preference. Both are all-time greats.\"},{\"role\":\"user\",\"content\":\"what is dns?\"},{\"role\":\"assistant\",\"content\":\"DNS (Domain Name System) translates human-readable domain names (like google.com) into IP addresses (like 172.217.160.142) computers use to locate websites and other online resources.\\n\\nEssentially, it's the internet's phonebook.\"},{\"role\":\"user\",\"content\":\"מי יותר טוב רונאלדו או מסי?\"},{\"role\":\"assistant\",\"content\":\"This is a subjective question! Both Ronaldo and Messi are incredible players. \\n\\n**Generally:**\\n\\n*   **Messi** is often praised for natural talent, dribbling, and playmaking.\\n*   **Ronaldo** is often praised for athleticism, finishing, and versatility.\\n\\nThere's no definitive \\\"better\\\" – it depends on preference!\"}]",
      "history_120363426439026095_g_us": "[{\"role\":\"user\",\"content\":\"מי כבש במשחק.\"},{\"role\":\"assistant\",\"content\":\"ג'בון איסט כבש בדקה ה-90.\"},{\"role\":\"user\",\"content\":\"מת היה המשחק?\"},{\"role\":\"assistant\",\"content\":\"המשחק נערך ב-06/05/2026.\"},{\"role\":\"user\",\"content\":\"מי ראש ממשלת ישראל?\"},{\"role\":\"assistant\",\"content\":\"על פי המידע שברשותי, בנימין נתניהו הוא ראש ממשלת ישראל.\"},{\"role\":\"user\",\"content\":\"באיזה שנה פעם אחרונה זכתה מכבי חיפה באליפות?\"},{\"role\":\"assistant\",\"content\":\"מכבי חיפה זכתה באליפות האחרונה שלה בעונת 2022/2023.\"},{\"role\":\"user\",\"content\":\"מי מלך שערי מכבי חיפה?\"},{\"role\":\"assistant\",\"content\":\"מלך השערים של מכבי חיפה בעונת 2025/26 הוא גיא מלמד עם 10 שערים.\"},{\"role\":\"user\",\"content\":\"ומי מלך השערים שהל בכל הזמנים?\"},{\"role\":\"assistant\",\"content\":\"לא מצאתי מידע מדויק לגבי מלך השערים בכל הזמנים של מכבי חיפה.\"},{\"role\":\"user\",\"content\":\"מתי היו בחירות בישראל פעם אחרונה?\"},{\"role\":\"assistant\",\"content\":\"לא מצאתי מידע מדויק לגבי מועד הבחירות האחרונות שהתקיימו בישראל.\"},{\"role\":\"user\",\"content\":\"מתי היו בחירות בישראל פעם אחרונה?\"},{\"role\":\"assistant\",\"content\":\"הבחירות האחרונות שנערכו בישראל היו לבחירות לכנסת ה-25. הבחירות הבאות (הכנסת ה-26) מתוכננות להתקיים ב-27 באוקטובר 2026.\"},{\"role\":\"user\",\"content\":\"מה התוצאה עכשיו במשחק של מכבי חיפה ?\"},{\"role\":\"assistant\",\"content\":\"נכון לעכשיו, לא מתקיים משחק חי של מכבי חיפה. המשחק האחרון שלה היה ב-06/05/2026 נגד הפועל באר שבע (הפסד 1:0).\"},{\"role\":\"user\",\"content\":\"יש  משחק עכשיו תבדוק שוב\"},{\"role\":\"assistant\",\"content\":\"בדקתי שוב, וכרגע לא מתקיים משחק של מכבי חיפה. המשחק האחרון שלה נערך ב-06/05/2026.\"}]"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "75749c6f-78cd-427b-8186-b808d4b72c7e",
  "activeVersionId": "75749c6f-78cd-427b-8186-b808d4b72c7e",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-13T10:46:06.843Z",
      "createdAt": "2026-03-13T10:46:06.843Z",
      "role": "workflow:owner",
      "workflowId": "TuCodb0y457nG7iM",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-09T15:42:29.000Z",
    "createdAt": "2026-05-09T15:42:28.131Z",
    "versionId": "75749c6f-78cd-427b-8186-b808d4b72c7e",
    "workflowId": "TuCodb0y457nG7iM",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "waha-incoming-bot",
          "options": {}
        },
        "id": "3c226315-7795-44c5-9939-a2687e4da5e2",
        "name": "Webhook - Receive WhatsApp Message",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -640,
          -1520
        ],
        "webhookId": "waha-incoming-bot"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "check-chat-id",
                "leftValue": "={{ $json.body.payload.from }}",
                "rightValue": "120363426439026095@g.us",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "check-not-from-api",
                "leftValue": "={{ $json.body.payload.source }}",
                "rightValue": "api",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "check-not-empty",
                "leftValue": "={{ $json.body.payload.body }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "13829c45-41ac-4e75-b533-7c3411ddf9a1",
        "name": "Filter: AI Bot group + valid msg",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2,
        "position": [
          -400,
          -1520
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "extract-from",
                "name": "chatId",
                "value": "={{ $json.body.payload.from }}",
                "type": "string"
              },
              {
                "id": "extract-question",
                "name": "question",
                "value": "={{ $json.body.payload.body.trim() }}",
                "type": "string"
              },
              {
                "id": "extract-sender",
                "name": "senderName",
                "value": "={{ $json.body.payload.notifyName || 'User' }}",
                "type": "string"
              },
              {
                "id": "session-key",
                "name": "sessionKey",
                "value": "={{ 'history_' + $json.body.payload.from.replace(/[^a-z0-9]/gi, '_') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "9703a764-6f4c-479d-8dbd-bbd780c2af2c",
        "name": "Extract Message",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -160,
          -1520
        ]
      },
      {
        "parameters": {
          "jsCode": "const key = $json.sessionKey;\nconst stored = $getWorkflowStaticData('global');\nconst raw = stored[key];\nlet history = [];\n\ntry {\n  history = raw ? JSON.parse(raw) : [];\n  if (!Array.isArray(history)) history = [];\n} catch (e) {\n  history = [];\n}\n\nconst MAX_MESSAGES = 20;\nconst MAX_CHARS = 8000;\n\nif (history.length > MAX_MESSAGES) history = history.slice(-MAX_MESSAGES);\n\nlet totalChars = history.reduce((sum, m) => sum + (m.content?.length || 0), 0);\nwhile (totalChars > MAX_CHARS && history.length > 2) {\n  const removed = history.shift();\n  totalChars -= (removed.content?.length || 0);\n}\n\nreturn [{ json: { ...$json, history } }];"
        },
        "id": "ccb486d8-8ba9-410b-9e25-509b8349f71b",
        "name": "Load History",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          80,
          -1520
        ]
      },
      {
        "parameters": {
          "jsCode": "const { question, history } = $json;\n\nconst hebrewChars = (question.match(/[\\u0590-\\u05FF\\uFB1D-\\uFB4F]/g) || []).length;\nconst cyrillicChars = (question.match(/[\\u0400-\\u04FF]/g) || []).length;\nconst latinChars = (question.match(/[a-zA-Z]/g) || []).length;\nconst total = hebrewChars + cyrillicChars + latinChars || 1;\nconst cleanLen = question.replace(/\\s/g, '').length;\n\nlet detectedLang = 'en';\nif (hebrewChars / total > 0.3) detectedLang = 'he';\nelse if (cyrillicChars / total > 0.3) detectedLang = 'ru';\n\nif (cleanLen < 8 && history?.length) {\n  const recentText = history.slice(-6).map(m => m.content || '').join(' ');\n  const hHe = (recentText.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const hRu = (recentText.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const hEn = (recentText.match(/[a-zA-Z]/g) || []).length;\n  if (hHe > hRu && hHe > hEn) detectedLang = 'he';\n  else if (hRu > hHe && hRu > hEn) detectedLang = 'ru';\n}\n\nreturn [{ json: { ...$json, detectedLang } }];"
        },
        "id": "15ee9312-e31d-4e43-9861-4ee6a7c4c674",
        "name": "Detect Language",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          -1520
        ]
      },
      {
        "parameters": {
          "jsCode": "const { question, history, detectedLang } = $json;\n\nconst q = question.trim();\nconst lower = q.toLowerCase();\n\nconst lastAssistant = [...(history || [])].reverse().find(m => m.role === 'assistant')?.content || '';\nconst recent = [...(history || [])].slice(-10).map(m => m.content || '').join(' ');\nconst context = `${lastAssistant} ${recent}`.replace(/\\s+/g, ' ').trim();\n\nfunction includesAny(text, arr) {\n  return arr.some(x => text.includes(x));\n}\n\nconst cleanLen = q.replace(/\\s/g, '').length;\nconst isShortFollowUp = cleanLen <= 22 && (history || []).length > 0;\n\nconst ctxLower = context.toLowerCase();\n\nconst isHebrew = detectedLang === 'he';\nconst currentYear = new Date().getFullYear();\n\n// broad intents\nconst isSports = /ספורט|כדורגל|כדורסל|משחק|תוצאה|כבש|שער|טבלה|ליגה|אליפות|מלך\\s*שערים|מכבי|הפועל|score|scored|match|standings|league|football|basketball/i.test(q + ' ' + context);\nconst isPolitics = /בחירות|כנסת|ממשלה|ראש\\s*ממשלה|נשיא|שרים|קואליציה|אופוזיציה|election|knesset|government|prime minister|president/i.test(q);\nconst isWeather = /מזג\\s*אוויר|טמפרטורה|גשם|חם|קר|תחזית|weather|forecast|temperature|rain/i.test(q);\nconst isFinance = /דולר|אירו|שקל|שער|בורסה|מניה|ביטקוין|קריפטו|מחיר|exchange rate|stock|price|bitcoin|crypto|usd|eur/i.test(q);\nconst isNews = /חדשות|מה\\s*קרה|היום|עכשיו|עדכני|אחרון|latest|news|today|current|now/i.test(q);\nconst isPerson = /מי\\s+זה|מי\\s+זו|בת\\s*כמה|בן\\s*כמה|מה\\s*אמר|מה\\s*עשתה|who is|age of|what did/i.test(q);\nconst isTravel = /טיסה|מלון|מסעדה|טיול|חופשה|לאן|אטרקציות|flight|hotel|restaurant|travel|trip|attractions/i.test(q);\nconst isTech = /איך\\s*לתקן|קוד|שגיאה|api|docker|n8n|javascript|python|server|bug|error|code/i.test(q);\nconst isHistoryFact = /מתי\\s*היה|באיזה\\s*שנה|מי\\s*היה|היסטוריה|פעם\\s*אחרונה|when was|what year|history|last time/i.test(q);\n\nconst needsSearch =\n  isShortFollowUp ||\n  isSports ||\n  isPolitics ||\n  isWeather ||\n  isFinance ||\n  isNews ||\n  isPerson ||\n  isTravel ||\n  isHistoryFact;\n\n// Specific sub-intents\nconst isAllTimeQuestion = /כל\\s*הזמנים|בכל\\s*הזמנים|היסטוריה|אי\\s*פעם|all[\\s-]?time|history|ever/i.test(q);\nconst isTopScorerQuestion = /מלך\\s*שערים|מלך\\s*השערים|top scorer|goalscorer/i.test(q);\n\nlet intent = 'general';\nif (isSports) intent = 'sports';\nelse if (isPolitics) intent = 'politics';\nelse if (isWeather) intent = 'weather';\nelse if (isFinance) intent = 'finance';\nelse if (isNews) intent = 'news';\nelse if (isPerson) intent = 'person';\nelse if (isTravel) intent = 'travel';\nelse if (isTech) intent = 'tech';\nelse if (isHistoryFact) intent = 'history_fact';\n\nlet queries = [];\n\nif (isShortFollowUp && context) {\n  // Follow-up: combine previous subject with current question.\n  queries = [\n    `${context} ${q}`.slice(-280),\n    `${q} ${context}`.slice(-280),\n    isHebrew ? `${q} ${currentYear}` : `${q} ${currentYear}`\n  ];\n} else if (intent === 'sports') {\n  if (isAllTimeQuestion && isTopScorerQuestion && /מכבי\\s*חיפה|maccabi haifa/i.test(q + ' ' + context)) {\n    queries = [\n      'מכבי חיפה מלך השערים בכל הזמנים',\n      'מכבי חיפה שיאני כיבושים כל הזמנים',\n      'Maccabi Haifa all time top scorer'\n    ];\n  } else {\n    queries = [\n      `${q} ${currentYear}`,\n      `${q} תוצאה טבלה כובשים ${currentYear}`,\n      `${q} latest result standings scorers ${currentYear}`\n    ];\n  }\n} else if (intent === 'politics') {\n  queries = [\n    `${q}`,\n    `${q} תאריך רשמי`,\n    `${q} official date`\n  ];\n\n  if (/בחירות|election/i.test(q)) {\n    queries = [\n      'הבחירות האחרונות בישראל מתי היו',\n      'בחירות לכנסת האחרונה תאריך',\n      'Israel last election date'\n    ];\n  }\n} else if (intent === 'weather') {\n  queries = [\n    `${q} תחזית מזג אוויר`,\n    `${q} weather forecast`,\n    `${q} temperature today`\n  ];\n} else if (intent === 'finance') {\n  queries = [\n    `${q} שער עדכני`,\n    `${q} מחיר עכשיו`,\n    `${q} current price exchange rate`\n  ];\n} else if (intent === 'news') {\n  queries = [\n    `${q} ${currentYear}`,\n    `${q} חדשות עדכניות`,\n    `${q} latest news`\n  ];\n} else if (intent === 'person') {\n  queries = [\n    `${q}`,\n    `${q} biography latest`,\n    `${q} ויקיפדיה`\n  ];\n} else if (intent === 'travel') {\n  queries = [\n    `${q} ${currentYear}`,\n    `${q} המלצות עדכניות`,\n    `${q} reviews guide`\n  ];\n} else if (intent === 'history_fact') {\n  queries = [\n    `${q}`,\n    `${q} תאריך`,\n    `${q} official`\n  ];\n} else {\n  // General fallback: always search, because this is a WhatsApp assistant expected to know many domains.\n  queries = [\n    `${q}`,\n    `${q} ${currentYear}`,\n    isHebrew ? `${q} מידע` : `${q} information`\n  ];\n}\n\nqueries = [...new Set(\n  queries\n    .map(x => x.replace(/\\s+/g, ' ').trim())\n    .filter(Boolean)\n)].slice(0, 3);\n\nreturn [{\n  json: {\n    ...$json,\n    searchQuery1: queries[0] || q,\n    searchQuery2: queries[1] || queries[0] || q,\n    searchQuery3: queries[2] || queries[1] || queries[0] || q,\n    searchQueries: queries,\n    shouldSearch: true,\n    intentDebug: {\n      intent,\n      needsSearch,\n      isShortFollowUp,\n      isSports,\n      isPolitics,\n      isWeather,\n      isFinance,\n      isNews,\n      isPerson,\n      isTravel,\n      isTech,\n      isHistoryFact,\n      isAllTimeQuestion,\n      isTopScorerQuestion\n    }\n  }\n}];"
        },
        "id": "ec00eb68-ce10-4ac8-bd2b-8859ff6cb132",
        "name": "Build Search Query",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          -1520
        ]
      },
      {
        "parameters": {
          "jsCode": "const prev = $('Build Search Query').first().json;\n\nfunction getResultsFromNode(nodeName) {\n  try {\n    const item = $(nodeName).first().json || {};\n    const results = Array.isArray(item.results) ? item.results : [];\n    return results;\n  } catch (e) {\n    return [];\n  }\n}\n\nconst allResults = [\n  ...getResultsFromNode('Search SearXNG 1').map(r => ({...r, _query: prev.searchQuery1})),\n  ...getResultsFromNode('Search SearXNG 2').map(r => ({...r, _query: prev.searchQuery2})),\n  ...getResultsFromNode('Search SearXNG 3').map(r => ({...r, _query: prev.searchQuery3}))\n];\n\nconst seen = new Set();\nconst results = [];\nfor (const r of allResults) {\n  const key = (r.url || r.title || '').toLowerCase();\n  if (!key || seen.has(key)) continue;\n  seen.add(key);\n  results.push(r);\n  if (results.length >= 12) break;\n}\n\nconst formattedResults = results.map((r, i) => {\n  const title = r.title || '';\n  const url = r.url || '';\n  const content = r.content || r.snippet || '';\n  const query = r._query || '';\n  return `${i + 1}. Query: ${query}\\nTitle: ${title}\\nSnippet: ${content}\\nURL: ${url}`;\n}).join('\\n\\n');\n\nconst now = new Date();\nconst israelTime = now.toLocaleString(\n  prev.detectedLang === 'he' ? 'he-IL' : prev.detectedLang === 'ru' ? 'ru-RU' : 'en-US',\n  { timeZone: 'Asia/Jerusalem', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' }\n);\n\nconst langLabel = prev.detectedLang === 'he' ? 'Hebrew' : prev.detectedLang === 'ru' ? 'Russian' : 'English';\n\nlet historyBlock = '';\nif (prev.history?.length) {\n  historyBlock = '\\nConversation so far:\\n';\n  for (const msg of prev.history) {\n    historyBlock += `${msg.role === 'user' ? 'User' : 'Assistant'}: ${msg.content}\\n`;\n  }\n}\n\nconst systemMessage = `You are a general-purpose smart WhatsApp assistant. Reply ONLY in ${langLabel}.\nToday: ${israelTime}. User: ${prev.senderName}.\n\nYou receive web search results from SearXNG for every user question.\nYour job:\n- Answer using the search results when they are relevant.\n- For current facts, politics, sports, weather, prices, people, news, schedules, laws, and recent info: rely on search results, not memory.\n- For stable/general questions, you may combine basic reasoning with search results.\n- For follow-up questions, use the conversation history to understand what \"it\", \"he\", \"there\", \"next\", \"who\", etc. refers to.\n\nImportant interpretation rules:\n- \"בכל הזמנים\", \"כל הזמנים\", \"היסטוריה\", \"אי פעם\" means all-time / historical record.\n- \"פעם אחרונה\" usually means the most recent occurrence.\n- \"מתי\" asks for date/time.\n- \"מי\" asks for a person/name.\n- \"באיזה מקום\" asks for ranking/position.\n\nAnswer rules:\n- If the exact answer appears in results, answer directly and briefly.\n- If the results are insufficient, say you could not find precise information. Do not guess.\n- If results disagree, mention uncertainty briefly.\n- Keep the answer natural like WhatsApp.\n- No preamble. No citations/URLs unless the user asks.\n- No emojis unless the user used emojis first.`;\n\nconst prompt = `${historyBlock}\n\nUser question: ${prev.question}\n\nDetected intent:\n${JSON.stringify(prev.intentDebug || {}, null, 2)}\n\nSearch queries used:\n1. ${prev.searchQuery1}\n2. ${prev.searchQuery2}\n3. ${prev.searchQuery3}\n\nWeb search results:\n${formattedResults || 'No useful search results returned.'}\n\nAnswer the user now.`;\n\nreturn [{\n  json: {\n    ...prev,\n    systemMessage,\n    prompt,\n    searchResultsCount: results.length\n  }\n}];"
        },
        "id": "cb8e4f89-b6d3-442f-b994-7bf9c134a363",
        "name": "Build AI Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1280,
          -1520
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "needsFallback": true,
          "options": {
            "systemMessage": "={{ $json.systemMessage }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1520,
          -1520
        ],
        "id": "1f547900-7650-4027-9c67-d794abc27a25",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "google/gemma-4-26b-a4b",
            "mode": "list",
            "cachedResultName": "google/gemma-4-26b-a4b"
          },
          "options": {
            "maxTokens": 1200,
            "temperature": 0.1,
            "timeout": 90000
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1472,
          -1280
        ],
        "id": "805c64d6-ac87-419c-802a-88eb75eb6be0",
        "name": "Local LLM (Gemma 26B - M1 Pro)",
        "credentials": {
          "openAiApi": {
            "id": "WJsCuec8UzGRGVIc",
            "name": "Macbook Pro M1Pro"
          }
        }
      },
      {
        "parameters": {
          "model": "openai/gpt-5-nano",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1712,
          -1280
        ],
        "id": "3e5fdfce-8fe2-484f-a340-598ab12752f0",
        "name": "OpenRouter (Fallback)",
        "credentials": {
          "openRouterApi": {
            "id": "hGAnvpSAhWRbFktq",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const prev = $('Build AI Prompt').first().json;\n\nlet answer = '';\nlet provider = 'ai-agent';\n\ntry {\n  answer = ($json.output || $json.text || '').trim();\n} catch (e) {\n  answer = '';\n  provider = 'error';\n}\n\nfunction stripThinking(text) {\n  if (!text) return '';\n  let t = text;\n  t = t.replace(/<think[^>]*>[\\s\\S]*?<\\/think>/gi, '');\n  t = t.replace(/<reasoning[^>]*>[\\s\\S]*?<\\/reasoning>/gi, '');\n  t = t.replace(/<analysis[^>]*>[\\s\\S]*?<\\/analysis>/gi, '');\n  t = t.replace(/<scratchpad[^>]*>[\\s\\S]*?<\\/scratchpad>/gi, '');\n  t = t.replace(/<\\|[^|>]*\\|>/g, '');\n  t = t.replace(/\\n{3,}/g, '\\n\\n').trim();\n  return t;\n}\n\nanswer = stripThinking(answer);\n\nconst leakPatterns = [\n  /you are a.*assistant/i,\n  /system message/i,\n  /web search results/i,\n  /search query used/i,\n  /conversation so far/i\n];\n\nconst isLeak = leakPatterns.some(p => p.test(answer));\nconst lang = prev.detectedLang || 'en';\n\nif (!answer || answer.length < 2 || isLeak) {\n  answer = lang === 'he'\n    ? 'לא מצאתי מידע מדויק.'\n    : lang === 'ru'\n      ? 'Не нашёл точной информации.'\n      : 'I could not find precise information.';\n  provider = 'error';\n}\n\nconst key = prev.sessionKey;\nconst stored = $getWorkflowStaticData('global');\nlet history = [];\n\ntry {\n  history = stored[key] ? JSON.parse(stored[key]) : [];\n  if (!Array.isArray(history)) history = [];\n} catch (e) {\n  history = [];\n}\n\nif (provider !== 'error') {\n  history.push({ role: 'user', content: prev.question });\n  history.push({ role: 'assistant', content: answer });\n  if (history.length > 20) history = history.slice(-20);\n  stored[key] = JSON.stringify(history);\n}\n\nreturn [{\n  json: {\n    chatId: prev.chatId,\n    answer,\n    provider,\n    searchQuery: prev.searchQuery,\n    searchResultsCount: prev.searchResultsCount\n  }\n}];"
        },
        "id": "cff1e0b8-59ed-4c80-8f1f-f91c59cd569d",
        "name": "Save History + Extract Answer",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2032,
          -1520
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://waha:3000/api/sendText",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Api-Key",
                "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "session",
                "value": "default"
              },
              {
                "name": "chatId",
                "value": "={{ $json.chatId }}"
              },
              {
                "name": "text",
                "value": "={{ $json.answer }}"
              }
            ]
          },
          "options": {
            "timeout": 10000
          }
        },
        "id": "cf452758-6d41-4f21-846a-bf94e6d8334f",
        "name": "Send Reply via WAHA",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2272,
          -1520
        ]
      },
      {
        "parameters": {
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.searchQuery1 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "all"
              },
              {
                "name": "safesearch",
                "value": "0"
              }
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "6e178e61-0e0a-4d29-8fbc-2718ff55e18c",
        "name": "Search SearXNG 1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          800,
          -1632
        ],
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.searchQuery2 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "all"
              },
              {
                "name": "safesearch",
                "value": "0"
              }
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "a8f507f1-5ce7-4ebe-8850-6575a61b40f0",
        "name": "Search SearXNG 2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          800,
          -1520
        ],
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.searchQuery3 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "all"
              },
              {
                "name": "safesearch",
                "value": "0"
              }
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "773f4c9c-1213-4e19-a86e-8fc177591d79",
        "name": "Search SearXNG 3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          800,
          -1392
        ],
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Webhook - Receive WhatsApp Message": {
        "main": [
          [
            {
              "node": "Filter: AI Bot group + valid msg",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter: AI Bot group + valid msg": {
        "main": [
          [
            {
              "node": "Extract Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Message": {
        "main": [
          [
            {
              "node": "Load History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load History": {
        "main": [
          [
            {
              "node": "Detect Language",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect Language": {
        "main": [
          [
            {
              "node": "Build Search Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Search Query": {
        "main": [
          [
            {
              "node": "Search SearXNG 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build AI Prompt": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Save History + Extract Answer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Local LLM (Gemma 26B - M1 Pro)": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter (Fallback)": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Save History + Extract Answer": {
        "main": [
          [
            {
              "node": "Send Reply via WAHA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search SearXNG 1": {
        "main": [
          [
            {
              "node": "Search SearXNG 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search SearXNG 2": {
        "main": [
          [
            {
              "node": "Search SearXNG 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search SearXNG 3": {
        "main": [
          [
            {
              "node": "Build AI Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 75749c6f",
    "description": "",
    "autosaved": true
  },
  "tags": []
}