PI workflows backup 2026-02-11 20-55/AD Lockout Alert - Polling via SSH (Fixed).json
{
  "updatedAt": "2026-02-11T18:52:18.372Z",
  "createdAt": "2026-02-11T16:17:47.301Z",
  "id": "OEFYCMB5Tm7IXO4P",
  "name": "AD Lockout Alert - Polling via SSH (Fixed)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "b6d8e3da-c9fb-43c5-bc20-176c42f5966e",
      "name": "Every 1 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2400,
        240
      ]
    },
    {
      "parameters": {
        "command": "=powershell.exe -NoProfile -ExecutionPolicy Bypass -File \"C:/Scripts/AD-Lockout-Monitor.ps1\"",
        "cwd": "="
      },
      "id": "dbbbc19e-8e6d-4e6b-90e8-a0363b060e5b",
      "name": "Run AD Lockout Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -2064,
        240
      ],
      "credentials": {
        "sshPassword": {
          "id": "umWU43lA8b3R4GcA",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.first().json.stdout;\nlet events = [];\n\nif (raw && typeof raw === 'string' && raw.trim() !== '') {\n  try {\n    let parsed = JSON.parse(raw);\n    events = Array.isArray(parsed) ? parsed : [parsed];\n  } catch (e) {\n    return [];\n  }\n}\n\nreturn events.map(e => {\n  const dateObj = new Date(e.Timestamp);\n  \n  // Format: Feb 11, 2026, 8:09 PM\n  const friendlyTime = dateObj.toLocaleString('en-US', {\n    month: 'short',\n    day: 'numeric',\n    year: 'numeric',\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true\n  });\n\n  return {\n    json: {\n      username: e.Username,\n      computer: e.CallerComputer || 'UNKNOWN',\n      timestamp: friendlyTime\n    }\n  };\n});"
      },
      "id": "a0c07820-0c72-448c-b23b-9da667dfaf28",
      "name": "Parse Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "ce7c2450-2c9f-40fa-be82-745834b6fe5d",
      "name": "Any lockouts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1248,
        240
      ]
    },
    {
      "parameters": {
        "sendTo": "vinokura@alex-it.net",
        "subject": "={{ `🚨 URGENT: ${$input.all().filter(i => i.json.username).length} Account(s) Currently Locked Out` }}",
        "message": "={{ `<h2>AD Account Lockouts (Live Status)</h2>` + \n($input.all().filter(i => i.json.username).length === 0 ? \n    `<p><em>No accounts are currently locked.</em></p>` : \n    `<table style=\"border-collapse: collapse; width: 100%; max-width: 750px; border: 1px solid #ddd;\">\n        <tr style=\"background-color: #f0f0f0;\">\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">User</th>\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">Status</th>\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">Source Computer</th>\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">Last Check</th>\n        </tr>` + \n    $input.all().map(item => `\n        <tr>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\"><b>${item.json.username}</b></td>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\"><span style=\"color: #d9534f; font-weight: bold;\">LOCKED</span></td>\n            <td style=\"padding: 10px; border: 1px solid #ddd; font-family: monospace;\">${item.json.computer || 'UNKNOWN'}</td>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\">${item.json.timestamp}</td>\n        </tr>`).join('') + \n    `</table>`) + \n`<p style=\"margin-top: 25px; color: #777; font-size: 0.85em;\">\n    <em>Generated via n8n • ${$now.toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: '2-digit', hour12: true })}</em>\n</p>` }}",
        "options": {}
      },
      "id": "0cbcc2ce-9ede-4fc2-8c09-82cfd913d0dd",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -944,
        128
      ],
      "webhookId": "4daed7dc-3119-4155-8779-07b60b01ea00",
      "credentials": {
        "gmailOAuth2": {
          "id": "C5742Grqr9Rpnxid",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "7785afa8-5555-47ab-b387-cdc22d79dca4",
      "name": "No Events",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -944,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the list of users found in the current run\nconst currentLockouts = $input.all();\n\n// Access n8n's persistent storage\nconst staticData = $getWorkflowStaticData('global');\nstaticData.alreadyAlerted = staticData.alreadyAlerted || {};\n\n// Filter out users we've already emailed about\nconst newLockouts = currentLockouts.filter(item => {\n  const user = item.json.username;\n  const lastAlertTime = staticData.alreadyAlerted[user];\n  \n  // If we haven't seen this user, or it's been over 2 hours, alert again\n  const twoHoursAgo = Date.now() - (2 * 60 * 60 * 1000);\n  \n  if (!lastAlertTime || lastAlertTime < twoHoursAgo) {\n    staticData.alreadyAlerted[user] = Date.now(); // Record the alert time\n    return true;\n  }\n  return false;\n});\n\nreturn newLockouts;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        240
      ],
      "id": "cfe5b6dc-b4f0-4f13-af51-be141d468a10",
      "name": "Check Memory"
    }
  ],
  "connections": {
    "Every 1 min": {
      "main": [
        [
          {
            "node": "Run AD Lockout Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run AD Lockout Script": {
      "main": [
        [
          {
            "node": "Parse Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Events": {
      "main": [
        [
          {
            "node": "Check Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any lockouts?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Memory": {
      "main": [
        [
          {
            "node": "Any lockouts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Every 7 min": {
      "recurrenceRules": []
    },
    "node:Every 5 min": {
      "recurrenceRules": []
    },
    "node:Every 1 min": {
      "recurrenceRules": []
    },
    "global": {
      "alreadyAlerted": {
        "Tim": 1770835394839,
        "Steve": 1770835696425
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "34622e79-bf9b-4e3d-ac96-2d0595aca298",
  "activeVersionId": "34622e79-bf9b-4e3d-ac96-2d0595aca298",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-11T16:17:47.307Z",
      "createdAt": "2026-02-11T16:17:47.307Z",
      "role": "workflow:owner",
      "workflowId": "OEFYCMB5Tm7IXO4P",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-11T18:52:19.000Z",
    "createdAt": "2026-02-11T18:52:18.373Z",
    "versionId": "34622e79-bf9b-4e3d-ac96-2d0595aca298",
    "workflowId": "OEFYCMB5Tm7IXO4P",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 1
              }
            ]
          }
        },
        "id": "b6d8e3da-c9fb-43c5-bc20-176c42f5966e",
        "name": "Every 1 min",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [
          -2400,
          240
        ]
      },
      {
        "parameters": {
          "command": "=powershell.exe -NoProfile -ExecutionPolicy Bypass -File \"C:/Scripts/AD-Lockout-Monitor.ps1\"",
          "cwd": "="
        },
        "id": "dbbbc19e-8e6d-4e6b-90e8-a0363b060e5b",
        "name": "Run AD Lockout Script",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -2064,
          240
        ],
        "credentials": {
          "sshPassword": {
            "id": "umWU43lA8b3R4GcA",
            "name": "SSH Password account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "let raw = $input.first().json.stdout;\nlet events = [];\n\nif (raw && typeof raw === 'string' && raw.trim() !== '') {\n  try {\n    let parsed = JSON.parse(raw);\n    events = Array.isArray(parsed) ? parsed : [parsed];\n  } catch (e) {\n    return [];\n  }\n}\n\nreturn events.map(e => {\n  const dateObj = new Date(e.Timestamp);\n  \n  // Format: Feb 11, 2026, 8:09 PM\n  const friendlyTime = dateObj.toLocaleString('en-US', {\n    month: 'short',\n    day: 'numeric',\n    year: 'numeric',\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true\n  });\n\n  return {\n    json: {\n      username: e.Username,\n      computer: e.CallerComputer || 'UNKNOWN',\n      timestamp: friendlyTime\n    }\n  };\n});"
        },
        "id": "a0c07820-0c72-448c-b23b-9da667dfaf28",
        "name": "Parse Events",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1808,
          240
        ]
      },
      {
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{ $input.all().length }}",
                "operation": "larger"
              }
            ]
          }
        },
        "id": "ce7c2450-2c9f-40fa-be82-745834b6fe5d",
        "name": "Any lockouts?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -1248,
          240
        ]
      },
      {
        "parameters": {
          "sendTo": "vinokura@alex-it.net",
          "subject": "={{ `🚨 URGENT: ${$input.all().filter(i => i.json.username).length} Account(s) Currently Locked Out` }}",
          "message": "={{ `<h2>AD Account Lockouts (Live Status)</h2>` + \n($input.all().filter(i => i.json.username).length === 0 ? \n    `<p><em>No accounts are currently locked.</em></p>` : \n    `<table style=\"border-collapse: collapse; width: 100%; max-width: 750px; border: 1px solid #ddd;\">\n        <tr style=\"background-color: #f0f0f0;\">\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">User</th>\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">Status</th>\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">Source Computer</th>\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">Last Check</th>\n        </tr>` + \n    $input.all().map(item => `\n        <tr>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\"><b>${item.json.username}</b></td>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\"><span style=\"color: #d9534f; font-weight: bold;\">LOCKED</span></td>\n            <td style=\"padding: 10px; border: 1px solid #ddd; font-family: monospace;\">${item.json.computer || 'UNKNOWN'}</td>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\">${item.json.timestamp}</td>\n        </tr>`).join('') + \n    `</table>`) + \n`<p style=\"margin-top: 25px; color: #777; font-size: 0.85em;\">\n    <em>Generated via n8n • ${$now.toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: '2-digit', hour12: true })}</em>\n</p>` }}",
          "options": {}
        },
        "id": "0cbcc2ce-9ede-4fc2-8c09-82cfd913d0dd",
        "name": "Send Email",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          -944,
          128
        ],
        "webhookId": "4daed7dc-3119-4155-8779-07b60b01ea00",
        "credentials": {
          "gmailOAuth2": {
            "id": "C5742Grqr9Rpnxid",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {},
        "id": "7785afa8-5555-47ab-b387-cdc22d79dca4",
        "name": "No Events",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -944,
          336
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get the list of users found in the current run\nconst currentLockouts = $input.all();\n\n// Access n8n's persistent storage\nconst staticData = $getWorkflowStaticData('global');\nstaticData.alreadyAlerted = staticData.alreadyAlerted || {};\n\n// Filter out users we've already emailed about\nconst newLockouts = currentLockouts.filter(item => {\n  const user = item.json.username;\n  const lastAlertTime = staticData.alreadyAlerted[user];\n  \n  // If we haven't seen this user, or it's been over 2 hours, alert again\n  const twoHoursAgo = Date.now() - (2 * 60 * 60 * 1000);\n  \n  if (!lastAlertTime || lastAlertTime < twoHoursAgo) {\n    staticData.alreadyAlerted[user] = Date.now(); // Record the alert time\n    return true;\n  }\n  return false;\n});\n\nreturn newLockouts;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1536,
          240
        ],
        "id": "cfe5b6dc-b4f0-4f13-af51-be141d468a10",
        "name": "Check Memory"
      }
    ],
    "connections": {
      "Every 1 min": {
        "main": [
          [
            {
              "node": "Run AD Lockout Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run AD Lockout Script": {
        "main": [
          [
            {
              "node": "Parse Events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Events": {
        "main": [
          [
            {
              "node": "Check Memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Any lockouts?": {
        "main": [
          [
            {
              "node": "Send Email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Memory": {
        "main": [
          [
            {
              "node": "Any lockouts?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 34622e79",
    "description": "",
    "autosaved": true
  },
  "tags": []
}