PI workflows backup 2026-04-15 21-00/Monday.com - Move Done to Completed.json
{
  "updatedAt": "2026-04-11T19:12:58.026Z",
  "createdAt": "2026-03-28T10:00:43.417Z",
  "id": "ExSSfaNuWllm5NNG",
  "name": "Monday.com - Move Done to Completed",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "db01ddd8-ffc6-4fc1-b383-51507d566a36",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1072,
        736
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getAll",
        "boardId": "5093821351",
        "groupId": "new_group29179",
        "returnAll": true
      },
      "id": "e1fb87a4-11cf-462c-b741-cea8abdd1a57",
      "name": "Get To-Do Items",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        -848,
        736
      ],
      "credentials": {
        "mondayComApi": {
          "id": "tL56OUnJPXJjPxm4",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst toMove = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const columns = data.column_values || [];\n  const statusCol = columns.find(c => c.id === 'project_status');\n\n  let isDone = false;\n  if (statusCol) {\n    if (statusCol.text === 'Done') {\n      isDone = true;\n    }\n    if (statusCol.value) {\n      try {\n        const parsed = typeof statusCol.value === 'string' ? JSON.parse(statusCol.value) : statusCol.value;\n        if (parsed.index === 1) isDone = true;\n      } catch (e) {}\n    }\n  }\n\n  if (isDone) {\n    toMove.push({\n      json: {\n        itemId: data.id,\n        itemName: data.name\n      }\n    });\n  }\n}\n\nreturn toMove;"
      },
      "id": "6d6627b9-193c-49f7-8e5e-c253dc5dd499",
      "name": "Filter Done Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'mutation { move_item_to_group(item_id: ' + $json.itemId + ', group_id: \"new_group43041\") { id } }' }) }}",
        "options": {}
      },
      "id": "2b1acaf4-526e-4817-9b74-816917321ea0",
      "name": "Move to Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        736
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DEEjaXy7pOncZeQ1",
          "name": "Monday.com"
        }
      }
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Get To-Do Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get To-Do Items": {
      "main": [
        [
          {
            "node": "Filter Done Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Done Items": {
      "main": [
        [
          {
            "node": "Move to Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Every 2 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "500b1802-dcd7-41bc-8da0-b016e9b0ae42",
  "activeVersionId": "500b1802-dcd7-41bc-8da0-b016e9b0ae42",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-28T10:00:43.421Z",
      "createdAt": "2026-03-28T10:00:43.421Z",
      "role": "workflow:owner",
      "workflowId": "ExSSfaNuWllm5NNG",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-11T19:13:10.000Z",
    "createdAt": "2026-04-11T19:12:58.027Z",
    "versionId": "500b1802-dcd7-41bc-8da0-b016e9b0ae42",
    "workflowId": "ExSSfaNuWllm5NNG",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds"
              }
            ]
          }
        },
        "id": "db01ddd8-ffc6-4fc1-b383-51507d566a36",
        "name": "Every 2 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1072,
          736
        ]
      },
      {
        "parameters": {
          "resource": "boardItem",
          "operation": "getAll",
          "boardId": "5093821351",
          "groupId": "new_group29179",
          "returnAll": true
        },
        "id": "e1fb87a4-11cf-462c-b741-cea8abdd1a57",
        "name": "Get To-Do Items",
        "type": "n8n-nodes-base.mondayCom",
        "typeVersion": 1,
        "position": [
          -848,
          736
        ],
        "credentials": {
          "mondayComApi": {
            "id": "tL56OUnJPXJjPxm4",
            "name": "Monday.com account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst toMove = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const columns = data.column_values || [];\n  const statusCol = columns.find(c => c.id === 'project_status');\n\n  let isDone = false;\n  if (statusCol) {\n    if (statusCol.text === 'Done') {\n      isDone = true;\n    }\n    if (statusCol.value) {\n      try {\n        const parsed = typeof statusCol.value === 'string' ? JSON.parse(statusCol.value) : statusCol.value;\n        if (parsed.index === 1) isDone = true;\n      } catch (e) {}\n    }\n  }\n\n  if (isDone) {\n    toMove.push({\n      json: {\n        itemId: data.id,\n        itemName: data.name\n      }\n    });\n  }\n}\n\nreturn toMove;"
        },
        "id": "6d6627b9-193c-49f7-8e5e-c253dc5dd499",
        "name": "Filter Done Items",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -640,
          736
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.monday.com/v2",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query: 'mutation { move_item_to_group(item_id: ' + $json.itemId + ', group_id: \"new_group43041\") { id } }' }) }}",
          "options": {}
        },
        "id": "2b1acaf4-526e-4817-9b74-816917321ea0",
        "name": "Move to Completed",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -416,
          736
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DEEjaXy7pOncZeQ1",
            "name": "Monday.com"
          }
        }
      }
    ],
    "connections": {
      "Every 2 Minutes": {
        "main": [
          [
            {
              "node": "Get To-Do Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get To-Do Items": {
        "main": [
          [
            {
              "node": "Filter Done Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Done Items": {
        "main": [
          [
            {
              "node": "Move to Completed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 500b1802",
    "description": "",
    "autosaved": true
  },
  "tags": []
}