PI workflows backup 2025-09-11 07-00/LG TV C3 Remote.json
{
  "createdAt": "2025-09-02T14:14:00.696Z",
  "updatedAt": "2025-09-05T19:09:37.000Z",
  "id": "dPQb7gi6xfrgsXMi",
  "name": "LG TV C3 Remote",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "72128d26-9e0e-47b8-be1f-a6a2ab6c232d",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -1888,
        672
      ],
      "webhookId": "4c9eef65-15e0-4b30-bb62-6a0e7f749c8e",
      "credentials": {
        "telegramApi": {
          "id": "U3J69TLZx8C7qgbx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.message?.text ?? \"\";\nconst command = text.replace(/^\\//, \"\").trim();\n\nconst volumeMatch = command.match(/^(volume|vol)\\s+(\\d{1,3})$/i);\nconst upDownMatch = command.match(/^(up|down)\\s+(\\d{1,3})$/i);\n\nif (volumeMatch) {\n  const amount = Math.max(1, Math.min(parseInt(volumeMatch[2], 10), 100));\n  return [{ json: { command: 'volume', amount } }];\n} else if (upDownMatch) {\n  const direction = upDownMatch[1].toLowerCase();\n  const amount = Math.max(1, Math.min(parseInt(upDownMatch[2], 10), 100));\n  return [{ json: { command: direction + '_amount', direction, amount } }];\n} else {\n  return [{ json: { command } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        672
      ],
      "id": "2441bfb1-52f4-42a7-ac2a-3b72a4bacade",
      "name": "Parse Command"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"command\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "=off",
              "outputKey": "0"
            },
            {
              "value2": "mute",
              "outputKey": "1"
            },
            {
              "value2": "unmute",
              "outputKey": "2"
            },
            {
              "value2": "up",
              "outputKey": "3"
            },
            {
              "value2": "down",
              "outputKey": "4"
            },
            {
              "value2": "Netflix",
              "outputKey": "5"
            },
            {
              "value2": "Free TV",
              "outputKey": "6"
            },
            {
              "value2": "Disney+",
              "outputKey": "7"
            },
            {
              "value2": "YouTube",
              "outputKey": "8"
            },
            {
              "value2": "PS 5",
              "outputKey": "9"
            },
            {
              "value2": "PC",
              "outputKey": "10"
            },
            {
              "value2": "volume",
              "outputKey": "11"
            },
            {
              "value2": "up_amount",
              "outputKey": "12"
            },
            {
              "value2": "down_amount",
              "outputKey": "13"
            },
            {
              "value2": "ott",
              "outputKey": "14"
            },
            {
              "value2": "IBO",
              "outputKey": "15"
            }
          ]
        }
      },
      "id": "17893716-f390-415e-bb08-5db2c98d54d6",
      "name": "Switch Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        -1120,
        528
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/homeassistant/turn_off",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "944d3064-dca1-4249-9413-6f5d8a96da88",
      "name": "Turn Off LG C3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        736,
        112
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/volume_mute",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_oled_c3\",\"is_volume_muted\": true}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "e12213e7-ec00-4fc1-ae2d-5851e4893922",
      "name": "Mute C3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        736,
        320
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/volume_mute",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_oled_c3\",\"is_volume_muted\": false}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "0e922447-fe4f-43be-9165-df01469f65dd",
      "name": "Unmute",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        736,
        528
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/volume_up",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "f0d316da-ec46-4aa5-a341-0089d6c97aa1",
      "name": "Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        736,
        736
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/volume_down",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "c4328fe3-edef-4af0-baf0-d9c7407a2e05",
      "name": "Down",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        736,
        928
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/select_source",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\",\"source\": \"Netflix\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "8e6657e2-f24e-4af7-b4a9-0e759b8145aa",
      "name": "Netflix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        736,
        1120
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/select_source",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\",\"source\": \"Free TV\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "bf6a26e6-af3e-420e-9c63-4f1c89cf5a70",
      "name": "Free TV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        736,
        1328
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/select_source",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\",\"source\": \"Disney+\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "8814c200-649b-4af0-bd61-74bf10a3cebd",
      "name": "Disney+",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        736,
        1552
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/select_source",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\",\"source\": \"YouTube\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "89fa24a4-cc95-44cf-b70f-6bdfcb51ca68",
      "name": "YouTube",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        736,
        1728
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/select_source",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\",\"source\": \"PS5 Game Console\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "7299d1a5-e947-420d-b102-9ff814bed6aa",
      "name": "PS 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        736,
        1936
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/select_source",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\",\"source\": \"HDMI 1\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "d387e2fa-c7c3-4283-a948-7c6292b4ddea",
      "name": "PC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        736,
        2144
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/webostv/button",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\",\"button\": \"ENTER\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "0b7d2595-9d35-484d-a371-bf330db186a3",
      "name": "Enter Button",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        944,
        1728
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/volume_set",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "={\n  \"entity_id\": \"media_player.lg_c3\",\n  \"volume_level\": {{$json.amount / 100}}\n}\n",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "a0ea25fe-f59d-4b75-b428-0c6fbaec64a4",
      "name": "Set Volume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        736,
        2352
      ]
    },
    {
      "parameters": {
        "jsCode": "const n = $json.amount ?? 0;\nconst out = [];\nfor (let i = 0; i < n; i++) {\n  out.push({ json: { step: i + 1 } });\n}\nreturn out;"
      },
      "id": "a2c5809b-e5c5-4b4c-bea1-c726ff3de4cd",
      "name": "Repeat Up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        2560
      ]
    },
    {
      "parameters": {},
      "id": "a1d3e45c-95c5-4256-b6bd-71092eea8ff5",
      "name": "Wait Up",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        624,
        2560
      ],
      "webhookId": "wait-up-id"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/volume_up",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "b8e26812-8566-47e1-a5be-201f73a2295f",
      "name": "Volume Up Repeat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        784,
        2560
      ]
    },
    {
      "parameters": {
        "jsCode": "const n = $json.amount ?? 0;\nconst out = [];\nfor (let i = 0; i < n; i++) {\n  out.push({ json: { step: i + 1 } });\n}\nreturn out;"
      },
      "id": "e213f2a3-d3d2-4de3-97f1-6870a007bd99",
      "name": "Repeat Down",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        2768
      ]
    },
    {
      "parameters": {},
      "id": "52d33873-6e13-46ab-99c8-880979bcdfb7",
      "name": "Wait Down",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        624,
        2768
      ],
      "webhookId": "wait-down-id"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/volume_down",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "336486b9-b8be-4581-806c-18cc15b96821",
      "name": "Volume Down Repeat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        784,
        2768
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/select_source",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\",\"source\": \"OttPlayer\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "3900f50d-d83b-4315-b821-281a25a2db55",
      "name": "Ott",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -752,
        1664
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ha.alex-it.net/api/services/media_player/select_source",
        "jsonParameters": true,
        "options": {
          "fullResponse": true
        },
        "bodyParametersJson": "{\"entity_id\": \"media_player.lg_c3\",\"source\": \"ibPlayer Pro\"}",
        "headerParametersJson": "{\"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhYzAyYTI5MDg4ZDM0Mjk4OGY5NGU5ZDY4MmQ1YmM2YyIsImlhdCI6MTc1NTYzMTM3NiwiZXhwIjoyMDcwOTkxMzc2fQ.rruMS1bXnMecVeKpbCb_VmqVsMHDAsQieFBG22alF2k\",\"Content-Type\": \"application/json\"}"
      },
      "id": "43a56ee2-9bfe-40a5-965a-f1b7de9be817",
      "name": "IBO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1088,
        1664
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Switch Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Command": {
      "main": [
        [
          {
            "node": "Turn Off LG C3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mute C3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unmute",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Down",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Netflix",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Free TV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disney+",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PS 5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Volume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Repeat Up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Repeat Down",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ott",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IBO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Enter Button",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repeat Up": {
      "main": [
        [
          {
            "node": "Wait Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Up": {
      "main": [
        [
          {
            "node": "Volume Up Repeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repeat Down": {
      "main": [
        [
          {
            "node": "Wait Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Down": {
      "main": [
        [
          {
            "node": "Volume Down Repeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 358566347,
          "message": {
            "message_id": 370,
            "from": {
              "id": 426570413,
              "is_bot": false,
              "first_name": "Alex",
              "last_name": "Vi",
              "username": "Alexvi55555",
              "language_code": "en"
            },
            "chat": {
              "id": 426570413,
              "first_name": "Alex",
              "last_name": "Vi",
              "username": "Alexvi55555",
              "type": "private"
            },
            "date": 1755684403,
            "text": "/volume",
            "entities": [
              {
                "offset": 0,
                "length": 7,
                "type": "bot_command"
              }
            ]
          }
        }
      }
    ]
  },
  "versionId": "00e1bdc2-67f2-4623-89d2-3db4933c09ab",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-02T14:14:00.700Z",
      "updatedAt": "2025-09-02T14:14:00.700Z",
      "role": "workflow:owner",
      "workflowId": "dPQb7gi6xfrgsXMi",
      "projectId": "NptNxIUgBjUJaRfd"
    }
  ],
  "tags": []
}