PI workflows backup 2026-03-28 12-00/Slack Emoji → ClickUp Task Creator.json
{
  "updatedAt": "2026-03-27T17:05:42.413Z",
  "createdAt": "2026-03-27T16:50:00.099Z",
  "id": "QSg089s0wQt6NSqe",
  "name": "Slack Emoji → ClickUp Task Creator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "6534cf6b-0312-4beb-88b5-5d1a0d9a992d",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        48
      ],
      "webhookId": "01a2f7b9-92f9-4ebf-b9bb-8b6196648dfd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "emoji-check",
              "leftValue": "={{ $json.event.reaction }}",
              "rightValue": "clipboard",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1463fb4-e998-4089-88cb-de9c9600e449",
      "name": "Filter Emoji (📋)",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        144,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/conversations.history",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.slackApi.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.event.item.channel }}"
            },
            {
              "name": "latest",
              "value": "={{ $json.event.item.ts }}"
            },
            {
              "name": "inclusive",
              "value": "true"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "60cc99ca-7bc3-4216-91af-0e3ec7602ce7",
      "name": "Get Slack Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-text",
              "name": "messageText",
              "value": "={{ $json.messages[0].text }}",
              "type": "string"
            },
            {
              "id": "msg-user",
              "name": "messageUser",
              "value": "={{ $json.messages[0].user }}",
              "type": "string"
            },
            {
              "id": "channel-id",
              "name": "channelId",
              "value": "={{ $('Slack Trigger').item.json.event.item.channel }}",
              "type": "string"
            },
            {
              "id": "msg-ts",
              "name": "messageTs",
              "value": "={{ $('Slack Trigger').item.json.event.item.ts }}",
              "type": "string"
            },
            {
              "id": "slack-link",
              "name": "slackLink",
              "value": "=https://app.slack.com/archives/{{ $('Slack Trigger').item.json.event.item.channel }}/p{{ $('Slack Trigger').item.json.event.item.ts.replace('.', '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7880c1bd-77a2-4de3-b347-8d3fcbe59cdf",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        48
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.messageText.substring(0, 100) }}",
        "additionalFields": {
          "content": "=**Slack Message:**\n{{ $json.messageText }}\n\n**Slack Link:** {{ $json.slackLink }}\n\n**Posted by:** <@{{ $json.messageUser }}>",
          "dueDate": "={{ new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString() }}",
          "priority": 3,
          "status": "to do"
        }
      },
      "id": "e37a6e77-fb5e-4722-9e26-bdad6fdd63dc",
      "name": "Create ClickUp Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        800,
        48
      ]
    },
    {
      "parameters": {
        "messageType": "block",
        "blocksUi": {
          "blocksValues": [
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "=✅ *ClickUp task created!*\n\n*<{{ $json.url }}|{{ $json.name }}>*\n📌 Priority: Normal | 📅 Due: {{ new Date($json.due_date).toLocaleDateString('en-IL', {timeZone: 'Asia/Jerusalem'}) }}\n🗂️ List: {{ $json.list.name }}"
              }
            }
          ]
        },
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Extract Message Data').item.json.messageTs }}"
            }
          }
        }
      },
      "id": "483729f4-334d-4be3-9bb6-7257e4ceeba7",
      "name": "Reply in Slack Thread",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1024,
        48
      ],
      "webhookId": "2163e672-dbb8-47c2-9906-2dd691f73552"
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Filter Emoji (📋)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Emoji (📋)": {
      "main": [
        [
          {
            "node": "Get Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Slack Message": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Create ClickUp Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create ClickUp Task": {
      "main": [
        [
          {
            "node": "Reply in Slack Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:ClickUp Trigger": {
      "webhookId": "e4f92410-ceb1-4e45-8e10-872a71f286fe",
      "secret": "CVLHG45JXDO2XJD72DM9KPVWUCUDIC44LKX0QQTGU6GU9VOUCR7M3DCNH3NR9YHI"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "71bd8ad6-56b6-40c6-9da2-aa1b68a42e5b",
  "activeVersionId": "e53e563e-a228-4c88-bdb1-724ccfd91ebb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-27T16:50:00.109Z",
      "createdAt": "2026-03-27T16:50:00.109Z",
      "role": "workflow:owner",
      "workflowId": "QSg089s0wQt6NSqe",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-27T16:54:23.000Z",
    "createdAt": "2026-03-27T16:54:12.626Z",
    "versionId": "e53e563e-a228-4c88-bdb1-724ccfd91ebb",
    "workflowId": "QSg089s0wQt6NSqe",
    "nodes": [
      {
        "parameters": {
          "team": "90182562733",
          "events": [
            "goalCreated"
          ],
          "filters": {}
        },
        "id": "79a47072-defc-45f0-b90e-ea7cefa90a62",
        "name": "ClickUp Trigger",
        "type": "n8n-nodes-base.clickUpTrigger",
        "typeVersion": 1,
        "position": [
          48,
          16
        ],
        "webhookId": "aaab0d02-8495-4dbe-9435-c3d99c5de318",
        "credentials": {
          "clickUpApi": {
            "id": "LzEObyuompSaVxsi",
            "name": "ClickUp account"
          }
        }
      },
      {
        "parameters": {
          "team": "90182562733",
          "space": "901810356305",
          "folder": "901813080088",
          "list": "901816964420",
          "name": "Alex",
          "additionalFields": {}
        },
        "id": "3e8a36ba-c0cf-47c2-92aa-ee30adb9d717",
        "name": "Get Task Details",
        "type": "n8n-nodes-base.clickUp",
        "typeVersion": 1,
        "position": [
          288,
          16
        ],
        "credentials": {
          "clickUpApi": {
            "id": "LzEObyuompSaVxsi",
            "name": "ClickUp account"
          }
        }
      },
      {
        "parameters": {
          "select": "user",
          "user": {
            "__rl": true,
            "value": "C08B3Q6QWDA",
            "mode": "id"
          },
          "text": "Hi its test",
          "otherOptions": {}
        },
        "id": "18e31442-dbf6-4dfc-a9d6-9ad6ca5f2652",
        "name": "Slack Notification",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.2,
        "position": [
          512,
          16
        ],
        "webhookId": "566f470f-4f2e-41af-bfc9-766607ec6053",
        "credentials": {
          "slackApi": {
            "id": "obEYVo8oQOJ22JqX",
            "name": "AD Admin Bot"
          }
        }
      }
    ],
    "connections": {
      "ClickUp Trigger": {
        "main": [
          [
            {
              "node": "Get Task Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Task Details": {
        "main": [
          [
            {
              "node": "Slack Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version e53e563e",
    "description": "",
    "autosaved": true
  },
  "tags": []
}