PI workflows backup 2026-03-03 09-23/PI workflows backup to Google Drive & GitHub.json
{
  "updatedAt": "2026-03-03T07:23:15.084Z",
  "createdAt": "2025-08-31T19:35:34.809Z",
  "id": "lIAp2PZeA0MG7QiE",
  "name": "PI workflows backup to Google Drive & GitHub",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "folder",
        "name": "=PI workflows backup",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -25952,
        368
      ],
      "id": "ff650287-a496-4be0-ad15-bf8c30c8942a",
      "name": "Create folder if not exist",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Generate timestamp ONCE at the top\nconst dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n\n  const safe = orig\n    .replace(/[\\/\\\\]+/g, '-')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;      // ✅ Store for GitHub Backup\n  json.timestamp = timestamp;        // ✅ Store for README\n\n  return { json, binary: bin };\n});"
      },
      "id": "6e944376-8d64-4367-8cfe-1836e27da067",
      "name": "Normalize Filename1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25200,
        624
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Update README with latest backup summary"
      },
      "id": "bafbb8b6-2a72-49a9-9aae-24841fdf34c1",
      "name": "GitHub Edit README (binary)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -21328,
        864
      ],
      "webhookId": "327e766f-55b5-4285-b308-498138c7521b",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Create README with latest backup summary"
      },
      "id": "afa32194-bcd2-4a8c-bf02-1a28a101f7ea",
      "name": "GitHub Create README (binary)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -21312,
        1104
      ],
      "webhookId": "4d2b8cab-bb0e-4e4f-a303-2cd86eb3f482",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$node[\"GitHub Get README\"].item}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "greater"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "4cd47400-dfd5-4c9b-b52e-18381f8c34fb",
      "name": "IF README exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -21840,
        1440
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.readme || '# PI workflows backup\\n\\n(empty)')\n  .replace(/\\r?\\n/g, '\\n');\n\nconst getReadmeItem = $item(0, 'GitHub Get README');\nconst sha = getReadmeItem?.json?.sha || '';\n\nreturn {\n  json: { sha },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
      },
      "id": "f3138cf4-deae-4a7f-b913-2f9f63374b5e",
      "name": "Make README Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21520,
        1440
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "additionalParameters": {}
      },
      "id": "a02bccad-bdde-4208-aab1-267c7e713f18",
      "name": "GitHub Get README",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -22480,
        1440
      ],
      "webhookId": "976c9847-715d-4eac-8686-4d65d58fddff",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Get the stored timestamp from Normalize Filename1\nconst normalizeItems = $items('Normalize Filename1') || [];\nconst storedData = normalizeItems[0]?.json || {};\n\nconst folder = storedData.folderName;\nconst timestamp = storedData.timestamp;\n\n// Collect workflow names\nlet workflowNames = normalizeItems\n  .map(item => item.json?.workflowName)\n  .filter(name => name);\n\n// GitHub backup info\nconst OWNER = \"alexxx55555\";\nconst REPO  = \"n8n-Raspberry-PI-Workflow-Backup\";\nconst BRANCH = \"main\";\n\nconst ghUrl = `https://github.com/${OWNER}/${encodeURIComponent(REPO)}/tree/${encodeURIComponent(BRANCH)}/${encodeURIComponent(folder)}`;\n\n// Markdown README content\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join(\"\\n\") : \"- (no workflows found)\"}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{\n  json: {\n    readme,\n    timestamp,\n    folder,\n    ghUrl,\n    workflowCount: workflowNames.length\n  }\n}];"
      },
      "id": "cf8ac659-6a44-4878-a41b-c44deb4817dd",
      "name": "Create README Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22816,
        1440
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Collect all workflow names that were just backed up\nconst normalizeItems = $items('Normalize Filename1') || [];\nconst workflowNames = normalizeItems\n  .map(item => item.json?.workflowName || item.binary?.data?.fileName || 'Unknown Workflow')\n  .filter(name => name && name !== 'Unknown Workflow');\n\n// Pass the names to the next node\nreturn [{ json: { backedUpWorkflows: workflowNames } }];\n"
      },
      "id": "f3a55101-540d-4827-b031-a0778d8c0203",
      "name": "Collect Workflow Names",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24512,
        624
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25504,
        32
      ],
      "id": "8990a26c-9069-41e0-8b0d-1d6a338638b0",
      "name": "workflow Export",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "deleteFolder",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -27120,
        48
      ],
      "id": "b9a45d62-5775-449e-9d93-a0b051a0fb11",
      "name": "Delete folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "PI workflows backup",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -27520,
        48
      ],
      "id": "07ec5a62-1280-4c35-b2dd-47fd2719ef91",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -25968,
        48
      ],
      "id": "515738f7-de0a-45ff-9b1b-4b7fc4e6bd5d",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -26400,
        48
      ],
      "id": "cd1a06be-d5c9-4500-8df6-370038904fdd",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "SKAlyF2lhIc4Qqwz",
          "name": "n8n account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "name": "=",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $items(\"Create folder\")[0].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -24816,
        32
      ],
      "id": "bddc56a6-13f2-4f0a-adde-06e0d475262e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=PI workflows backup_{{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -26752,
        48
      ],
      "id": "a3fe7df1-710a-43ca-8c47-3b070e75428d",
      "name": "Create folder",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -26544,
        368
      ],
      "id": "a4abf63b-4637-42e5-9416-946eb757fec8",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "alexxx55555",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.folderName}}/{{$binary.data.fileName}}",
        "binaryData": true,
        "commitMessage": "=PI workflows backup: {{$json.name}} - {{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
        "additionalParameters": {
          "author": {
            "name": "PI workflows backup",
            "email": "vinokura@alex-it.net"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -24912,
        832
      ],
      "id": "a1128647-c174-4ffb-b68a-65b420cb2eb0",
      "name": "GitHub Backup (sanitized)",
      "webhookId": "e533a661-fea4-4243-8df3-c8400cbb80f1",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        }
      },
      "id": "7b10a774-06dc-4147-9baf-d25e806f2680",
      "name": "GitHub List Backup Folders (root)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -24352,
        832
      ],
      "webhookId": "8d0653eb-ecf7-4341-8e77-74e221755ff7",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// The current items are from GitHub List (no folderName)\n// But the LAST item passed into this node still has context from the backup\n// So we need to find folderName from the folder names themselves\n\n// Get all dirs that match our pattern\nconst folders = $items().filter(i =>\n  i.json &&\n  i.json.type === \"dir\" &&\n  typeof i.json.name === \"string\" &&\n  i.json.name.startsWith(\"PI workflows backup \")\n);\n\n// Sort descending by name (date-based names sort correctly as strings)\nconst sorted = [...folders].sort((a, b) => b.json.name.localeCompare(a.json.name));\n\n// The newest folder is first — keep it, delete the rest\nconst newest = sorted[0]?.json?.name;\n\nif (!newest) return [];\n\nreturn sorted\n  .slice(1)  // everything except the newest\n  .map(i => ({ json: { path: i.json.path, name: i.json.name } }));"
      },
      "id": "9b96caba-3e0f-42b3-a154-f164bb88fe79",
      "name": "Filter Old GH Backup Folders (keep newest)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23952,
        832
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}"
      },
      "id": "5cd60be5-d121-48dc-8f77-5db6258387c2",
      "name": "GH List Files In Old Folder",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -23616,
        832
      ],
      "webhookId": "49ccb808-35ee-4453-9e48-6b71cc7da4fd",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}"
      },
      "id": "a59501f3-87ee-439e-afd8-077f1e105ba7",
      "name": "GH List Files In Subfolder",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -24064,
        1312
      ],
      "webhookId": "ee5a437b-36ea-4187-8250-380e17574093",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{$json[\"type\"]}}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "isfile"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "988ef64b-a0b5-458f-b649-9da8c06f1ead",
      "name": "IF Is File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -23600,
        1504
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
      },
      "id": "2f65d5c2-619d-44f1-afb1-11b5226ff64e",
      "name": "To Files (root)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23360,
        1568
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}",
        "commitMessage": "=Cleanup old backup file {{$json.path}}"
      },
      "id": "5e1d230b-36ad-4bff-98db-f88adadf2d06",
      "name": "GH Delete File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -23088,
        1440
      ],
      "webhookId": "4335414b-45d6-4334-9a77-13aebaa9a888",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
      },
      "id": "02971699-35e2-48dc-99f4-147e9e22501a",
      "name": "To Files (subfolder)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23360,
        1312
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=PI workflows backup",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -20384,
        3744
      ],
      "id": "00f4ba92-359a-4ff3-be5c-d04524d00a9a",
      "name": "Create folder if not exist1",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Generate timestamp ONCE at the top\nconst dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n\n  const safe = orig\n    .replace(/[\\/\\\\]+/g, '-')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;\n  json.timestamp = timestamp;\n\n  return { json, binary: bin };\n});"
      },
      "id": "9bf93d8b-0cda-4a20-bb33-07281e3803c4",
      "name": "Normalize Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19632,
        4000
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Update README with latest backup summary"
      },
      "id": "70f6a338-052c-4ccb-8e15-1043dc2a3489",
      "name": "GitHub Edit README (binary)1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -15760,
        4240
      ],
      "webhookId": "327e766f-55b5-4285-b308-498138c7521b",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Create README with latest backup summary"
      },
      "id": "950c3aaa-2697-4ae4-8885-2226cf175130",
      "name": "GitHub Create README (binary)1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -15744,
        4480
      ],
      "webhookId": "4d2b8cab-bb0e-4e4f-a303-2cd86eb3f482",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$node[\"GitHub Get README1\"].item}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "greater"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "5fcf5561-d757-4891-9d0d-af00c77d283d",
      "name": "IF README exists?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -16272,
        4816
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.readme || '# PI workflows backup\\n\\n(empty)')\n  .replace(/\\r?\\n/g, '\\n');\n\nconst getReadmeItem = $item(0, 'GitHub Get README');\nconst sha = getReadmeItem?.json?.sha || '';\n\nreturn {\n  json: { sha },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
      },
      "id": "1a18680d-1c18-4935-942d-262f0eafd7a7",
      "name": "Make README Binary1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15952,
        4816
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "additionalParameters": {}
      },
      "id": "1348d910-eb29-45d0-a276-2353ba610d29",
      "name": "GitHub Get README1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -16912,
        4816
      ],
      "webhookId": "976c9847-715d-4eac-8686-4d65d58fddff",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Get the stored timestamp from Normalize Filename1\nconst normalizeItems = $items('Normalize Filename') || [];\nconst storedData = normalizeItems[0]?.json || {};\n\nconst folder = storedData.folderName;\nconst timestamp = storedData.timestamp;\n\n// Collect workflow names\nlet workflowNames = normalizeItems\n  .map(item => item.json?.workflowName)\n  .filter(name => name);\n\n// GitHub backup info\nconst OWNER = \"alexxx55555\";\nconst REPO  = \"n8n-Raspberry-PI-Workflow-Backup\";\nconst BRANCH = \"main\";\n\nconst ghUrl = `https://github.com/${OWNER}/${encodeURIComponent(REPO)}/tree/${encodeURIComponent(BRANCH)}/${encodeURIComponent(folder)}`;\n\n// Markdown README content\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join(\"\\n\") : \"- (no workflows found)\"}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{\n  json: {\n    readme,\n    timestamp,\n    folder,\n    ghUrl,\n    workflowCount: workflowNames.length\n  }\n}];"
      },
      "id": "632ddce5-17fa-4e75-abbb-f4a88f0ac4fe",
      "name": "Create README Text1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -17248,
        4816
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all workflow names that were just backed up\n// This node aggregates ALL items from Normalize Filename1 into one output\n// so that the cleanup chain runs ONCE after all backups complete\nconst normalizeItems = $items('Normalize Filename') || [];\nconst workflowNames = normalizeItems\n  .map(item => item.json?.workflowName || item.binary?.data?.fileName || 'Unknown Workflow')\n  .filter(name => name && name !== 'Unknown Workflow');\n\n// Pass the names to the next node\nreturn [{ json: { backedUpWorkflows: workflowNames } }];\n"
      },
      "id": "8feb9af5-966c-41ae-8d84-f5b82b32e7b2",
      "name": "Collect Workflow Names1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18944,
        4000
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19936,
        3408
      ],
      "id": "e99a47a4-2483-427e-8820-1f52b5351171",
      "name": "workflow Export1"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "deleteFolder",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -21552,
        3424
      ],
      "id": "649e9496-4ac8-4691-8e91-c2658c7f2858",
      "name": "Delete folder1",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "PI workflows backup",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -21952,
        3424
      ],
      "id": "d6aac0c8-f3db-45dc-8c27-7d385b236fa0",
      "name": "Search files and folders1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -20400,
        3424
      ],
      "id": "ed395c5d-7720-488c-8000-6b6e7c7c4c2b",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -20832,
        3424
      ],
      "id": "c693ddd0-3e92-418f-a786-ac9d06ab738b",
      "name": "Get many workflows1",
      "credentials": {
        "n8nApi": {
          "id": "SKAlyF2lhIc4Qqwz",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "name": "=",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $items(\"Create folder1\")[0].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -19248,
        3408
      ],
      "id": "5c26d22e-754a-4d61-af62-2fe99f44ebe0",
      "name": "Upload file1",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=PI workflows backup_{{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -21184,
        3424
      ],
      "id": "bcda00db-589e-4282-a666-b26870d20c22",
      "name": "Create folder1",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -20976,
        3744
      ],
      "id": "21a5638c-2944-4abb-93ca-8156284b6a60",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "alexxx55555",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.folderName}}/{{$binary.data.fileName}}",
        "binaryData": true,
        "commitMessage": "=PI workflows backup: {{$json.name}} - {{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
        "additionalParameters": {
          "author": {
            "name": "PI workflows backup",
            "email": "vinokura@alex-it.net"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -19344,
        4208
      ],
      "id": "1aefe9d3-3dfa-4f20-84de-aac679510312",
      "name": "GitHub Backup (sanitized)1",
      "webhookId": "e533a661-fea4-4243-8df3-c8400cbb80f1",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        }
      },
      "id": "0f442857-3604-4f3f-99b4-768493ea189a",
      "name": "GitHub List Backup Folders (root)1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -18784,
        4208
      ],
      "webhookId": "8d0653eb-ecf7-4341-8e77-74e221755ff7",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all dirs that match our pattern\nconst folders = $items().filter(i =>\n  i.json &&\n  i.json.type === \"dir\" &&\n  typeof i.json.name === \"string\" &&\n  i.json.name.startsWith(\"PI workflows backup \")\n);\n\n// Sort descending by name (date-based names sort correctly as strings)\nconst sorted = [...folders].sort((a, b) => b.json.name.localeCompare(a.json.name));\n\n// The newest folder is first — keep it, delete the rest\nconst newest = sorted[0]?.json?.name;\n\nif (!newest) return [];\n\nreturn sorted\n  .slice(1)\n  .map(i => ({ json: { path: i.json.path, name: i.json.name } }));"
      },
      "id": "9c44383c-9937-4c89-befa-2e40e89ac718",
      "name": "Filter Old GH Backup Folders (keep newest)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18384,
        4208
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}"
      },
      "id": "3434646f-28c5-49d7-8236-d466d4ed60a9",
      "name": "GH List Files In Old Folder1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -18048,
        4208
      ],
      "webhookId": "49ccb808-35ee-4453-9e48-6b71cc7da4fd",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}"
      },
      "id": "ffcc4421-11f2-491e-8dcd-c80e7ad98455",
      "name": "GH List Files In Subfolder1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -18496,
        4688
      ],
      "webhookId": "ee5a437b-36ea-4187-8250-380e17574093",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{$json[\"type\"]}}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "isfile"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "71af5162-1a1a-47b6-9386-616a9898fc51",
      "name": "IF Is File?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -18032,
        4880
      ]
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
      },
      "id": "25eb96b6-c6db-4f39-ab72-a503c0fa5884",
      "name": "To Files (root)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -17792,
        4944
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}",
        "commitMessage": "=Cleanup old backup file {{$json.path}}"
      },
      "id": "ea63a758-0902-4f84-80ba-664cdc3adc5d",
      "name": "GH Delete File1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -17520,
        4816
      ],
      "webhookId": "4335414b-45d6-4334-9a77-13aebaa9a888",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
      },
      "id": "231d4ee6-a0a9-43c8-b9e7-bee4b447b0a9",
      "name": "To Files (subfolder)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -17792,
        4688
      ]
    }
  ],
  "connections": {
    "Create folder if not exist": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Filename1": {
      "main": [
        [
          {
            "node": "GitHub Backup (sanitized)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Collect Workflow Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF README exists?": {
      "main": [
        [
          {
            "node": "GitHub Edit README (binary)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub Create README (binary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make README Binary": {
      "main": [
        [
          {
            "node": "IF README exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Get README": {
      "main": [
        [
          {
            "node": "Make README Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create README Text": {
      "main": [
        [
          {
            "node": "GitHub Get README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow Export": {
      "main": [
        [
          {
            "node": "Normalize Filename1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete folder": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Delete folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "workflow Export",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create folder if not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Backup (sanitized)": {
      "main": [
        [
          {
            "node": "GitHub List Backup Folders (root)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub List Backup Folders (root)": {
      "main": [
        [
          {
            "node": "Filter Old GH Backup Folders (keep newest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Old GH Backup Folders (keep newest)": {
      "main": [
        [
          {
            "node": "GH List Files In Old Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Old Folder": {
      "main": [
        [
          {
            "node": "IF Is File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Subfolder": {
      "main": [
        [
          {
            "node": "To Files (subfolder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is File?": {
      "main": [
        [
          {
            "node": "To Files (root)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GH List Files In Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (root)": {
      "main": [
        [
          {
            "node": "GH Delete File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH Delete File": {
      "main": [
        [
          {
            "node": "Create README Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (subfolder)": {
      "main": [
        [
          {
            "node": "GH Delete File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder if not exist1": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Filename": {
      "main": [
        [
          {
            "node": "GitHub Backup (sanitized)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Collect Workflow Names1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF README exists?1": {
      "main": [
        [
          {
            "node": "GitHub Edit README (binary)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub Create README (binary)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make README Binary1": {
      "main": [
        [
          {
            "node": "IF README exists?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Get README1": {
      "main": [
        [
          {
            "node": "Make README Binary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create README Text1": {
      "main": [
        [
          {
            "node": "GitHub Get README1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Workflow Names1": {
      "main": [
        [
          {
            "node": "GitHub List Backup Folders (root)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create README Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow Export1": {
      "main": [
        [
          {
            "node": "Normalize Filename",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete folder1": {
      "main": [
        [
          {
            "node": "Create folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Delete folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "workflow Export1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder1": {
      "main": [
        [
          {
            "node": "Get many workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Create folder if not exist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub List Backup Folders (root)1": {
      "main": [
        [
          {
            "node": "Filter Old GH Backup Folders (keep newest)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Old GH Backup Folders (keep newest)1": {
      "main": [
        [
          {
            "node": "GH List Files In Old Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Old Folder1": {
      "main": [
        [
          {
            "node": "IF Is File?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Subfolder1": {
      "main": [
        [
          {
            "node": "To Files (subfolder)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is File?1": {
      "main": [
        [
          {
            "node": "To Files (root)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GH List Files In Subfolder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (root)1": {
      "main": [
        [
          {
            "node": "GH Delete File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (subfolder)1": {
      "main": [
        [
          {
            "node": "GH Delete File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        8
      ]
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4eb419e6-3d4a-479c-8f71-da2d03f40192",
  "activeVersionId": "ac964585-8d5b-4344-aa2a-3474b3317193",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T09:14:00.800Z",
      "createdAt": "2025-10-31T09:14:00.800Z",
      "role": "workflow:owner",
      "workflowId": "lIAp2PZeA0MG7QiE",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-03T07:20:39.000Z",
    "createdAt": "2026-03-03T07:20:38.467Z",
    "versionId": "ac964585-8d5b-4344-aa2a-3474b3317193",
    "workflowId": "lIAp2PZeA0MG7QiE",
    "nodes": [
      {
        "parameters": {
          "resource": "folder",
          "name": "=PI workflows backup",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -25952,
          368
        ],
        "id": "ff650287-a496-4be0-ad15-bf8c30c8942a",
        "name": "Create folder if not exist",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "// Generate timestamp ONCE at the top\nconst dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n\n  const safe = orig\n    .replace(/[\\/\\\\]+/g, '-')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;      // ✅ Store for GitHub Backup\n  json.timestamp = timestamp;        // ✅ Store for README\n\n  return { json, binary: bin };\n});"
        },
        "id": "6e944376-8d64-4367-8cfe-1836e27da067",
        "name": "Normalize Filename1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -25200,
          624
        ],
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Update README with latest backup summary"
        },
        "id": "bafbb8b6-2a72-49a9-9aae-24841fdf34c1",
        "name": "GitHub Edit README (binary)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -21328,
          864
        ],
        "webhookId": "327e766f-55b5-4285-b308-498138c7521b",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Create README with latest backup summary"
        },
        "id": "afa32194-bcd2-4a8c-bf02-1a28a101f7ea",
        "name": "GitHub Create README (binary)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -21312,
          1104
        ],
        "webhookId": "4d2b8cab-bb0e-4e4f-a303-2cd86eb3f482",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{$node[\"GitHub Get README\"].item}}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "greater"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "4cd47400-dfd5-4c9b-b52e-18381f8c34fb",
        "name": "IF README exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -21840,
          1440
        ],
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const text = ($json.readme || '# PI workflows backup\\n\\n(empty)')\n  .replace(/\\r?\\n/g, '\\n');\n\nconst getReadmeItem = $item(0, 'GitHub Get README');\nconst sha = getReadmeItem?.json?.sha || '';\n\nreturn {\n  json: { sha },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
        },
        "id": "f3138cf4-deae-4a7f-b913-2f9f63374b5e",
        "name": "Make README Binary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -21520,
          1440
        ],
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "additionalParameters": {}
        },
        "id": "a02bccad-bdde-4208-aab1-267c7e713f18",
        "name": "GitHub Get README",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -22480,
          1440
        ],
        "webhookId": "976c9847-715d-4eac-8686-4d65d58fddff",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true,
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "// Get the stored timestamp from Normalize Filename1\nconst normalizeItems = $items('Normalize Filename1') || [];\nconst storedData = normalizeItems[0]?.json || {};\n\nconst folder = storedData.folderName;\nconst timestamp = storedData.timestamp;\n\n// Collect workflow names\nlet workflowNames = normalizeItems\n  .map(item => item.json?.workflowName)\n  .filter(name => name);\n\n// GitHub backup info\nconst OWNER = \"alexxx55555\";\nconst REPO  = \"n8n-Raspberry-PI-Workflow-Backup\";\nconst BRANCH = \"main\";\n\nconst ghUrl = `https://github.com/${OWNER}/${encodeURIComponent(REPO)}/tree/${encodeURIComponent(BRANCH)}/${encodeURIComponent(folder)}`;\n\n// Markdown README content\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join(\"\\n\") : \"- (no workflows found)\"}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{\n  json: {\n    readme,\n    timestamp,\n    folder,\n    ghUrl,\n    workflowCount: workflowNames.length\n  }\n}];"
        },
        "id": "cf8ac659-6a44-4878-a41b-c44deb4817dd",
        "name": "Create README Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -22816,
          1440
        ],
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "// Collect all workflow names that were just backed up\nconst normalizeItems = $items('Normalize Filename1') || [];\nconst workflowNames = normalizeItems\n  .map(item => item.json?.workflowName || item.binary?.data?.fileName || 'Unknown Workflow')\n  .filter(name => name && name !== 'Unknown Workflow');\n\n// Pass the names to the next node\nreturn [{ json: { backedUpWorkflows: workflowNames } }];\n"
        },
        "id": "f3a55101-540d-4827-b031-a0778d8c0203",
        "name": "Collect Workflow Names",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -24512,
          624
        ],
        "disabled": true
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -25504,
          32
        ],
        "id": "8990a26c-9069-41e0-8b0d-1d6a338638b0",
        "name": "workflow Export",
        "disabled": true
      },
      {
        "parameters": {
          "resource": "folder",
          "operation": "deleteFolder",
          "folderNoRootId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -27120,
          48
        ],
        "id": "b9a45d62-5775-449e-9d93-a0b051a0fb11",
        "name": "Delete folder",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "queryString": "PI workflows backup",
          "returnAll": true,
          "filter": {},
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -27520,
          48
        ],
        "id": "07ec5a62-1280-4c35-b2dd-47fd2719ef91",
        "name": "Search files and folders",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -25968,
          48
        ],
        "id": "515738f7-de0a-45ff-9b1b-4b7fc4e6bd5d",
        "name": "Loop Over Items",
        "disabled": true
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -26400,
          48
        ],
        "id": "cd1a06be-d5c9-4500-8df6-370038904fdd",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "SKAlyF2lhIc4Qqwz",
            "name": "n8n account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "name": "=",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $items(\"Create folder\")[0].json[\"id\"] }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -24816,
          32
        ],
        "id": "bddc56a6-13f2-4f0a-adde-06e0d475262e",
        "name": "Upload file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "=PI workflows backup_{{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -26752,
          48
        ],
        "id": "a3fe7df1-710a-43ca-8c47-3b070e75428d",
        "name": "Create folder",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 4
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -26544,
          368
        ],
        "id": "a4abf63b-4637-42e5-9416-946eb757fec8",
        "name": "Schedule Trigger",
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "alexxx55555",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.folderName}}/{{$binary.data.fileName}}",
          "binaryData": true,
          "commitMessage": "=PI workflows backup: {{$json.name}} - {{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
          "additionalParameters": {
            "author": {
              "name": "PI workflows backup",
              "email": "vinokura@alex-it.net"
            }
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -24912,
          832
        ],
        "id": "a1128647-c174-4ffb-b68a-65b420cb2eb0",
        "name": "GitHub Backup (sanitized)",
        "webhookId": "e533a661-fea4-4243-8df3-c8400cbb80f1",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          }
        },
        "id": "7b10a774-06dc-4147-9baf-d25e806f2680",
        "name": "GitHub List Backup Folders (root)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -24352,
          832
        ],
        "webhookId": "8d0653eb-ecf7-4341-8e77-74e221755ff7",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "// The current items are from GitHub List (no folderName)\n// But the LAST item passed into this node still has context from the backup\n// So we need to find folderName from the folder names themselves\n\n// Get all dirs that match our pattern\nconst folders = $items().filter(i =>\n  i.json &&\n  i.json.type === \"dir\" &&\n  typeof i.json.name === \"string\" &&\n  i.json.name.startsWith(\"PI workflows backup \")\n);\n\n// Sort descending by name (date-based names sort correctly as strings)\nconst sorted = [...folders].sort((a, b) => b.json.name.localeCompare(a.json.name));\n\n// The newest folder is first — keep it, delete the rest\nconst newest = sorted[0]?.json?.name;\n\nif (!newest) return [];\n\nreturn sorted\n  .slice(1)  // everything except the newest\n  .map(i => ({ json: { path: i.json.path, name: i.json.name } }));"
        },
        "id": "9b96caba-3e0f-42b3-a154-f164bb88fe79",
        "name": "Filter Old GH Backup Folders (keep newest)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -23952,
          832
        ],
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}"
        },
        "id": "5cd60be5-d121-48dc-8f77-5db6258387c2",
        "name": "GH List Files In Old Folder",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -23616,
          832
        ],
        "webhookId": "49ccb808-35ee-4453-9e48-6b71cc7da4fd",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}"
        },
        "id": "a59501f3-87ee-439e-afd8-077f1e105ba7",
        "name": "GH List Files In Subfolder",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -24064,
          1312
        ],
        "webhookId": "ee5a437b-36ea-4187-8250-380e17574093",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{$json[\"type\"]}}",
                "rightValue": "file",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "isfile"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "988ef64b-a0b5-458f-b649-9da8c06f1ead",
        "name": "IF Is File?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -23600,
          1504
        ],
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
        },
        "id": "2f65d5c2-619d-44f1-afb1-11b5226ff64e",
        "name": "To Files (root)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -23360,
          1568
        ],
        "disabled": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}",
          "commitMessage": "=Cleanup old backup file {{$json.path}}"
        },
        "id": "5e1d230b-36ad-4bff-98db-f88adadf2d06",
        "name": "GH Delete File",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -23088,
          1440
        ],
        "webhookId": "4335414b-45d6-4334-9a77-13aebaa9a888",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "disabled": true,
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
        },
        "id": "02971699-35e2-48dc-99f4-147e9e22501a",
        "name": "To Files (subfolder)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -23360,
          1312
        ],
        "disabled": true
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "=PI workflows backup",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -22784,
          3552
        ],
        "id": "f15f275f-e0e9-4cdb-a313-f100df61d062",
        "name": "Create folder if not exist1",
        "executeOnce": true,
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "// Generate timestamp ONCE at the top\nconst dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n\n  const safe = orig\n    .replace(/[\\/\\\\]+/g, '-')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;\n  json.timestamp = timestamp;\n\n  return { json, binary: bin };\n});"
        },
        "id": "d06ecec1-ed50-4ea9-9a31-774522565da2",
        "name": "Normalize Filename",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -22032,
          3808
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Update README with latest backup summary"
        },
        "id": "43b441f2-0fea-452d-8272-c279dde1113d",
        "name": "GitHub Edit README (binary)1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -18160,
          4048
        ],
        "webhookId": "327e766f-55b5-4285-b308-498138c7521b",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Create README with latest backup summary"
        },
        "id": "cfcce87f-5458-46ea-b5fb-9dadc0de3819",
        "name": "GitHub Create README (binary)1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -18144,
          4288
        ],
        "webhookId": "4d2b8cab-bb0e-4e4f-a303-2cd86eb3f482",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{$node[\"GitHub Get README1\"].item}}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "greater"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "8c9db5de-48d3-47f4-904c-97de2a7fa0a4",
        "name": "IF README exists?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -18672,
          4624
        ]
      },
      {
        "parameters": {
          "jsCode": "const text = ($json.readme || '# PI workflows backup\\n\\n(empty)')\n  .replace(/\\r?\\n/g, '\\n');\n\nconst getReadmeItem = $item(0, 'GitHub Get README');\nconst sha = getReadmeItem?.json?.sha || '';\n\nreturn {\n  json: { sha },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
        },
        "id": "4a969088-4bf0-4270-9fed-40f805d233d2",
        "name": "Make README Binary1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -18352,
          4624
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "additionalParameters": {}
        },
        "id": "a341ae19-e6a0-4398-a948-35135bd86e84",
        "name": "GitHub Get README1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -19312,
          4624
        ],
        "webhookId": "976c9847-715d-4eac-8686-4d65d58fddff",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "// Get the stored timestamp from Normalize Filename1\nconst normalizeItems = $items('Normalize Filename') || [];\nconst storedData = normalizeItems[0]?.json || {};\n\nconst folder = storedData.folderName;\nconst timestamp = storedData.timestamp;\n\n// Collect workflow names\nlet workflowNames = normalizeItems\n  .map(item => item.json?.workflowName)\n  .filter(name => name);\n\n// GitHub backup info\nconst OWNER = \"alexxx55555\";\nconst REPO  = \"n8n-Raspberry-PI-Workflow-Backup\";\nconst BRANCH = \"main\";\n\nconst ghUrl = `https://github.com/${OWNER}/${encodeURIComponent(REPO)}/tree/${encodeURIComponent(BRANCH)}/${encodeURIComponent(folder)}`;\n\n// Markdown README content\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join(\"\\n\") : \"- (no workflows found)\"}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{\n  json: {\n    readme,\n    timestamp,\n    folder,\n    ghUrl,\n    workflowCount: workflowNames.length\n  }\n}];"
        },
        "id": "e5bba6f2-3f07-4e8c-a107-64bc2c7357e6",
        "name": "Create README Text1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -19648,
          4624
        ]
      },
      {
        "parameters": {
          "jsCode": "// Collect all workflow names that were just backed up\n// This node aggregates ALL items from Normalize Filename1 into one output\n// so that the cleanup chain runs ONCE after all backups complete\nconst normalizeItems = $items('Normalize Filename') || [];\nconst workflowNames = normalizeItems\n  .map(item => item.json?.workflowName || item.binary?.data?.fileName || 'Unknown Workflow')\n  .filter(name => name && name !== 'Unknown Workflow');\n\n// Pass the names to the next node\nreturn [{ json: { backedUpWorkflows: workflowNames } }];\n"
        },
        "id": "13cecc8e-99bf-4a53-ab04-cdaab0f63f3a",
        "name": "Collect Workflow Names1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -21344,
          3808
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -22336,
          3216
        ],
        "id": "6077826e-c8cd-4908-9c94-36839f2cf452",
        "name": "workflow Export1"
      },
      {
        "parameters": {
          "resource": "folder",
          "operation": "deleteFolder",
          "folderNoRootId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -23952,
          3232
        ],
        "id": "a71b6fd3-ffd4-4624-976e-f931c47144df",
        "name": "Delete folder1",
        "disabled": true
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "queryString": "PI workflows backup",
          "returnAll": true,
          "filter": {},
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -24352,
          3232
        ],
        "id": "685a41b8-2f4a-47b0-86f0-b59a86a2a882",
        "name": "Search files and folders1",
        "disabled": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -22800,
          3232
        ],
        "id": "7eabdb9d-a616-4723-99e7-d584848833aa",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -23232,
          3232
        ],
        "id": "e4aa505f-ec0e-4863-9b61-18154677473c",
        "name": "Get many workflows1",
        "credentials": {
          "n8nApi": {
            "id": "SKAlyF2lhIc4Qqwz",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "name": "=",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $items(\"Create folder1\")[0].json[\"id\"] }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -21648,
          3216
        ],
        "id": "d1f8ecd8-f5f9-46a0-89a5-0981d738c17c",
        "name": "Upload file1",
        "disabled": true
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "=PI workflows backup_{{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -23584,
          3232
        ],
        "id": "bfbe166f-5db9-408c-ad05-bd24bf0053c0",
        "name": "Create folder1",
        "executeOnce": true,
        "disabled": true
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 4
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -23376,
          3552
        ],
        "id": "643e7ae0-4c16-42cc-a469-e108ad7bedd7",
        "name": "Schedule Trigger1"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "alexxx55555",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.folderName}}/{{$binary.data.fileName}}",
          "binaryData": true,
          "commitMessage": "=PI workflows backup: {{$json.name}} - {{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
          "additionalParameters": {
            "author": {
              "name": "PI workflows backup",
              "email": "vinokura@alex-it.net"
            }
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -21744,
          4016
        ],
        "id": "19ed9e1d-49ca-46ff-8ae7-a9342fbaaf97",
        "name": "GitHub Backup (sanitized)1",
        "webhookId": "e533a661-fea4-4243-8df3-c8400cbb80f1",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          }
        },
        "id": "dfb477a8-c80e-4642-847a-ca0af7808c78",
        "name": "GitHub List Backup Folders (root)1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -21184,
          4016
        ],
        "webhookId": "8d0653eb-ecf7-4341-8e77-74e221755ff7",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Get all dirs that match our pattern\nconst folders = $items().filter(i =>\n  i.json &&\n  i.json.type === \"dir\" &&\n  typeof i.json.name === \"string\" &&\n  i.json.name.startsWith(\"PI workflows backup \")\n);\n\n// Sort descending by name (date-based names sort correctly as strings)\nconst sorted = [...folders].sort((a, b) => b.json.name.localeCompare(a.json.name));\n\n// The newest folder is first — keep it, delete the rest\nconst newest = sorted[0]?.json?.name;\n\nif (!newest) return [];\n\nreturn sorted\n  .slice(1)\n  .map(i => ({ json: { path: i.json.path, name: i.json.name } }));"
        },
        "id": "b396b063-5410-42d9-b21f-96a9084b105d",
        "name": "Filter Old GH Backup Folders (keep newest)1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -20784,
          4016
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}"
        },
        "id": "7bf9d979-a46e-423b-a1d6-15b450b8151c",
        "name": "GH List Files In Old Folder1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -20448,
          4016
        ],
        "webhookId": "49ccb808-35ee-4453-9e48-6b71cc7da4fd",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}"
        },
        "id": "c2bad62d-72db-446f-a58f-deda8c87cf04",
        "name": "GH List Files In Subfolder1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -20896,
          4496
        ],
        "webhookId": "ee5a437b-36ea-4187-8250-380e17574093",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{$json[\"type\"]}}",
                "rightValue": "file",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "isfile"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "94efd22f-bf92-4ac0-9fc6-94d173902856",
        "name": "IF Is File?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -20432,
          4688
        ]
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
        },
        "id": "7d362baa-d828-485c-9f5f-252b22e258af",
        "name": "To Files (root)1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -20192,
          4752
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}",
          "commitMessage": "=Cleanup old backup file {{$json.path}}"
        },
        "id": "1110aee4-3533-4436-b49e-f4ebd36f7240",
        "name": "GH Delete File1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -19920,
          4624
        ],
        "webhookId": "4335414b-45d6-4334-9a77-13aebaa9a888",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
        },
        "id": "1cde89cd-acfd-478f-8103-8cf8250d4ec3",
        "name": "To Files (subfolder)1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -20192,
          4496
        ]
      }
    ],
    "connections": {
      "Create folder if not exist": {
        "main": [
          [
            {
              "node": "Search files and folders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Filename1": {
        "main": [
          [
            {
              "node": "GitHub Backup (sanitized)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Collect Workflow Names",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF README exists?": {
        "main": [
          [
            {
              "node": "GitHub Edit README (binary)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GitHub Create README (binary)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make README Binary": {
        "main": [
          [
            {
              "node": "IF README exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Get README": {
        "main": [
          [
            {
              "node": "Make README Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create README Text": {
        "main": [
          [
            {
              "node": "GitHub Get README",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "workflow Export": {
        "main": [
          [
            {
              "node": "Normalize Filename1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete folder": {
        "main": [
          [
            {
              "node": "Create folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search files and folders": {
        "main": [
          [
            {
              "node": "Delete folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "workflow Export",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create folder": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Create folder if not exist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Backup (sanitized)": {
        "main": [
          [
            {
              "node": "GitHub List Backup Folders (root)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub List Backup Folders (root)": {
        "main": [
          [
            {
              "node": "Filter Old GH Backup Folders (keep newest)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Old GH Backup Folders (keep newest)": {
        "main": [
          [
            {
              "node": "GH List Files In Old Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Old Folder": {
        "main": [
          [
            {
              "node": "IF Is File?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Subfolder": {
        "main": [
          [
            {
              "node": "To Files (subfolder)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Is File?": {
        "main": [
          [
            {
              "node": "To Files (root)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GH List Files In Subfolder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (root)": {
        "main": [
          [
            {
              "node": "GH Delete File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH Delete File": {
        "main": [
          [
            {
              "node": "Create README Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (subfolder)": {
        "main": [
          [
            {
              "node": "GH Delete File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create folder if not exist1": {
        "main": [
          [
            {
              "node": "Search files and folders1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Filename": {
        "main": [
          [
            {
              "node": "GitHub Backup (sanitized)1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Collect Workflow Names1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF README exists?1": {
        "main": [
          [
            {
              "node": "GitHub Edit README (binary)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GitHub Create README (binary)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make README Binary1": {
        "main": [
          [
            {
              "node": "IF README exists?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Get README1": {
        "main": [
          [
            {
              "node": "Make README Binary1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create README Text1": {
        "main": [
          [
            {
              "node": "GitHub Get README1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect Workflow Names1": {
        "main": [
          [
            {
              "node": "GitHub List Backup Folders (root)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "workflow Export1": {
        "main": [
          [
            {
              "node": "Normalize Filename",
              "type": "main",
              "index": 0
            },
            {
              "node": "Upload file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete folder1": {
        "main": [
          [
            {
              "node": "Create folder1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search files and folders1": {
        "main": [
          [
            {
              "node": "Delete folder1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [
            {
              "node": "workflow Export1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows1": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create folder1": {
        "main": [
          [
            {
              "node": "Get many workflows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger1": {
        "main": [
          [
            {
              "node": "Create folder if not exist1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub List Backup Folders (root)1": {
        "main": [
          [
            {
              "node": "Filter Old GH Backup Folders (keep newest)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Old GH Backup Folders (keep newest)1": {
        "main": [
          [
            {
              "node": "GH List Files In Old Folder1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Old Folder1": {
        "main": [
          [
            {
              "node": "IF Is File?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Subfolder1": {
        "main": [
          [
            {
              "node": "To Files (subfolder)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Is File?1": {
        "main": [
          [
            {
              "node": "To Files (root)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GH List Files In Subfolder1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (root)1": {
        "main": [
          [
            {
              "node": "GH Delete File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH Delete File1": {
        "main": [
          [
            {
              "node": "Create README Text1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (subfolder)1": {
        "main": [
          [
            {
              "node": "GH Delete File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version ac964585",
    "description": "",
    "autosaved": true
  },
  "tags": []
}