PI workflows backup 2026-03-05 21-44/AI Translator.json
{
  "updatedAt": "2026-03-04T20:01:53.893Z",
  "createdAt": "2026-01-23T18:38:21.921Z",
  "id": "ezzdhUM8oSPHv1c6FLrie",
  "name": "AI Translator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-interactive",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "312238e0-1205-4511-a3fc-b2e923082198",
      "name": "🔘 Button Click Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        960,
        -368
      ],
      "webhookId": "slack-interactive"
    },
    {
      "parameters": {
        "jsCode": "// Parse Slack interactive payload\nconst body = $input.first().json.body;\nconst payload = JSON.parse(body.payload);\n\n// Case 1: Triggered via the \"Translate this\" menu shortcut\nif (payload.type === 'message_action') {\n  return {\n    json: {\n      text: payload.message.text,\n      target_language: 'en', // Default to English for shortcuts\n      source_language: 'auto',\n      response_url: payload.response_url,\n      user_id: payload.user.id,\n      user_name: payload.user.name,\n      trigger_type: 'shortcut'\n    }\n  };\n}\n\n// Case 2: Triggered via a button click (your current logic)\nconst value = payload.actions[0].value;\nconst parts = value.split('|');\n\nreturn {\n  json: {\n    target_language: parts[0],\n    source_language: parts[1],\n    text: parts.slice(2).join('|'),\n    response_url: payload.response_url,\n    user_id: payload.user.id,\n    user_name: payload.user.name,\n    trigger_type: 'button'\n  }\n};"
      },
      "id": "399b7d50-340f-45a0-9dc5-9dedf848169b",
      "name": "📋 Parse Button Click",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -368
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "5a3e0c17-a1b8-40ff-9c11-3780a4042735",
      "name": "⚡ ACK Button",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        -368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.response_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "replace_original",
              "value": "true"
            },
            {
              "name": "text",
              "value": "=⏳ Translating to {{ $json.target_language }}..."
            }
          ]
        },
        "options": {}
      },
      "id": "fca01c3d-3c0b-41fe-8276-be33b4df1c10",
      "name": "⏳ Show Translating",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -368
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.output;\nconst inputData = $node[\"📋 Parse Button Click\"].json;\n\n// Updated Flag Map: en is now US flag\nconst flags = {\n  en: \"🇺🇸\", fr: \"🇫🇷\", es: \"🇪🇸\", de: \"🇩🇪\",\n  he: \"🇮🇱\", ar: \"🇸🇦\", ja: \"🇯🇵\", zh: \"🇨🇳\",\n  ru: \"🇷🇺\", it: \"🇮🇹\", pt: \"🇵🇹\", ko: \"🇰🇷\"\n};\n\nconst langNames = {\n  en: \"English\", fr: \"French\", es: \"Spanish\", de: \"German\",\n  he: \"Hebrew\", ar: \"Arabic\", ja: \"Japanese\", zh: \"Chinese\",\n  ru: \"Russian\", it: \"Italian\", pt: \"Portuguese\", ko: \"Korean\"\n};\n\nconst rtlLangs = [\"he\", \"ar\"];\n\ntry {\n  const start = response.indexOf('{');\n  const end = response.lastIndexOf('}') + 1;\n  if (start === -1 || end === 0) throw new Error(\"No JSON found\");\n\n  const parsed = JSON.parse(response.slice(start, end));\n  let translation = parsed.translation || \"(Translation missing)\";\n\n  if (rtlLangs.includes(inputData.target_language)) {\n    translation = `\\u202B${translation}\\u202C`;\n  }\n\n  return {\n    json: {\n      detected_language_name: langNames[inputData.source_language] || inputData.source_language,\n      target_language_name: langNames[inputData.target_language] || inputData.target_language,\n      source_flag: flags[inputData.source_language] || \"🌍\",\n      target_flag: flags[inputData.target_language] || \"🌍\",\n      flag: flags[inputData.target_language] || \"🌍\", // Backward compatibility for existing blocks\n      original_text: inputData.text,\n      formatted_translation: translation,\n      response_url: inputData.response_url\n    }\n  };\n} catch (error) {\n  return { json: { formatted_translation: \"❌ Error: \" + error.message, source_flag: \"⚠️\", target_flag: \"⚠️\" } };\n}"
      },
      "id": "e3192297-aed1-4b5a-9634-261d553d2c8a",
      "name": "✅ Parse Translation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.response_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replace_original\": true,\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🌐 Translation Complete\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*📝 Original ({{ $json.source_flag }} {{ $json.detected_language_name }}):*\\n```{{ $json.original_text }}```\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*{{ $json.target_flag }} {{ $json.target_language_name }} Translation:*\\n```{{ $json.formatted_translation }}```\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "49ea9d50-6ba0-4e76-a767-0c10b3f4d29f",
      "name": "✅ Send Translation Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        -368
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-5-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2000,
        -112
      ],
      "id": "845c9917-38d7-4ca8-91a1-f2266e4fe6a7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "hGAnvpSAhWRbFktq",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1792,
        -608
      ],
      "id": "98b1bd15-d555-4bbd-9bec-8ee6f3708cc2",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "hGAnvpSAhWRbFktq",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen/qwen3-coder-30b",
          "mode": "list",
          "cachedResultName": "qwen/qwen3-coder-30b"
        },
        "options": {
          "frequencyPenalty": 0.3,
          "maxTokens": 1000,
          "presencePenalty": 0.1,
          "temperature": 0.1,
          "timeout": 60000,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1568,
        -608
      ],
      "id": "27427a20-aa87-4510-8d51-8f5a5d688b2e",
      "name": "🤖 LLM (Detect)",
      "credentials": {
        "openAiApi": {
          "id": "WJsCuec8UzGRGVIc",
          "name": "Macbook ProM1 Pro"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "translate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2ae2d217-f760-43c0-973e-6453495bce95",
      "name": "🎯 Slack Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        960,
        -816
      ],
      "webhookId": "translate-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from Slack slash command\nconst body = $input.first().json.body;\nconst text = body.text ? body.text.trim() : 'No text provided';\n\nreturn {\n  json: {\n    text: text,\n    user_id: body.user_id || 'unknown',\n    user_name: body.user_name || 'unknown',\n    channel_id: body.channel_id || 'unknown',\n    response_url: body.response_url || null\n  }\n};"
      },
      "id": "be2ff6ed-d5f9-4294-93f4-1c694b404060",
      "name": "📋 Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -816
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d2b4ad5c-fbbf-49df-936e-97cd5d486fae",
      "name": "⚡ Immediate Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        -816
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Detect the language of this text and return ONLY a JSON object:\n\n{\n  \"language_code\": \"<ISO 639-1 code>\",\n  \"language_name\": \"<Full language name>\",\n  \"confidence\": \"high|medium|low\"\n}\n\nText: {{ $json.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a language detection AI. Always output valid JSON only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1680,
        -816
      ],
      "id": "eba17f23-5e3f-4fa7-9b90-257a11274927",
      "name": "🔍 Detect Language"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.output;\nconst inputData = $node[\"📋 Parse Input\"].json;\n\ntry {\n  const jsonMatch = response.match(/\\{[\\s\\S]*\\}/);\n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      text: inputData.text,\n      detected_language: parsed.language_code,\n      detected_language_name: parsed.language_name,\n      response_url: inputData.response_url,\n      user_id: inputData.user_id,\n      user_name: inputData.user_name\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      text: inputData.text,\n      detected_language: 'en',\n      detected_language_name: 'English',\n      response_url: inputData.response_url,\n      user_id: inputData.user_id,\n      user_name: inputData.user_name\n    }\n  };\n}"
      },
      "id": "cd3a5ab6-ec36-4af9-8bd5-1a921e1d1aae",
      "name": "Parse Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.response_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "replace_original",
              "value": "true"
            },
            {
              "name": "text",
              "value": "=🌐 *Translate Text*\n\n📝 Original ({{ $json.detected_language_name }}):\n`{{ $json.text }}`\n\n👇 *Choose a language to translate to:*"
            },
            {
              "name": "blocks",
              "value": "=[\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"🌐 *Translate Text*\\n\\n📝 Original ({{ $json.detected_language_name }}): `{{ $json.text }}`\\n\\n👇 *Choose a language to translate to:*\"\n    }\n  },\n  {\n    \"type\": \"actions\",\n    \"block_id\": \"lang_select\",\n    \"elements\": [\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇺🇸 English\", \"emoji\": true },\n        \"value\": \"en|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_en\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇫🇷 French\", \"emoji\": true },\n        \"value\": \"fr|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_fr\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇪🇸 Spanish\", \"emoji\": true },\n        \"value\": \"es|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_es\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇩🇪 German\", \"emoji\": true },\n        \"value\": \"de|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_de\"\n      }\n    ]\n  },\n  {\n    \"type\": \"actions\",\n    \"block_id\": \"lang_select_2\",\n    \"elements\": [\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇮🇱 Hebrew\", \"emoji\": true },\n        \"value\": \"he|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_he\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇸🇦 Arabic\", \"emoji\": true },\n        \"value\": \"ar|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_ar\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇯🇵 Japanese\", \"emoji\": true },\n        \"value\": \"ja|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_ja\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇨🇳 Chinese\", \"emoji\": true },\n        \"value\": \"zh|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_zh\"\n      }\n    ]\n  },\n  {\n    \"type\": \"actions\",\n    \"block_id\": \"lang_select_3\",\n    \"elements\": [\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇷🇺 Russian\", \"emoji\": true },\n        \"value\": \"ru|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_ru\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇮🇹 Italian\", \"emoji\": true },\n        \"value\": \"it|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_it\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇵🇹 Portuguese\", \"emoji\": true },\n        \"value\": \"pt|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_pt\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇰🇷 Korean\", \"emoji\": true },\n        \"value\": \"ko|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_ko\"\n      }\n    ]\n  }\n]"
            }
          ]
        },
        "options": {}
      },
      "id": "1e4cc2cb-8a2f-4b25-a4dd-3b91bbc0ed27",
      "name": "🎛️ Show Language Buttons",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2288,
        -816
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TASK: Translate the provided text.\nTARGET LANGUAGE: {{ $node[\"📋 Parse Button Click\"].json.target_language }}\nSOURCE LANGUAGE: {{ $node[\"📋 Parse Button Click\"].json.source_language }}\n\nINPUT TEXT:\n{{ $node[\"📋 Parse Button Click\"].json.text }}\n\nOUTPUT FORMAT (Return ONLY raw JSON):\n{\n  \"detected_language\": \"{{ $node[\"📋 Parse Button Click\"].json.source_language }}\",\n  \"target_language\": \"{{ $node[\"📋 Parse Button Click\"].json.target_language }}\",\n  \"translation\": \"...\"\n}\n\nCRITICAL: \n1. Do not include markdown formatting like ```json.\n2. Only translate the \"translation\" value.\n3. Do not add any conversational text.",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a translation API. Output only valid JSON. Never add extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1920,
        -368
      ],
      "id": "e5ccdbda-677d-4028-a4a6-7cbe041c4c69",
      "name": "🌐 AI Translator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemma-3-27b",
          "mode": "list",
          "cachedResultName": "google/gemma-3-27b"
        },
        "options": {
          "frequencyPenalty": 0.3,
          "maxTokens": 500,
          "presencePenalty": 0.1,
          "temperature": 0,
          "timeout": 120000,
          "topP": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1760,
        -112
      ],
      "id": "82a36158-10fe-49a8-b41f-85a9ba87c311",
      "name": "🤖 LLM (Translate",
      "credentials": {
        "openAiApi": {
          "id": "WJsCuec8UzGRGVIc",
          "name": "Macbook ProM1 Pro"
        }
      }
    }
  ],
  "connections": {
    "🔘 Button Click Webhook": {
      "main": [
        [
          {
            "node": "📋 Parse Button Click",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Parse Button Click": {
      "main": [
        [
          {
            "node": "⚡ ACK Button",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ ACK Button": {
      "main": [
        [
          {
            "node": "⏳ Show Translating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Show Translating": {
      "main": [
        [
          {
            "node": "🌐 AI Translator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Parse Translation": {
      "main": [
        [
          {
            "node": "✅ Send Translation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🌐 AI Translator",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "🔍 Detect Language",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "🤖 LLM (Detect)": {
      "ai_languageModel": [
        [
          {
            "node": "🔍 Detect Language",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Slack Webhook": {
      "main": [
        [
          {
            "node": "📋 Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Parse Input": {
      "main": [
        [
          {
            "node": "⚡ Immediate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Immediate Response": {
      "main": [
        [
          {
            "node": "🔍 Detect Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Detect Language": {
      "main": [
        [
          {
            "node": "Parse Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Detection": {
      "main": [
        [
          {
            "node": "🎛️ Show Language Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 AI Translator": {
      "main": [
        [
          {
            "node": "✅ Parse Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 LLM (Translate": {
      "ai_languageModel": [
        [
          {
            "node": "🌐 AI Translator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "aecedaa8-f048-4709-9ea1-6b4a4079c083",
  "activeVersionId": "aecedaa8-f048-4709-9ea1-6b4a4079c083",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-23T18:38:21.926Z",
      "createdAt": "2026-01-23T18:38:21.926Z",
      "role": "workflow:owner",
      "workflowId": "ezzdhUM8oSPHv1c6FLrie",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-04T20:01:55.000Z",
    "createdAt": "2026-03-04T20:01:53.895Z",
    "versionId": "aecedaa8-f048-4709-9ea1-6b4a4079c083",
    "workflowId": "ezzdhUM8oSPHv1c6FLrie",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "slack-interactive",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "312238e0-1205-4511-a3fc-b2e923082198",
        "name": "🔘 Button Click Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          960,
          -368
        ],
        "webhookId": "slack-interactive"
      },
      {
        "parameters": {
          "jsCode": "// Parse Slack interactive payload\nconst body = $input.first().json.body;\nconst payload = JSON.parse(body.payload);\n\n// Case 1: Triggered via the \"Translate this\" menu shortcut\nif (payload.type === 'message_action') {\n  return {\n    json: {\n      text: payload.message.text,\n      target_language: 'en', // Default to English for shortcuts\n      source_language: 'auto',\n      response_url: payload.response_url,\n      user_id: payload.user.id,\n      user_name: payload.user.name,\n      trigger_type: 'shortcut'\n    }\n  };\n}\n\n// Case 2: Triggered via a button click (your current logic)\nconst value = payload.actions[0].value;\nconst parts = value.split('|');\n\nreturn {\n  json: {\n    target_language: parts[0],\n    source_language: parts[1],\n    text: parts.slice(2).join('|'),\n    response_url: payload.response_url,\n    user_id: payload.user.id,\n    user_name: payload.user.name,\n    trigger_type: 'button'\n  }\n};"
        },
        "id": "399b7d50-340f-45a0-9dc5-9dedf848169b",
        "name": "📋 Parse Button Click",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          -368
        ]
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200
          }
        },
        "id": "5a3e0c17-a1b8-40ff-9c11-3780a4042735",
        "name": "⚡ ACK Button",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1440,
          -368
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.response_url }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "replace_original",
                "value": "true"
              },
              {
                "name": "text",
                "value": "=⏳ Translating to {{ $json.target_language }}..."
              }
            ]
          },
          "options": {}
        },
        "id": "fca01c3d-3c0b-41fe-8276-be33b4df1c10",
        "name": "⏳ Show Translating",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1680,
          -368
        ]
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json.output;\nconst inputData = $node[\"📋 Parse Button Click\"].json;\n\n// Updated Flag Map: en is now US flag\nconst flags = {\n  en: \"🇺🇸\", fr: \"🇫🇷\", es: \"🇪🇸\", de: \"🇩🇪\",\n  he: \"🇮🇱\", ar: \"🇸🇦\", ja: \"🇯🇵\", zh: \"🇨🇳\",\n  ru: \"🇷🇺\", it: \"🇮🇹\", pt: \"🇵🇹\", ko: \"🇰🇷\"\n};\n\nconst langNames = {\n  en: \"English\", fr: \"French\", es: \"Spanish\", de: \"German\",\n  he: \"Hebrew\", ar: \"Arabic\", ja: \"Japanese\", zh: \"Chinese\",\n  ru: \"Russian\", it: \"Italian\", pt: \"Portuguese\", ko: \"Korean\"\n};\n\nconst rtlLangs = [\"he\", \"ar\"];\n\ntry {\n  const start = response.indexOf('{');\n  const end = response.lastIndexOf('}') + 1;\n  if (start === -1 || end === 0) throw new Error(\"No JSON found\");\n\n  const parsed = JSON.parse(response.slice(start, end));\n  let translation = parsed.translation || \"(Translation missing)\";\n\n  if (rtlLangs.includes(inputData.target_language)) {\n    translation = `\\u202B${translation}\\u202C`;\n  }\n\n  return {\n    json: {\n      detected_language_name: langNames[inputData.source_language] || inputData.source_language,\n      target_language_name: langNames[inputData.target_language] || inputData.target_language,\n      source_flag: flags[inputData.source_language] || \"🌍\",\n      target_flag: flags[inputData.target_language] || \"🌍\",\n      flag: flags[inputData.target_language] || \"🌍\", // Backward compatibility for existing blocks\n      original_text: inputData.text,\n      formatted_translation: translation,\n      response_url: inputData.response_url\n    }\n  };\n} catch (error) {\n  return { json: { formatted_translation: \"❌ Error: \" + error.message, source_flag: \"⚠️\", target_flag: \"⚠️\" } };\n}"
        },
        "id": "e3192297-aed1-4b5a-9634-261d553d2c8a",
        "name": "✅ Parse Translation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2256,
          -368
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.response_url }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"replace_original\": true,\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🌐 Translation Complete\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*📝 Original ({{ $json.source_flag }} {{ $json.detected_language_name }}):*\\n```{{ $json.original_text }}```\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*{{ $json.target_flag }} {{ $json.target_language_name }} Translation:*\\n```{{ $json.formatted_translation }}```\"\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "id": "49ea9d50-6ba0-4e76-a767-0c10b3f4d29f",
        "name": "✅ Send Translation Result",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2464,
          -368
        ]
      },
      {
        "parameters": {
          "model": "openai/gpt-5-nano",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          2000,
          -112
        ],
        "id": "845c9917-38d7-4ca8-91a1-f2266e4fe6a7",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "hGAnvpSAhWRbFktq",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "openai/gpt-5-nano",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1792,
          -608
        ],
        "id": "98b1bd15-d555-4bbd-9bec-8ee6f3708cc2",
        "name": "OpenRouter Chat Model1",
        "credentials": {
          "openRouterApi": {
            "id": "hGAnvpSAhWRbFktq",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "qwen/qwen3-coder-30b",
            "mode": "list",
            "cachedResultName": "qwen/qwen3-coder-30b"
          },
          "options": {
            "frequencyPenalty": 0.3,
            "maxTokens": 1000,
            "presencePenalty": 0.1,
            "temperature": 0.1,
            "timeout": 60000,
            "topP": 0.9
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1568,
          -608
        ],
        "id": "27427a20-aa87-4510-8d51-8f5a5d688b2e",
        "name": "🤖 LLM (Detect)",
        "credentials": {
          "openAiApi": {
            "id": "WJsCuec8UzGRGVIc",
            "name": "Macbook ProM1 Pro"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "translate",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "2ae2d217-f760-43c0-973e-6453495bce95",
        "name": "🎯 Slack Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          960,
          -816
        ],
        "webhookId": "translate-webhook"
      },
      {
        "parameters": {
          "jsCode": "// Extract data from Slack slash command\nconst body = $input.first().json.body;\nconst text = body.text ? body.text.trim() : 'No text provided';\n\nreturn {\n  json: {\n    text: text,\n    user_id: body.user_id || 'unknown',\n    user_name: body.user_name || 'unknown',\n    channel_id: body.channel_id || 'unknown',\n    response_url: body.response_url || null\n  }\n};"
        },
        "id": "be2ff6ed-d5f9-4294-93f4-1c694b404060",
        "name": "📋 Parse Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          -816
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "d2b4ad5c-fbbf-49df-936e-97cd5d486fae",
        "name": "⚡ Immediate Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1440,
          -816
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Detect the language of this text and return ONLY a JSON object:\n\n{\n  \"language_code\": \"<ISO 639-1 code>\",\n  \"language_name\": \"<Full language name>\",\n  \"confidence\": \"high|medium|low\"\n}\n\nText: {{ $json.text }}",
          "needsFallback": true,
          "options": {
            "systemMessage": "You are a language detection AI. Always output valid JSON only."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1680,
          -816
        ],
        "id": "eba17f23-5e3f-4fa7-9b90-257a11274927",
        "name": "🔍 Detect Language"
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json.output;\nconst inputData = $node[\"📋 Parse Input\"].json;\n\ntry {\n  const jsonMatch = response.match(/\\{[\\s\\S]*\\}/);\n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      text: inputData.text,\n      detected_language: parsed.language_code,\n      detected_language_name: parsed.language_name,\n      response_url: inputData.response_url,\n      user_id: inputData.user_id,\n      user_name: inputData.user_name\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      text: inputData.text,\n      detected_language: 'en',\n      detected_language_name: 'English',\n      response_url: inputData.response_url,\n      user_id: inputData.user_id,\n      user_name: inputData.user_name\n    }\n  };\n}"
        },
        "id": "cd3a5ab6-ec36-4af9-8bd5-1a921e1d1aae",
        "name": "Parse Detection",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2032,
          -816
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.response_url }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "replace_original",
                "value": "true"
              },
              {
                "name": "text",
                "value": "=🌐 *Translate Text*\n\n📝 Original ({{ $json.detected_language_name }}):\n`{{ $json.text }}`\n\n👇 *Choose a language to translate to:*"
              },
              {
                "name": "blocks",
                "value": "=[\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"🌐 *Translate Text*\\n\\n📝 Original ({{ $json.detected_language_name }}): `{{ $json.text }}`\\n\\n👇 *Choose a language to translate to:*\"\n    }\n  },\n  {\n    \"type\": \"actions\",\n    \"block_id\": \"lang_select\",\n    \"elements\": [\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇺🇸 English\", \"emoji\": true },\n        \"value\": \"en|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_en\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇫🇷 French\", \"emoji\": true },\n        \"value\": \"fr|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_fr\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇪🇸 Spanish\", \"emoji\": true },\n        \"value\": \"es|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_es\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇩🇪 German\", \"emoji\": true },\n        \"value\": \"de|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_de\"\n      }\n    ]\n  },\n  {\n    \"type\": \"actions\",\n    \"block_id\": \"lang_select_2\",\n    \"elements\": [\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇮🇱 Hebrew\", \"emoji\": true },\n        \"value\": \"he|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_he\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇸🇦 Arabic\", \"emoji\": true },\n        \"value\": \"ar|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_ar\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇯🇵 Japanese\", \"emoji\": true },\n        \"value\": \"ja|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_ja\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇨🇳 Chinese\", \"emoji\": true },\n        \"value\": \"zh|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_zh\"\n      }\n    ]\n  },\n  {\n    \"type\": \"actions\",\n    \"block_id\": \"lang_select_3\",\n    \"elements\": [\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇷🇺 Russian\", \"emoji\": true },\n        \"value\": \"ru|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_ru\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇮🇹 Italian\", \"emoji\": true },\n        \"value\": \"it|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_it\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇵🇹 Portuguese\", \"emoji\": true },\n        \"value\": \"pt|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_pt\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": { \"type\": \"plain_text\", \"text\": \"🇰🇷 Korean\", \"emoji\": true },\n        \"value\": \"ko|{{ $json.detected_language }}|{{ $json.text }}\",\n        \"action_id\": \"translate_ko\"\n      }\n    ]\n  }\n]"
              }
            ]
          },
          "options": {}
        },
        "id": "1e4cc2cb-8a2f-4b25-a4dd-3b91bbc0ed27",
        "name": "🎛️ Show Language Buttons",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2288,
          -816
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=TASK: Translate the provided text.\nTARGET LANGUAGE: {{ $node[\"📋 Parse Button Click\"].json.target_language }}\nSOURCE LANGUAGE: {{ $node[\"📋 Parse Button Click\"].json.source_language }}\n\nINPUT TEXT:\n{{ $node[\"📋 Parse Button Click\"].json.text }}\n\nOUTPUT FORMAT (Return ONLY raw JSON):\n{\n  \"detected_language\": \"{{ $node[\"📋 Parse Button Click\"].json.source_language }}\",\n  \"target_language\": \"{{ $node[\"📋 Parse Button Click\"].json.target_language }}\",\n  \"translation\": \"...\"\n}\n\nCRITICAL: \n1. Do not include markdown formatting like ```json.\n2. Only translate the \"translation\" value.\n3. Do not add any conversational text.",
          "needsFallback": true,
          "options": {
            "systemMessage": "You are a translation API. Output only valid JSON. Never add extra text."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1920,
          -368
        ],
        "id": "e5ccdbda-677d-4028-a4a6-7cbe041c4c69",
        "name": "🌐 AI Translator"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "google/gemma-3-27b",
            "mode": "list",
            "cachedResultName": "google/gemma-3-27b"
          },
          "options": {
            "frequencyPenalty": 0.3,
            "maxTokens": 500,
            "presencePenalty": 0.1,
            "temperature": 0,
            "timeout": 120000,
            "topP": 0.8
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1760,
          -112
        ],
        "id": "82a36158-10fe-49a8-b41f-85a9ba87c311",
        "name": "🤖 LLM (Translate",
        "credentials": {
          "openAiApi": {
            "id": "WJsCuec8UzGRGVIc",
            "name": "Macbook ProM1 Pro"
          }
        }
      }
    ],
    "connections": {
      "🔘 Button Click Webhook": {
        "main": [
          [
            {
              "node": "📋 Parse Button Click",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📋 Parse Button Click": {
        "main": [
          [
            {
              "node": "⚡ ACK Button",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⚡ ACK Button": {
        "main": [
          [
            {
              "node": "⏳ Show Translating",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⏳ Show Translating": {
        "main": [
          [
            {
              "node": "🌐 AI Translator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "✅ Parse Translation": {
        "main": [
          [
            {
              "node": "✅ Send Translation Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "🌐 AI Translator",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "OpenRouter Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "🔍 Detect Language",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "🤖 LLM (Detect)": {
        "ai_languageModel": [
          [
            {
              "node": "🔍 Detect Language",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "🎯 Slack Webhook": {
        "main": [
          [
            {
              "node": "📋 Parse Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📋 Parse Input": {
        "main": [
          [
            {
              "node": "⚡ Immediate Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⚡ Immediate Response": {
        "main": [
          [
            {
              "node": "🔍 Detect Language",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔍 Detect Language": {
        "main": [
          [
            {
              "node": "Parse Detection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Detection": {
        "main": [
          [
            {
              "node": "🎛️ Show Language Buttons",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🌐 AI Translator": {
        "main": [
          [
            {
              "node": "✅ Parse Translation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🤖 LLM (Translate": {
        "ai_languageModel": [
          [
            {
              "node": "🌐 AI Translator",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version aecedaa8",
    "description": "",
    "autosaved": true
  },
  "tags": []
}