PI workflows backup 2026-03-26 00-00/Smart Email & Calendar Reminders.json
{
  "updatedAt": "2026-03-25T21:59:19.720Z",
  "createdAt": "2025-11-15T11:13:05.206Z",
  "id": "d9VfLDIb89RxTA8s",
  "name": "Smart Email & Calendar Reminders",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "d84939db-859a-4826-9967-ed51f5861f8f",
      "name": "Morning Trigger (7:00 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1648,
        -8000
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 0"
            }
          ]
        }
      },
      "id": "0f499076-ffbc-4143-9392-334d1982aa3c",
      "name": "Weekly Trigger (Sunday 7:00 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1648,
        -7392
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "id": "91cf81b0-1567-4273-bf6e-a733c6ff680a",
      "name": "Evening Trigger (8:00 PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1648,
        -6800
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "sashavi55555@gmail.com",
          "mode": "list"
        },
        "limit": 30,
        "options": {
          "orderBy": "startTime"
        }
      },
      "id": "190b9330-b55a-491b-ac43-f2b7c5c61958",
      "name": "Calendar - Today's Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1248,
        -8096
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ceazxv6ZgDLso5CX",
          "name": "Google Calendar account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "q": "is:unread newer_than:1d"
        }
      },
      "id": "f8db3b92-0d00-47c3-9814-aaae10ef065a",
      "name": "Gmail - Unread (Morning)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1248,
        -7904
      ],
      "webhookId": "be4c0a51-a98b-423a-af74-bb6f3baeb00f",
      "credentials": {
        "gmailOAuth2": {
          "id": "C5742Grqr9Rpnxid",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "162974eb-491b-4ecb-b382-b0a8d658fbe4",
      "name": "Wait for Both Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -848,
        -8000
      ]
    },
    {
      "parameters": {
        "jsCode": "const CONFIG = {\n  timezone: 'Asia/Jerusalem',\n  urgencyKeywords: {\n    critical: ['urgent', 'asap', 'immediately', 'critical', 'emergency', 'דחוף', 'מיידי'],\n    high: ['deadline', 'due', 'must', 'required', 'payment', 'invoice', 'action required', 'תאריך יעד', 'תשלום'],\n    medium: ['meeting', 'reminder', 'review', 'submit', 'approval', 'פגישה', 'תזכורת'],\n    low: ['fyi', 'update', 'info', 'notice', 'newsletter', 'עדכון']\n  }\n};\n\nfunction esc(text) {\n  return (text || '').replace(/([\\[\\]_*`~])/g, '\\\\$1');\n}\n\nfunction fmtTime(iso) {\n  if (!iso) return null;\n  return new Date(iso).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit', timeZone: CONFIG.timezone });\n}\n\nfunction getEmailUrgency(text) {\n  const lower = (text || '').toLowerCase();\n  if (CONFIG.urgencyKeywords.critical.some(w => lower.includes(w))) return '🔴';\n  if (CONFIG.urgencyKeywords.high.some(w => lower.includes(w))) return '🟠';\n  if (CONFIG.urgencyKeywords.medium.some(w => lower.includes(w))) return '🟡';\n  return '⚪';\n}\n\nfunction getSender(item) {\n  let from = item.from || item.From || '';\n  if ((!from || !from.includes('@')) && item.payload?.headers) {\n    const h = item.payload.headers.find(h => h.name?.toLowerCase() === 'from');\n    if (h?.value) from = h.value;\n  }\n  const nameMatch = from.match(/^([^<]+)\\s*</);\n  return nameMatch ? nameMatch[1].trim() : from.split('@')[0] || 'Unknown';\n}\n\n// --- Build today's date header ---\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-GB', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: CONFIG.timezone });\nconst greeting = (() => {\n  const hour = parseInt(now.toLocaleString('en-GB', { hour: 'numeric', hour12: false, timeZone: CONFIG.timezone }));\n  if (hour < 12) return '🌅 Good Morning';\n  if (hour < 17) return '☀️ Good Afternoon';\n  return '🌙 Good Evening';\n})();\n\nlet msg = `${greeting}, Alex!\\n📆 *${dateStr}*\\n`;\n\n// --- Separate calendar items from email items ---\nconst allItems = $input.all();\n\n// Calendar items have start.dateTime or start.date\nconst events = allItems.filter(i => i.json?.start?.dateTime || i.json?.start?.date);\n\n// Email items have threadId or labelIds (Gmail-specific fields)\nconst emails = allItems.filter(i => i.json?.threadId || i.json?.labelIds);\n\n// --- Calendar Section ---\nmsg += `\\n━━━━━━━━━━━━━━━━━━━━\\n`;\nmsg += `📅 *TODAY'S SCHEDULE*`;\n\nif (events.length === 0) {\n  msg += `\\nNo events today ✨\\n`;\n} else {\n  const seen = new Set();\n  const uniqueEvents = events.filter(i => {\n    const id = i.json.id || i.json.summary;\n    if (seen.has(id)) return false;\n    seen.add(id);\n    return true;\n  });\n\n  msg += ` (${uniqueEvents.length} event${uniqueEvents.length > 1 ? 's' : ''})\\n`;\n  for (const item of uniqueEvents) {\n    const ev = item.json;\n    const startISO = ev.start?.dateTime || ev.start?.date;\n    const endISO = ev.end?.dateTime || ev.end?.date;\n    const startTime = fmtTime(startISO);\n    const endTime = fmtTime(endISO);\n    const isAllDay = !ev.start?.dateTime;\n    const summary = ev.summary || 'Untitled';\n\n    if (isAllDay) {\n      msg += `\\n🔹 *${esc(summary)}* — All day\\n`;\n    } else {\n      msg += `\\n🔹 *${esc(summary)}*\\n`;\n      msg += `    🕒 ${startTime} - ${endTime}\\n`;\n    }\n\n    if (ev.hangoutLink) {\n      msg += `    🎥 [Join Meet](${ev.hangoutLink})\\n`;\n    } else if (ev.location && ev.location.toLowerCase().includes('zoom')) {\n      const zoomLink = ev.location.match(/https?:\\/\\/[^\\s]+zoom[^\\s]+/i);\n      if (zoomLink) msg += `    🎥 [Join Zoom](${zoomLink[0]})\\n`;\n    } else if (ev.location && !ev.location.startsWith('http')) {\n      msg += `    📍 ${esc(ev.location)}\\n`;\n    }\n\n    const attendees = (ev.attendees || []).filter(a => !a.self);\n    if (attendees.length > 0) {\n      msg += `    👥 ${attendees.length} attendee${attendees.length > 1 ? 's' : ''}\\n`;\n    }\n  }\n}\n\n// --- Email Section ---\nmsg += `\\n━━━━━━━━━━━━━━━━━━━━\\n`;\nmsg += `📧 *UNREAD EMAILS*`;\n\n// Deduplicate emails\nconst seenEmails = new Set();\nconst uniqueEmails = emails.filter(i => {\n  const id = i.json.id || i.json.threadId;\n  if (seenEmails.has(id)) return false;\n  seenEmails.add(id);\n  return true;\n});\n\nif (uniqueEmails.length === 0) {\n  msg += `\\nInbox zero! 🎉\\n`;\n} else {\n  msg += ` (${uniqueEmails.length})\\n`;\n  const sorted = uniqueEmails.map(i => {\n    const subj = i.json.subject || i.json.Subject || 'No Subject';\n    const snippet = i.json.snippet || '';\n    const urgency = getEmailUrgency(`${subj} ${snippet}`);\n    const sender = getSender(i.json);\n    return { urgency, subject: subj, sender, id: i.json.id };\n  }).sort((a, b) => {\n    const order = { '🔴': 0, '🟠': 1, '🟡': 2, '⚪': 3 };\n    return (order[a.urgency] ?? 4) - (order[b.urgency] ?? 4);\n  });\n\n  const shown = sorted.slice(0, 8);\n  for (const e of shown) {\n    const shortSubj = e.subject.length > 50 ? e.subject.substring(0, 47) + '...' : e.subject;\n    msg += `\\n${e.urgency} [${esc(shortSubj)}](https://mail.google.com/mail/u/0/#inbox/${e.id})\\n`;\n    msg += `    👤 ${esc(e.sender)}\\n`;\n  }\n  if (sorted.length > 8) {\n    msg += `\\n_...and ${sorted.length - 8} more_\\n`;\n  }\n}\n\nmsg += `\\n━━━━━━━━━━━━━━━━━━━━\\n`;\nmsg += `Have a great day! 💪`;\n\nreturn [{ json: { reminderMessage: msg, messageType: 'morning_briefing' } }];"
      },
      "id": "b0622388-5e75-41bc-9bc9-6e8766b5bd48",
      "name": "Build Morning Briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -8000
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "sashavi55555@gmail.com",
          "mode": "list"
        },
        "options": {
          "orderBy": "startTime"
        }
      },
      "id": "ea00c594-0423-4d5b-880b-39bfb01f0341",
      "name": "Calendar - This Week",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1248,
        -7392
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ceazxv6ZgDLso5CX",
          "name": "Google Calendar account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const CONFIG = { timezone: 'Asia/Jerusalem' };\n\nfunction esc(text) {\n  return (text || '').replace(/([\\[\\]_*`~])/g, '\\\\$1');\n}\n\nfunction fmtTime(iso) {\n  if (!iso) return null;\n  return new Date(iso).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit', timeZone: CONFIG.timezone });\n}\n\nconst calItems = $input.all();\nconst events = calItems.filter(i => !i.json?.error && (i.json?.start?.dateTime || i.json?.start?.date));\n\nconst now = new Date();\nconst weekStart = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'short', timeZone: CONFIG.timezone });\nconst weekEndDate = new Date(Date.now() + 7 * 86400000);\nconst weekEnd = weekEndDate.toLocaleDateString('en-GB', { day: 'numeric', month: 'short', timeZone: CONFIG.timezone });\n\nlet msg = `📋 *Weekly Schedule*\\n${weekStart} → ${weekEnd}\\n`;\n\nif (events.length === 0) {\n  msg += `\\nNo events this week! 🏖️\\n`;\n} else {\n  const byDay = {};\n  const dayOrder = [];\n  for (const item of events) {\n    const ev = item.json;\n    const startISO = ev.start?.dateTime || ev.start?.date;\n    const dayKey = new Date(startISO).toLocaleDateString('en-GB', {\n      weekday: 'long', day: 'numeric', month: 'short', timeZone: CONFIG.timezone\n    });\n    if (!byDay[dayKey]) {\n      byDay[dayKey] = [];\n      dayOrder.push(dayKey);\n    }\n    byDay[dayKey].push(ev);\n  }\n\n  for (const day of dayOrder) {\n    const dayEvents = byDay[day];\n    msg += `\\n━━━━━━━━━━━━━━━━━━━━\\n`;\n    msg += `📆 *${day}* (${dayEvents.length} event${dayEvents.length > 1 ? 's' : ''})\\n`;\n\n    for (const ev of dayEvents) {\n      const startISO = ev.start?.dateTime || ev.start?.date;\n      const endISO = ev.end?.dateTime || ev.end?.date;\n      const isAllDay = !ev.start?.dateTime;\n      const summary = ev.summary || 'Untitled';\n\n      if (isAllDay) {\n        msg += `  🔹 *${esc(summary)}* — All day\\n`;\n      } else {\n        const startTime = fmtTime(startISO);\n        const endTime = fmtTime(endISO);\n        msg += `  🔹 *${esc(summary)}* ${startTime}-${endTime}\\n`;\n      }\n    }\n  }\n}\n\nmsg += `\\n━━━━━━━━━━━━━━━━━━━━\\n`;\nmsg += `Total: ${events.length} events this week`;\n\nreturn [{ json: { reminderMessage: msg, messageType: 'weekly_summary' } }];"
      },
      "id": "dbde0b3b-1dd7-49aa-a7eb-40e4ae9a3b12",
      "name": "Build Weekly Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -7392
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "q": "is:unread newer_than:1d"
        }
      },
      "id": "edbaacf7-ad9b-4653-be25-b463fc60741b",
      "name": "Gmail - Unread (Evening)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1248,
        -6800
      ],
      "webhookId": "55262d0b-f5c8-4d92-ad66-adcda52531a6",
      "credentials": {
        "gmailOAuth2": {
          "id": "C5742Grqr9Rpnxid",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const CONFIG = {\n  timezone: 'Asia/Jerusalem',\n  urgencyKeywords: {\n    critical: ['urgent', 'asap', 'immediately', 'critical', 'emergency', 'דחוף', 'מיידי'],\n    high: ['deadline', 'due', 'must', 'required', 'payment', 'invoice', 'action required', 'תאריך יעד', 'תשלום'],\n    medium: ['meeting', 'reminder', 'review', 'submit', 'approval', 'פגישה', 'תזכורת'],\n    low: ['fyi', 'update', 'info', 'notice', 'newsletter', 'עדכון']\n  }\n};\n\nfunction esc(text) {\n  return (text || '').replace(/([\\[\\]_*`~])/g, '\\\\$1');\n}\n\nfunction getCategory(text) {\n  const lower = (text || '').toLowerCase();\n  if (CONFIG.urgencyKeywords.critical.some(w => lower.includes(w))) return { icon: '🔴', label: 'Urgent', order: 0 };\n  if (CONFIG.urgencyKeywords.high.some(w => lower.includes(w))) return { icon: '🟠', label: 'Action Required', order: 1 };\n  if (CONFIG.urgencyKeywords.medium.some(w => lower.includes(w))) return { icon: '🟡', label: 'Follow Up', order: 2 };\n  if (CONFIG.urgencyKeywords.low.some(w => lower.includes(w))) return { icon: '🟢', label: 'FYI', order: 3 };\n  return { icon: '⚪', label: 'Other', order: 4 };\n}\n\nfunction getSender(item) {\n  let from = item.from || item.From || '';\n  if ((!from || !from.includes('@')) && item.payload?.headers) {\n    const h = item.payload.headers.find(h => h.name?.toLowerCase() === 'from');\n    if (h?.value) from = h.value;\n  }\n  const nameMatch = from.match(/^([^<]+)\\s*</);\n  return nameMatch ? nameMatch[1].trim() : from.split('@')[0] || 'Unknown';\n}\n\nconst emailItems = $input.all();\nconst emails = emailItems.filter(i => !i.json?.error && i.json?.id);\n\nlet msg = `📬 *Evening Email Digest*\\n`;\nconst now = new Date();\nmsg += `${now.toLocaleDateString('en-GB', { weekday: 'long', day: 'numeric', month: 'short', timeZone: CONFIG.timezone })}\\n`;\n\nif (emails.length === 0) {\n  msg += `\\nAll caught up! No unread emails. 🎉\\n`;\n} else {\n  const categorized = emails.map(i => {\n    const subj = i.json.subject || 'No Subject';\n    const snippet = i.json.snippet || '';\n    const cat = getCategory(`${subj} ${snippet}`);\n    return { ...cat, subject: subj, sender: getSender(i.json), id: i.json.id, snippet };\n  });\n\n  const groups = {};\n  for (const e of categorized) {\n    if (!groups[e.label]) groups[e.label] = { icon: e.icon, order: e.order, items: [] };\n    groups[e.label].items.push(e);\n  }\n\n  const sortedGroups = Object.entries(groups).sort((a, b) => a[1].order - b[1].order);\n\n  msg += `\\n📊 *${emails.length} unread email${emails.length > 1 ? 's' : ''}*\\n`;\n\n  for (const [label, group] of sortedGroups) {\n    msg += `\\n${group.icon} *${label}* (${group.items.length})\\n`;\n    const shown = group.items.slice(0, 5);\n    for (const e of shown) {\n      const shortSubj = e.subject.length > 45 ? e.subject.substring(0, 42) + '...' : e.subject;\n      msg += `  • ${esc(shortSubj)}\\n`;\n      msg += `    _${esc(e.sender)}_\\n`;\n    }\n    if (group.items.length > 5) {\n      msg += `  _...+${group.items.length - 5} more_\\n`;\n    }\n  }\n\n  const actionCount = (groups['Urgent']?.items.length || 0) + (groups['Action Required']?.items.length || 0);\n  if (actionCount > 0) {\n    msg += `\\n⚠️ *${actionCount} email${actionCount > 1 ? 's' : ''} need${actionCount === 1 ? 's' : ''} your attention*\\n`;\n  }\n}\n\nmsg += `\\n[Open Gmail](https://mail.google.com/mail/u/0/#inbox)`;\n\nreturn [{ json: { reminderMessage: msg, messageType: 'email_digest' } }];"
      },
      "id": "f4f348a2-68c7-420c-abc0-9f3d7f36001e",
      "name": "Build Email Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -6800
      ]
    },
    {
      "parameters": {
        "chatId": "426570413",
        "text": "={{ $json.reminderMessage }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "abfa9fbe-ed40-4911-9bf9-84392818a423",
      "name": "Send Morning Briefing",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        -8000
      ],
      "webhookId": "ff2300d4-1501-4d0d-834c-46ee7d56f17b",
      "credentials": {
        "telegramApi": {
          "id": "WlROsIRML0DIjcRe",
          "name": "email_task_bot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "426570413",
        "text": "={{ $json.reminderMessage }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "cac615d7-fd7f-487a-9c3e-eac605e02502",
      "name": "Send Weekly Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -336,
        -7392
      ],
      "webhookId": "b32978ee-bc79-4135-9d03-dfa11013d69a",
      "credentials": {
        "telegramApi": {
          "id": "WlROsIRML0DIjcRe",
          "name": "email_task_bot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "426570413",
        "text": "={{ $json.reminderMessage }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "d83a0a6e-7d86-47cf-8802-c495c7af87a4",
      "name": "Send Email Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -336,
        -6800
      ],
      "webhookId": "ce79c6de-e44a-49a5-b93e-f2e214f84191",
      "credentials": {
        "telegramApi": {
          "id": "WlROsIRML0DIjcRe",
          "name": "email_task_bot"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Morning Trigger (7:00 AM)": {
      "main": [
        [
          {
            "node": "Calendar - Today's Events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Unread (Morning)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar - Today's Events": {
      "main": [
        [
          {
            "node": "Wait for Both Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Unread (Morning)": {
      "main": [
        [
          {
            "node": "Wait for Both Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both Sources": {
      "main": [
        [
          {
            "node": "Build Morning Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Morning Briefing": {
      "main": [
        [
          {
            "node": "Send Morning Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Trigger (Sunday 7:00 AM)": {
      "main": [
        [
          {
            "node": "Calendar - This Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar - This Week": {
      "main": [
        [
          {
            "node": "Build Weekly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Weekly Summary": {
      "main": [
        [
          {
            "node": "Send Weekly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evening Trigger (8:00 PM)": {
      "main": [
        [
          {
            "node": "Gmail - Unread (Evening)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Unread (Evening)": {
      "main": [
        [
          {
            "node": "Build Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Digest": {
      "main": [
        [
          {
            "node": "Send Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Check Every Hour": {
      "recurrenceRules": []
    },
    "node:Check Every Hour1": {
      "recurrenceRules": []
    },
    "node:Check Every 30 Minutes1": {
      "recurrenceRules": []
    },
    "node:Check Every 1 Hour": {
      "recurrenceRules": []
    },
    "node:Check Every 1 Hour1": {
      "recurrenceRules": []
    },
    "global": {
      "emailReminders": {
        "19d0d19c975cf86f": 1774041348596,
        "19d0c8f7ad352014": 1774041348596,
        "19d0d286c1a7a41b": 1774042251436,
        "19d0d2196cca125e": 1774042251436,
        "19d0d1fe127c2a9a": 1774042251436,
        "19d0d1e83b60febf": 1774042251436,
        "19d0d295b3c0d0ec": 1774043150288,
        "19d0d4334893096d": 1774044052128,
        "19d0d41954adce86": 1774044052128,
        "19d0d4046651f5df": 1774044052128,
        "19d0d3f75a78e648": 1774044052128,
        "19d0d3ea0254a016": 1774044052128,
        "19d0d3beb2a1ee07": 1774044052128,
        "19d0d47e3aecef57": 1774044953249,
        "19d0d46f937ff9e6": 1774044953249,
        "19d0d4544922b3b1": 1774044953249,
        "19d0d43f491fc892": 1774044953249,
        "19d0db12deadf44c": 1774051253309,
        "19d0e1ef9cc25c7b": 1774058453798,
        "19d0e8cd4052eea5": 1774065654136,
        "19d0efab178c5724": 1774072854368,
        "19d0f688f3150b76": 1774080056285,
        "19d0fd66a80a3b59": 1774087255023,
        "19d10444802795ff": 1774094455658,
        "19d10b2245bd8b56": 1774101656411,
        "19d112003a28d9dd": 1774108856246,
        "19d118de16a3ff42": 1774116057010,
        "19d11fbbce98b48f": 1774123257649,
        "19d12699aaeaa542": 1774130453061,
        "19d12d777eca8ce9": 1774137651841,
        "19d1345543de615f": 1774144851723,
        "19d13b3314bdefe8": 1774152051804,
        "19d14210cfc70f63": 1774159251691,
        "19d148ee98ff8267": 1774166451815,
        "19d14fcc65cecc34": 1774173651791,
        "19d156aa332b61d2": 1774180851838,
        "19d15d880bfe15b9": 1774188051868,
        "19d16465ec13650e": 1774195251891,
        "19d16b43b4d2565d": 1774202451760,
        "19d172218c0e21ad": 1774209651848,
        "19d178ff62eba593": 1774216851554,
        "19d17fdd3c39f264": 1774224051730,
        "19d186bb0d63323f": 1774231251828,
        "19d18d98cfb9b9b2": 1774238451512,
        "19d194768710386b": 1774245651397,
        "19d19b547104c649": 1774252851608,
        "19d1a23245547862": 1774260051971,
        "19d1a91012601a1a": 1774267251519,
        "19d1afedcaa1ea8b": 1774274451748,
        "19d1b6cba44b29d1": 1774281651610,
        "19d1bda971626b7d": 1774288851620,
        "19d1c4875a105afd": 1774296051595,
        "19d1cb65191709c0": 1774303251357,
        "19d1d242f060a084": 1774310451517,
        "19d1d920c4567102": 1774317651714,
        "19d1dffe84597f19": 1774324851538,
        "19d1e6dc4e875c80": 1774332051342,
        "19d1edba38920329": 1774339251585,
        "19d1f49d0496a054": 1774347327951,
        "19d1fb7b5e80d720": 1774354526823,
        "19d20258b536cd77": 1774361728096,
        "19d209368e5b2893": 1774368928235,
        "19d21014430b4520": 1774376127998,
        "19d216f22f9d558c": 1774383328119,
        "19d21dcfd96f5e00": 1774390527797,
        "19d224ada9ab7438": 1774397727762,
        "19d22b8b86bcec8f": 1774404927978,
        "19d232695a211284": 1774412128012,
        "19d239472a3b51c6": 1774419327878,
        "19d240251a19a4b3": 1774426527818,
        "19d24702d358b81e": 1774433728303,
        "19d24de0a9e0bc7e": 1774441813048,
        "19d254c6ebf9f3e8": 1774448112734,
        "19d25ba4c616d9a4": 1774455312582,
        "19d262829c0181f7": 1774462513196,
        "19d26960598403f0": 1774469712628,
        "19d26ceb53150d87": 1774473313560,
        "19d26cd1699dc712": 1774473313560
      },
      "calendarEvents": {},
      "sentItems": {},
      "recentReminders": [],
      "sentHashes": {
        "2f308c17": 1767870051248,
        "77a6536d": 1767873651300,
        "4daedce0": 1767884401889,
        "4c22c8f": 1767927601043,
        "58898f6f": 1767931201657,
        "4b13f30e": 1767952801472,
        "3d9f8480": 1767956401143
      },
      "deliveryLog": [
        {
          "timestamp": 1772338508501,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772568042830,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772568943201,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772576143327,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772583344248,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772590544193,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772597744219,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772604944579,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772612144869,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772619326536,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772626526898,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772633727043,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772640927137,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772648127667,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772651727809,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772655327560,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772662527385,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772669727370,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772676927253,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772684127667,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772691327324,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772698527636,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772705727611,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772712927466,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772720127703,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772727327992,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772734527601,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772741728124,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772884869344,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772892971575,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772899273015,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772913673829,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772920874177,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1772956868861,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1773227712297,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774041349615,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774042253820,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774043150969,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774044054134,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774044954820,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774051253995,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774058454587,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774065654825,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774072855103,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774080057336,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774087255796,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774094456399,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774101657163,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774108857020,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774116057786,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774123258857,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774130453813,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774137652555,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774144852414,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774152052523,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774159252413,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774166452549,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774173652552,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774180852693,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774188052660,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774195252664,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774202452459,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774209652597,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774216852333,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774224052474,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774231252596,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774238452236,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774245652163,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774252852404,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774260052699,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774267252319,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774274452600,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774281652440,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774288852381,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774296052448,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774303252095,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774310452300,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774317652416,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774324852236,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774332052085,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774339252371,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774347328716,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774354527583,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774361729051,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774368928995,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774376128765,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774383328879,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774390528543,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774397728482,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774404928676,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774412128745,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774419328549,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774426528698,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774433729027,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774441813963,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774448113506,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774455313655,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774462514057,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774469713362,
          "source": "email",
          "subject": "No Subject"
        },
        {
          "timestamp": 1774473314617,
          "source": "email",
          "subject": "No Subject"
        }
      ],
      "failedQueue": [
        {
          "message": "🔴 *CRITICAL - Email*\n\n📧 *Subject:* No Subject\n👤 *From:* Unknown (sashavi55555@gmail.com)\n\n_🔐 Password Expiry Alert Report Generated: 3/25/2026, 6:00:59 PM Total Expiring 1 Critical (≤3 days) 1 Already Expired 1 User Password Status Username Full Name Email Status Expiry Date nalav Nala_\n\n[Open in Gmail](https://mail.google.com/mail/u/0/#inbox/19d262829c0181f7)",
          "source": "email",
          "attempt": 3,
          "maxAttempts": 3,
          "queuedAt": 1774473314617,
          "lastError": "{\"ok\":true,\"result\":{\"message_id\":460,\"from\":{\"id\":7979559172,\"is_bot\":true,\"first_name\":\"EmailTaskBot\",\"username\":\"email_task_bot\"},\"chat\":{\"id\":426570413,\"first_name\":\"Alex\",\"last_name\":\"Vi\",\"userna"
        },
        {
          "message": "🔴 *CRITICAL - Email*\n\n📧 *Subject:* No Subject\n👤 *From:* Unknown (sashavi55555@gmail.com)\n\n_🔐 Password Expiry Alert Report Generated: 3/25/2026, 8:00:59 PM Total Expiring 1 Critical (≤3 days) 1 Already Expired 1 User Password Status Username Full Name Email Status Expiry Date nalav Nala_\n\n[Open in Gmail](https://mail.google.com/mail/u/0/#inbox/19d26960598403f0)",
          "source": "email",
          "attempt": 2,
          "maxAttempts": 3,
          "queuedAt": 1774473314617,
          "lastError": "{\"ok\":true,\"result\":{\"message_id\":461,\"from\":{\"id\":7979559172,\"is_bot\":true,\"first_name\":\"EmailTaskBot\",\"username\":\"email_task_bot\"},\"chat\":{\"id\":426570413,\"first_name\":\"Alex\",\"last_name\":\"Vi\",\"userna"
        },
        {
          "message": "🔴 *CRITICAL - Email*\n\n📧 *Subject:* No Subject\n👤 *From:* Unknown (sashavi55555@gmail.com)\n\n_🔐 Password Expiry Alert Report Generated: 3/25/2026, 9:02:54 PM Total Expiring 1 Critical (≤3 days) 1 Already Expired 1 User Password Status Username Full Name Email Status Expiry Date nalav Nala_\n\n[Open in Gmail](https://mail.google.com/mail/u/0/#inbox/19d26ceb53150d87)",
          "source": "email",
          "attempt": 1,
          "maxAttempts": 3,
          "queuedAt": 1774473314617,
          "lastError": "{\"ok\":true,\"result\":{\"message_id\":462,\"from\":{\"id\":7979559172,\"is_bot\":true,\"first_name\":\"EmailTaskBot\",\"username\":\"email_task_bot\"},\"chat\":{\"id\":426570413,\"first_name\":\"Alex\",\"last_name\":\"Vi\",\"userna"
        }
      ],
      "dailyStats": {
        "date": "2026-03-25",
        "sent": 0,
        "failed": 12,
        "retried": 36
      },
      "yesterdayStats": {
        "date": "2026-03-24",
        "sent": 0,
        "failed": 12,
        "retried": 36
      },
      "dailySummarySent": {
        "2026-03-22": true,
        "2026-03-23": true,
        "2026-03-24": true,
        "2026-03-25": true
      }
    },
    "node:Check Every 15 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ba62b3b2-f82b-4aa7-ae81-3417f58bd983",
  "activeVersionId": "2f216629-ba77-4c78-8ab0-552763daeb8a",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-15T11:13:05.213Z",
      "createdAt": "2025-11-15T11:13:05.213Z",
      "role": "workflow:owner",
      "workflowId": "d9VfLDIb89RxTA8s",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-17T20:26:05.000Z",
    "createdAt": "2026-02-17T20:26:02.737Z",
    "versionId": "2f216629-ba77-4c78-8ab0-552763daeb8a",
    "workflowId": "d9VfLDIb89RxTA8s",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 15
              }
            ]
          }
        },
        "id": "4f90baad-f42a-4d24-acdf-e9a71818fad9",
        "name": "Check Every 15 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1936,
          -7216
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "filters": {
            "q": "newer_than:24h ((\"deadline\" OR \"due date\" OR \"due by\") OR (\"meeting at\" OR \"meeting on\") OR (\"urgent:\" OR \"action required\") OR (\"reminder:\" OR \"don't forget\") OR (\"payment due\" OR \"invoice due\") OR (\"submit by\" OR \"expires on\") OR (\"תזכורת\" OR \"דחוף\" OR \"תאריך יעד\" OR \"פגישה\"))"
          }
        },
        "id": "4fa0fb78-6251-4502-841d-db2d8531ad38",
        "name": "Gmail - Fetch Task Emails",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -1536,
          -7408
        ],
        "webhookId": "13ab3a69-3954-424a-8100-b474fcc5b6a6",
        "credentials": {
          "gmailOAuth2": {
            "id": "C5742Grqr9Rpnxid",
            "name": "Gmail account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "sashavi55555@gmail.com",
            "mode": "list"
          },
          "limit": 20,
          "options": {
            "orderBy": "startTime"
          }
        },
        "id": "dfc940fd-5439-47e5-82ae-5a5eb46ce71d",
        "name": "Google Calendar - Next 3 Hours",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          -1536,
          -7008
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "ceazxv6ZgDLso5CX",
            "name": "Google Calendar account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const CONFIG = {\n  timezone: 'Asia/Jerusalem',\n  reminderWindowDays: 7,\n  maxPreviewLength: 250,\n  urgencyKeywords: {\n    critical: ['urgent', 'asap', 'immediately', 'critical', 'emergency', 'overdue', 'expired', 'דחוף', 'מיידי'],\n    high: ['deadline', 'due', 'must', 'required', 'payment', 'expires', 'invoice', 'תאריך יעד', 'תשלום', 'חשבונית'],\n    medium: ['meeting', 'call', 'reminder', 'review', 'submit', 'approval', 'פגישה', 'תזכורת', 'אישור'],\n    low: ['fyi', 'update', 'info', 'notice', 'newsletter', 'עדכון']\n  }\n};\n\nconst out = [];\nconst now = Date.now();\nconst stats = { processed: 0, sent: 0, skipped: 0, errors: 0 };\n\nconst items = $input.all();\nif (items.length === 1 && items[0].json?.error) {\n  return [{ json: { source: 'email', error: true, errorMessage: items[0].json.error } }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.emailReminders) staticData.emailReminders = {};\nconst sentEmails = staticData.emailReminders;\n\nconst cutoff = now - (CONFIG.reminderWindowDays * 86400000);\nfor (const [id, ts] of Object.entries(sentEmails)) {\n  if (ts < cutoff) delete sentEmails[id];\n}\n\nfunction extractDates(text) {\n  const dates = [];\n  const patterns = [\n    /\\b(\\d{1,2})[\\/-](\\d{1,2})[\\/-](\\d{2,4})\\b/g,\n    /\\b(\\d{4})[\\/-](\\d{1,2})[\\/-](\\d{1,2})\\b/g,\n    /\\b(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*\\s+(\\d{1,2}),?\\s+(\\d{4})?/gi,\n    /\\b(\\d{1,2})\\s+(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*,?\\s+(\\d{4})?/gi,\n    /\\b(today|tomorrow|monday|tuesday|wednesday|thursday|friday|saturday|sunday)\\b/gi\n  ];\n  for (const p of patterns) {\n    for (const m of text.matchAll(p)) dates.push(m[0]);\n  }\n  return [...new Set(dates)];\n}\n\nfunction getUrgency(text, dates) {\n  const lower = text.toLowerCase();\n  if (CONFIG.urgencyKeywords.critical.some(w => lower.includes(w)))\n    return { emoji: '🔴', label: 'CRITICAL', priority: 4 };\n  for (const d of dates) {\n    const parsed = Date.parse(d);\n    if (!isNaN(parsed)) {\n      const days = (parsed - now) / 86400000;\n      if (days >= 0 && days < 1) return { emoji: '🔴', label: 'TODAY', priority: 4 };\n      if (days < 2) return { emoji: '🟡', label: 'TOMORROW', priority: 3 };\n    }\n  }\n  if (CONFIG.urgencyKeywords.high.some(w => lower.includes(w)))\n    return { emoji: '🔴', label: 'HIGH', priority: 3 };\n  if (CONFIG.urgencyKeywords.medium.some(w => lower.includes(w)))\n    return { emoji: '🟡', label: 'MEDIUM', priority: 2 };\n  if (CONFIG.urgencyKeywords.low.some(w => lower.includes(w)))\n    return { emoji: '🟢', label: 'LOW', priority: 1 };\n  return { emoji: '⚪', label: 'INFO', priority: 0 };\n}\n\nfunction getSender(item) {\n  let from = item.json.from || item.json.From || '';\n  if ((!from || !from.includes('@')) && item.json.payload?.headers) {\n    const h = item.json.payload.headers.find(h => h.name?.toLowerCase() === 'from');\n    if (h?.value) from = h.value;\n  }\n  const nameMatch = from.match(/^([^<]+)\\s*</);\n  const emailMatch = from.match(/<([^>]+)>/);\n  return {\n    name: nameMatch ? nameMatch[1].trim() : 'Unknown',\n    email: emailMatch ? emailMatch[1].trim() : (from.includes('@') ? from.trim() : 'unknown')\n  };\n}\n\nfunction esc(text) {\n  return (text || '').replace(/([\\[\\]_*`~])/g, '\\\\$1');\n}\n\nfor (const item of items) {\n  try {\n    stats.processed++;\n    const emailId = item.json.id || '';\n    if (sentEmails[emailId] && (now - sentEmails[emailId]) < CONFIG.reminderWindowDays * 86400000) {\n      stats.skipped++;\n      continue;\n    }\n    const subjectRaw = item.json.subject || 'No Subject';\n    const snippet = item.json.snippet || '';\n    const fullText = `${subjectRaw} ${snippet}`;\n    const sender = getSender(item);\n    const dates = extractDates(fullText);\n    const urgency = getUrgency(fullText, dates);\n    if (urgency.priority < 2 && dates.length === 0) { stats.skipped++; continue; }\n\n    let eventDate = null, daysUntil = null;\n    for (const d of dates) {\n      const parsed = Date.parse(d);\n      if (!isNaN(parsed) && parsed > now) {\n        eventDate = new Date(parsed).toLocaleDateString('en-GB', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' });\n        daysUntil = Math.ceil((parsed - now) / 86400000);\n        break;\n      }\n    }\n\n    const preview = snippet.length > CONFIG.maxPreviewLength ? snippet.substring(0, CONFIG.maxPreviewLength - 3) + '...' : snippet;\n\n    let msg = `${urgency.emoji} *${urgency.label} - Email*\\n`;\n    msg += `\\n📧 *Subject:* ${esc(subjectRaw)}\\n`;\n    msg += `👤 *From:* ${esc(sender.name)} (${esc(sender.email)})\\n`;\n    if (eventDate) {\n      msg += `📅 *Date:* ${eventDate}`;\n      if (daysUntil !== null) msg += ` (${daysUntil}d)`;\n      msg += `\\n`;\n    }\n    if (dates.length > 1) msg += `📌 *Other dates:* ${dates.slice(1, 3).join(', ')}\\n`;\n    msg += `\\n_${esc(preview)}_\\n`;\n    msg += `\\n[Open in Gmail](https://mail.google.com/mail/u/0/#inbox/${emailId})`;\n\n    sentEmails[emailId] = now;\n    stats.sent++;\n    out.push({ json: { source: 'email', reminderMessage: msg, shouldSendReminder: true, emailId, subject: subjectRaw, priority: urgency.priority, timestamp: now } });\n  } catch (e) {\n    stats.errors++;\n    console.error(`Email error: ${e.message}`);\n  }\n}\n\nconsole.log(`Email: ${stats.processed} processed, ${stats.sent} sent, ${stats.skipped} skipped, ${stats.errors} errors`);\nreturn out.length > 0 ? out : [{ json: { shouldSendReminder: false, source: 'email' } }];"
        },
        "id": "75aca78c-de2a-4b75-b336-58b772837951",
        "name": "Format Email Reminders",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1232,
          -7408
        ]
      },
      {
        "parameters": {
          "jsCode": "const CONFIG = {\n  timezone: 'Asia/Jerusalem',\n  deduplicationHours: 24,\n  reminderWindows: [\n    { max: 180, min: 61, label: '~2 hours' },\n    { max: 60, min: 31, label: '1 hour' },\n    { max: 30, min: 16, label: '30 minutes' },\n    { max: 15, min: 6, label: '15 minutes' },\n    { max: 5, min: 0, label: 'Starting NOW' }\n  ]\n};\n\nconst out = [];\nconst now = Date.now();\nconst stats = { processed: 0, sent: 0, skipped: 0, errors: 0 };\n\nconst items = $input.all();\nif (items.length === 1 && items[0].json?.error) {\n  return [{ json: { source: 'calendar', error: true, errorMessage: items[0].json.error } }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.calendarEvents) staticData.calendarEvents = {};\nconst sent = staticData.calendarEvents;\n\nconst cutoff = now - (CONFIG.deduplicationHours * 3600000);\nfor (const [k, ts] of Object.entries(sent)) {\n  if (ts < cutoff) delete sent[k];\n}\n\nfunction getWindow(mins) {\n  for (const w of CONFIG.reminderWindows) {\n    if (mins <= w.max && mins >= w.min) return w;\n  }\n  return null;\n}\n\nfunction getMeetingInfo(ev) {\n  if (ev.hangoutLink) return { hasVideo: true, platform: 'Google Meet', link: ev.hangoutLink };\n  const loc = (ev.location || '').toLowerCase();\n  if (loc.includes('zoom')) return { hasVideo: true, platform: 'Zoom', link: ev.location.match(/https?:\\/\\/[^\\s]+zoom[^\\s]+/i)?.[0] || ev.location };\n  if (loc.includes('teams.microsoft')) return { hasVideo: true, platform: 'Teams', link: ev.location.match(/https?:\\/\\/[^\\s]+teams[^\\s]+/i)?.[0] || ev.location };\n  return { hasVideo: false, platform: null, link: null };\n}\n\nfunction esc(text) {\n  return (text || '').replace(/([\\[\\]_*`~])/g, '\\\\$1');\n}\n\nfor (const item of items) {\n  try {\n    stats.processed++;\n    const ev = item.json;\n    const eventId = ev.id || '';\n    const startISO = ev.start?.dateTime || ev.start?.date;\n    if (!startISO) { stats.skipped++; continue; }\n\n    const startDate = new Date(startISO);\n    const minsUntil = Math.floor((startDate - now) / 60000);\n    if (minsUntil < 0 || minsUntil > 180) { stats.skipped++; continue; }\n\n    const win = getWindow(minsUntil);\n    if (!win) { stats.skipped++; continue; }\n\n    const key = `${eventId}_${win.label}`;\n    if (sent[key]) { stats.skipped++; continue; }\n\n    const meeting = getMeetingInfo(ev);\n    const fmtTime = (iso) => iso ? new Date(iso).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit', timeZone: CONFIG.timezone }) : null;\n    const startTime = fmtTime(startISO);\n    const endTime = fmtTime(ev.end?.dateTime || ev.end?.date);\n\n    const attendees = (ev.attendees || [])\n      .filter(a => !a.self && a.responseStatus !== 'declined')\n      .map(a => {\n        const name = a.displayName || a.email?.split('@')[0] || '?';\n        const icon = a.responseStatus === 'accepted' ? '✓' : a.responseStatus === 'tentative' ? '?' : '';\n        return icon ? `${name}${icon}` : name;\n      }).slice(0, 5);\n\n    const urgencyEmoji = minsUntil <= 5 ? '🔴' : minsUntil <= 15 ? '🟠' : minsUntil <= 30 ? '🟡' : '🟢';\n    const priority = minsUntil <= 5 ? 5 : minsUntil <= 15 ? 4 : minsUntil <= 30 ? 3 : 2;\n\n    let msg = `${urgencyEmoji} *${win.label} - Calendar*\\n`;\n    msg += `\\n📅 *${esc(ev.summary || 'Untitled Event')}*\\n`;\n    msg += `🕒 ${startTime}${endTime ? ' - ' + endTime : ''} (in ${minsUntil}min)\\n`;\n    if (ev.organizer && !ev.organizer.self) msg += `👔 ${esc(ev.organizer.displayName || ev.organizer.email?.split('@')[0])}\\n`;\n    if (attendees.length > 0) {\n      msg += `👥 ${attendees.join(', ')}`;\n      if ((ev.attendees || []).length > 5) msg += ` +${ev.attendees.length - 5}`;\n      msg += `\\n`;\n    }\n    if (!meeting.hasVideo && ev.location) msg += `📍 ${esc(ev.location)}\\n`;\n    if (meeting.hasVideo) msg += `\\n🎥 [Join ${meeting.platform}](${meeting.link})\\n`;\n    if (ev.htmlLink) msg += `[View in Calendar](${ev.htmlLink})`;\n\n    sent[key] = now;\n    stats.sent++;\n    out.push({ json: { source: 'calendar', reminderMessage: msg, shouldSendReminder: true, eventId, priority, timestamp: now } });\n  } catch (e) {\n    stats.errors++;\n    console.error(`Calendar error: ${e.message}`);\n  }\n}\n\nconsole.log(`Calendar: ${stats.processed} processed, ${stats.sent} sent, ${stats.skipped} skipped, ${stats.errors} errors`);\nreturn out.length > 0 ? out : [{ json: { shouldSendReminder: false, source: 'calendar' } }];"
        },
        "id": "faca8a93-937e-4518-ad23-b23c8d761e6e",
        "name": "Format Calendar Reminders",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1232,
          -7008
        ]
      },
      {
        "parameters": {},
        "id": "b4f9200d-e833-48f8-a23d-c47215772651",
        "name": "Merge All Reminders",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2,
        "position": [
          -928,
          -7216
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "25d0b2a6-83c3-4721-a71a-42432fa0d505",
                "leftValue": "={{ $json.shouldSendReminder }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "9eb6fd03-6d72-457f-b808-ff75d6ff7444",
        "name": "Filter Valid Reminders",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.1,
        "position": [
          -624,
          -7216
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nitems.sort((a, b) => (b.json.priority || 0) - (a.json.priority || 0));\nconst MAX_PER_RUN = 5;\nif (items.length > MAX_PER_RUN) {\n  console.log(`Rate limiting: ${items.length} reminders, sending top ${MAX_PER_RUN}`);\n  return items.slice(0, MAX_PER_RUN);\n}\nreturn items;"
        },
        "id": "863940f1-c709-4840-af9c-2dee136ffb74",
        "name": "Sort & Rate Limit",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -272,
          -7216
        ]
      },
      {
        "parameters": {
          "chatId": "426570413",
          "text": "={{ $json.reminderMessage }}",
          "additionalFields": {
            "disable_web_page_preview": true,
            "parse_mode": "Markdown"
          }
        },
        "id": "7d2ab423-fab6-4d99-aabd-ed7f231c8d72",
        "name": "Send Telegram Notification",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          32,
          -7216
        ],
        "webhookId": "754cc178-2afb-4bef-92cf-c2d0bfb2c9ef",
        "credentials": {
          "telegramApi": {
            "id": "WlROsIRML0DIjcRe",
            "name": "email_task_bot"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.deliveryLog) staticData.deliveryLog = [];\nif (!staticData.failedQueue) staticData.failedQueue = [];\nif (!staticData.dailyStats) staticData.dailyStats = { date: '', sent: 0, failed: 0, retried: 0 };\n\nconst now = Date.now();\nconst todayStr = new Date(now).toISOString().slice(0, 10);\nconst result = $json;\nconst originalMsg = $('Sort & Rate Limit').item.json;\nconst success = !result.error && result.message_id;\n\n// Reset daily stats at midnight\nif (staticData.dailyStats.date !== todayStr) {\n  staticData.yesterdayStats = { ...staticData.dailyStats };\n  staticData.dailyStats = { date: todayStr, sent: 0, failed: 0, retried: 0 };\n}\n\n// Log delivery\nstaticData.deliveryLog.push({ timestamp: now, success, source: originalMsg.source, subject: originalMsg.subject || originalMsg.eventId || 'unknown' });\nif (staticData.deliveryLog.length > 100) staticData.deliveryLog = staticData.deliveryLog.slice(-100);\n\nconst outputs = [];\n\nif (success) {\n  staticData.dailyStats.sent++;\n} else {\n  staticData.dailyStats.failed++;\n  staticData.failedQueue.push({\n    message: originalMsg.reminderMessage,\n    source: originalMsg.source,\n    attempt: 1,\n    maxAttempts: 3,\n    queuedAt: now,\n    lastError: JSON.stringify(result).substring(0, 200)\n  });\n  console.error('Send failed, queued for retry');\n}\n\n// Process retry queue\nconst stillWaiting = [];\nfor (const item of staticData.failedQueue) {\n  const waitMs = item.attempt * 60000;\n  if (now - item.queuedAt >= waitMs && item.attempt <= item.maxAttempts) {\n    item.attempt++;\n    item.queuedAt = now;\n    staticData.dailyStats.retried++;\n    outputs.push({ json: { reminderMessage: '🔄 *Retry (attempt ' + item.attempt + '/' + item.maxAttempts + ')*\\n\\n' + item.message, isRetry: true } });\n    if (item.attempt <= item.maxAttempts) stillWaiting.push(item);\n  } else if (item.attempt <= item.maxAttempts) {\n    stillWaiting.push(item);\n  } else {\n    console.error('Permanently failed after ' + item.maxAttempts + ' attempts: ' + item.source);\n  }\n}\nstaticData.failedQueue = stillWaiting;\n\n// Daily summary at ~8 AM Israel time\nconst israelHour = parseInt(new Date(now).toLocaleString('en-GB', { hour: 'numeric', hour12: false, timeZone: 'Asia/Jerusalem' }));\nif (israelHour === 8 && staticData.yesterdayStats?.date) {\n  if (!staticData.dailySummarySent) staticData.dailySummarySent = {};\n  if (!staticData.dailySummarySent[todayStr]) {\n    const ys = staticData.yesterdayStats;\n    if (ys.sent > 0 || ys.failed > 0) {\n      const rate = ys.sent + ys.failed > 0 ? Math.round((ys.sent / (ys.sent + ys.failed)) * 100) : 100;\n      let summary = '📊 *Daily Reminder Summary*\\n';\n      summary += '\\n✅ Sent: ' + ys.sent;\n      summary += '\\n❌ Failed: ' + ys.failed;\n      if (ys.retried > 0) summary += '\\n🔄 Retried: ' + ys.retried;\n      summary += '\\n📈 Success rate: ' + rate + '%';\n      if (ys.failed > 0) {\n        const fails = staticData.deliveryLog.filter(l => !l.success).slice(-3).map(l => '  • ' + l.source + ': ' + l.subject).join('\\n');\n        if (fails) summary += '\\n\\n⚠️ *Recent failures:*\\n' + fails;\n      }\n      outputs.push({ json: { reminderMessage: summary, isDailySummary: true } });\n      staticData.dailySummarySent[todayStr] = true;\n    }\n  }\n  // Clean old flags\n  for (const d of Object.keys(staticData.dailySummarySent || {})) {\n    if (d < new Date(now - 259200000).toISOString().slice(0, 10)) delete staticData.dailySummarySent[d];\n  }\n}\n\n// Clean old failed queue items\nstaticData.failedQueue = staticData.failedQueue.filter(i => now - i.queuedAt < 86400000);\n\nreturn outputs.length > 0 ? outputs : [{ json: { delivered: success, noAction: true } }];"
        },
        "id": "529777db-1349-47a6-83dd-268e2572639e",
        "name": "Track & Retry & Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          336,
          -7216
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "a1b2c3d4-filter-retry",
                "leftValue": "={{ $json.reminderMessage }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "isNotEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "ff6cb6db-f345-48a3-9699-ff2e69650309",
        "name": "Has Retry or Summary?",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.1,
        "position": [
          624,
          -7216
        ]
      },
      {
        "parameters": {
          "chatId": "426570413",
          "text": "={{ $json.reminderMessage }}",
          "additionalFields": {
            "disable_web_page_preview": true,
            "parse_mode": "Markdown"
          }
        },
        "id": "c89786ea-2c01-4a77-bd20-f33b6740cb60",
        "name": "Send Retry or Summary",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          912,
          -7216
        ],
        "webhookId": "aec91e63-632a-4dc4-9908-a31e529c1192",
        "credentials": {
          "telegramApi": {
            "id": "WlROsIRML0DIjcRe",
            "name": "email_task_bot"
          }
        },
        "continueOnFail": true
      }
    ],
    "connections": {
      "Check Every 15 Minutes": {
        "main": [
          [
            {
              "node": "Gmail - Fetch Task Emails",
              "type": "main",
              "index": 0
            },
            {
              "node": "Google Calendar - Next 3 Hours",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail - Fetch Task Emails": {
        "main": [
          [
            {
              "node": "Format Email Reminders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Calendar - Next 3 Hours": {
        "main": [
          [
            {
              "node": "Format Calendar Reminders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Email Reminders": {
        "main": [
          [
            {
              "node": "Merge All Reminders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Calendar Reminders": {
        "main": [
          [
            {
              "node": "Merge All Reminders",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge All Reminders": {
        "main": [
          [
            {
              "node": "Filter Valid Reminders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Valid Reminders": {
        "main": [
          [
            {
              "node": "Sort & Rate Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort & Rate Limit": {
        "main": [
          [
            {
              "node": "Send Telegram Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Telegram Notification": {
        "main": [
          [
            {
              "node": "Track & Retry & Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Track & Retry & Summary": {
        "main": [
          [
            {
              "node": "Has Retry or Summary?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Retry or Summary?": {
        "main": [
          [
            {
              "node": "Send Retry or Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 2f216629",
    "description": "",
    "autosaved": true
  },
  "tags": []
}