PI workflows backup 2026-04-28 21-00/PI Workflows Backup.json
{
  "updatedAt": "2026-04-25T13:40:20.704Z",
  "createdAt": "2025-08-31T19:35:34.809Z",
  "id": "lIAp2PZeA0MG7QiE",
  "name": "PI Workflows Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -33168,
        10384
      ],
      "id": "f1fe320e-a9ad-4bfb-bdaa-80c22ef901d9",
      "name": "Error Trigger Backup"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJC2985U2",
          "mode": "id"
        },
        "text": "=❌ *PI Workflows Backup FAILED*\n\n🔴 *Error:* {{ $json.execution.error.message }}\n📍 *Failed node:* {{ $json.execution.lastNodeExecuted }}\n🆔 *Execution ID:* {{ $json.execution.id }}\n🔗 *Execution URL:* https://n8n.pi.alex-it.net/executions/{{ $json.execution.id }}\n🕐 *Time:* {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -32848,
        10384
      ],
      "id": "44749f2f-cf9d-4b3b-9718-eab39d96e81b",
      "name": "Slack Backup Error",
      "webhookId": "176c4a72-790c-4b2e-a0e9-984f83192b23",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJC2985U2",
          "mode": "id"
        },
        "text": "=✅ *PI Workflows Backup Complete*\n\n📁 *Folder:* `{{ $('Create README Text').item.json.folderName }}`\n🔢 *Workflows backed up:* {{ $('Create README Text').item.json.workflowCount }}\n🔗 *GitHub:* {{ $('Create README Text').item.json.ghUrl }}\n💾 *Google Drive:* https://drive.google.com/drive/folders/{{ $('Create Drive Folder').item.json.id }}\n🕐 *Time:* {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -34528,
        11216
      ],
      "id": "59cc029e-febc-49b7-b539-7de153b34643",
      "name": "Slack Backup Complete",
      "webhookId": "ae0474ea-5ed2-42f2-87c5-73e6b0c98c70",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n  const safe = orig.replace(/[\\/\\\\]+/g, '-').replace(/\\s+/g, ' ').trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;\n  json.timestamp = timestamp;\n\n  return { json, binary: bin };\n});"
      },
      "id": "8f555f9c-fb25-4d78-8542-b1825528ab91",
      "name": "Normalize Filename1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -35792,
        10672
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -36384,
        10688
      ],
      "id": "5f3b0b1f-b47c-452e-a7a1-ce3b5f160807",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "SKAlyF2lhIc4Qqwz",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -36192,
        10688
      ],
      "id": "9dc904c4-c900-4f68-923c-5e9ac12ed251",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -35984,
        10672
      ],
      "id": "255baf45-baa3-404d-a0ac-7859dec72180",
      "name": "workflow Export"
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $items('Create Drive Folder')[0].json['id'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -35568,
        10560
      ],
      "id": "e4fdac9d-25a2-4734-a30d-d60fd5c00f82",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "alexxx55555",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{ $json.folderName }}/{{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "=PI workflows backup: {{ $json.name }} - {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm') }}",
        "additionalParameters": {
          "author": {
            "name": "PI workflows backup",
            "email": "vinokura@alex-it.net"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -35584,
        10784
      ],
      "id": "7be48232-23d5-48b8-ac2b-ba7b405e713f",
      "name": "GitHub Backup (sanitized)",
      "webhookId": "114a3d57-956f-449c-8f2a-4f795d6a79b4",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $items('Normalize Filename1') || [];\n\nconst folderName = allItems[0]?.json?.folderName || 'PI workflows backup';\nconst timestamp  = allItems[0]?.json?.timestamp  || $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm');\n\nconst workflowNames = allItems.map(i => i.json?.workflowName).filter(Boolean);\n\nconst OWNER  = 'alexxx55555';\nconst REPO   = 'n8n-Raspberry-PI-Workflow-Backup';\nconst BRANCH = 'main';\n\nconst encodedFolder = encodeURIComponent(folderName);\nconst ghUrl = `https://github.com/${OWNER}/${REPO}/tree/${BRANCH}/${encodedFolder}`;\n\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join('\\n') : '- (no workflows found)'}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{ json: { readme, timestamp, folderName, ghUrl, workflowCount: workflowNames.length } }];"
      },
      "id": "0806f7b4-8ee2-488a-b4b8-4fb49450af4e",
      "name": "Create README Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -35184,
        10784
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        }
      },
      "id": "b939cb54-624c-4028-a7b0-80df0cf368f3",
      "name": "GitHub List Backup Folders (root)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -34112,
        10768
      ],
      "webhookId": "1e8231ce-81e7-4996-887a-4350ee5cc069",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const folders = $items()\n  .filter(i => i.json?.type === 'dir' && i.json?.name?.startsWith('PI workflows backup '))\n  .map(i => ({ name: i.json.name, path: i.json.path }));\n\nif (folders.length <= 1) return [];\n\nconst parseDate = (name) => {\n  const match = name.match(/(\\d{4}-\\d{2}-\\d{2}) (\\d{2})-(\\d{2})$/);\n  if (!match) return new Date('1900-01-01');\n  try { return new Date(`${match[1]}T${match[2]}:${match[3]}:00`); }\n  catch { return new Date('1900-01-01'); }\n};\n\nconst sorted = folders\n  .map(f => ({ ...f, date: parseDate(f.name) }))\n  .sort((a, b) => b.date - a.date);\n\nreturn sorted.slice(1).map(f => ({ json: { path: f.path, name: f.name } }));"
      },
      "id": "522592a8-a07e-4f52-be6a-dd0d20a59a4c",
      "name": "Filter Old GH Backup Folders (keep newest)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -33888,
        10768
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{ $json.path }}"
      },
      "id": "87b81f5a-eac1-434c-967c-11e82448bc3a",
      "name": "GH List Files In Old Folder",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -33680,
        10768
      ],
      "webhookId": "747bc648-6d4a-4730-be63-a90383c026e9",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json['type'] }}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "isfile"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ae9c6ae4-eec4-4398-bc0c-d89c72595dcc",
      "name": "IF Is File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -33488,
        10768
      ]
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i => i.json && i.json.type === 'file' && i.json.path && i.json.sha).map(i => ({ json: { path: i.json.path, sha: i.json.sha } }));"
      },
      "id": "9d3af10a-8768-4082-87ec-eab30b5dba8f",
      "name": "To Files (root)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -33280,
        10688
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{ $json.path }}"
      },
      "id": "598ac134-8b2f-42b4-baaf-4da3e1c1f6a9",
      "name": "GH List Files In Subfolder",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -33280,
        10880
      ],
      "webhookId": "0e3b3f41-c2ff-4ae9-aa8e-d74f5b217588",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i => i.json && i.json.type === 'file' && i.json.path && i.json.sha).map(i => ({ json: { path: i.json.path, sha: i.json.sha } }));"
      },
      "id": "4f42e1ac-94be-4ac3-a05b-748cdd39227b",
      "name": "To Files (subfolder)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -33056,
        10880
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{ $json.path }}",
        "commitMessage": "=Cleanup old backup file {{ $json.path }}"
      },
      "id": "32ad796f-9fb8-4973-89e5-12efe999b07c",
      "name": "GH Delete File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -33072,
        10688
      ],
      "webhookId": "e025f017-c79c-43d7-9d57-876995308d6e",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "PI workflows backup",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -37040,
        10688
      ],
      "id": "baebb818-219a-46fe-a137-9f1cee618290",
      "name": "Search Drive Folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "deleteFolder",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "deletePermanently": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -36784,
        10688
      ],
      "id": "90a98e0d-6948-4968-93e0-76b4d3093775",
      "name": "Delete Old Drive Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=PI workflows backup {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH-mm') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {
          "folderColorRgb": "#920909"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -36592,
        10688
      ],
      "id": "8ec64f4e-34d1-47f0-bdf8-2b22d6bda1a5",
      "name": "Create Drive Folder",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -37296,
        10688
      ],
      "id": "c329e4c7-4eef-4b6e-a647-167a24d16a7c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const readmeData = $('Create README Text').first().json;\nconst text = (readmeData.readme || '# PI workflows backup\\n\\n(empty)').replace(/\\r?\\n/g, '\\n');\n\nreturn {\n  json: {\n    folderName: readmeData.folderName,\n    ghUrl: readmeData.ghUrl,\n    workflowCount: readmeData.workflowCount\n  },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
      },
      "id": "9c5349e9-ecb4-4b47-b06e-5e121610c734",
      "name": "Make README Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -34992,
        10784
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Update README with latest backup summary"
      },
      "id": "25fc981d-3e8d-47f5-bb81-a17c2b737824",
      "name": "GitHub Edit README (binary)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -34784,
        10784
      ],
      "webhookId": "05ff000e-8b2c-4937-b7cb-93dd8a896623",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.error || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "5b261494-d375-4fd8-a922-3415f4982ff8",
      "name": "IF Edit Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -34592,
        10784
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Create README with latest backup summary"
      },
      "id": "f75f0417-43c5-4ed2-8d8e-31ec7a309a38",
      "name": "GitHub Create README (binary)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -34384,
        10880
      ],
      "webhookId": "2d48f044-b3d5-4525-9bb5-ad95c88713d8",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger Backup": {
      "main": [
        [
          {
            "node": "Slack Backup Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Filename1": {
      "main": [
        [
          {
            "node": "GitHub Backup (sanitized)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "workflow Export",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow Export": {
      "main": [
        [
          {
            "node": "Normalize Filename1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Backup (sanitized)": {
      "main": [
        [
          {
            "node": "Create README Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create README Text": {
      "main": [
        [
          {
            "node": "Make README Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub List Backup Folders (root)": {
      "main": [
        [
          {
            "node": "Filter Old GH Backup Folders (keep newest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Old GH Backup Folders (keep newest)": {
      "main": [
        [
          {
            "node": "GH List Files In Old Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Old Folder": {
      "main": [
        [
          {
            "node": "IF Is File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is File?": {
      "main": [
        [
          {
            "node": "To Files (root)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GH List Files In Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (root)": {
      "main": [
        [
          {
            "node": "GH Delete File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Subfolder": {
      "main": [
        [
          {
            "node": "To Files (subfolder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (subfolder)": {
      "main": [
        [
          {
            "node": "GH Delete File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Drive Folders": {
      "main": [
        [
          {
            "node": "Delete Old Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Drive Folder": {
      "main": [
        [
          {
            "node": "Create Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive Folder": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search Drive Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make README Binary": {
      "main": [
        [
          {
            "node": "GitHub Edit README (binary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit README (binary)": {
      "main": [
        [
          {
            "node": "IF Edit Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Edit Succeeded?": {
      "main": [
        [
          {
            "node": "GitHub List Backup Folders (root)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Backup Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub Create README (binary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create README (binary)": {
      "main": [
        [
          {
            "node": "GitHub List Backup Folders (root)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Backup Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "binaryMode": "separate",
    "availableInMCP": false,
    "errorWorkflow": "lIAp2PZeA0MG7QiE"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        16
      ]
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": [
        20
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "838688ae-5559-432f-ae2b-3178770867c6",
  "activeVersionId": "838688ae-5559-432f-ae2b-3178770867c6",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T09:14:00.800Z",
      "createdAt": "2025-10-31T09:14:00.800Z",
      "role": "workflow:owner",
      "workflowId": "lIAp2PZeA0MG7QiE",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-25T13:40:21.000Z",
    "createdAt": "2026-04-25T13:40:20.706Z",
    "versionId": "838688ae-5559-432f-ae2b-3178770867c6",
    "workflowId": "lIAp2PZeA0MG7QiE",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -33168,
          10384
        ],
        "id": "f1fe320e-a9ad-4bfb-bdaa-80c22ef901d9",
        "name": "Error Trigger Backup"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AJC2985U2",
            "mode": "id"
          },
          "text": "=❌ *PI Workflows Backup FAILED*\n\n🔴 *Error:* {{ $json.execution.error.message }}\n📍 *Failed node:* {{ $json.execution.lastNodeExecuted }}\n🆔 *Execution ID:* {{ $json.execution.id }}\n🔗 *Execution URL:* https://n8n.pi.alex-it.net/executions/{{ $json.execution.id }}\n🕐 *Time:* {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm') }}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          -32848,
          10384
        ],
        "id": "44749f2f-cf9d-4b3b-9718-eab39d96e81b",
        "name": "Slack Backup Error",
        "webhookId": "176c4a72-790c-4b2e-a0e9-984f83192b23",
        "credentials": {
          "slackApi": {
            "id": "obEYVo8oQOJ22JqX",
            "name": "AD Admin Bot"
          }
        }
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AJC2985U2",
            "mode": "id"
          },
          "text": "=✅ *PI Workflows Backup Complete*\n\n📁 *Folder:* `{{ $('Create README Text').item.json.folderName }}`\n🔢 *Workflows backed up:* {{ $('Create README Text').item.json.workflowCount }}\n🔗 *GitHub:* {{ $('Create README Text').item.json.ghUrl }}\n💾 *Google Drive:* https://drive.google.com/drive/folders/{{ $('Create Drive Folder').item.json.id }}\n🕐 *Time:* {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm') }}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          -34528,
          11216
        ],
        "id": "59cc029e-febc-49b7-b539-7de153b34643",
        "name": "Slack Backup Complete",
        "webhookId": "ae0474ea-5ed2-42f2-87c5-73e6b0c98c70",
        "credentials": {
          "slackApi": {
            "id": "obEYVo8oQOJ22JqX",
            "name": "AD Admin Bot"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n  const safe = orig.replace(/[\\/\\\\]+/g, '-').replace(/\\s+/g, ' ').trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;\n  json.timestamp = timestamp;\n\n  return { json, binary: bin };\n});"
        },
        "id": "8f555f9c-fb25-4d78-8542-b1825528ab91",
        "name": "Normalize Filename1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -35792,
          10672
        ]
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -36384,
          10688
        ],
        "id": "5f3b0b1f-b47c-452e-a7a1-ce3b5f160807",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "SKAlyF2lhIc4Qqwz",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -36192,
          10688
        ],
        "id": "9dc904c4-c900-4f68-923c-5e9ac12ed251",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -35984,
          10672
        ],
        "id": "255baf45-baa3-404d-a0ac-7859dec72180",
        "name": "workflow Export"
      },
      {
        "parameters": {
          "name": "={{ $binary.data.fileName }}",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $items('Create Drive Folder')[0].json['id'] }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -35568,
          10560
        ],
        "id": "e4fdac9d-25a2-4734-a30d-d60fd5c00f82",
        "name": "Upload file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "alexxx55555",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{ $json.folderName }}/{{ $binary.data.fileName }}",
          "binaryData": true,
          "commitMessage": "=PI workflows backup: {{ $json.name }} - {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm') }}",
          "additionalParameters": {
            "author": {
              "name": "PI workflows backup",
              "email": "vinokura@alex-it.net"
            }
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -35584,
          10784
        ],
        "id": "7be48232-23d5-48b8-ac2b-ba7b405e713f",
        "name": "GitHub Backup (sanitized)",
        "webhookId": "114a3d57-956f-449c-8f2a-4f795d6a79b4",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const allItems = $items('Normalize Filename1') || [];\n\nconst folderName = allItems[0]?.json?.folderName || 'PI workflows backup';\nconst timestamp  = allItems[0]?.json?.timestamp  || $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm');\n\nconst workflowNames = allItems.map(i => i.json?.workflowName).filter(Boolean);\n\nconst OWNER  = 'alexxx55555';\nconst REPO   = 'n8n-Raspberry-PI-Workflow-Backup';\nconst BRANCH = 'main';\n\nconst encodedFolder = encodeURIComponent(folderName);\nconst ghUrl = `https://github.com/${OWNER}/${REPO}/tree/${BRANCH}/${encodedFolder}`;\n\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join('\\n') : '- (no workflows found)'}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{ json: { readme, timestamp, folderName, ghUrl, workflowCount: workflowNames.length } }];"
        },
        "id": "0806f7b4-8ee2-488a-b4b8-4fb49450af4e",
        "name": "Create README Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -35184,
          10784
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          }
        },
        "id": "b939cb54-624c-4028-a7b0-80df0cf368f3",
        "name": "GitHub List Backup Folders (root)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -34112,
          10768
        ],
        "webhookId": "1e8231ce-81e7-4996-887a-4350ee5cc069",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const folders = $items()\n  .filter(i => i.json?.type === 'dir' && i.json?.name?.startsWith('PI workflows backup '))\n  .map(i => ({ name: i.json.name, path: i.json.path }));\n\nif (folders.length <= 1) return [];\n\nconst parseDate = (name) => {\n  const match = name.match(/(\\d{4}-\\d{2}-\\d{2}) (\\d{2})-(\\d{2})$/);\n  if (!match) return new Date('1900-01-01');\n  try { return new Date(`${match[1]}T${match[2]}:${match[3]}:00`); }\n  catch { return new Date('1900-01-01'); }\n};\n\nconst sorted = folders\n  .map(f => ({ ...f, date: parseDate(f.name) }))\n  .sort((a, b) => b.date - a.date);\n\nreturn sorted.slice(1).map(f => ({ json: { path: f.path, name: f.name } }));"
        },
        "id": "522592a8-a07e-4f52-be6a-dd0d20a59a4c",
        "name": "Filter Old GH Backup Folders (keep newest)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -33888,
          10768
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{ $json.path }}"
        },
        "id": "87b81f5a-eac1-434c-967c-11e82448bc3a",
        "name": "GH List Files In Old Folder",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -33680,
          10768
        ],
        "webhookId": "747bc648-6d4a-4730-be63-a90383c026e9",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json['type'] }}",
                "rightValue": "file",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "isfile"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "ae9c6ae4-eec4-4398-bc0c-d89c72595dcc",
        "name": "IF Is File?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -33488,
          10768
        ]
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i => i.json && i.json.type === 'file' && i.json.path && i.json.sha).map(i => ({ json: { path: i.json.path, sha: i.json.sha } }));"
        },
        "id": "9d3af10a-8768-4082-87ec-eab30b5dba8f",
        "name": "To Files (root)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -33280,
          10688
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{ $json.path }}"
        },
        "id": "598ac134-8b2f-42b4-baaf-4da3e1c1f6a9",
        "name": "GH List Files In Subfolder",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -33280,
          10880
        ],
        "webhookId": "0e3b3f41-c2ff-4ae9-aa8e-d74f5b217588",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i => i.json && i.json.type === 'file' && i.json.path && i.json.sha).map(i => ({ json: { path: i.json.path, sha: i.json.sha } }));"
        },
        "id": "4f42e1ac-94be-4ac3-a05b-748cdd39227b",
        "name": "To Files (subfolder)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -33056,
          10880
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{ $json.path }}",
          "commitMessage": "=Cleanup old backup file {{ $json.path }}"
        },
        "id": "32ad796f-9fb8-4973-89e5-12efe999b07c",
        "name": "GH Delete File",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -33072,
          10688
        ],
        "webhookId": "e025f017-c79c-43d7-9d57-876995308d6e",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "queryString": "PI workflows backup",
          "returnAll": true,
          "filter": {},
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -37040,
          10688
        ],
        "id": "baebb818-219a-46fe-a137-9f1cee618290",
        "name": "Search Drive Folders",
        "alwaysOutputData": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "folder",
          "operation": "deleteFolder",
          "folderNoRootId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {
            "deletePermanently": false
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -36784,
          10688
        ],
        "id": "90a98e0d-6948-4968-93e0-76b4d3093775",
        "name": "Delete Old Drive Folder",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "=PI workflows backup {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH-mm') }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {
            "folderColorRgb": "#920909"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -36592,
          10688
        ],
        "id": "8ec64f4e-34d1-47f0-bdf8-2b22d6bda1a5",
        "name": "Create Drive Folder",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 21 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -37296,
          10688
        ],
        "id": "c329e4c7-4eef-4b6e-a647-167a24d16a7c",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "jsCode": "const readmeData = $('Create README Text').first().json;\nconst text = (readmeData.readme || '# PI workflows backup\\n\\n(empty)').replace(/\\r?\\n/g, '\\n');\n\nreturn {\n  json: {\n    folderName: readmeData.folderName,\n    ghUrl: readmeData.ghUrl,\n    workflowCount: readmeData.workflowCount\n  },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
        },
        "id": "9c5349e9-ecb4-4b47-b06e-5e121610c734",
        "name": "Make README Binary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -34992,
          10784
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Update README with latest backup summary"
        },
        "id": "25fc981d-3e8d-47f5-bb81-a17c2b737824",
        "name": "GitHub Edit README (binary)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -34784,
          10784
        ],
        "webhookId": "05ff000e-8b2c-4937-b7cb-93dd8a896623",
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{ $json.error || '' }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            }
          },
          "options": {}
        },
        "id": "5b261494-d375-4fd8-a922-3415f4982ff8",
        "name": "IF Edit Succeeded?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -34592,
          10784
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Create README with latest backup summary"
        },
        "id": "f75f0417-43c5-4ed2-8d8e-31ec7a309a38",
        "name": "GitHub Create README (binary)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -34384,
          10880
        ],
        "webhookId": "2d48f044-b3d5-4525-9bb5-ad95c88713d8",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger Backup": {
        "main": [
          [
            {
              "node": "Slack Backup Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Filename1": {
        "main": [
          [
            {
              "node": "GitHub Backup (sanitized)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "workflow Export",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "workflow Export": {
        "main": [
          [
            {
              "node": "Normalize Filename1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Backup (sanitized)": {
        "main": [
          [
            {
              "node": "Create README Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create README Text": {
        "main": [
          [
            {
              "node": "Make README Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub List Backup Folders (root)": {
        "main": [
          [
            {
              "node": "Filter Old GH Backup Folders (keep newest)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Old GH Backup Folders (keep newest)": {
        "main": [
          [
            {
              "node": "GH List Files In Old Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Old Folder": {
        "main": [
          [
            {
              "node": "IF Is File?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Is File?": {
        "main": [
          [
            {
              "node": "To Files (root)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GH List Files In Subfolder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (root)": {
        "main": [
          [
            {
              "node": "GH Delete File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Subfolder": {
        "main": [
          [
            {
              "node": "To Files (subfolder)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (subfolder)": {
        "main": [
          [
            {
              "node": "GH Delete File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Drive Folders": {
        "main": [
          [
            {
              "node": "Delete Old Drive Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Old Drive Folder": {
        "main": [
          [
            {
              "node": "Create Drive Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Drive Folder": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Search Drive Folders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make README Binary": {
        "main": [
          [
            {
              "node": "GitHub Edit README (binary)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Edit README (binary)": {
        "main": [
          [
            {
              "node": "IF Edit Succeeded?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Edit Succeeded?": {
        "main": [
          [
            {
              "node": "GitHub List Backup Folders (root)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Slack Backup Complete",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GitHub Create README (binary)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Create README (binary)": {
        "main": [
          [
            {
              "node": "GitHub List Backup Folders (root)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Slack Backup Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 838688ae",
    "description": "",
    "autosaved": false
  },
  "tags": []
}