PI workflows backup 2026-03-22 20-00/WhatsApp Pi Manager.json
{
  "updatedAt": "2026-03-13T17:41:55.906Z",
  "createdAt": "2026-03-13T12:51:06.459Z",
  "id": "zmvJvWN8mdK2ONJY",
  "name": "WhatsApp Pi Manager",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-incoming",
        "options": {}
      },
      "id": "305dff68-8824-4cf1-896d-db37ecade1a6",
      "name": "Webhook - Receive WhatsApp Message1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -6384,
        4848
      ],
      "webhookId": "waha-incoming"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-group",
              "leftValue": "={{ $json.body.payload.from }}",
              "rightValue": "120363407766258921@g.us",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-prefix",
              "leftValue": "={{ $json.body.payload.body }}",
              "rightValue": "/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0718e24-b904-4c16-9e83-24b347c67e3c",
      "name": "Filter: group + slash command1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -6128,
        4848
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chatid",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "cmd",
              "name": "command",
              "value": "={{ $json.body.payload.body.trim().split(' ')[0].toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "args",
              "name": "args",
              "value": "={{ $json.body.payload.body.trim().split(' ').slice(1).join(' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6abd7b68-1b97-4448-af67-f2fa8c157ebf",
      "name": "Extract Command1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5872,
        4848
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/disk",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/containers",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/cpu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/memory",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/uptime",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/top",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/ip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/ports",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/vpn",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r10"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/restart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r11"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/stop",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r12"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r13"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/stopped",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r14"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/logins",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r15"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "bc12e341-9664-4cd4-882c-174e5ee0ca0f",
      "name": "Switch: Command Router1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5616,
        4848
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "menu-chatid",
              "name": "chatId",
              "value": "={{ $json.chatId }}",
              "type": "string"
            },
            {
              "id": "menu-text",
              "name": "text",
              "value": "🤖 *Bot Menu*\n\n*SYSTEM*\n/cpu - CPU temp + usage\n/memory - RAM usage\n/disk - Disk space\n/uptime - Pi uptime\n/top - Top 5 processes\n\n*NETWORK*\n/ip - Local + public IP\n/ports - Open ports\n/vpn - WireGuard status\n\n*DOCKER*\n/containers - All containers\n/stopped - Stopped containers\n/start <name> - Start container\n/stop <name> - Stop container\n/restart <name> - Restart container\n\n*SECURITY*\n/logins - Recent SSH logins",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "463164d6-2eb7-4149-8d59-2a8aebe5cd77",
      "name": "Build Menu Message1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5360,
        4048
      ]
    },
    {
      "parameters": {
        "command": "df -h | grep -v tmpfs | grep -v udev"
      },
      "id": "c9e1c725-5a51-46ff-8804-8b8fb2e77ffd",
      "name": "Disk Space (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        4848
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "docker ps --format 'table {{.Names}}\\t{{.Status}}'"
      },
      "id": "d98538b7-d33e-467d-88c8-a41e9fbbe8dd",
      "name": "Containers (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        5056
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "echo \"Temp: $(vcgencmd measure_temp 2>/dev/null || cat /sys/class/thermal/thermal_zone0/temp | awk '{printf \"%.1f C\", $1/1000}')\" && echo \"CPU: $(top -bn1 | grep 'Cpu(s)' | awk '{print $2+$4\"%\"}')\""
      },
      "id": "2390c9f5-b86c-41d7-8788-0d19e18ef505",
      "name": "CPU (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        5248
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "free -h | awk 'NR==2{printf \"Used: %s / %s (%.1f%%)\\n\", $3, $2, $3/$2*100}'"
      },
      "id": "331a8257-c63b-4820-b973-4bbd02849205",
      "name": "Memory (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        5456
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "uptime -p && echo \"Since: $(uptime -s)\""
      },
      "id": "433abea4-2d80-4ccc-853f-976c4e72c71a",
      "name": "Uptime (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        5648
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "ps aux --sort=-%cpu | head -6 | awk 'NR>1{printf \"%s - CPU:%s%% MEM:%s%%\\n\", $11, $3, $4}'"
      },
      "id": "c29e245b-ed82-4046-bf4b-0228c2e24975",
      "name": "Top Processes (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        5856
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "echo \"Local: $(hostname -I | awk '{print $1}')\" && echo \"Public: $(curl -s ifconfig.me)\""
      },
      "id": "094bee35-006f-47ea-a398-33067a01863f",
      "name": "IP (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        6048
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "ss -tlnp | grep LISTEN | awk '{print $4, $6}' | sort"
      },
      "id": "5fd2027c-0ed5-475e-a73c-d52ef623e83c",
      "name": "Ports (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        6256
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "result=$(docker exec wg-easy wg show 2>/dev/null | awk '/^peer/{if(ep!=\"\")printf \"%s|%s|%s\\n\",ip,ep,hs; ep=\"\";hs=\"\";ip=\"\"} /endpoint/{ep=$2} /latest handshake/{hs=$3\" \"$4\" \"$5} /allowed ips/{ip=$3} END{if(ep!=\"\")printf \"%s|%s|%s\\n\",ip,ep,hs}'); if [ -z \"$result\" ]; then echo 'No connected peers'; else db=$(docker exec wg-easy cat /etc/wireguard/wg0.json 2>/dev/null); echo \"$result\" | while IFS='|' read ip ep hs; do cleanip=$(echo $ip | cut -d'/' -f1); name=$(echo \"$db\" | python3 -c \"import sys,json; d=json.load(sys.stdin); print(next((v['name'] for v in d['clients'].values() if v['address']=='$cleanip'),'$cleanip'))\" 2>/dev/null || echo $cleanip); printf \"%s\\n  IP: %s\\n  Endpoint: %s\\n  Last seen: %s\\n\\n\" \"$name\" \"$ip\" \"$ep\" \"$hs\"; done; fi"
      },
      "id": "198797bf-d34b-41e3-a367-5ee428be04d5",
      "name": "VPN (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        6448
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "={{ (() => { const a = $('Extract Command1').first().json.args; return (a && a.trim()) ? 'docker restart ' + a.trim() + ' 2>&1' : 'echo \"⚠️ Usage: /restart <container_name>\"'; })() }}"
      },
      "id": "2bbbe9c4-79a3-46d6-93c0-959b2081b9fa",
      "name": "Restart (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        6656
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "={{ (() => { const a = $('Extract Command1').first().json.args; return (a && a.trim()) ? 'docker stop ' + a.trim() + ' 2>&1' : 'echo \"⚠️ Usage: /stop <container_name>\"'; })() }}"
      },
      "id": "c239c72a-5f5b-4a30-977d-a13bbd022e68",
      "name": "Stop (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        6848
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "={{ (() => { const a = $('Extract Command1').first().json.args; return (a && a.trim()) ? 'docker start ' + a.trim() + ' 2>&1' : 'echo \"⚠️ Usage: /start <container_name>\"'; })() }}"
      },
      "id": "e1a6b5b1-48ff-4783-84c2-96402addfba4",
      "name": "Start (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        7040
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "docker ps -a --filter status=exited --filter status=dead --format \"table {{.Names}}\\t{{.Status}}\""
      },
      "id": "79cb46e0-b61c-4296-bf6b-d892a0f5c8e7",
      "name": "Stopped Containers (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        7232
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "journalctl | grep -iE 'accepted|session opened|failed password|disconnect' | tail -10 | awk '{$1=$2=$3=\"\"; print substr($0,4)}' || echo '-- No entries --'"
      },
      "id": "9c545e4b-7719-485d-8516-382c1dd05d43",
      "name": "Logins (SSH)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -5360,
        7424
      ],
      "credentials": {
        "sshPassword": {
          "id": "Bz4RWdZkj3xQKNYO",
          "name": "PI 5 SSH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cmd = $('Extract Command1').first().json.command;\nconst chatId = $('Extract Command1').first().json.chatId;\nconst output = ($json.stdout || $json.text || '').trim() || 'No output';\nconst labels = {\n  '/disk': '💾 Disk Space',\n  '/containers': '🐳 Containers',\n  '/cpu': '🌡️ CPU',\n  '/memory': '🧠 Memory',\n  '/uptime': '⏱️ Uptime',\n  '/top': '📊 Top Processes',\n  '/ip': '🌐 IP Addresses',\n  '/ports': '🔌 Open Ports',\n  '/vpn': '🔒 WireGuard VPN',\n  '/restart': '🔄 Restart',\n  '/stop': '🛑 Stop',\n  '/start': '▶️ Start',\n  '/stopped': '🛑 Stopped Containers',\n  '/logins': '🔑 Recent Logins'\n};\nconst label = labels[cmd] || cmd;\nreturn [{ json: { chatId, text: label + '\\n```\\n' + output + '\\n```' } }];"
      },
      "id": "fa643272-52bf-40d7-9f51-4aae9ce969ab",
      "name": "Format SSH Output1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4848,
        6048
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "default"
            },
            {
              "name": "chatId",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e43a35ee-e712-4016-b463-4e70bbc1e8cb",
      "name": "Send Reply via WAHA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -4592,
        4848
      ]
    }
  ],
  "connections": {
    "Webhook - Receive WhatsApp Message1": {
      "main": [
        [
          {
            "node": "Filter: group + slash command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: group + slash command1": {
      "main": [
        [
          {
            "node": "Extract Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Command1": {
      "main": [
        [
          {
            "node": "Switch: Command Router1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Command Router1": {
      "main": [
        [
          {
            "node": "Build Menu Message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disk Space (SSH)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Containers (SSH)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CPU (SSH)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Memory (SSH)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Uptime (SSH)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Top Processes (SSH)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IP (SSH)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ports (SSH)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VPN (SSH)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Restart (SSH)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop (SSH)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start (SSH)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stopped Containers (SSH)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Logins (SSH)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Menu Message1": {
      "main": [
        [
          {
            "node": "Send Reply via WAHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disk Space (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Containers (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CPU (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uptime (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top Processes (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IP (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ports (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VPN (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restart (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stopped Containers (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logins (SSH)1": {
      "main": [
        [
          {
            "node": "Format SSH Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format SSH Output1": {
      "main": [
        [
          {
            "node": "Send Reply via WAHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0a72a83c-1d04-43d5-a7e7-2cb58c382a62",
  "activeVersionId": "0a72a83c-1d04-43d5-a7e7-2cb58c382a62",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-13T12:51:06.463Z",
      "createdAt": "2026-03-13T12:51:06.463Z",
      "role": "workflow:owner",
      "workflowId": "zmvJvWN8mdK2ONJY",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-13T17:41:35.000Z",
    "createdAt": "2026-03-13T17:41:34.768Z",
    "versionId": "0a72a83c-1d04-43d5-a7e7-2cb58c382a62",
    "workflowId": "zmvJvWN8mdK2ONJY",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "waha-incoming",
          "options": {}
        },
        "id": "305dff68-8824-4cf1-896d-db37ecade1a6",
        "name": "Webhook - Receive WhatsApp Message1",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -6384,
          4848
        ],
        "webhookId": "waha-incoming"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "check-group",
                "leftValue": "={{ $json.body.payload.from }}",
                "rightValue": "120363407766258921@g.us",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "check-prefix",
                "leftValue": "={{ $json.body.payload.body }}",
                "rightValue": "/",
                "operator": {
                  "type": "string",
                  "operation": "startsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "d0718e24-b904-4c16-9e83-24b347c67e3c",
        "name": "Filter: group + slash command1",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2,
        "position": [
          -6128,
          4848
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "chatid",
                "name": "chatId",
                "value": "={{ $json.body.payload.from }}",
                "type": "string"
              },
              {
                "id": "cmd",
                "name": "command",
                "value": "={{ $json.body.payload.body.trim().split(' ')[0].toLowerCase() }}",
                "type": "string"
              },
              {
                "id": "args",
                "name": "args",
                "value": "={{ $json.body.payload.body.trim().split(' ').slice(1).join(' ') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "6abd7b68-1b97-4448-af67-f2fa8c157ebf",
        "name": "Extract Command1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5872,
          4848
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/menu",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r1"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/disk",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r2"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/containers",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r3"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/cpu",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r4"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/memory",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r5"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/uptime",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r6"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/top",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r7"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/ip",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r8"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/ports",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r9"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/vpn",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r10"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/restart",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r11"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/stop",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r12"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/start",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r13"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/stopped",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r14"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "/logins",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "r15"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "bc12e341-9664-4cd4-882c-174e5ee0ca0f",
        "name": "Switch: Command Router1",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -5616,
          4848
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "menu-chatid",
                "name": "chatId",
                "value": "={{ $json.chatId }}",
                "type": "string"
              },
              {
                "id": "menu-text",
                "name": "text",
                "value": "🤖 *Bot Menu*\n\n*SYSTEM*\n/cpu - CPU temp + usage\n/memory - RAM usage\n/disk - Disk space\n/uptime - Pi uptime\n/top - Top 5 processes\n\n*NETWORK*\n/ip - Local + public IP\n/ports - Open ports\n/vpn - WireGuard status\n\n*DOCKER*\n/containers - All containers\n/stopped - Stopped containers\n/start <name> - Start container\n/stop <name> - Stop container\n/restart <name> - Restart container\n\n*SECURITY*\n/logins - Recent SSH logins",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "463164d6-2eb7-4149-8d59-2a8aebe5cd77",
        "name": "Build Menu Message1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5360,
          4048
        ]
      },
      {
        "parameters": {
          "command": "df -h | grep -v tmpfs | grep -v udev"
        },
        "id": "c9e1c725-5a51-46ff-8804-8b8fb2e77ffd",
        "name": "Disk Space (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          4848
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "command": "docker ps --format 'table {{.Names}}\\t{{.Status}}'"
        },
        "id": "d98538b7-d33e-467d-88c8-a41e9fbbe8dd",
        "name": "Containers (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          5056
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "command": "echo \"Temp: $(vcgencmd measure_temp 2>/dev/null || cat /sys/class/thermal/thermal_zone0/temp | awk '{printf \"%.1f C\", $1/1000}')\" && echo \"CPU: $(top -bn1 | grep 'Cpu(s)' | awk '{print $2+$4\"%\"}')\""
        },
        "id": "2390c9f5-b86c-41d7-8788-0d19e18ef505",
        "name": "CPU (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          5248
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "command": "free -h | awk 'NR==2{printf \"Used: %s / %s (%.1f%%)\\n\", $3, $2, $3/$2*100}'"
        },
        "id": "331a8257-c63b-4820-b973-4bbd02849205",
        "name": "Memory (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          5456
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "command": "uptime -p && echo \"Since: $(uptime -s)\""
        },
        "id": "433abea4-2d80-4ccc-853f-976c4e72c71a",
        "name": "Uptime (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          5648
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "command": "ps aux --sort=-%cpu | head -6 | awk 'NR>1{printf \"%s - CPU:%s%% MEM:%s%%\\n\", $11, $3, $4}'"
        },
        "id": "c29e245b-ed82-4046-bf4b-0228c2e24975",
        "name": "Top Processes (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          5856
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "command": "echo \"Local: $(hostname -I | awk '{print $1}')\" && echo \"Public: $(curl -s ifconfig.me)\""
        },
        "id": "094bee35-006f-47ea-a398-33067a01863f",
        "name": "IP (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          6048
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "command": "ss -tlnp | grep LISTEN | awk '{print $4, $6}' | sort"
        },
        "id": "5fd2027c-0ed5-475e-a73c-d52ef623e83c",
        "name": "Ports (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          6256
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "command": "result=$(docker exec wg-easy wg show 2>/dev/null | awk '/^peer/{if(ep!=\"\")printf \"%s|%s|%s\\n\",ip,ep,hs; ep=\"\";hs=\"\";ip=\"\"} /endpoint/{ep=$2} /latest handshake/{hs=$3\" \"$4\" \"$5} /allowed ips/{ip=$3} END{if(ep!=\"\")printf \"%s|%s|%s\\n\",ip,ep,hs}'); if [ -z \"$result\" ]; then echo 'No connected peers'; else db=$(docker exec wg-easy cat /etc/wireguard/wg0.json 2>/dev/null); echo \"$result\" | while IFS='|' read ip ep hs; do cleanip=$(echo $ip | cut -d'/' -f1); name=$(echo \"$db\" | python3 -c \"import sys,json; d=json.load(sys.stdin); print(next((v['name'] for v in d['clients'].values() if v['address']=='$cleanip'),'$cleanip'))\" 2>/dev/null || echo $cleanip); printf \"%s\\n  IP: %s\\n  Endpoint: %s\\n  Last seen: %s\\n\\n\" \"$name\" \"$ip\" \"$ep\" \"$hs\"; done; fi"
        },
        "id": "198797bf-d34b-41e3-a367-5ee428be04d5",
        "name": "VPN (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          6448
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "command": "={{ (() => { const a = $('Extract Command1').first().json.args; return (a && a.trim()) ? 'docker restart ' + a.trim() + ' 2>&1' : 'echo \"⚠️ Usage: /restart <container_name>\"'; })() }}"
        },
        "id": "2bbbe9c4-79a3-46d6-93c0-959b2081b9fa",
        "name": "Restart (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          6656
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "command": "={{ (() => { const a = $('Extract Command1').first().json.args; return (a && a.trim()) ? 'docker stop ' + a.trim() + ' 2>&1' : 'echo \"⚠️ Usage: /stop <container_name>\"'; })() }}"
        },
        "id": "c239c72a-5f5b-4a30-977d-a13bbd022e68",
        "name": "Stop (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          6848
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "command": "={{ (() => { const a = $('Extract Command1').first().json.args; return (a && a.trim()) ? 'docker start ' + a.trim() + ' 2>&1' : 'echo \"⚠️ Usage: /start <container_name>\"'; })() }}"
        },
        "id": "e1a6b5b1-48ff-4783-84c2-96402addfba4",
        "name": "Start (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          7040
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "command": "docker ps -a --filter status=exited --filter status=dead --format \"table {{.Names}}\\t{{.Status}}\""
        },
        "id": "79cb46e0-b61c-4296-bf6b-d892a0f5c8e7",
        "name": "Stopped Containers (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          7232
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "command": "journalctl | grep -iE 'accepted|session opened|failed password|disconnect' | tail -10 | awk '{$1=$2=$3=\"\"; print substr($0,4)}' || echo '-- No entries --'"
        },
        "id": "9c545e4b-7719-485d-8516-382c1dd05d43",
        "name": "Logins (SSH)1",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -5360,
          7424
        ],
        "credentials": {
          "sshPassword": {
            "id": "Bz4RWdZkj3xQKNYO",
            "name": "PI 5 SSH"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const cmd = $('Extract Command1').first().json.command;\nconst chatId = $('Extract Command1').first().json.chatId;\nconst output = ($json.stdout || $json.text || '').trim() || 'No output';\nconst labels = {\n  '/disk': '💾 Disk Space',\n  '/containers': '🐳 Containers',\n  '/cpu': '🌡️ CPU',\n  '/memory': '🧠 Memory',\n  '/uptime': '⏱️ Uptime',\n  '/top': '📊 Top Processes',\n  '/ip': '🌐 IP Addresses',\n  '/ports': '🔌 Open Ports',\n  '/vpn': '🔒 WireGuard VPN',\n  '/restart': '🔄 Restart',\n  '/stop': '🛑 Stop',\n  '/start': '▶️ Start',\n  '/stopped': '🛑 Stopped Containers',\n  '/logins': '🔑 Recent Logins'\n};\nconst label = labels[cmd] || cmd;\nreturn [{ json: { chatId, text: label + '\\n```\\n' + output + '\\n```' } }];"
        },
        "id": "fa643272-52bf-40d7-9f51-4aae9ce969ab",
        "name": "Format SSH Output1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4848,
          6048
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://waha:3000/api/sendText",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Api-Key",
                "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "session",
                "value": "default"
              },
              {
                "name": "chatId",
                "value": "={{ $json.chatId }}"
              },
              {
                "name": "text",
                "value": "={{ $json.text }}"
              }
            ]
          },
          "options": {}
        },
        "id": "e43a35ee-e712-4016-b463-4e70bbc1e8cb",
        "name": "Send Reply via WAHA1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          -4592,
          4848
        ]
      }
    ],
    "connections": {
      "Webhook - Receive WhatsApp Message1": {
        "main": [
          [
            {
              "node": "Filter: group + slash command1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter: group + slash command1": {
        "main": [
          [
            {
              "node": "Extract Command1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Command1": {
        "main": [
          [
            {
              "node": "Switch: Command Router1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch: Command Router1": {
        "main": [
          [
            {
              "node": "Build Menu Message1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Disk Space (SSH)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Containers (SSH)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CPU (SSH)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Memory (SSH)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Uptime (SSH)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Top Processes (SSH)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IP (SSH)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Ports (SSH)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "VPN (SSH)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Restart (SSH)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop (SSH)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Start (SSH)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stopped Containers (SSH)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Logins (SSH)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Menu Message1": {
        "main": [
          [
            {
              "node": "Send Reply via WAHA1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Disk Space (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Containers (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CPU (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Memory (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Uptime (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Top Processes (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IP (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ports (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "VPN (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restart (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stop (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stopped Containers (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Logins (SSH)1": {
        "main": [
          [
            {
              "node": "Format SSH Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format SSH Output1": {
        "main": [
          [
            {
              "node": "Send Reply via WAHA1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 0a72a83c",
    "description": "",
    "autosaved": false
  },
  "tags": []
}