PI workflows backup 2026-03-03 10-28/PI workflows backup to Google Drive & GitHub.json
{
  "updatedAt": "2026-03-03T08:26:00.163Z",
  "createdAt": "2025-08-31T19:35:34.809Z",
  "id": "lIAp2PZeA0MG7QiE",
  "name": "PI workflows backup to Google Drive & GitHub",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "folder",
        "name": "=PI workflows backup",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -22848,
        1856
      ],
      "id": "ff650287-a496-4be0-ad15-bf8c30c8942a",
      "name": "Create folder if not exist",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Generate timestamp ONCE at the top\nconst dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n\n  const safe = orig\n    .replace(/[\\/\\\\]+/g, '-')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;      // ✅ Store for GitHub Backup\n  json.timestamp = timestamp;        // ✅ Store for README\n\n  return { json, binary: bin };\n});"
      },
      "id": "6e944376-8d64-4367-8cfe-1836e27da067",
      "name": "Normalize Filename1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22096,
        2112
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Update README with latest backup summary"
      },
      "id": "bafbb8b6-2a72-49a9-9aae-24841fdf34c1",
      "name": "GitHub Edit README (binary)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -18224,
        2352
      ],
      "webhookId": "327e766f-55b5-4285-b308-498138c7521b",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Create README with latest backup summary"
      },
      "id": "afa32194-bcd2-4a8c-bf02-1a28a101f7ea",
      "name": "GitHub Create README (binary)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -18208,
        2592
      ],
      "webhookId": "4d2b8cab-bb0e-4e4f-a303-2cd86eb3f482",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$node[\"GitHub Get README\"].item}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "greater"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "4cd47400-dfd5-4c9b-b52e-18381f8c34fb",
      "name": "IF README exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -18736,
        2928
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.readme || '# PI workflows backup\\n\\n(empty)')\n  .replace(/\\r?\\n/g, '\\n');\n\nconst getReadmeItem = $item(0, 'GitHub Get README');\nconst sha = getReadmeItem?.json?.sha || '';\n\nreturn {\n  json: { sha },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
      },
      "id": "f3138cf4-deae-4a7f-b913-2f9f63374b5e",
      "name": "Make README Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18416,
        2928
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "additionalParameters": {}
      },
      "id": "a02bccad-bdde-4208-aab1-267c7e713f18",
      "name": "GitHub Get README",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -19376,
        2928
      ],
      "webhookId": "976c9847-715d-4eac-8686-4d65d58fddff",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Get the stored timestamp from Normalize Filename1\nconst normalizeItems = $items('Normalize Filename1') || [];\nconst storedData = normalizeItems[0]?.json || {};\n\nconst folder = storedData.folderName;\nconst timestamp = storedData.timestamp;\n\n// Collect workflow names\nlet workflowNames = normalizeItems\n  .map(item => item.json?.workflowName)\n  .filter(name => name);\n\n// GitHub backup info\nconst OWNER = \"alexxx55555\";\nconst REPO  = \"n8n-Raspberry-PI-Workflow-Backup\";\nconst BRANCH = \"main\";\n\nconst ghUrl = `https://github.com/${OWNER}/${encodeURIComponent(REPO)}/tree/${encodeURIComponent(BRANCH)}/${encodeURIComponent(folder)}`;\n\n// Markdown README content\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join(\"\\n\") : \"- (no workflows found)\"}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{\n  json: {\n    readme,\n    timestamp,\n    folder,\n    ghUrl,\n    workflowCount: workflowNames.length\n  }\n}];"
      },
      "id": "cf8ac659-6a44-4878-a41b-c44deb4817dd",
      "name": "Create README Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19712,
        2928
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Collect all workflow names that were just backed up\nconst normalizeItems = $items('Normalize Filename1') || [];\nconst workflowNames = normalizeItems\n  .map(item => item.json?.workflowName || item.binary?.data?.fileName || 'Unknown Workflow')\n  .filter(name => name && name !== 'Unknown Workflow');\n\n// Pass the names to the next node\nreturn [{ json: { backedUpWorkflows: workflowNames } }];\n"
      },
      "id": "f3a55101-540d-4827-b031-a0778d8c0203",
      "name": "Collect Workflow Names",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21408,
        2112
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22400,
        1520
      ],
      "id": "8990a26c-9069-41e0-8b0d-1d6a338638b0",
      "name": "workflow Export",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "deleteFolder",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -24016,
        1536
      ],
      "id": "b9a45d62-5775-449e-9d93-a0b051a0fb11",
      "name": "Delete folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "PI workflows backup",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -24416,
        1536
      ],
      "id": "07ec5a62-1280-4c35-b2dd-47fd2719ef91",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -22864,
        1536
      ],
      "id": "515738f7-de0a-45ff-9b1b-4b7fc4e6bd5d",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -23296,
        1536
      ],
      "id": "cd1a06be-d5c9-4500-8df6-370038904fdd",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "SKAlyF2lhIc4Qqwz",
          "name": "n8n account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "name": "=",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $items(\"Create folder\")[0].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -21712,
        1520
      ],
      "id": "bddc56a6-13f2-4f0a-adde-06e0d475262e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=PI workflows backup_{{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -23648,
        1536
      ],
      "id": "a3fe7df1-710a-43ca-8c47-3b070e75428d",
      "name": "Create folder",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -23440,
        1856
      ],
      "id": "a4abf63b-4637-42e5-9416-946eb757fec8",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "alexxx55555",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.folderName}}/{{$binary.data.fileName}}",
        "binaryData": true,
        "commitMessage": "=PI workflows backup: {{$json.name}} - {{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
        "additionalParameters": {
          "author": {
            "name": "PI workflows backup",
            "email": "vinokura@alex-it.net"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -21808,
        2320
      ],
      "id": "a1128647-c174-4ffb-b68a-65b420cb2eb0",
      "name": "GitHub Backup (sanitized)",
      "webhookId": "e533a661-fea4-4243-8df3-c8400cbb80f1",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        }
      },
      "id": "7b10a774-06dc-4147-9baf-d25e806f2680",
      "name": "GitHub List Backup Folders (root)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -21248,
        2320
      ],
      "webhookId": "8d0653eb-ecf7-4341-8e77-74e221755ff7",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// The current items are from GitHub List (no folderName)\n// But the LAST item passed into this node still has context from the backup\n// So we need to find folderName from the folder names themselves\n\n// Get all dirs that match our pattern\nconst folders = $items().filter(i =>\n  i.json &&\n  i.json.type === \"dir\" &&\n  typeof i.json.name === \"string\" &&\n  i.json.name.startsWith(\"PI workflows backup \")\n);\n\n// Sort descending by name (date-based names sort correctly as strings)\nconst sorted = [...folders].sort((a, b) => b.json.name.localeCompare(a.json.name));\n\n// The newest folder is first — keep it, delete the rest\nconst newest = sorted[0]?.json?.name;\n\nif (!newest) return [];\n\nreturn sorted\n  .slice(1)  // everything except the newest\n  .map(i => ({ json: { path: i.json.path, name: i.json.name } }));"
      },
      "id": "9b96caba-3e0f-42b3-a154-f164bb88fe79",
      "name": "Filter Old GH Backup Folders (keep newest)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20848,
        2320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}"
      },
      "id": "5cd60be5-d121-48dc-8f77-5db6258387c2",
      "name": "GH List Files In Old Folder",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -20512,
        2320
      ],
      "webhookId": "49ccb808-35ee-4453-9e48-6b71cc7da4fd",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}"
      },
      "id": "a59501f3-87ee-439e-afd8-077f1e105ba7",
      "name": "GH List Files In Subfolder",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -20960,
        2800
      ],
      "webhookId": "ee5a437b-36ea-4187-8250-380e17574093",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{$json[\"type\"]}}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "isfile"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "988ef64b-a0b5-458f-b649-9da8c06f1ead",
      "name": "IF Is File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -20496,
        2992
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
      },
      "id": "2f65d5c2-619d-44f1-afb1-11b5226ff64e",
      "name": "To Files (root)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20256,
        3056
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}",
        "commitMessage": "=Cleanup old backup file {{$json.path}}"
      },
      "id": "5e1d230b-36ad-4bff-98db-f88adadf2d06",
      "name": "GH Delete File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -19984,
        2928
      ],
      "webhookId": "4335414b-45d6-4334-9a77-13aebaa9a888",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
      },
      "id": "02971699-35e2-48dc-99f4-147e9e22501a",
      "name": "To Files (subfolder)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20256,
        2800
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1 LIMIT 1"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -20528,
        4672
      ],
      "id": "2b8eebcd-93dc-4b7a-a9de-d109dd49557b",
      "name": "Wait For All Uploads"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.skipDelete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b0379d82-42e5-4cb5-a59c-5a261fa36dee",
      "name": "IF Skip Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -19328,
        4672
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1 LIMIT 1"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -19328,
        4416
      ],
      "id": "6fc92d61-8f22-47d4-b841-a9f6a56446f3",
      "name": "Wait For All Deletes"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -22560,
        4416
      ],
      "id": "ee0a4a0c-9158-4623-a6ac-7c925ed3596b",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -22416,
        4096
      ],
      "id": "aa86f3c6-68bc-43ff-bcb9-d780cb9fcdda",
      "name": "Get many workflows1",
      "credentials": {
        "n8nApi": {
          "id": "SKAlyF2lhIc4Qqwz",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -21984,
        4096
      ],
      "id": "617f3e5b-acdb-4a66-8938-af35788b869a",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21520,
        4080
      ],
      "id": "93eba5ba-33e1-48a5-9db7-c999b9b50a83",
      "name": "workflow Export1"
    },
    {
      "parameters": {
        "jsCode": "const dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n  const safe = orig.replace(/[\\/\\\\]+/g, '-').replace(/\\s+/g, ' ').trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;\n  json.timestamp = timestamp;\n\n  return { json, binary: bin };\n});"
      },
      "id": "f8fda524-2527-445b-a33e-0eedb1d5725e",
      "name": "Normalize Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21216,
        4672
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "alexxx55555",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.folderName}}/{{$binary.data.fileName}}",
        "binaryData": true,
        "commitMessage": "=PI workflows backup: {{$json.name}} - {{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
        "additionalParameters": {
          "author": {
            "name": "PI workflows backup",
            "email": "vinokura@alex-it.net"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -20928,
        4672
      ],
      "id": "62eaa8ff-6868-4925-ab98-000064523a24",
      "name": "GitHub Backup (sanitized)1",
      "webhookId": "867c98e4-fd89-451b-a5d4-cc3bcaf074ec",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const normalizeItems = $items('Normalize Filename') || [];\nconst workflowNames = normalizeItems\n  .map(item => item.json?.workflowName || item.binary?.data?.fileName || 'Unknown Workflow')\n  .filter(name => name && name !== 'Unknown Workflow');\nreturn [{ json: { backedUpWorkflows: workflowNames } }];"
      },
      "id": "5056bd0a-e892-48bb-b01d-f099608af789",
      "name": "Collect Workflow Names1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20224,
        4672
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        }
      },
      "id": "b80abfc5-82b6-4ffe-ba8a-616d9d5120f7",
      "name": "GitHub List Backup Folders (root)1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -19920,
        4672
      ],
      "webhookId": "9fa214d4-c9da-42b7-b294-8efc1f829246",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const folders = items.filter(i =>\n  i.json &&\n  i.json.type === 'dir' &&\n  typeof i.json.name === 'string' &&\n  i.json.name.startsWith('PI workflows backup ')\n);\n\nconst sorted = [...folders].sort((a, b) => b.json.name.localeCompare(a.json.name));\n\nif (sorted.length <= 1) {\n  return [{ json: { skipDelete: true } }];\n}\n\nreturn sorted.slice(1).map(i => ({ json: { path: i.json.path, name: i.json.name, skipDelete: false } }));"
      },
      "id": "3276ece0-9e34-44bd-a895-d95c0c66be86",
      "name": "Filter Old GH Backup Folders (keep newest)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19616,
        4672
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}"
      },
      "id": "d293872b-4ea5-45c9-afb2-d880416373f3",
      "name": "GH List Files In Old Folder1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -19024,
        4864
      ],
      "webhookId": "35bca93f-ec04-45d4-a61e-d604bb2f7628",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{$json[\"type\"]}}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "isfile"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3fbdb5db-285d-43e5-8618-cfdac5b78d8a",
      "name": "IF Is File?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -18720,
        4864
      ]
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
      },
      "id": "931644c0-726a-4447-9893-469510d50532",
      "name": "To Files (root)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18416,
        4768
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}"
      },
      "id": "74033462-8656-454b-ba55-705ba03885f2",
      "name": "GH List Files In Subfolder1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -18416,
        4960
      ],
      "webhookId": "fd563771-caa7-4f64-bd6b-9b8fa061d607",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
      },
      "id": "c3976558-9d97-4738-8204-eb8046e9b9e7",
      "name": "To Files (subfolder)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18128,
        4960
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{$json.path}}",
        "commitMessage": "=Cleanup old backup file {{$json.path}}"
      },
      "id": "8526e2d2-6812-495a-a5d4-a9cac32a1f87",
      "name": "GH Delete File1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -17824,
        4864
      ],
      "webhookId": "5afd9b8e-5595-49de-90df-cad52a4e6d91",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const normalizeItems = $items('Normalize Filename') || [];\nconst storedData = normalizeItems[0]?.json || {};\n\nconst folder = storedData.folderName;\nconst timestamp = storedData.timestamp;\n\nlet workflowNames = normalizeItems\n  .map(item => item.json?.workflowName)\n  .filter(name => name);\n\nconst OWNER = 'alexxx55555';\nconst REPO  = 'n8n-Raspberry-PI-Workflow-Backup';\nconst BRANCH = 'main';\nconst ghUrl = `https://github.com/${OWNER}/${encodeURIComponent(REPO)}/tree/${encodeURIComponent(BRANCH)}/${encodeURIComponent(folder)}`;\n\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join('\\n') : '- (no workflows found)'}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{ json: { readme, timestamp, folder, ghUrl, workflowCount: workflowNames.length } }];"
      },
      "id": "491ff7aa-865e-43fc-82be-b61890663797",
      "name": "Create README Text1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18832,
        4416
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "additionalParameters": {}
      },
      "id": "7273fd52-2034-4794-acfb-7785ea07fb21",
      "name": "GitHub Get README1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -18496,
        4416
      ],
      "webhookId": "b42f1654-5263-4337-a5c9-b1fa48ea2d73",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.readme || '# PI workflows backup\\n\\n(empty)').replace(/\\r?\\n/g, '\\n');\n\nconst getReadmeItem = $item(0, 'GitHub Get README');\nconst sha = getReadmeItem?.json?.sha || '';\n\nreturn {\n  json: { sha },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
      },
      "id": "05db0d38-ec63-42e6-97dc-75ef200da3f8",
      "name": "Make README Binary1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18192,
        4416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "9b30db80-3d2b-469c-8a7f-b2ee9940369c",
      "name": "IF README exists?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -17904,
        4416
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Update README with latest backup summary"
      },
      "id": "41d108c2-0626-408d-83e7-221bd5e3c66d",
      "name": "GitHub Edit README (binary)1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -17600,
        4320
      ],
      "webhookId": "1a5a7f6f-468c-4ab2-9da9-3e7e388ad1f2",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "README.md",
        "binaryData": true,
        "commitMessage": "Create README with latest backup summary"
      },
      "id": "b4093ed8-ada2-4430-bd8c-e14fdea55105",
      "name": "GitHub Create README (binary)1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -17600,
        4528
      ],
      "webhookId": "89d0d361-4f44-4169-9545-d80c91ce46b5",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Create folder if not exist": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Filename1": {
      "main": [
        [
          {
            "node": "GitHub Backup (sanitized)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Collect Workflow Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF README exists?": {
      "main": [
        [
          {
            "node": "GitHub Edit README (binary)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub Create README (binary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make README Binary": {
      "main": [
        [
          {
            "node": "IF README exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Get README": {
      "main": [
        [
          {
            "node": "Make README Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create README Text": {
      "main": [
        [
          {
            "node": "GitHub Get README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow Export": {
      "main": [
        [
          {
            "node": "Normalize Filename1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete folder": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Delete folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "workflow Export",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create folder if not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Backup (sanitized)": {
      "main": [
        [
          {
            "node": "GitHub List Backup Folders (root)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub List Backup Folders (root)": {
      "main": [
        [
          {
            "node": "Filter Old GH Backup Folders (keep newest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Old GH Backup Folders (keep newest)": {
      "main": [
        [
          {
            "node": "GH List Files In Old Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Old Folder": {
      "main": [
        [
          {
            "node": "IF Is File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Subfolder": {
      "main": [
        [
          {
            "node": "To Files (subfolder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is File?": {
      "main": [
        [
          {
            "node": "To Files (root)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GH List Files In Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (root)": {
      "main": [
        [
          {
            "node": "GH Delete File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH Delete File": {
      "main": [
        [
          {
            "node": "Create README Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (subfolder)": {
      "main": [
        [
          {
            "node": "GH Delete File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For All Uploads": {
      "main": [
        [
          {
            "node": "Collect Workflow Names1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Skip Delete?": {
      "main": [
        [
          {
            "node": "Wait For All Deletes",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "GH List Files In Old Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For All Deletes": {
      "main": [
        [
          {
            "node": "Create README Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get many workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "workflow Export1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow Export1": {
      "main": [
        [
          {
            "node": "Normalize Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Filename": {
      "main": [
        [
          {
            "node": "GitHub Backup (sanitized)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait For All Uploads",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Backup (sanitized)1": {
      "main": [
        [
          {
            "node": "Wait For All Uploads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Workflow Names1": {
      "main": [
        [
          {
            "node": "GitHub List Backup Folders (root)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub List Backup Folders (root)1": {
      "main": [
        [
          {
            "node": "Filter Old GH Backup Folders (keep newest)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Old GH Backup Folders (keep newest)1": {
      "main": [
        [
          {
            "node": "IF Skip Delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Old Folder1": {
      "main": [
        [
          {
            "node": "IF Is File?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is File?1": {
      "main": [
        [
          {
            "node": "To Files (root)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GH List Files In Subfolder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (root)1": {
      "main": [
        [
          {
            "node": "GH Delete File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Subfolder1": {
      "main": [
        [
          {
            "node": "To Files (subfolder)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Files (subfolder)1": {
      "main": [
        [
          {
            "node": "GH Delete File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH Delete File1": {
      "main": [
        [
          {
            "node": "Wait For All Deletes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create README Text1": {
      "main": [
        [
          {
            "node": "GitHub Get README1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Get README1": {
      "main": [
        [
          {
            "node": "Make README Binary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make README Binary1": {
      "main": [
        [
          {
            "node": "IF README exists?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF README exists?1": {
      "main": [
        [
          {
            "node": "GitHub Edit README (binary)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub Create README (binary)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        8
      ]
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ec32a14d-dd9d-4884-86b5-1259c2a850d5",
  "activeVersionId": "a3ff8b2b-8d4a-4676-bc5b-8d4064b63150",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T09:14:00.800Z",
      "createdAt": "2025-10-31T09:14:00.800Z",
      "role": "workflow:owner",
      "workflowId": "lIAp2PZeA0MG7QiE",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-03T07:24:33.000Z",
    "createdAt": "2026-03-03T07:24:32.712Z",
    "versionId": "a3ff8b2b-8d4a-4676-bc5b-8d4064b63150",
    "workflowId": "lIAp2PZeA0MG7QiE",
    "nodes": [
      {
        "parameters": {
          "resource": "folder",
          "name": "=PI workflows backup",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -25952,
          368
        ],
        "id": "ff650287-a496-4be0-ad15-bf8c30c8942a",
        "name": "Create folder if not exist",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Generate timestamp ONCE at the top\nconst dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n\n  const safe = orig\n    .replace(/[\\/\\\\]+/g, '-')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;      // ✅ Store for GitHub Backup\n  json.timestamp = timestamp;        // ✅ Store for README\n\n  return { json, binary: bin };\n});"
        },
        "id": "6e944376-8d64-4367-8cfe-1836e27da067",
        "name": "Normalize Filename1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -25200,
          624
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Update README with latest backup summary"
        },
        "id": "bafbb8b6-2a72-49a9-9aae-24841fdf34c1",
        "name": "GitHub Edit README (binary)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -21328,
          864
        ],
        "webhookId": "327e766f-55b5-4285-b308-498138c7521b",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Create README with latest backup summary"
        },
        "id": "afa32194-bcd2-4a8c-bf02-1a28a101f7ea",
        "name": "GitHub Create README (binary)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -21312,
          1104
        ],
        "webhookId": "4d2b8cab-bb0e-4e4f-a303-2cd86eb3f482",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{$node[\"GitHub Get README\"].item}}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "greater"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "4cd47400-dfd5-4c9b-b52e-18381f8c34fb",
        "name": "IF README exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -21840,
          1440
        ]
      },
      {
        "parameters": {
          "jsCode": "const text = ($json.readme || '# PI workflows backup\\n\\n(empty)')\n  .replace(/\\r?\\n/g, '\\n');\n\nconst getReadmeItem = $item(0, 'GitHub Get README');\nconst sha = getReadmeItem?.json?.sha || '';\n\nreturn {\n  json: { sha },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
        },
        "id": "f3138cf4-deae-4a7f-b913-2f9f63374b5e",
        "name": "Make README Binary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -21520,
          1440
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "additionalParameters": {}
        },
        "id": "a02bccad-bdde-4208-aab1-267c7e713f18",
        "name": "GitHub Get README",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -22480,
          1440
        ],
        "webhookId": "976c9847-715d-4eac-8686-4d65d58fddff",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "// Get the stored timestamp from Normalize Filename1\nconst normalizeItems = $items('Normalize Filename1') || [];\nconst storedData = normalizeItems[0]?.json || {};\n\nconst folder = storedData.folderName;\nconst timestamp = storedData.timestamp;\n\n// Collect workflow names\nlet workflowNames = normalizeItems\n  .map(item => item.json?.workflowName)\n  .filter(name => name);\n\n// GitHub backup info\nconst OWNER = \"alexxx55555\";\nconst REPO  = \"n8n-Raspberry-PI-Workflow-Backup\";\nconst BRANCH = \"main\";\n\nconst ghUrl = `https://github.com/${OWNER}/${encodeURIComponent(REPO)}/tree/${encodeURIComponent(BRANCH)}/${encodeURIComponent(folder)}`;\n\n// Markdown README content\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join(\"\\n\") : \"- (no workflows found)\"}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{\n  json: {\n    readme,\n    timestamp,\n    folder,\n    ghUrl,\n    workflowCount: workflowNames.length\n  }\n}];"
        },
        "id": "cf8ac659-6a44-4878-a41b-c44deb4817dd",
        "name": "Create README Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -22816,
          1440
        ]
      },
      {
        "parameters": {
          "jsCode": "// Collect all workflow names that were just backed up\nconst normalizeItems = $items('Normalize Filename1') || [];\nconst workflowNames = normalizeItems\n  .map(item => item.json?.workflowName || item.binary?.data?.fileName || 'Unknown Workflow')\n  .filter(name => name && name !== 'Unknown Workflow');\n\n// Pass the names to the next node\nreturn [{ json: { backedUpWorkflows: workflowNames } }];\n"
        },
        "id": "f3a55101-540d-4827-b031-a0778d8c0203",
        "name": "Collect Workflow Names",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -24512,
          624
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -25504,
          32
        ],
        "id": "8990a26c-9069-41e0-8b0d-1d6a338638b0",
        "name": "workflow Export"
      },
      {
        "parameters": {
          "resource": "folder",
          "operation": "deleteFolder",
          "folderNoRootId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -27120,
          48
        ],
        "id": "b9a45d62-5775-449e-9d93-a0b051a0fb11",
        "name": "Delete folder",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "queryString": "PI workflows backup",
          "returnAll": true,
          "filter": {},
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -27520,
          48
        ],
        "id": "07ec5a62-1280-4c35-b2dd-47fd2719ef91",
        "name": "Search files and folders",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -25968,
          48
        ],
        "id": "515738f7-de0a-45ff-9b1b-4b7fc4e6bd5d",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -26400,
          48
        ],
        "id": "cd1a06be-d5c9-4500-8df6-370038904fdd",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "SKAlyF2lhIc4Qqwz",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "name": "=",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $items(\"Create folder\")[0].json[\"id\"] }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -24816,
          32
        ],
        "id": "bddc56a6-13f2-4f0a-adde-06e0d475262e",
        "name": "Upload file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "=PI workflows backup_{{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -26752,
          48
        ],
        "id": "a3fe7df1-710a-43ca-8c47-3b070e75428d",
        "name": "Create folder",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 4
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -26544,
          368
        ],
        "id": "a4abf63b-4637-42e5-9416-946eb757fec8",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "alexxx55555",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.folderName}}/{{$binary.data.fileName}}",
          "binaryData": true,
          "commitMessage": "=PI workflows backup: {{$json.name}} - {{$now.setZone(\"Asia/Jerusalem\").toFormat(\"yyyy-MM-dd HH:mm\")}}",
          "additionalParameters": {
            "author": {
              "name": "PI workflows backup",
              "email": "vinokura@alex-it.net"
            }
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -24912,
          832
        ],
        "id": "a1128647-c174-4ffb-b68a-65b420cb2eb0",
        "name": "GitHub Backup (sanitized)",
        "webhookId": "e533a661-fea4-4243-8df3-c8400cbb80f1",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          }
        },
        "id": "7b10a774-06dc-4147-9baf-d25e806f2680",
        "name": "GitHub List Backup Folders (root)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -24352,
          832
        ],
        "webhookId": "8d0653eb-ecf7-4341-8e77-74e221755ff7",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// The current items are from GitHub List (no folderName)\n// But the LAST item passed into this node still has context from the backup\n// So we need to find folderName from the folder names themselves\n\n// Get all dirs that match our pattern\nconst folders = $items().filter(i =>\n  i.json &&\n  i.json.type === \"dir\" &&\n  typeof i.json.name === \"string\" &&\n  i.json.name.startsWith(\"PI workflows backup \")\n);\n\n// Sort descending by name (date-based names sort correctly as strings)\nconst sorted = [...folders].sort((a, b) => b.json.name.localeCompare(a.json.name));\n\n// The newest folder is first — keep it, delete the rest\nconst newest = sorted[0]?.json?.name;\n\nif (!newest) return [];\n\nreturn sorted\n  .slice(1)  // everything except the newest\n  .map(i => ({ json: { path: i.json.path, name: i.json.name } }));"
        },
        "id": "9b96caba-3e0f-42b3-a154-f164bb88fe79",
        "name": "Filter Old GH Backup Folders (keep newest)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -23952,
          832
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}"
        },
        "id": "5cd60be5-d121-48dc-8f77-5db6258387c2",
        "name": "GH List Files In Old Folder",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -23616,
          832
        ],
        "webhookId": "49ccb808-35ee-4453-9e48-6b71cc7da4fd",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}"
        },
        "id": "a59501f3-87ee-439e-afd8-077f1e105ba7",
        "name": "GH List Files In Subfolder",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -24064,
          1312
        ],
        "webhookId": "ee5a437b-36ea-4187-8250-380e17574093",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{$json[\"type\"]}}",
                "rightValue": "file",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "isfile"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "988ef64b-a0b5-458f-b649-9da8c06f1ead",
        "name": "IF Is File?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -23600,
          1504
        ]
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
        },
        "id": "2f65d5c2-619d-44f1-afb1-11b5226ff64e",
        "name": "To Files (root)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -23360,
          1568
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{$json.path}}",
          "commitMessage": "=Cleanup old backup file {{$json.path}}"
        },
        "id": "5e1d230b-36ad-4bff-98db-f88adadf2d06",
        "name": "GH Delete File",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -23088,
          1440
        ],
        "webhookId": "4335414b-45d6-4334-9a77-13aebaa9a888",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i=>i.json&&i.json.type==='file'&&i.json.path&&i.json.sha).map(i=>({json:{path:i.json.path,sha:i.json.sha}}));"
        },
        "id": "02971699-35e2-48dc-99f4-147e9e22501a",
        "name": "To Files (subfolder)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -23360,
          1312
        ]
      }
    ],
    "connections": {
      "Create folder if not exist": {
        "main": [
          [
            {
              "node": "Search files and folders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Filename1": {
        "main": [
          [
            {
              "node": "GitHub Backup (sanitized)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Collect Workflow Names",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF README exists?": {
        "main": [
          [
            {
              "node": "GitHub Edit README (binary)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GitHub Create README (binary)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make README Binary": {
        "main": [
          [
            {
              "node": "IF README exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Get README": {
        "main": [
          [
            {
              "node": "Make README Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create README Text": {
        "main": [
          [
            {
              "node": "GitHub Get README",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "workflow Export": {
        "main": [
          [
            {
              "node": "Normalize Filename1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete folder": {
        "main": [
          [
            {
              "node": "Create folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search files and folders": {
        "main": [
          [
            {
              "node": "Delete folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "workflow Export",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create folder": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Create folder if not exist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Backup (sanitized)": {
        "main": [
          [
            {
              "node": "GitHub List Backup Folders (root)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub List Backup Folders (root)": {
        "main": [
          [
            {
              "node": "Filter Old GH Backup Folders (keep newest)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Old GH Backup Folders (keep newest)": {
        "main": [
          [
            {
              "node": "GH List Files In Old Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Old Folder": {
        "main": [
          [
            {
              "node": "IF Is File?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Subfolder": {
        "main": [
          [
            {
              "node": "To Files (subfolder)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Is File?": {
        "main": [
          [
            {
              "node": "To Files (root)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GH List Files In Subfolder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (root)": {
        "main": [
          [
            {
              "node": "GH Delete File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH Delete File": {
        "main": [
          [
            {
              "node": "Create README Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (subfolder)": {
        "main": [
          [
            {
              "node": "GH Delete File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version a3ff8b2b",
    "description": "",
    "autosaved": false
  },
  "tags": []
}