PI workflows backup 2025-09-26 17-37/Disable JCUser.json
{
  "createdAt": "2025-09-26T11:21:43.018Z",
  "updatedAt": "2025-09-26T12:02:14.000Z",
  "id": "KrojGARCPgDgfZk0",
  "name": "Disable JCUser",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "=powershell.exe -NoProfile -ExecutionPolicy Bypass -File \"C:\\Scripts\\Disable-JCUser-From-n8n.ps1\" -Username \"{{$json[\"body\"][\"username\"]}}\"",
        "cwd": "="
      },
      "id": "8b2df22d-000e-470c-a4a2-68145d78a112",
      "name": "Disable AD User",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -224,
        -192
      ],
      "credentials": {
        "sshPassword": {
          "id": "79KNHZGwd8w288i9",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f54ab6de-2566-4063-b57a-aa7fd93f51fb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1920,
        -176
      ],
      "id": "e22e07de-bbff-467f-bfd6-515bfab18e89",
      "name": "Webhook",
      "webhookId": "f54ab6de-2566-4063-b57a-aa7fd93f51fb"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Allow this slash command only in #disable-ad-user\n */\nconst ALLOWED_CHANNEL_IDS = new Set(['C09GN391SQ6']);\nconst payload = $json.body ?? $json;\nconst channelId = payload.channel_id || payload.channel?.id || null;\nconst channelName = payload.channel_name || payload.channel?.name || null;\nlet authorized = false;\nlet errorMessage = '';\nif (channelId && ALLOWED_CHANNEL_IDS.has(channelId)) {\n  authorized = true;\n} else {\n  errorMessage = '🚫 This command can only be used in #disable-ad-user';\n}\nreturn { ...$json, authorized, errorMessage, channelId, channelName };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        -176
      ],
      "id": "3b46204e-2031-4d87-b2b0-248ca7482e65",
      "name": "Authorization Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "fbe754c6-374d-46bf-853c-84f7edfb467d",
              "leftValue": "={{$json.authorized}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1008,
        -176
      ],
      "id": "8596eb91-ce7c-4b9f-9ae5-51e53aa75292",
      "name": "IF Authorized"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.errorMessage}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -720,
        128
      ],
      "id": "d571f445-9156-48f3-8228-e4207c3cdfd0",
      "name": "Access Denied Response"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "🔄 Disabling user... please wait",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -720,
        -192
      ],
      "id": "d3609046-2a97-46dc-9563-f01dcbcc4693",
      "name": "Processing Response"
    },
    {
      "parameters": {
        "jsCode": "// Slack slash command input parser\nconst payload = $json.body ?? $json;\nconst raw = (payload.text ?? payload.username ?? '').trim();\nif (!raw) throw new Error('No username provided.');\nconst username = raw.replace(/^@/, '');\nreturn { body: { username } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -192
      ],
      "id": "683f5590-3982-4abd-b22e-10ea0a253d54",
      "name": "Normalize input"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if (!$json[\"stdout\"] || $json[\"stdout\"].trim() === \"\") {\n  throw new Error(\"No JSON output received from PowerShell script. Stdout was empty.\");\n}\ntry {\n  return JSON.parse($json[\"stdout\"]);\n} catch (e) {\n  throw new Error(\"Failed to parse JSON from PowerShell script: \" + e.message + \"\\n\\nOutput was:\\n\" + $json[\"stdout\"]);\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -192
      ],
      "id": "73f1ec52-f6b9-4224-b7e0-b58239df2830",
      "name": "AD Script Output Parser"
    },
    {
      "parameters": {
        "sendTo": "vinokura@alex-it.net",
        "subject": "New AD user Created",
        "message": "={{$json[\"Status\"] === \"Not Found\" || $json[\"Status\"] === \"Error\" ? \"<h3 style='color:#d32f2f;'>\" + $json[\"Message\"] + \"</h3><p style='color:black; font-size:0.95em;'><b>👤 Username:</b> \" + $json[\"Username\"] + \"</p>\" : \"<h2 style='color:red;'>🔒 AD User \" + ($json[\"Status\"] === \"Already Disabled\" ? \"Already Disabled\" : \"Disabled\") + \"</h2><p style='color:black; font-size:0.95em;'><b>👤 Username:</b> \" + $json[\"Username\"] + \"</p><p style='color:black; font-size:0.95em;'><b>🆔 Full Name:</b> \" + $json[\"FullName\"] + \"</p><p style='color:black; font-size:0.95em;'><b>📌 Status:</b> \" + $json[\"Status\"] + \"</p>\" + ($json[\"GroupsRemoved\"].length > 0 ? \"<p style='color:black; font-size:0.95em;'><b>🗑️ Groups Removed:</b> \" + $json[\"GroupsRemoved\"].join(\", \") + \"</p>\" : \"\") + ($json[\"MovedToOU\"] ? \"<p style='color:black; font-size:0.95em;'><b>📂 Moved To:</b> \" + $json[\"MovedToOU\"] + \"</p>\" : \"\")}}\n\n<hr>\n<p style=\"font-size:0.85em; color:gray;\">\n  Automated by n8n workflow\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1248,
        -352
      ],
      "id": "71ed89ce-00c2-4149-9c45-ea3e6ea7a3f6",
      "name": "Send Message",
      "webhookId": "961eced4-af4c-4015-a632-1c5dcecb5a5f",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "C5742Grqr9Rpnxid",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nh_eXCRjrbruYZWqF8_8LvW3TQ_d7EsN3bCQF_6Wfpg",
          "mode": "list",
          "cachedResultName": "New AD User Created",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nh_eXCRjrbruYZWqF8_8LvW3TQ_d7EsN3bCQF_6Wfpg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nh_eXCRjrbruYZWqF8_8LvW3TQ_d7EsN3bCQF_6Wfpg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{$json[\"FirstName\"]}}",
            "Last Name": "={{$json[\"LastName\"]}}",
            "Job Title": "={{$json[\"JobTitle\"]}}\n",
            "Password": "={{$json[\"Password\"]}}",
            "Employee Number": "={{$json[\"EmployeeNumber\"]}}",
            "Department": "={{$json[\"Department\"]}}",
            "Manager": "={{$json[\"Manager\"]}}",
            "Office Location": "={{$json[\"OfficeLocation\"]}}",
            "Office Phone": "={{$json[\"OfficePhone\"]}}",
            "Username": "={{$json[\"Username\"]}}",
            "Email": "={{$json[\"Email\"]}}",
            "DL Groups Copied": "={{$json[\"DLGroupsCopied\"].join(', ')}}",
            "Security Groups Copied": "={{$json[\"SecurityGroupsCopied\"].join(', ')}}",
            "Conflict Message": "={{$json[\"ConflictMessage\"]}}",
            "Timestamp": "={{new Date().toLocaleString(\"en-GB\", { hour12: false, timeZone: \"Asia/Jerusalem\" })}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Number",
              "displayName": "Employee Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Manager",
              "displayName": "Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Office Location",
              "displayName": "Office Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Office Phone",
              "displayName": "Office Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DL Groups Copied",
              "displayName": "DL Groups Copied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Security Groups Copied",
              "displayName": "Security Groups Copied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Password",
              "displayName": "Password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conflict Message",
              "displayName": "Conflict Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1264,
        -128
      ],
      "id": "33c1f5a3-c4dd-40fa-ae82-ee1a8cfca180",
      "name": "Append row in sheet",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MCeFqIGjffYKd95d",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "426570413",
        "text": "={{$json[\"Status\"] === \"Not Found\" || $json[\"Status\"] === \"Error\" ? $json[\"Message\"] + \"\\n\\n👤 Username: \" + $json[\"Username\"] : \"🔒 AD User \" + ($json[\"Status\"] === \"Already Disabled\" ? \"Already Disabled\" : \"Disabled\") + \"\\n\\n👤 Username: \" + $json[\"Username\"] + \"\\n🆔 Full Name: \" + $json[\"FullName\"] + \"\\n📌 Status: \" + $json[\"Status\"] + ($json[\"GroupsRemoved\"].length > 0 ? \"\\n🗑️ Groups Removed: \" + $json[\"GroupsRemoved\"].join(', ') : \"\") + ($json[\"MovedToOU\"] ? \"\\n📂 Moved To: \" + $json[\"MovedToOU\"] : \"\")}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        80
      ],
      "id": "6683a0dc-58fc-4a32-bebd-938809488cef",
      "name": "Send a text message",
      "webhookId": "ae9b49c5-f740-4d7f-b4af-c7ce2935e45f",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "x7W5pZqq5q5bGRzU",
          "name": "Disable AD User"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09GN391SQ6",
          "mode": "list",
          "cachedResultName": "disable-ad-user"
        },
        "text": "={{$json[\"Status\"] === \"Not Found\" || $json[\"Status\"] === \"Error\" ? $json[\"Message\"] + \"\\n\\n👤 Username: \" + $json[\"Username\"] : \"🔒 AD User \" + ($json[\"Status\"] === \"Already Disabled\" ? \"Already Disabled\" : \"Disabled\") + \"\\n\\n👤 Username: \" + $json[\"Username\"] + \"\\n🆔 Full Name: \" + $json[\"FullName\"] + \"\\n📌 Status: \" + $json[\"Status\"] + ($json[\"GroupsRemoved\"].length > 0 ? \"\\n🗑️ Groups Removed: \" + $json[\"GroupsRemoved\"].join(', ') : \"\") + ($json[\"MovedToOU\"] ? \"\\n📂 Moved To: \" + $json[\"MovedToOU\"] : \"\")}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1264,
        304
      ],
      "id": "8ccfdc87-c089-4096-ba53-f2616feb76e3",
      "name": "Send a message",
      "webhookId": "619d4034-0d7d-43f0-9691-ea960aef7115",
      "credentials": {
        "slackApi": {
          "id": "ogd5puOuqvP7Ix28",
          "name": "Disable AD User"
        }
      }
    }
  ],
  "connections": {
    "Disable AD User": {
      "main": [
        [
          {
            "node": "AD Script Output Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Authorization Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorization Check": {
      "main": [
        [
          {
            "node": "IF Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Authorized": {
      "main": [
        [
          {
            "node": "Processing Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Access Denied Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processing Response": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Disable AD User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AD Script Output Parser": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "03daa779-5427-4a9e-bb67-36e4a86439bd",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-26T11:21:43.025Z",
      "updatedAt": "2025-09-26T11:21:43.025Z",
      "role": "workflow:owner",
      "workflowId": "KrojGARCPgDgfZk0",
      "projectId": "NptNxIUgBjUJaRfd"
    }
  ],
  "tags": []
}