PI workflows backup 2026-05-13 21-00/Homelab Uptime Monitor.json
{
  "updatedAt": "2026-04-22T07:43:42.532Z",
  "createdAt": "2026-04-21T14:58:26.698Z",
  "id": "dnzGhIwHx1q9jEGk",
  "name": "Homelab Uptime Monitor",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "d432e960-5b80-4a81-8b52-ea8d5663b6a0",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        5152,
        1568
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-sites",
              "name": "Websites",
              "type": "string",
              "value": "=https://ai.alex-it.net\nhttps://ai.mac.alex-it.net\nhttps://ai.pc.alex-it.net\nhttps://alexgpt.alex-it.net\nhttps://bazarr.alex-it.net\nhttps://dashboard.alex-it.net\nhttps://dockhand.alex-it.net\nhttps://grafana.alex-it.net\nhttps://ha.alex-it.net\nhttps://ha.pi.alex-it.net\nhttps://it-assets.alex-it.net\nhttps://jellyfin.alex-it.net\nhttps://jellyseerr.alex-it.net\nhttps://n8n.alex-it.net\nhttps://n8n.pi.alex-it.net\nhttps://nas.alex-it.net\nhttps://nginx.alex-it.net\nhttps://pdf.alex-it.net\nhttps://pihole.alex-it.net\nhttps://qbittorrent.alex-it.net\nhttps://radarr.alex-it.net\nhttps://sonarr.alex-it.net\nhttps://vault.alex-it.net\nhttps://vault.pi.alex-it.net\nhttps://waha.alex-it.net\nhttps://wallos.alex-it.net\nhttps://wireguard.alex-it.net\nhttps://gemini.google.com\nhttps://workspace.google.com\nhttps://crowdstrike.com\nhttps://status.hibob.io\nhttps://letsencrypt.org\nhttps://status.okta.com"
            },
            {
              "id": "cfg-wait",
              "name": "wait_secs",
              "type": "number",
              "value": 10
            },
            {
              "id": "cfg-slack-channel",
              "name": "slack_channel",
              "type": "string",
              "value": "C0AUET92Z28"
            },
            {
              "id": "cfg-status-pages",
              "name": "StatusPages",
              "type": "string",
              "value": "=Claude|https://status.anthropic.com/api/v2/status.json\nOpenAI|https://status.openai.com/api/v2/status.json\nGitHub|https://www.githubstatus.com/api/v2/status.json\nCloudflare|https://www.cloudflarestatus.com/api/v2/status.json\nSlack|https://status.slack.com/api/v2.0.0/current\nAtlassian|https://status.atlassian.com/api/v2/status.json\nZoom|https://status.zoom.us/api/v2/status.json\nJumpCloud|https://status.jumpcloud.com/api/v2/status.json\nMonday|https://status.monday.com/api/v2/status.json"
            }
          ]
        },
        "options": {}
      },
      "id": "29a9e00c-0452-46bc-87d1-5d6802f5e3e7",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        5360,
        1568
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parse-urls",
              "name": "Websites",
              "type": "array",
              "value": "={{ $json.Websites.split('\\n').filter((url) => url.trim()) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c2766176-73a8-47c5-af96-dd753922d507",
      "name": "Parse URLs",
      "type": "n8n-nodes-base.set",
      "position": [
        5584,
        1568
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "Websites",
        "options": {}
      },
      "id": "2fe65927-b810-4370-b20b-c41989c0ca42",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        5792,
        1568
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.Websites }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "1816d577-f4ad-4c15-94eb-b21c39508c81",
      "name": "Check Site",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6000,
        1568
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "35dd6eea-0b69-4952-b41e-ae80aaf86327",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        6224,
        1568
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "stat-date",
              "name": "date",
              "type": "string",
              "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}"
            },
            {
              "id": "stat-website",
              "name": "website",
              "type": "string",
              "value": "={{ $('Split Out').item.json.Websites }}"
            },
            {
              "id": "stat-code",
              "name": "statusCode",
              "type": "number",
              "value": "={{ $json.statusCode || 0 }}"
            },
            {
              "id": "stat-up",
              "name": "IS_UP",
              "type": "boolean",
              "value": "={{ $json.statusCode > 0 && $json.statusCode < 500 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9a9c113-7496-44f8-ad3c-9954352c6174",
      "name": "Calculate Status",
      "type": "n8n-nodes-base.set",
      "position": [
        6448,
        1568
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-up",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.IS_UP }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "UP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-down",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.IS_UP }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "DOWN"
            }
          ]
        },
        "options": {}
      },
      "id": "76231b67-1f95-407a-be0f-d379f735c5ef",
      "name": "Status Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        6672,
        1568
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Clear recovered sites from static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.downSites) staticData.downSites = {};\n\nconst site = $json.website;\nconst wasDown = staticData.downSites[site];\n\nif (wasDown) {\n  delete staticData.downSites[site];\n  // Pass through for recovery alert\n  return [{ json: { ...$json, down_since: wasDown } }];\n}\n\n// Was not tracked as down, no recovery alert needed\nreturn [];"
      },
      "id": "645b3e66-1baf-4ee1-a5a7-aaa61c417e2b",
      "name": "Clear Recovered Sites",
      "type": "n8n-nodes-base.code",
      "position": [
        6880,
        1456
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AUET92Z28",
          "mode": "id"
        },
        "text": "=:large_green_circle: *{{ $json.website }}* is back UP\n\nStatus code: `{{ $json.statusCode }}`\nRecovered at: {{ $json.date }}\nDown since: {{ $json.down_since }}\n:link: {{ $json.website }}",
        "otherOptions": {}
      },
      "id": "cf5dbdc2-672c-43f5-9d66-41565fe8ba38",
      "name": "Slack Alert RECOVERED",
      "type": "n8n-nodes-base.slack",
      "position": [
        7104,
        1456
      ],
      "typeVersion": 2.2,
      "webhookId": "4555ae1c-e632-4d1d-92d7-44c882bf60fe",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $json.wait_secs || 10 }}"
      },
      "id": "3dd6738a-ee8a-4c22-a473-f060801b33fe",
      "name": "Wait for Recheck",
      "type": "n8n-nodes-base.wait",
      "position": [
        6880,
        1696
      ],
      "typeVersion": 1.1,
      "webhookId": "2627951f-8f7f-49d6-8840-cf54dde18d77"
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "8e77e975-cfff-4b77-9033-67d1dcc8d5e9",
      "name": "Recheck Site",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        7104,
        1696
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "re-date",
              "name": "date",
              "type": "string",
              "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}"
            },
            {
              "id": "re-website",
              "name": "website",
              "type": "string",
              "value": "={{ $('Calculate Status').item.json.website }}"
            },
            {
              "id": "re-code",
              "name": "statusCode",
              "type": "number",
              "value": "={{ $json.statusCode || 0 }}"
            },
            {
              "id": "re-up",
              "name": "IS_UP",
              "type": "boolean",
              "value": "={{ $json.statusCode > 0 && $json.statusCode < 500 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0d918e75-0945-4f94-920a-2926d907d8a5",
      "name": "Recheck Status",
      "type": "n8n-nodes-base.set",
      "position": [
        7376,
        1696
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-re-up",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.IS_UP }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "RECOVERED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-re-down",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.IS_UP }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "CONFIRMED DOWN"
            }
          ]
        },
        "options": {}
      },
      "id": "c822ba4c-f994-4a05-9e15-a8636ea50e23",
      "name": "Recheck Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        7600,
        1696
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Dedupe gate: only alert once per site outage\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.downSites) staticData.downSites = {};\n\nconst site = $json.website;\n\nif (staticData.downSites[site]) {\n  // Already alerted for this outage, suppress\n  return [];\n}\n\n// First time seeing this site confirmed down — mark it and let alert through\nstaticData.downSites[site] = $json.date;\nreturn [$input.item];"
      },
      "id": "62fd2021-5b93-45fc-9599-5cad8a1f8259",
      "name": "Dedupe Gate DOWN",
      "type": "n8n-nodes-base.code",
      "position": [
        7872,
        1696
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AUET92Z28",
          "mode": "id"
        },
        "text": "=:red_circle: *{{ $json.website }}* is DOWN\n\nStatus code: `{{ $json.statusCode }}`\nFirst detected: {{ $json.date }}\nRecheck confirmed the outage.\n:link: {{ $json.website }}",
        "otherOptions": {}
      },
      "id": "11f85fb6-ebb3-4425-9848-8576aeb912a3",
      "name": "Slack Alert DOWN",
      "type": "n8n-nodes-base.slack",
      "position": [
        8096,
        1696
      ],
      "typeVersion": 2.2,
      "webhookId": "ddc2c6eb-ccb1-46a4-9a24-913406934685",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sp-parse",
              "name": "StatusPages",
              "type": "array",
              "value": "={{ $json.StatusPages.split('\\n').filter((line) => line.trim()) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "85720a82-caca-479e-acdb-0da39043bbed",
      "name": "Parse Status Pages",
      "type": "n8n-nodes-base.set",
      "position": [
        5584,
        1968
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "StatusPages",
        "options": {}
      },
      "id": "4aba2a6d-6ed2-4419-aa13-cec8de967aeb",
      "name": "Split Status Pages",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        5792,
        1968
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sp-name",
              "name": "service_name",
              "type": "string",
              "value": "={{ $json.StatusPages.split('|')[0] }}"
            },
            {
              "id": "sp-url",
              "name": "api_url",
              "type": "string",
              "value": "={{ $json.StatusPages.split('|')[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8182e0db-b722-4391-9e43-05b10a194a73",
      "name": "Extract Name & URL",
      "type": "n8n-nodes-base.set",
      "position": [
        6000,
        1968
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.api_url }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "b02dd6d8-9dd1-4d61-ad1e-9dc60bc15fee",
      "name": "Fetch Status API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6224,
        1968
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  \n  let serviceName = 'Unknown';\n  let apiUrl = '';\n  try {\n    serviceName = $('Extract Name & URL').all()[i].json.service_name || 'Unknown';\n    apiUrl = $('Extract Name & URL').all()[i].json.api_url || '';\n  } catch(e) {}\n  \n  // Derive status page URL from API URL\n  let statusPageUrl = '';\n  try {\n    const u = new URL(apiUrl);\n    statusPageUrl = u.origin;\n  } catch(e) {}\n  \n  const body = item.json.body || item.json;\n  \n  let indicator = 'unknown';\n  let description = 'Could not parse status';\n  \n  if (body && body.page && body.status && body.status.indicator) {\n    indicator = body.status.indicator;\n    description = body.status.description || '';\n    if (body.page.url) statusPageUrl = body.page.url;\n  }\n  else if (body && body.status && typeof body.status === 'object' && body.status.indicator) {\n    indicator = body.status.indicator;\n    description = body.status.description || '';\n  }\n  else if (body && body.status !== undefined && typeof body.status === 'string') {\n    const s = body.status.toLowerCase();\n    indicator = (s === 'ok' || s === 'active') ? 'none' : s;\n    description = (s === 'ok' || s === 'active') ? 'All Systems Operational' : body.status;\n  }\n  else if (typeof body === 'string') {\n    try {\n      const parsed = JSON.parse(body);\n      if (parsed.status && typeof parsed.status === 'object' && parsed.status.indicator) {\n        indicator = parsed.status.indicator;\n        description = parsed.status.description || '';\n        if (parsed.page && parsed.page.url) statusPageUrl = parsed.page.url;\n      }\n    } catch(e) {}\n  }\n  \n  const isHealthy = indicator === 'none';\n  \n  results.push({\n    json: {\n      service_name: serviceName,\n      indicator: indicator,\n      description: description,\n      is_healthy: isHealthy,\n      status_page_url: statusPageUrl,\n      checked_at: new Date().toLocaleString('en-GB', { \n        day: '2-digit', month: '2-digit', year: 'numeric',\n        hour: '2-digit', minute: '2-digit', hour12: false \n      })\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "2cbbfddc-33fe-4323-a427-79d33068e691",
      "name": "Parse Status Response",
      "type": "n8n-nodes-base.code",
      "position": [
        6448,
        1968
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "sp-cond-healthy",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.is_healthy }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "HEALTHY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "sp-cond-incident",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.is_healthy }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "INCIDENT"
            }
          ]
        },
        "options": {}
      },
      "id": "93963be3-171e-4bec-b36f-f459b3ab0388",
      "name": "Status Page Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        6672,
        1968
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Dedupe gate: only alert once per service incident\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.incidents) staticData.incidents = {};\n\nconst service = $json.service_name;\nconst currentIndicator = $json.indicator;\n\nif (staticData.incidents[service] === currentIndicator) {\n  // Already alerted for this exact incident state, suppress\n  return [];\n}\n\n// New incident or escalation — mark and let alert through\nstaticData.incidents[service] = currentIndicator;\nreturn [$input.item];"
      },
      "id": "267397a8-c9ad-4948-949f-433339fc68d8",
      "name": "Dedupe Gate Incident",
      "type": "n8n-nodes-base.code",
      "position": [
        6880,
        2048
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AUET92Z28",
          "mode": "id"
        },
        "text": "=:warning: *{{ $json.service_name }}* has an active incident\n\nStatus: `{{ $json.indicator }}` — {{ $json.description }}\nChecked at: {{ $json.checked_at }}\n:link: {{ $json.status_page_url }}",
        "otherOptions": {}
      },
      "id": "23093239-3bd9-443a-a996-2a76ed4947fe",
      "name": "Slack Alert Incident",
      "type": "n8n-nodes-base.slack",
      "position": [
        7104,
        2048
      ],
      "typeVersion": 2.2,
      "webhookId": "fa68049d-4207-4b61-835e-4e75569c915f",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clear recovered services from static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.incidents) staticData.incidents = {};\n\nconst service = $json.service_name;\nconst wasIncident = staticData.incidents[service];\n\nif (wasIncident) {\n  delete staticData.incidents[service];\n  // Pass through for recovery alert\n  return [{ json: { ...$json, previous_indicator: wasIncident } }];\n}\n\n// Was not tracked as incident, no recovery alert needed\nreturn [];"
      },
      "id": "5e0c42d0-3d77-4670-9e61-9af0d550cbd9",
      "name": "Clear Recovered Services",
      "type": "n8n-nodes-base.code",
      "position": [
        6880,
        1888
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AUET92Z28",
          "mode": "id"
        },
        "text": "=:large_green_circle: *{{ $json.service_name }}* incident resolved\n\nStatus is now healthy.\nPrevious state: `{{ $json.previous_indicator }}`\nChecked at: {{ $json.checked_at }}\n:link: {{ $json.status_page_url }}",
        "otherOptions": {}
      },
      "id": "1de8344b-7dbe-43cb-85ff-535829b38b30",
      "name": "Slack Alert Service Recovered",
      "type": "n8n-nodes-base.slack",
      "position": [
        7104,
        1888
      ],
      "typeVersion": 2.2,
      "webhookId": "0a3a3fd1-7660-47f0-ac5e-89a7658756b0",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "# Homelab Uptime Monitor v2\n\n**Schedule:** Every 5 minutes\n**Alert channel:** Slack\n**Deduplication:** Uses workflow static data — alerts once per outage, then on recovery.\n\n### Branch 1 — HTTP Checks (top)\nCheck → UP path clears static data (recovery alert if was down)\nCheck → DOWN → wait 10s → recheck → CONFIRMED DOWN → dedupe gate → alert once\n**33 sites:** 27 homelab + 6 external\n\n### Branch 2 — Status Page APIs (bottom)\nFetch → parse → HEALTHY clears static data (recovery alert if was incident)\nFetch → parse → INCIDENT → dedupe gate → alert once per indicator change\n**9 services:** Claude, OpenAI, GitHub, Cloudflare, Slack, Atlassian, Zoom, JumpCloud, Monday",
        "height": 380,
        "width": 520,
        "color": 4
      },
      "id": "2ce41629-932a-4663-ad13-fd769b5ccff8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5120,
        1152
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Parse URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Status Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse URLs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Check Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Site": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Calculate Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Status": {
      "main": [
        [
          {
            "node": "Status Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Router": {
      "main": [
        [
          {
            "node": "Clear Recovered Sites",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Recheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Recovered Sites": {
      "main": [
        [
          {
            "node": "Slack Alert RECOVERED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Recheck": {
      "main": [
        [
          {
            "node": "Recheck Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recheck Site": {
      "main": [
        [
          {
            "node": "Recheck Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recheck Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recheck Status": {
      "main": [
        [
          {
            "node": "Recheck Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recheck Router": {
      "main": [
        [],
        [
          {
            "node": "Dedupe Gate DOWN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe Gate DOWN": {
      "main": [
        [
          {
            "node": "Slack Alert DOWN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Status Pages": {
      "main": [
        [
          {
            "node": "Split Status Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Status Pages": {
      "main": [
        [
          {
            "node": "Extract Name & URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Name & URL": {
      "main": [
        [
          {
            "node": "Fetch Status API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Status API": {
      "main": [
        [
          {
            "node": "Parse Status Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Status Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Status Response": {
      "main": [
        [
          {
            "node": "Status Page Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Page Router": {
      "main": [
        [
          {
            "node": "Clear Recovered Services",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dedupe Gate Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Recovered Services": {
      "main": [
        [
          {
            "node": "Slack Alert Service Recovered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe Gate Incident": {
      "main": [
        [
          {
            "node": "Slack Alert Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    },
    "global": {
      "downSites": {
        "https://wallos.alex-it.net": "22/04/2026 03:50",
        "https://grafana.alex-it.net": "22/04/2026 03:50",
        "https://radarr.alex-it.net": "22/04/2026 04:25",
        "https://sonarr.alex-it.net": "23/04/2026 18:56",
        "https://n8n.alex-it.net": "27/04/2026 10:26",
        "https://jellyseerr.alex-it.net": "27/04/2026 15:51",
        "https://ai.pc.alex-it.net": "28/04/2026 00:31",
        "https://bazarr.alex-it.net": "30/04/2026 17:26",
        "https://it-assets.alex-it.net": "06/05/2026 20:15",
        "https://ha.alex-it.net": "07/05/2026 14:40",
        "https://ai.mac.alex-it.net": "11/05/2026 07:00"
      },
      "incidents": {
        "Cloudflare": "minor",
        "GitHub": "minor"
      }
    }
  },
  "meta": {
    "templateId": "11763",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c128c7b6-02c5-4b95-be77-b859f318cf87",
  "activeVersionId": "c128c7b6-02c5-4b95-be77-b859f318cf87",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-21T14:58:26.704Z",
      "createdAt": "2026-04-21T14:58:26.704Z",
      "role": "workflow:owner",
      "workflowId": "dnzGhIwHx1q9jEGk",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-22T07:45:31.000Z",
    "createdAt": "2026-04-22T07:43:42.535Z",
    "versionId": "c128c7b6-02c5-4b95-be77-b859f318cf87",
    "workflowId": "dnzGhIwHx1q9jEGk",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "id": "d432e960-5b80-4a81-8b52-ea8d5663b6a0",
        "name": "Every 5 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          5152,
          1568
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cfg-sites",
                "name": "Websites",
                "type": "string",
                "value": "=https://ai.alex-it.net\nhttps://ai.mac.alex-it.net\nhttps://ai.pc.alex-it.net\nhttps://alexgpt.alex-it.net\nhttps://bazarr.alex-it.net\nhttps://dashboard.alex-it.net\nhttps://dockhand.alex-it.net\nhttps://grafana.alex-it.net\nhttps://ha.alex-it.net\nhttps://ha.pi.alex-it.net\nhttps://it-assets.alex-it.net\nhttps://jellyfin.alex-it.net\nhttps://jellyseerr.alex-it.net\nhttps://n8n.alex-it.net\nhttps://n8n.pi.alex-it.net\nhttps://nas.alex-it.net\nhttps://nginx.alex-it.net\nhttps://pdf.alex-it.net\nhttps://pihole.alex-it.net\nhttps://qbittorrent.alex-it.net\nhttps://radarr.alex-it.net\nhttps://sonarr.alex-it.net\nhttps://vault.alex-it.net\nhttps://vault.pi.alex-it.net\nhttps://waha.alex-it.net\nhttps://wallos.alex-it.net\nhttps://wireguard.alex-it.net\nhttps://gemini.google.com\nhttps://workspace.google.com\nhttps://crowdstrike.com\nhttps://status.hibob.io\nhttps://letsencrypt.org\nhttps://status.okta.com"
              },
              {
                "id": "cfg-wait",
                "name": "wait_secs",
                "type": "number",
                "value": 10
              },
              {
                "id": "cfg-slack-channel",
                "name": "slack_channel",
                "type": "string",
                "value": "C0AUET92Z28"
              },
              {
                "id": "cfg-status-pages",
                "name": "StatusPages",
                "type": "string",
                "value": "=Claude|https://status.anthropic.com/api/v2/status.json\nOpenAI|https://status.openai.com/api/v2/status.json\nGitHub|https://www.githubstatus.com/api/v2/status.json\nCloudflare|https://www.cloudflarestatus.com/api/v2/status.json\nSlack|https://status.slack.com/api/v2.0.0/current\nAtlassian|https://status.atlassian.com/api/v2/status.json\nZoom|https://status.zoom.us/api/v2/status.json\nJumpCloud|https://status.jumpcloud.com/api/v2/status.json\nMonday|https://status.monday.com/api/v2/status.json"
              }
            ]
          },
          "options": {}
        },
        "id": "29a9e00c-0452-46bc-87d1-5d6802f5e3e7",
        "name": "Config",
        "type": "n8n-nodes-base.set",
        "position": [
          5360,
          1568
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "parse-urls",
                "name": "Websites",
                "type": "array",
                "value": "={{ $json.Websites.split('\\n').filter((url) => url.trim()) }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c2766176-73a8-47c5-af96-dd753922d507",
        "name": "Parse URLs",
        "type": "n8n-nodes-base.set",
        "position": [
          5584,
          1568
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "fieldToSplitOut": "Websites",
          "options": {}
        },
        "id": "2fe65927-b810-4370-b20b-c41989c0ca42",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "position": [
          5792,
          1568
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "url": "={{ $json.Websites }}",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 5
              }
            },
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true
              }
            },
            "timeout": 15000
          }
        },
        "id": "1816d577-f4ad-4c15-94eb-b21c39508c81",
        "name": "Check Site",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          6000,
          1568
        ],
        "typeVersion": 4.2,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {},
        "id": "35dd6eea-0b69-4952-b41e-ae80aaf86327",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          6224,
          1568
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "stat-date",
                "name": "date",
                "type": "string",
                "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}"
              },
              {
                "id": "stat-website",
                "name": "website",
                "type": "string",
                "value": "={{ $('Split Out').item.json.Websites }}"
              },
              {
                "id": "stat-code",
                "name": "statusCode",
                "type": "number",
                "value": "={{ $json.statusCode || 0 }}"
              },
              {
                "id": "stat-up",
                "name": "IS_UP",
                "type": "boolean",
                "value": "={{ $json.statusCode > 0 && $json.statusCode < 500 }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c9a9c113-7496-44f8-ad3c-9954352c6174",
        "name": "Calculate Status",
        "type": "n8n-nodes-base.set",
        "position": [
          6448,
          1568
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "cond-up",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.IS_UP }}",
                      "rightValue": ""
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "UP"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "cond-down",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.IS_UP }}",
                      "rightValue": ""
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "DOWN"
              }
            ]
          },
          "options": {}
        },
        "id": "76231b67-1f95-407a-be0f-d379f735c5ef",
        "name": "Status Router",
        "type": "n8n-nodes-base.switch",
        "position": [
          6672,
          1568
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "jsCode": "// Clear recovered sites from static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.downSites) staticData.downSites = {};\n\nconst site = $json.website;\nconst wasDown = staticData.downSites[site];\n\nif (wasDown) {\n  delete staticData.downSites[site];\n  // Pass through for recovery alert\n  return [{ json: { ...$json, down_since: wasDown } }];\n}\n\n// Was not tracked as down, no recovery alert needed\nreturn [];"
        },
        "id": "645b3e66-1baf-4ee1-a5a7-aaa61c417e2b",
        "name": "Clear Recovered Sites",
        "type": "n8n-nodes-base.code",
        "position": [
          6880,
          1456
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AUET92Z28",
            "mode": "id"
          },
          "text": "=:large_green_circle: *{{ $json.website }}* is back UP\n\nStatus code: `{{ $json.statusCode }}`\nRecovered at: {{ $json.date }}\nDown since: {{ $json.down_since }}\n:link: {{ $json.website }}",
          "otherOptions": {}
        },
        "id": "cf5dbdc2-672c-43f5-9d66-41565fe8ba38",
        "name": "Slack Alert RECOVERED",
        "type": "n8n-nodes-base.slack",
        "position": [
          7104,
          1456
        ],
        "typeVersion": 2.2,
        "webhookId": "4555ae1c-e632-4d1d-92d7-44c882bf60fe",
        "credentials": {
          "slackApi": {
            "id": "obEYVo8oQOJ22JqX",
            "name": "AD Admin Bot"
          }
        }
      },
      {
        "parameters": {
          "amount": "={{ $json.wait_secs || 10 }}"
        },
        "id": "3dd6738a-ee8a-4c22-a473-f060801b33fe",
        "name": "Wait for Recheck",
        "type": "n8n-nodes-base.wait",
        "position": [
          6880,
          1696
        ],
        "typeVersion": 1.1,
        "webhookId": "2627951f-8f7f-49d6-8840-cf54dde18d77"
      },
      {
        "parameters": {
          "url": "={{ $json.website }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true
              }
            },
            "timeout": 15000
          }
        },
        "id": "8e77e975-cfff-4b77-9033-67d1dcc8d5e9",
        "name": "Recheck Site",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          7104,
          1696
        ],
        "typeVersion": 4.2,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "re-date",
                "name": "date",
                "type": "string",
                "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}"
              },
              {
                "id": "re-website",
                "name": "website",
                "type": "string",
                "value": "={{ $('Calculate Status').item.json.website }}"
              },
              {
                "id": "re-code",
                "name": "statusCode",
                "type": "number",
                "value": "={{ $json.statusCode || 0 }}"
              },
              {
                "id": "re-up",
                "name": "IS_UP",
                "type": "boolean",
                "value": "={{ $json.statusCode > 0 && $json.statusCode < 500 }}"
              }
            ]
          },
          "options": {}
        },
        "id": "0d918e75-0945-4f94-920a-2926d907d8a5",
        "name": "Recheck Status",
        "type": "n8n-nodes-base.set",
        "position": [
          7376,
          1696
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "cond-re-up",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.IS_UP }}",
                      "rightValue": ""
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "RECOVERED"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "cond-re-down",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.IS_UP }}",
                      "rightValue": ""
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "CONFIRMED DOWN"
              }
            ]
          },
          "options": {}
        },
        "id": "c822ba4c-f994-4a05-9e15-a8636ea50e23",
        "name": "Recheck Router",
        "type": "n8n-nodes-base.switch",
        "position": [
          7600,
          1696
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "jsCode": "// Dedupe gate: only alert once per site outage\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.downSites) staticData.downSites = {};\n\nconst site = $json.website;\n\nif (staticData.downSites[site]) {\n  // Already alerted for this outage, suppress\n  return [];\n}\n\n// First time seeing this site confirmed down — mark it and let alert through\nstaticData.downSites[site] = $json.date;\nreturn [$input.item];"
        },
        "id": "62fd2021-5b93-45fc-9599-5cad8a1f8259",
        "name": "Dedupe Gate DOWN",
        "type": "n8n-nodes-base.code",
        "position": [
          7872,
          1696
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AUET92Z28",
            "mode": "id"
          },
          "text": "=:red_circle: *{{ $json.website }}* is DOWN\n\nStatus code: `{{ $json.statusCode }}`\nFirst detected: {{ $json.date }}\nRecheck confirmed the outage.\n:link: {{ $json.website }}",
          "otherOptions": {}
        },
        "id": "11f85fb6-ebb3-4425-9848-8576aeb912a3",
        "name": "Slack Alert DOWN",
        "type": "n8n-nodes-base.slack",
        "position": [
          8096,
          1696
        ],
        "typeVersion": 2.2,
        "webhookId": "ddc2c6eb-ccb1-46a4-9a24-913406934685",
        "credentials": {
          "slackApi": {
            "id": "obEYVo8oQOJ22JqX",
            "name": "AD Admin Bot"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "sp-parse",
                "name": "StatusPages",
                "type": "array",
                "value": "={{ $json.StatusPages.split('\\n').filter((line) => line.trim()) }}"
              }
            ]
          },
          "options": {}
        },
        "id": "85720a82-caca-479e-acdb-0da39043bbed",
        "name": "Parse Status Pages",
        "type": "n8n-nodes-base.set",
        "position": [
          5584,
          1968
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "fieldToSplitOut": "StatusPages",
          "options": {}
        },
        "id": "4aba2a6d-6ed2-4419-aa13-cec8de967aeb",
        "name": "Split Status Pages",
        "type": "n8n-nodes-base.splitOut",
        "position": [
          5792,
          1968
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "sp-name",
                "name": "service_name",
                "type": "string",
                "value": "={{ $json.StatusPages.split('|')[0] }}"
              },
              {
                "id": "sp-url",
                "name": "api_url",
                "type": "string",
                "value": "={{ $json.StatusPages.split('|')[1] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "8182e0db-b722-4391-9e43-05b10a194a73",
        "name": "Extract Name & URL",
        "type": "n8n-nodes-base.set",
        "position": [
          6000,
          1968
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "url": "={{ $json.api_url }}",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 5
              }
            },
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true
              }
            },
            "timeout": 10000
          }
        },
        "id": "b02dd6d8-9dd1-4d61-ad1e-9dc60bc15fee",
        "name": "Fetch Status API",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          6224,
          1968
        ],
        "typeVersion": 4.2,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  \n  let serviceName = 'Unknown';\n  let apiUrl = '';\n  try {\n    serviceName = $('Extract Name & URL').all()[i].json.service_name || 'Unknown';\n    apiUrl = $('Extract Name & URL').all()[i].json.api_url || '';\n  } catch(e) {}\n  \n  // Derive status page URL from API URL\n  let statusPageUrl = '';\n  try {\n    const u = new URL(apiUrl);\n    statusPageUrl = u.origin;\n  } catch(e) {}\n  \n  const body = item.json.body || item.json;\n  \n  let indicator = 'unknown';\n  let description = 'Could not parse status';\n  \n  if (body && body.page && body.status && body.status.indicator) {\n    indicator = body.status.indicator;\n    description = body.status.description || '';\n    if (body.page.url) statusPageUrl = body.page.url;\n  }\n  else if (body && body.status && typeof body.status === 'object' && body.status.indicator) {\n    indicator = body.status.indicator;\n    description = body.status.description || '';\n  }\n  else if (body && body.status !== undefined && typeof body.status === 'string') {\n    const s = body.status.toLowerCase();\n    indicator = (s === 'ok' || s === 'active') ? 'none' : s;\n    description = (s === 'ok' || s === 'active') ? 'All Systems Operational' : body.status;\n  }\n  else if (typeof body === 'string') {\n    try {\n      const parsed = JSON.parse(body);\n      if (parsed.status && typeof parsed.status === 'object' && parsed.status.indicator) {\n        indicator = parsed.status.indicator;\n        description = parsed.status.description || '';\n        if (parsed.page && parsed.page.url) statusPageUrl = parsed.page.url;\n      }\n    } catch(e) {}\n  }\n  \n  const isHealthy = indicator === 'none';\n  \n  results.push({\n    json: {\n      service_name: serviceName,\n      indicator: indicator,\n      description: description,\n      is_healthy: isHealthy,\n      status_page_url: statusPageUrl,\n      checked_at: new Date().toLocaleString('en-GB', { \n        day: '2-digit', month: '2-digit', year: 'numeric',\n        hour: '2-digit', minute: '2-digit', hour12: false \n      })\n    }\n  });\n}\n\nreturn results;"
        },
        "id": "2cbbfddc-33fe-4323-a427-79d33068e691",
        "name": "Parse Status Response",
        "type": "n8n-nodes-base.code",
        "position": [
          6448,
          1968
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "sp-cond-healthy",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.is_healthy }}",
                      "rightValue": ""
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "HEALTHY"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "sp-cond-incident",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.is_healthy }}",
                      "rightValue": ""
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "INCIDENT"
              }
            ]
          },
          "options": {}
        },
        "id": "93963be3-171e-4bec-b36f-f459b3ab0388",
        "name": "Status Page Router",
        "type": "n8n-nodes-base.switch",
        "position": [
          6672,
          1968
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "jsCode": "// Dedupe gate: only alert once per service incident\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.incidents) staticData.incidents = {};\n\nconst service = $json.service_name;\nconst currentIndicator = $json.indicator;\n\nif (staticData.incidents[service] === currentIndicator) {\n  // Already alerted for this exact incident state, suppress\n  return [];\n}\n\n// New incident or escalation — mark and let alert through\nstaticData.incidents[service] = currentIndicator;\nreturn [$input.item];"
        },
        "id": "267397a8-c9ad-4948-949f-433339fc68d8",
        "name": "Dedupe Gate Incident",
        "type": "n8n-nodes-base.code",
        "position": [
          6880,
          2048
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AUET92Z28",
            "mode": "id"
          },
          "text": "=:warning: *{{ $json.service_name }}* has an active incident\n\nStatus: `{{ $json.indicator }}` — {{ $json.description }}\nChecked at: {{ $json.checked_at }}\n:link: {{ $json.status_page_url }}",
          "otherOptions": {}
        },
        "id": "23093239-3bd9-443a-a996-2a76ed4947fe",
        "name": "Slack Alert Incident",
        "type": "n8n-nodes-base.slack",
        "position": [
          7104,
          2048
        ],
        "typeVersion": 2.2,
        "webhookId": "fa68049d-4207-4b61-835e-4e75569c915f",
        "credentials": {
          "slackApi": {
            "id": "obEYVo8oQOJ22JqX",
            "name": "AD Admin Bot"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Clear recovered services from static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.incidents) staticData.incidents = {};\n\nconst service = $json.service_name;\nconst wasIncident = staticData.incidents[service];\n\nif (wasIncident) {\n  delete staticData.incidents[service];\n  // Pass through for recovery alert\n  return [{ json: { ...$json, previous_indicator: wasIncident } }];\n}\n\n// Was not tracked as incident, no recovery alert needed\nreturn [];"
        },
        "id": "5e0c42d0-3d77-4670-9e61-9af0d550cbd9",
        "name": "Clear Recovered Services",
        "type": "n8n-nodes-base.code",
        "position": [
          6880,
          1888
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AUET92Z28",
            "mode": "id"
          },
          "text": "=:large_green_circle: *{{ $json.service_name }}* incident resolved\n\nStatus is now healthy.\nPrevious state: `{{ $json.previous_indicator }}`\nChecked at: {{ $json.checked_at }}\n:link: {{ $json.status_page_url }}",
          "otherOptions": {}
        },
        "id": "1de8344b-7dbe-43cb-85ff-535829b38b30",
        "name": "Slack Alert Service Recovered",
        "type": "n8n-nodes-base.slack",
        "position": [
          7104,
          1888
        ],
        "typeVersion": 2.2,
        "webhookId": "0a3a3fd1-7660-47f0-ac5e-89a7658756b0",
        "credentials": {
          "slackApi": {
            "id": "obEYVo8oQOJ22JqX",
            "name": "AD Admin Bot"
          }
        }
      },
      {
        "parameters": {
          "content": "# Homelab Uptime Monitor v2\n\n**Schedule:** Every 5 minutes\n**Alert channel:** Slack\n**Deduplication:** Uses workflow static data — alerts once per outage, then on recovery.\n\n### Branch 1 — HTTP Checks (top)\nCheck → UP path clears static data (recovery alert if was down)\nCheck → DOWN → wait 10s → recheck → CONFIRMED DOWN → dedupe gate → alert once\n**33 sites:** 27 homelab + 6 external\n\n### Branch 2 — Status Page APIs (bottom)\nFetch → parse → HEALTHY clears static data (recovery alert if was incident)\nFetch → parse → INCIDENT → dedupe gate → alert once per indicator change\n**9 services:** Claude, OpenAI, GitHub, Cloudflare, Slack, Atlassian, Zoom, JumpCloud, Monday",
          "height": 380,
          "width": 520,
          "color": 4
        },
        "id": "2ce41629-932a-4663-ad13-fd769b5ccff8",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          5120,
          1152
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "Every 5 Minutes": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config": {
        "main": [
          [
            {
              "node": "Parse URLs",
              "type": "main",
              "index": 0
            },
            {
              "node": "Parse Status Pages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse URLs": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Check Site",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Site": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Calculate Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Status": {
        "main": [
          [
            {
              "node": "Status Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Status Router": {
        "main": [
          [
            {
              "node": "Clear Recovered Sites",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait for Recheck",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clear Recovered Sites": {
        "main": [
          [
            {
              "node": "Slack Alert RECOVERED",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait for Recheck": {
        "main": [
          [
            {
              "node": "Recheck Site",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Recheck Site": {
        "main": [
          [
            {
              "node": "Recheck Status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Recheck Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Recheck Status": {
        "main": [
          [
            {
              "node": "Recheck Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Recheck Router": {
        "main": [
          [],
          [
            {
              "node": "Dedupe Gate DOWN",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dedupe Gate DOWN": {
        "main": [
          [
            {
              "node": "Slack Alert DOWN",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Status Pages": {
        "main": [
          [
            {
              "node": "Split Status Pages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Status Pages": {
        "main": [
          [
            {
              "node": "Extract Name & URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Name & URL": {
        "main": [
          [
            {
              "node": "Fetch Status API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Status API": {
        "main": [
          [
            {
              "node": "Parse Status Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Parse Status Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Status Response": {
        "main": [
          [
            {
              "node": "Status Page Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Status Page Router": {
        "main": [
          [
            {
              "node": "Clear Recovered Services",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Dedupe Gate Incident",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clear Recovered Services": {
        "main": [
          [
            {
              "node": "Slack Alert Service Recovered",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dedupe Gate Incident": {
        "main": [
          [
            {
              "node": "Slack Alert Incident",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version c128c7b6",
    "description": "",
    "autosaved": true
  },
  "tags": []
}