PI workflows backup 2026-05-13 21-00/Monday Recurring Tasks.json
{
  "updatedAt": "2026-04-16T20:05:05.286Z",
  "createdAt": "2026-04-16T19:39:42.532Z",
  "id": "ygVkPDKgR05ZUorc",
  "name": "Monday Recurring Tasks",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 0 * * *"
            }
          ]
        }
      },
      "id": "2d813a36-68f9-49ad-a639-37a955dfc4da",
      "name": "Daily 00:05",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "API-Version",
              "value": "2024-10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: `query { boards(ids: 5093821351) { groups { id title } } }` }) }}",
        "options": {}
      },
      "id": "3d3baeb9-949a-4c7b-9a14-4b90aaf527b3",
      "name": "Get All Groups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -32
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DEEjaXy7pOncZeQ1",
          "name": "Monday.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const groups = $input.first().json?.data?.boards?.[0]?.groups || [];\nconst tpl = groups.find(g => g.title.toLowerCase() === 'templates');\nif (!tpl) throw new Error('Templates group not found on board');\nreturn [{ json: { templatesGroupId: tpl.id } }];"
      },
      "id": "05d45571-ada4-4b52-85be-bc9914b4c098",
      "name": "Find Templates Group ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "API-Version",
              "value": "2024-10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: `query { boards(ids: 5093821351) { groups(ids: \"${$json.templatesGroupId}\") { items_page(limit: 100) { items { id name column_values(ids: [\"priority\"]) { id text value } } } } } }` }) }}",
        "options": {}
      },
      "id": "a6c27e5e-dfe3-4f6b-a337-5552ecc309ff",
      "name": "Fetch Templates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -32
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DEEjaXy7pOncZeQ1",
          "name": "Monday.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Israel time today\nconst fmt = new Intl.DateTimeFormat('en-GB', { timeZone: 'Asia/Jerusalem', year: 'numeric', month: '2-digit', day: '2-digit', weekday: 'short' });\nconst parts = fmt.formatToParts(new Date());\nconst day = parts.find(p => p.type === 'day').value;\nconst weekday = parts.find(p => p.type === 'weekday').value.toUpperCase();\nconst items = $input.first().json?.data?.boards?.[0]?.groups?.[0]?.items_page?.items || [];\nconst toCreate = [];\nfor (const item of items) {\n  const name = item.name;\n  let shouldCreate = false;\n  let cleanName = name;\n  const daily = name.match(/^\\[DAILY\\]\\s*(.+)$/);\n  if (daily) { shouldCreate = true; cleanName = daily[1]; }\n  const weekly = name.match(/^\\[WEEKLY:([A-Z]{3})\\]\\s*(.+)$/);\n  if (weekly && weekly[1] === weekday) { shouldCreate = true; cleanName = weekly[2]; }\n  const monthly = name.match(/^\\[MONTHLY:(\\d{1,2})\\]\\s*(.+)$/);\n  if (monthly && monthly[1].padStart(2, '0') === day) { shouldCreate = true; cleanName = monthly[2]; }\n  if (shouldCreate) {\n    const pri = (item.column_values || []).find(c => c.id === 'priority');\n    toCreate.push({ json: { name: cleanName, priority: pri?.text || 'Medium' } });\n  }\n}\nreturn toCreate;"
      },
      "id": "eeacf5c4-0d74-450f-a58c-4fc049f40814",
      "name": "Filter Today's Recurring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "API-Version",
              "value": "2024-10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: `mutation ($cv: JSON!) { create_item(board_id: 5093821351, group_id: \"new_group29179\", item_name: ${JSON.stringify($json.name)}, column_values: $cv) { id } }`, variables: { cv: JSON.stringify({ 'priority': { label: $json.priority }, 'date': { date: new Date().toISOString().split('T')[0] } }) } }) }}",
        "options": {}
      },
      "id": "ed510cff-bbe0-447d-a3f5-40d4465cbfa3",
      "name": "Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        -32
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DEEjaXy7pOncZeQ1",
          "name": "Monday.com"
        }
      }
    }
  ],
  "connections": {
    "Daily 00:05": {
      "main": [
        [
          {
            "node": "Get All Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Groups": {
      "main": [
        [
          {
            "node": "Find Templates Group ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Templates Group ID": {
      "main": [
        [
          {
            "node": "Fetch Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Templates": {
      "main": [
        [
          {
            "node": "Filter Today's Recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Today's Recurring": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily 00:05": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "81e6dff5-26a0-4e14-9f53-12985a493d0b",
  "activeVersionId": "81e6dff5-26a0-4e14-9f53-12985a493d0b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-16T19:39:42.534Z",
      "createdAt": "2026-04-16T19:39:42.534Z",
      "role": "workflow:owner",
      "workflowId": "ygVkPDKgR05ZUorc",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-16T20:04:58.000Z",
    "createdAt": "2026-04-16T20:04:18.931Z",
    "versionId": "81e6dff5-26a0-4e14-9f53-12985a493d0b",
    "workflowId": "ygVkPDKgR05ZUorc",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "5 0 * * *"
              }
            ]
          }
        },
        "id": "2d813a36-68f9-49ad-a639-37a955dfc4da",
        "name": "Daily 00:05",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -288,
          -32
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.monday.com/v2",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "API-Version",
                "value": "2024-10"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query: `query { boards(ids: 5093821351) { groups { id title } } }` }) }}",
          "options": {}
        },
        "id": "3d3baeb9-949a-4c7b-9a14-4b90aaf527b3",
        "name": "Get All Groups",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          -32
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DEEjaXy7pOncZeQ1",
            "name": "Monday.com"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const groups = $input.first().json?.data?.boards?.[0]?.groups || [];\nconst tpl = groups.find(g => g.title.toLowerCase() === 'templates');\nif (!tpl) throw new Error('Templates group not found on board');\nreturn [{ json: { templatesGroupId: tpl.id } }];"
        },
        "id": "05d45571-ada4-4b52-85be-bc9914b4c098",
        "name": "Find Templates Group ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          -32
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.monday.com/v2",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "API-Version",
                "value": "2024-10"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query: `query { boards(ids: 5093821351) { groups(ids: \"${$json.templatesGroupId}\") { items_page(limit: 100) { items { id name column_values(ids: [\"priority\"]) { id text value } } } } } }` }) }}",
          "options": {}
        },
        "id": "a6c27e5e-dfe3-4f6b-a337-5552ecc309ff",
        "name": "Fetch Templates",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          -32
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DEEjaXy7pOncZeQ1",
            "name": "Monday.com"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Israel time today\nconst fmt = new Intl.DateTimeFormat('en-GB', { timeZone: 'Asia/Jerusalem', year: 'numeric', month: '2-digit', day: '2-digit', weekday: 'short' });\nconst parts = fmt.formatToParts(new Date());\nconst day = parts.find(p => p.type === 'day').value;\nconst weekday = parts.find(p => p.type === 'weekday').value.toUpperCase();\nconst items = $input.first().json?.data?.boards?.[0]?.groups?.[0]?.items_page?.items || [];\nconst toCreate = [];\nfor (const item of items) {\n  const name = item.name;\n  let shouldCreate = false;\n  let cleanName = name;\n  const daily = name.match(/^\\[DAILY\\]\\s*(.+)$/);\n  if (daily) { shouldCreate = true; cleanName = daily[1]; }\n  const weekly = name.match(/^\\[WEEKLY:([A-Z]{3})\\]\\s*(.+)$/);\n  if (weekly && weekly[1] === weekday) { shouldCreate = true; cleanName = weekly[2]; }\n  const monthly = name.match(/^\\[MONTHLY:(\\d{1,2})\\]\\s*(.+)$/);\n  if (monthly && monthly[1].padStart(2, '0') === day) { shouldCreate = true; cleanName = monthly[2]; }\n  if (shouldCreate) {\n    const pri = (item.column_values || []).find(c => c.id === 'priority');\n    toCreate.push({ json: { name: cleanName, priority: pri?.text || 'Medium' } });\n  }\n}\nreturn toCreate;"
        },
        "id": "eeacf5c4-0d74-450f-a58c-4fc049f40814",
        "name": "Filter Today's Recurring",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          -32
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.monday.com/v2",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "API-Version",
                "value": "2024-10"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query: `mutation ($cv: JSON!) { create_item(board_id: 5093821351, group_id: \"new_group29179\", item_name: ${JSON.stringify($json.name)}, column_values: $cv) { id } }`, variables: { cv: JSON.stringify({ 'priority': { label: $json.priority }, 'date': { date: new Date().toISOString().split('T')[0] } }) } }) }}",
          "options": {}
        },
        "id": "ed510cff-bbe0-447d-a3f5-40d4465cbfa3",
        "name": "Create Task",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          896,
          -32
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DEEjaXy7pOncZeQ1",
            "name": "Monday.com"
          }
        }
      }
    ],
    "connections": {
      "Daily 00:05": {
        "main": [
          [
            {
              "node": "Get All Groups",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Groups": {
        "main": [
          [
            {
              "node": "Find Templates Group ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Templates Group ID": {
        "main": [
          [
            {
              "node": "Fetch Templates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Templates": {
        "main": [
          [
            {
              "node": "Filter Today's Recurring",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Today's Recurring": {
        "main": [
          [
            {
              "node": "Create Task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 81e6dff5",
    "description": "",
    "autosaved": true
  },
  "tags": []
}