PI workflows backup 2026-05-13 21-00/Monday Auto-Assign Owner.json
{
  "updatedAt": "2026-04-16T20:13:21.441Z",
  "createdAt": "2026-04-16T20:11:09.188Z",
  "id": "pPUt7aHL1eGtfJX9",
  "name": "Monday Auto-Assign Owner",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.assignedSet = staticData.assignedSet || {};\nconst items = $input.first().json?.data?.boards?.[0]?.items_page?.items || [];\nconst out = [];\nfor (const item of items) {\n  if (staticData.assignedSet[item.id]) continue;\n  const personCol = (item.column_values || []).find(c => c.id === 'project_owner');\n  // Skip if already assigned\n  const hasPerson = personCol?.value && personCol.value !== '{}' && personCol.value !== 'null';\n  if (hasPerson) { staticData.assignedSet[item.id] = true; continue; }\n  if (!item.creator_id) continue;\n  out.push({ json: { itemId: item.id, itemName: item.name, creatorId: item.creator_id } });\n  staticData.assignedSet[item.id] = true;\n}\nreturn out;"
      },
      "id": "71ace8ce-f64d-4741-9461-aa561d2b48df",
      "name": "Find Unassigned New",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "API-Version",
              "value": "2024-10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: `mutation ($val: JSON!) { change_column_value(board_id: 5093821351, item_id: ${$json.itemId}, column_id: \"project_owner\", value: $val) { id } }`, variables: { val: JSON.stringify({ personsAndTeams: [{ id: parseInt($json.creatorId), kind: 'person' }] }) } }) }}",
        "options": {}
      },
      "id": "a38d2cba-7fc2-48e2-b578-249f8542f302",
      "name": "Assign Creator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DEEjaXy7pOncZeQ1",
          "name": "Monday.com"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "ba28a24d-ad55-42b9-bd7e-86464b7d220e",
      "name": "Every 2 Minutes2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "API-Version",
              "value": "2024-10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: `query { boards(ids: 5093821351) { items_page(limit: 100) { items { id name created_at creator_id column_values(ids: [\"project_owner\"]) { id text value } } } } }` }) }}",
        "options": {}
      },
      "id": "a7aa227b-17f1-4902-ac7b-33286544fd0c",
      "name": "Get Items1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        -96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DEEjaXy7pOncZeQ1",
          "name": "Monday.com"
        }
      }
    }
  ],
  "connections": {
    "Find Unassigned New": {
      "main": [
        [
          {
            "node": "Assign Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 2 Minutes2": {
      "main": [
        [
          {
            "node": "Get Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Items1": {
      "main": [
        [
          {
            "node": "Find Unassigned New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Every 2 Minutes2": {
      "recurrenceRules": []
    },
    "global": {
      "assignedSet": {
        "2847517619": true,
        "2847525816": true,
        "2847578983": true,
        "2847581244": true,
        "2847594857": true,
        "2847594880": true,
        "2847617103": true,
        "2847617727": true,
        "2847617805": true,
        "2847648672": true,
        "2850085444": true,
        "2850644792": true,
        "2850658836": true,
        "2850685101": true,
        "2851039760": true,
        "2851041982": true,
        "2851063624": true,
        "2851180951": true,
        "2851181963": true,
        "2851182235": true,
        "2851200833": true,
        "2851203668": true,
        "2851209940": true,
        "2851220292": true,
        "2851234555": true,
        "2852036312": true,
        "2856817602": true,
        "2869651667": true
      }
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "6751ac34-6e65-4a2e-b83d-8f3b947144e2",
  "activeVersionId": "6751ac34-6e65-4a2e-b83d-8f3b947144e2",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-16T20:11:09.191Z",
      "createdAt": "2026-04-16T20:11:09.191Z",
      "role": "workflow:owner",
      "workflowId": "pPUt7aHL1eGtfJX9",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-16T20:13:16.000Z",
    "createdAt": "2026-04-16T20:11:11.804Z",
    "versionId": "6751ac34-6e65-4a2e-b83d-8f3b947144e2",
    "workflowId": "pPUt7aHL1eGtfJX9",
    "nodes": [
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.assignedSet = staticData.assignedSet || {};\nconst items = $input.first().json?.data?.boards?.[0]?.items_page?.items || [];\nconst out = [];\nfor (const item of items) {\n  if (staticData.assignedSet[item.id]) continue;\n  const personCol = (item.column_values || []).find(c => c.id === 'project_owner');\n  // Skip if already assigned\n  const hasPerson = personCol?.value && personCol.value !== '{}' && personCol.value !== 'null';\n  if (hasPerson) { staticData.assignedSet[item.id] = true; continue; }\n  if (!item.creator_id) continue;\n  out.push({ json: { itemId: item.id, itemName: item.name, creatorId: item.creator_id } });\n  staticData.assignedSet[item.id] = true;\n}\nreturn out;"
        },
        "id": "71ace8ce-f64d-4741-9461-aa561d2b48df",
        "name": "Find Unassigned New",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          -96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.monday.com/v2",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "API-Version",
                "value": "2024-10"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query: `mutation ($val: JSON!) { change_column_value(board_id: 5093821351, item_id: ${$json.itemId}, column_id: \"project_owner\", value: $val) { id } }`, variables: { val: JSON.stringify({ personsAndTeams: [{ id: parseInt($json.creatorId), kind: 'person' }] }) } }) }}",
          "options": {}
        },
        "id": "a38d2cba-7fc2-48e2-b578-249f8542f302",
        "name": "Assign Creator",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          544,
          -96
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DEEjaXy7pOncZeQ1",
            "name": "Monday.com"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 2
              }
            ]
          }
        },
        "id": "ba28a24d-ad55-42b9-bd7e-86464b7d220e",
        "name": "Every 2 Minutes2",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -112,
          -96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.monday.com/v2",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "API-Version",
                "value": "2024-10"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query: `query { boards(ids: 5093821351) { items_page(limit: 100) { items { id name created_at creator_id column_values(ids: [\"project_owner\"]) { id text value } } } } }` }) }}",
          "options": {}
        },
        "id": "a7aa227b-17f1-4902-ac7b-33286544fd0c",
        "name": "Get Items1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          112,
          -96
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DEEjaXy7pOncZeQ1",
            "name": "Monday.com"
          }
        }
      }
    ],
    "connections": {
      "Find Unassigned New": {
        "main": [
          [
            {
              "node": "Assign Creator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every 2 Minutes2": {
        "main": [
          [
            {
              "node": "Get Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Items1": {
        "main": [
          [
            {
              "node": "Find Unassigned New",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 6751ac34",
    "description": "",
    "autosaved": true
  },
  "tags": []
}