PI workflows backup 2026-05-30 14-09/Board Status Change Monitor.json
{
  "updatedAt": "2026-04-21T14:44:43.487Z",
  "createdAt": "2026-04-16T18:25:12.801Z",
  "id": "wDA8rNN2DTmwfgrv",
  "name": "Board Status Change Monitor",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "API-Version",
              "value": "2024-10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: `query { boards(ids: 5093821351) { items_page(limit: 200) { items { id name updated_at state column_values(ids: [\"project_status\", \"project_owner\"]) { id text value } } } } }` }) }}",
        "options": {}
      },
      "id": "9afded6b-850e-42ed-a40e-6c50754306a3",
      "name": "Get All Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        -128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DEEjaXy7pOncZeQ1",
          "name": "Monday.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.lastStatus = staticData.lastStatus || {};\nconst items = $input.first().json?.data?.boards?.[0]?.items_page?.items || [];\nconst changes = [];\nfor (const item of items) {\n  if (item.state !== 'active') continue;\n  const statusCol = (item.column_values || []).find(c => c.id === 'project_status');\n  const ownerCol = (item.column_values || []).find(c => c.id === 'project_owner');\n  const currentText = statusCol?.text || 'Not Started';\n  const owner = ownerCol?.text || 'Unassigned';\n  const prevText = staticData.lastStatus[item.id];\n  if (prevText !== undefined && prevText !== currentText) {\n    changes.push({ json: { itemId: item.id, itemName: item.name, from: prevText, to: currentText, owner, url: `https://alex-it.monday.com/boards/5093821351/pulses/${item.id}` } });\n  }\n  staticData.lastStatus[item.id] = currentText;\n}\nreturn changes.length ? changes : [];"
      },
      "id": "00bbed50-8c01-4c51-8ffe-1c57c36b5555",
      "name": "Detect Status Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -128
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ATBUJS329",
          "mode": "id"
        },
        "text": "=:arrows_counterclockwise: *{{$json.itemName}}*\n\n*Status:*  `{{$json.from}}` → `{{$json.to}}`\n*Owner:*  {{$json.owner}}\n\n<{{$json.url}}|Open in Monday>",
        "otherOptions": {}
      },
      "id": "cc99596f-ad57-4eba-84fc-db6239ea5b72",
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        320,
        -128
      ],
      "webhookId": "7d455e3b-5efb-4545-8bd3-0b67d9774b74",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "66791a65-a7e7-4395-a732-a0390e16f7c3",
      "name": "Every 10 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        -128
      ]
    }
  ],
  "connections": {
    "Get All Items": {
      "main": [
        [
          {
            "node": "Detect Status Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Status Changes": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 10 Seconds": {
      "main": [
        [
          {
            "node": "Get All Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Every 10 Seconds": {
      "recurrenceRules": []
    },
    "global": {
      "lastStatus": {
        "2847510444": "Done",
        "2847513495": "Done",
        "2847514047": "Working on it",
        "2847517619": "Working on it",
        "2847518943": "Done",
        "2847525816": "Review",
        "2847541345": "Working on it",
        "2847541371": "Working on it",
        "2847555083": "Not Started",
        "2847564887": "Not Started",
        "2847578983": "Done",
        "2847581244": "Not Started",
        "2847594857": "Not Started",
        "2847594880": "Not Started",
        "2847617103": "Not Started",
        "2847617727": "Not Started",
        "2847617805": "Not Started",
        "2847625151": "Review",
        "2847625270": "Review",
        "2847626542": "Not Started",
        "2847648672": "Not Started",
        "2847652533": "Not Started",
        "2850085444": "Not Started",
        "2850644792": "Not Started",
        "2850658836": "Not Started",
        "2850685101": "Not Started",
        "2850971529": "Not Started",
        "2851039760": "Not Started",
        "2851041982": "Not Started",
        "2851063624": "Not Started",
        "2851151558": "Working on it",
        "2851180951": "Not Started",
        "2851181963": "Not Started",
        "2851182235": "Not Started",
        "2851200833": "Not Started",
        "2851203668": "Not Started",
        "2851208785": "Not Started",
        "2851209940": "Not Started",
        "2851220292": "Not Started",
        "2851234555": "Not Started",
        "2851243558": "Not Started",
        "2852036312": "Done",
        "2856817602": "Done",
        "2869651667": "Done"
      }
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "5bda915a-cc1c-4942-81a9-87f7b323e93a",
  "activeVersionId": "5bda915a-cc1c-4942-81a9-87f7b323e93a",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-16T18:25:12.806Z",
      "createdAt": "2026-04-16T18:25:12.806Z",
      "role": "workflow:owner",
      "workflowId": "wDA8rNN2DTmwfgrv",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-21T14:44:48.000Z",
    "createdAt": "2026-04-21T14:44:43.488Z",
    "versionId": "5bda915a-cc1c-4942-81a9-87f7b323e93a",
    "workflowId": "wDA8rNN2DTmwfgrv",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.monday.com/v2",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "API-Version",
                "value": "2024-10"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query: `query { boards(ids: 5093821351) { items_page(limit: 200) { items { id name updated_at state column_values(ids: [\"project_status\", \"project_owner\"]) { id text value } } } } }` }) }}",
          "options": {}
        },
        "id": "9afded6b-850e-42ed-a40e-6c50754306a3",
        "name": "Get All Items",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -112,
          -128
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DEEjaXy7pOncZeQ1",
            "name": "Monday.com"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.lastStatus = staticData.lastStatus || {};\nconst items = $input.first().json?.data?.boards?.[0]?.items_page?.items || [];\nconst changes = [];\nfor (const item of items) {\n  if (item.state !== 'active') continue;\n  const statusCol = (item.column_values || []).find(c => c.id === 'project_status');\n  const ownerCol = (item.column_values || []).find(c => c.id === 'project_owner');\n  const currentText = statusCol?.text || 'Not Started';\n  const owner = ownerCol?.text || 'Unassigned';\n  const prevText = staticData.lastStatus[item.id];\n  if (prevText !== undefined && prevText !== currentText) {\n    changes.push({ json: { itemId: item.id, itemName: item.name, from: prevText, to: currentText, owner, url: `https://alex-it.monday.com/boards/5093821351/pulses/${item.id}` } });\n  }\n  staticData.lastStatus[item.id] = currentText;\n}\nreturn changes.length ? changes : [];"
        },
        "id": "00bbed50-8c01-4c51-8ffe-1c57c36b5555",
        "name": "Detect Status Changes",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          96,
          -128
        ]
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ATBUJS329",
            "mode": "id"
          },
          "text": "=:arrows_counterclockwise: *{{$json.itemName}}*\n\n*Status:*  `{{$json.from}}` → `{{$json.to}}`\n*Owner:*  {{$json.owner}}\n\n<{{$json.url}}|Open in Monday>",
          "otherOptions": {}
        },
        "id": "cc99596f-ad57-4eba-84fc-db6239ea5b72",
        "name": "Slack Notify",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.2,
        "position": [
          320,
          -128
        ],
        "webhookId": "7d455e3b-5efb-4545-8bd3-0b67d9774b74",
        "credentials": {
          "slackApi": {
            "id": "obEYVo8oQOJ22JqX",
            "name": "AD Admin Bot"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds",
                "secondsInterval": 10
              }
            ]
          }
        },
        "id": "66791a65-a7e7-4395-a732-a0390e16f7c3",
        "name": "Every 10 Seconds",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -336,
          -128
        ]
      }
    ],
    "connections": {
      "Get All Items": {
        "main": [
          [
            {
              "node": "Detect Status Changes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect Status Changes": {
        "main": [
          [
            {
              "node": "Slack Notify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every 10 Seconds": {
        "main": [
          [
            {
              "node": "Get All Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 5bda915a",
    "description": "",
    "autosaved": true
  },
  "tags": []
}