PI workflows backup 2026-04-25 16-18/PI Workflows Backup.json
{
  "updatedAt": "2026-04-25T13:17:51.547Z",
  "createdAt": "2025-08-31T19:35:34.809Z",
  "id": "lIAp2PZeA0MG7QiE",
  "name": "PI Workflows Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "PUT",
        "url": "/repos/alexxx55555/n8n-Raspberry-PI-Workflow-Backup/contents/README.md",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -25376,
        9584
      ],
      "id": "7df20757-f4fc-41da-b2bc-45e611ca71ae",
      "name": "GitHub Upsert README",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const readmeData = $('Create README Text').first().json;\nconst text = (readmeData.readme || '# PI workflows backup\\n\\n(empty)').replace(/\\r?\\n/g, '\\n');\n\n// Get README SHA from cleanup listing (if it exists)\nlet sha = '';\ntry {\n  const rootItems = $('GH List Root (cleanup)').all();\n  const readmeItem = rootItems.find(i => i.json?.name === 'README.md');\n  sha = readmeItem?.json?.sha || '';\n} catch(e) { sha = ''; }\n\nreturn {\n  json: {\n    sha,\n    folderName: readmeData.folderName,\n    ghUrl: readmeData.ghUrl,\n    workflowCount: readmeData.workflowCount\n  },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
      },
      "id": "3fe82cbb-61d1-4b41-a590-11217d0e1155",
      "name": "Make README Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25680,
        9584
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $items('Normalize Filename1') || [];\n\nconst folderName = allItems[0]?.json?.folderName || 'PI workflows backup';\nconst timestamp  = allItems[0]?.json?.timestamp  || $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm');\n\nconst workflowNames = allItems.map(i => i.json?.workflowName).filter(Boolean);\n\nconst OWNER  = 'alexxx55555';\nconst REPO   = 'n8n-Raspberry-PI-Workflow-Backup';\nconst BRANCH = 'main';\n\nconst encodedFolder = encodeURIComponent(folderName);\nconst ghUrl = `https://github.com/${OWNER}/${REPO}/tree/${BRANCH}/${encodedFolder}`;\n\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join('\\n') : '- (no workflows found)'}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{ json: { readme, timestamp, folderName, ghUrl, workflowCount: workflowNames.length } }];"
      },
      "id": "e8afd58d-2146-450c-ad52-8d6b835fa405",
      "name": "Create README Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25904,
        9584
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "alexxx55555",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{ $json.folderName }}/{{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "=PI workflows backup: {{ $json.name }} - {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm') }}",
        "additionalParameters": {
          "author": {
            "name": "PI workflows backup",
            "email": "vinokura@alex-it.net"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -26160,
        9584
      ],
      "id": "e98374b6-f74c-4d19-9ed9-dbb150039bf4",
      "name": "GitHub Backup (sanitized)",
      "webhookId": "114a3d57-956f-449c-8f2a-4f795d6a79b4",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Re-attach binary from Normalize Filename1 for GitHub upload\nconst idx = $itemIndex;\nconst normItem = $items('Normalize Filename1')[idx];\n\nreturn {\n  json: normItem.json,\n  binary: normItem.binary\n};"
      },
      "id": "7c51fce5-06fb-4890-9daa-d5d23ccab4f2",
      "name": "Restore Binary for GitHub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26384,
        9584
      ]
    },
    {
      "parameters": {
        "name": "=",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $items('Create Drive Folder')[0].json['id'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -26624,
        9584
      ],
      "id": "b5fef544-95b4-4083-91f5-779f67a6bfe9",
      "name": "Upload file to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n  const safe = orig.replace(/[\\/\\\\]+/g, '-').replace(/\\s+/g, ' ').trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;\n  json.timestamp = timestamp;\n\n  return { json, binary: bin };\n});"
      },
      "id": "ff15075b-a9f9-426f-8686-d583354d57b9",
      "name": "Normalize Filename1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26832,
        9584
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -27024,
        9584
      ],
      "id": "cb608a5c-4958-446e-b921-08233e83880d",
      "name": "workflow Export"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -27248,
        9600
      ],
      "id": "39c4727d-d5b4-4030-9d74-7d9388bcaecb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -27488,
        9600
      ],
      "id": "e5297d86-87a3-4670-8686-b768b194f630",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "SKAlyF2lhIc4Qqwz",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge point — just pass a single item to trigger the backup\nreturn [{ json: { cleanup: 'done' } }];"
      },
      "id": "5e4187ad-5675-46c4-90db-b87bd132e6be",
      "name": "Cleanup Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -27712,
        9600
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{ $json.path }}",
        "commitMessage": "=Cleanup: delete {{ $json.path }}"
      },
      "id": "dae83136-ec48-4402-af51-1833afd148f1",
      "name": "GH Delete README",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -28368,
        9600
      ],
      "webhookId": "cleanup-readme-delete",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{ $json.path }}",
        "commitMessage": "=Cleanup: delete {{ $json.path }}"
      },
      "id": "438d8f52-e6c6-452e-93f9-f9de429ce3fa",
      "name": "GH Delete Folder Files",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -27936,
        9312
      ],
      "webhookId": "e025f017-c79c-43d7-9d57-876995308d6e",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return $items()\n  .filter(i => i.json?.type === 'file' && i.json?.path && i.json?.sha)\n  .map(i => ({ json: { path: i.json.path, sha: i.json.sha } }));"
      },
      "id": "b482256d-99b1-4757-9e65-f7f281ee0ad9",
      "name": "Extract Files from Folder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -28144,
        9312
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        },
        "filePath": "={{ $json.path }}"
      },
      "id": "20daf91d-afb6-45d1-92ae-55fb2cd6cd48",
      "name": "GH List Files In Folder (cleanup)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -28368,
        9312
      ],
      "webhookId": "747bc648-6d4a-4730-be63-a90383c026e9",
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.itemType }}",
              "rightValue": "dir",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "c444bec9-de81-46d9-9c78-77020fb89d97",
      "name": "IF Is Dir?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -28592,
        9424
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect ALL backup folders and README for deletion\nconst items = $items();\n\n// All backup folders\nconst folders = items\n  .filter(i => i.json?.type === 'dir' && i.json?.name?.startsWith('PI workflows backup '))\n  .map(i => ({ path: i.json.path, name: i.json.name, itemType: 'dir' }));\n\n// README.md\nconst readme = items\n  .filter(i => i.json?.type === 'file' && i.json?.name === 'README.md')\n  .map(i => ({ path: i.json.path, sha: i.json.sha, itemType: 'file' }));\n\nconst toDelete = [\n  ...folders.map(f => ({ json: f })),\n  ...readme.map(r => ({ json: r }))\n];\n\nif (toDelete.length === 0) return [{ json: { nothing: true } }];\nreturn toDelete;"
      },
      "id": "ced4957d-8a81-4688-82e5-1bc3e59d4948",
      "name": "Find Old Content to Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -28816,
        9424
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "alexxx55555",
        "repository": {
          "__rl": true,
          "value": "n8n-Raspberry-PI-Workflow-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
          "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
        }
      },
      "id": "cbfe022a-d646-4547-ac41-21a1e083943f",
      "name": "GH List Root (cleanup)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -29024,
        9424
      ],
      "webhookId": "1e8231ce-81e7-4996-887a-4350ee5cc069",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "A8VxApqWkWn0Bbxk",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=PI workflows backup {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH-mm') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {
          "folderColorRgb": "#920909"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -29264,
        9424
      ],
      "id": "87b00d88-33f7-4f4f-9ce2-cdc838cd65cd",
      "name": "Create Drive Folder",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "deleteFolder",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "deletePermanently": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -29488,
        9424
      ],
      "id": "241a32ac-40ab-41cd-bf10-05dd7b0adc04",
      "name": "Delete Old Drive Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "PI workflows backup",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -29712,
        9424
      ],
      "id": "d26d2176-c621-4dc9-b5f8-7a4876590209",
      "name": "Search Drive Folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "92XkOPWlG0thbyjc",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -29936,
        9424
      ],
      "id": "0b639637-2c6a-4832-bee2-2cf7b149cd36",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJC2985U2",
          "mode": "id"
        },
        "text": "=✅ *PI Workflows Backup Complete*\n\n📁 *Folder:* `{{ $('Create README Text').item.json.folderName }}`\n🔢 *Workflows backed up:* {{ $('Create README Text').item.json.workflowCount }}\n🔗 *GitHub:* {{ $('Create README Text').item.json.ghUrl }}\n💾 *Google Drive:* <https://drive.google.com/drive/folders/{{ $('Create Drive Folder').item.json.id }}|Open in Drive>\n🕐 *Time:* {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -25120,
        9584
      ],
      "id": "85d481f3-5477-40ef-b1ba-36f3539daf0a",
      "name": "Slack Backup Complete",
      "webhookId": "ae0474ea-5ed2-42f2-87c5-73e6b0c98c70",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJC2985U2",
          "mode": "id"
        },
        "text": "=❌ *PI Workflows Backup FAILED*\n\n🔴 *Error:* {{ $json.execution.error.message }}\n📍 *Failed node:* {{ $json.execution.lastNodeExecuted }}\n🆔 *Execution ID:* {{ $json.execution.id }}\n🔗 *Execution URL:* https://n8n.pi.alex-it.net/executions/{{ $json.execution.id }}\n🕐 *Time:* {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -28256,
        9920
      ],
      "id": "e4198660-9ff4-4a13-beb6-b59022190049",
      "name": "Slack Backup Error",
      "webhookId": "176c4a72-790c-4b2e-a0e9-984f83192b23",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -28576,
        9920
      ],
      "id": "d985c1a2-e070-41ca-83a4-8ab96a9c22f0",
      "name": "Error Trigger Backup"
    }
  ],
  "connections": {
    "Make README Binary": {
      "main": [
        [
          {
            "node": "GitHub Upsert README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create README Text": {
      "main": [
        [
          {
            "node": "Make README Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Backup (sanitized)": {
      "main": [
        [
          {
            "node": "Create README Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Binary for GitHub": {
      "main": [
        [
          {
            "node": "GitHub Backup (sanitized)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file to Drive": {
      "main": [
        [
          {
            "node": "Restore Binary for GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Filename1": {
      "main": [
        [
          {
            "node": "Upload file to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow Export": {
      "main": [
        [
          {
            "node": "Normalize Filename1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "workflow Export",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Done": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH Delete README": {
      "main": [
        [
          {
            "node": "Cleanup Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH Delete Folder Files": {
      "main": [
        [
          {
            "node": "Cleanup Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Files from Folder": {
      "main": [
        [
          {
            "node": "GH Delete Folder Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Files In Folder (cleanup)": {
      "main": [
        [
          {
            "node": "Extract Files from Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Dir?": {
      "main": [
        [
          {
            "node": "GH List Files In Folder (cleanup)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GH Delete README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Old Content to Delete": {
      "main": [
        [
          {
            "node": "IF Is Dir?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH List Root (cleanup)": {
      "main": [
        [
          {
            "node": "Find Old Content to Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive Folder": {
      "main": [
        [
          {
            "node": "GH List Root (cleanup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Drive Folder": {
      "main": [
        [
          {
            "node": "Create Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Drive Folders": {
      "main": [
        [
          {
            "node": "Delete Old Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search Drive Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Upsert README": {
      "main": [
        [
          {
            "node": "Slack Backup Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger Backup": {
      "main": [
        [
          {
            "node": "Slack Backup Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "binaryMode": "separate",
    "availableInMCP": false,
    "errorWorkflow": "lIAp2PZeA0MG7QiE"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        16
      ]
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": [
        20
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e7690386-b997-47ce-9a1f-06e4945ab4bf",
  "activeVersionId": "97f99e74-9af0-432b-b6b1-eff3ed7ed589",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T09:14:00.800Z",
      "createdAt": "2025-10-31T09:14:00.800Z",
      "role": "workflow:owner",
      "workflowId": "lIAp2PZeA0MG7QiE",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-07T11:55:33.000Z",
    "createdAt": "2026-04-07T11:55:25.373Z",
    "versionId": "97f99e74-9af0-432b-b6b1-eff3ed7ed589",
    "workflowId": "lIAp2PZeA0MG7QiE",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -25552,
          9072
        ],
        "id": "a56384e5-6d05-4ae6-bd87-c235059e2f70",
        "name": "Error Trigger Backup"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AJC2985U2",
            "mode": "id"
          },
          "text": "=❌ *PI Workflows Backup FAILED*\n\n🔴 *Error:* {{ $json.execution.error.message }}\n📍 *Failed node:* {{ $json.execution.lastNodeExecuted }}\n🆔 *Execution ID:* {{ $json.execution.id }}\n🔗 *Execution URL:* https://n8n.pi.alex-it.net/executions/{{ $json.execution.id }}\n🕐 *Time:* {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm') }}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          -25232,
          9072
        ],
        "id": "7ab155ae-c095-4fef-a6fe-b4a092a45d14",
        "name": "Slack Backup Error",
        "webhookId": "176c4a72-790c-4b2e-a0e9-984f83192b23",
        "credentials": {
          "slackApi": {
            "id": "obEYVo8oQOJ22JqX",
            "name": "AD Admin Bot"
          }
        }
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AJC2985U2",
            "mode": "id"
          },
          "text": "=✅ *PI Workflows Backup Complete*\n\n📁 *Folder:* `{{ $('Create README Text').item.json.folderName }}`\n🔢 *Workflows backed up:* {{ $('Create README Text').item.json.workflowCount }}\n🔗 *GitHub:* {{ $('Create README Text').item.json.ghUrl }}\n💾 *Google Drive:* Backed up to `My Drive/{{ $('Create README Text').item.json.folderName }}`\n🕐 *Time:* {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm') }}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          -25488,
          8656
        ],
        "id": "4478f81f-f172-42a8-92bf-2b789f74e834",
        "name": "Slack Backup Complete",
        "webhookId": "ae0474ea-5ed2-42f2-87c5-73e6b0c98c70",
        "credentials": {
          "slackApi": {
            "id": "obEYVo8oQOJ22JqX",
            "name": "AD Admin Bot"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const dt = $now.setZone('Asia/Jerusalem');\nconst folderName = `PI workflows backup ${dt.toFormat('yyyy-MM-dd HH-mm')}`;\nconst timestamp = dt.toFormat('yyyy-MM-dd HH:mm');\n\nreturn $items().map((item) => {\n  const json = item.json || {};\n  const bin  = item.binary || {};\n  const data = bin.data || {};\n\n  const orig = (data.fileName || (json.name ? json.name + '.json' : 'workflow.json')).toString();\n  const safe = orig.replace(/[\\/\\\\]+/g, '-').replace(/\\s+/g, ' ').trim();\n\n  bin.data = Object.assign({}, data, { fileName: safe });\n  json.workflowName = json.name || safe.replace('.json', '');\n  json.folderName = folderName;\n  json.timestamp = timestamp;\n\n  return { json, binary: bin };\n});"
        },
        "id": "ac0af28b-d216-49de-a51e-cbe18d96abbe",
        "name": "Normalize Filename1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -28176,
          9360
        ]
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -28768,
          9376
        ],
        "id": "48fd5c20-8ca3-4822-a6f0-91d19e104232",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "SKAlyF2lhIc4Qqwz",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -28576,
          9376
        ],
        "id": "37ec8220-928d-49e1-801f-4911ec2c512d",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const name = $json.name || 'workflow-backup';\nconst filename = name + '.json';\nconst fileContent = JSON.stringify($json, null, 2);\n\nreturn {\n  json: { name: name },\n  binary: {\n    data: {\n      data: Buffer.from(fileContent).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -28368,
          9360
        ],
        "id": "ed514f53-56c9-42d9-90f2-d87d5ecca6cd",
        "name": "workflow Export"
      },
      {
        "parameters": {
          "name": "=",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $items('Create Drive Folder')[0].json['id'] }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -27952,
          9248
        ],
        "id": "90079312-fd92-46e9-943b-406a9ded0da1",
        "name": "Upload file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "alexxx55555",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{ $json.folderName }}/{{ $binary.data.fileName }}",
          "binaryData": true,
          "commitMessage": "=PI workflows backup: {{ $json.name }} - {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm') }}",
          "additionalParameters": {
            "author": {
              "name": "PI workflows backup",
              "email": "vinokura@alex-it.net"
            }
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -27968,
          9472
        ],
        "id": "d53610a7-bec6-4735-8145-c014515c5a5d",
        "name": "GitHub Backup (sanitized)",
        "webhookId": "114a3d57-956f-449c-8f2a-4f795d6a79b4",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const allItems = $items('Normalize Filename1') || [];\n\nconst folderName = allItems[0]?.json?.folderName || 'PI workflows backup';\nconst timestamp  = allItems[0]?.json?.timestamp  || $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH:mm');\n\nconst workflowNames = allItems.map(i => i.json?.workflowName).filter(Boolean);\n\nconst OWNER  = 'alexxx55555';\nconst REPO   = 'n8n-Raspberry-PI-Workflow-Backup';\nconst BRANCH = 'main';\n\nconst encodedFolder = encodeURIComponent(folderName);\nconst ghUrl = `https://github.com/${OWNER}/${REPO}/tree/${BRANCH}/${encodedFolder}`;\n\nconst readme = `# n8n-Raspberry-PI-Workflow-Backup\n\n## Latest Backup: ${timestamp}\n\n### Backup URL\n${ghUrl}\n\n### Workflows Backed Up (${workflowNames.length} total)\n${workflowNames.length ? workflowNames.map(n => `- ${n}`).join('\\n') : '- (no workflows found)'}\n\n---\n*Backup generated automatically by n8n*`;\n\nreturn [{ json: { readme, timestamp, folderName, ghUrl, workflowCount: workflowNames.length } }];"
        },
        "id": "64d017fc-b4b6-4a40-8594-d1ff22c4bac3",
        "name": "Create README Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -27568,
          9472
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "additionalParameters": {}
        },
        "id": "a67e64d9-bafd-46fa-98fa-12a7310f455c",
        "name": "GitHub Get README",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -27376,
          9472
        ],
        "webhookId": "d736aee6-56dc-42a6-a349-c0eaa710f0d2",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const text = ($json.readme || '# PI workflows backup\\n\\n(empty)').replace(/\\r?\\n/g, '\\n');\n\n// ✅ Fixed: correctly references 'GitHub Get README1'\nconst getReadmeItem = $item(0, 'GitHub Get README');\nconst sha = getReadmeItem?.json?.sha || '';\n\nreturn {\n  json: { sha },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      fileName: 'README.md',\n      mimeType: 'text/markdown'\n    }\n  }\n};"
        },
        "id": "5b08e11e-c5b6-440e-82f6-7c3e91749f1f",
        "name": "Make README Binary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -27168,
          9472
        ]
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{ $json.sha }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "2a11ec08-d5a2-4bed-a26f-27e78422fa30",
        "name": "IF README exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -26976,
          9472
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Update README with latest backup summary"
        },
        "id": "890a3dc6-0e24-450a-86ad-446579ef2c36",
        "name": "GitHub Edit README (binary)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -26768,
          9376
        ],
        "webhookId": "05ff000e-8b2c-4937-b7cb-93dd8a896623",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "README.md",
          "binaryData": true,
          "commitMessage": "Create README with latest backup summary"
        },
        "id": "7c451a65-56bd-48fd-8c80-24ceaf1a871c",
        "name": "GitHub Create README (binary)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -26768,
          9568
        ],
        "webhookId": "2d48f044-b3d5-4525-9bb5-ad95c88713d8",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          }
        },
        "id": "8a9505ab-21b7-4520-8db5-e2874b610277",
        "name": "GitHub List Backup Folders (root)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -26464,
          9472
        ],
        "webhookId": "1e8231ce-81e7-4996-887a-4350ee5cc069",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const folders = $items()\n  .filter(i => i.json?.type === 'dir' && i.json?.name?.startsWith('PI workflows backup '))\n  .map(i => ({ name: i.json.name, path: i.json.path }));\n\nif (folders.length <= 1) return [];\n\nconst parseDate = (name) => {\n  const match = name.match(/(\\d{4}-\\d{2}-\\d{2}) (\\d{2})-(\\d{2})$/);\n  if (!match) return new Date('1900-01-01');\n  try { return new Date(`${match[1]}T${match[2]}:${match[3]}:00`); }\n  catch { return new Date('1900-01-01'); }\n};\n\nconst sorted = folders\n  .map(f => ({ ...f, date: parseDate(f.name) }))\n  .sort((a, b) => b.date - a.date);\n\nreturn sorted.slice(1).map(f => ({ json: { path: f.path, name: f.name } }));"
        },
        "id": "294492e3-b64d-44dd-a126-c57aa77003a7",
        "name": "Filter Old GH Backup Folders (keep newest)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -26272,
          9472
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{ $json.path }}"
        },
        "id": "4cc02e47-eab7-441b-beb6-42f7ce82c598",
        "name": "GH List Files In Old Folder",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -26064,
          9472
        ],
        "webhookId": "747bc648-6d4a-4730-be63-a90383c026e9",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json['type'] }}",
                "rightValue": "file",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "isfile"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "092c9c31-660b-4221-b2a9-a5d32fc7515d",
        "name": "IF Is File?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -25872,
          9472
        ]
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i => i.json && i.json.type === 'file' && i.json.path && i.json.sha).map(i => ({ json: { path: i.json.path, sha: i.json.sha } }));"
        },
        "id": "ab822111-da64-40fd-b2df-3b565fcdca67",
        "name": "To Files (root)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -25664,
          9376
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{ $json.path }}"
        },
        "id": "21bb39eb-369d-4ce9-8941-915b9a1b7a26",
        "name": "GH List Files In Subfolder",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -25664,
          9568
        ],
        "webhookId": "0e3b3f41-c2ff-4ae9-aa8e-d74f5b217588",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return $items().filter(i => i.json && i.json.type === 'file' && i.json.path && i.json.sha).map(i => ({ json: { path: i.json.path, sha: i.json.sha } }));"
        },
        "id": "f7066a81-7984-4687-8df6-5a797f14b569",
        "name": "To Files (subfolder)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -25440,
          9568
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": "alexxx55555",
          "repository": {
            "__rl": true,
            "value": "n8n-Raspberry-PI-Workflow-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Raspberry-PI-Workflow-Backup",
            "cachedResultUrl": "https://github.com/alexxx55555/n8n-Raspberry-PI-Workflow-Backup"
          },
          "filePath": "={{ $json.path }}",
          "commitMessage": "=Cleanup old backup file {{ $json.path }}"
        },
        "id": "0af64f60-6024-4833-8824-5de764c8d0b0",
        "name": "GH Delete File",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -25456,
          9376
        ],
        "webhookId": "e025f017-c79c-43d7-9d57-876995308d6e",
        "credentials": {
          "githubApi": {
            "id": "A8VxApqWkWn0Bbxk",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "queryString": "PI workflows backup",
          "returnAll": true,
          "filter": {},
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -29424,
          9376
        ],
        "id": "f7a715fa-06d2-46f5-8e60-9ae86fd0bf80",
        "name": "Search Drive Folders",
        "alwaysOutputData": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "folder",
          "operation": "deleteFolder",
          "folderNoRootId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {
            "deletePermanently": false
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -29168,
          9376
        ],
        "id": "7e6750c2-4953-46dc-9544-3a18193d7d18",
        "name": "Delete Old Drive Folder",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "=PI workflows backup {{ $now.setZone('Asia/Jerusalem').toFormat('yyyy-MM-dd HH-mm') }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {
            "folderColorRgb": "#920909"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -28976,
          9376
        ],
        "id": "11a86f25-2c1e-49c2-8d1b-4c67d194ecdb",
        "name": "Create Drive Folder",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "92XkOPWlG0thbyjc",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 21 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -29680,
          9376
        ],
        "id": "960c630b-cc00-4544-9299-ffca10d8a8a8",
        "name": "Schedule Trigger"
      }
    ],
    "connections": {
      "Error Trigger Backup": {
        "main": [
          [
            {
              "node": "Slack Backup Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Filename1": {
        "main": [
          [
            {
              "node": "GitHub Backup (sanitized)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "workflow Export",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "workflow Export": {
        "main": [
          [
            {
              "node": "Normalize Filename1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Backup (sanitized)": {
        "main": [
          [
            {
              "node": "Create README Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create README Text": {
        "main": [
          [
            {
              "node": "GitHub Get README",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Get README": {
        "main": [
          [
            {
              "node": "Make README Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make README Binary": {
        "main": [
          [
            {
              "node": "IF README exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF README exists?": {
        "main": [
          [
            {
              "node": "GitHub Edit README (binary)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GitHub Create README (binary)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Edit README (binary)": {
        "main": [
          [
            {
              "node": "GitHub List Backup Folders (root)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Slack Backup Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Create README (binary)": {
        "main": [
          [
            {
              "node": "GitHub List Backup Folders (root)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Slack Backup Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub List Backup Folders (root)": {
        "main": [
          [
            {
              "node": "Filter Old GH Backup Folders (keep newest)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Old GH Backup Folders (keep newest)": {
        "main": [
          [
            {
              "node": "GH List Files In Old Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Old Folder": {
        "main": [
          [
            {
              "node": "IF Is File?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Is File?": {
        "main": [
          [
            {
              "node": "To Files (root)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GH List Files In Subfolder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (root)": {
        "main": [
          [
            {
              "node": "GH Delete File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GH List Files In Subfolder": {
        "main": [
          [
            {
              "node": "To Files (subfolder)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Files (subfolder)": {
        "main": [
          [
            {
              "node": "GH Delete File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Drive Folders": {
        "main": [
          [
            {
              "node": "Delete Old Drive Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Old Drive Folder": {
        "main": [
          [
            {
              "node": "Create Drive Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Drive Folder": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Search Drive Folders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 97f99e74",
    "description": "",
    "autosaved": true
  },
  "tags": []
}