PI workflows backup 2026-04-22 21-00/Monday Auto-Move Done Tasks.json
{
  "updatedAt": "2026-04-16T20:35:03.354Z",
  "createdAt": "2026-03-28T10:00:43.417Z",
  "id": "ExSSfaNuWllm5NNG",
  "name": "Monday Auto-Move Done Tasks",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getAll",
        "boardId": "5093821351",
        "groupId": "new_group29179",
        "returnAll": true
      },
      "id": "e1fb87a4-11cf-462c-b741-cea8abdd1a57",
      "name": "Get To-Do Items",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        -1616,
        -1280
      ],
      "credentials": {
        "mondayComApi": {
          "id": "tL56OUnJPXJjPxm4",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst toMove = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const columns = data.column_values || [];\n  const statusCol = columns.find(c => c.id === 'project_status');\n\n  let isDone = false;\n  if (statusCol) {\n    if (statusCol.text === 'Done') {\n      isDone = true;\n    }\n    if (statusCol.value) {\n      try {\n        const parsed = typeof statusCol.value === 'string' ? JSON.parse(statusCol.value) : statusCol.value;\n        if (parsed.index === 1) isDone = true;\n      } catch (e) {}\n    }\n  }\n\n  if (isDone) {\n    toMove.push({\n      json: {\n        itemId: data.id,\n        itemName: data.name\n      }\n    });\n  }\n}\n\nreturn toMove;"
      },
      "id": "6d6627b9-193c-49f7-8e5e-c253dc5dd499",
      "name": "Filter Done Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        -1280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'mutation { move_item_to_group(item_id: ' + $json.itemId + ', group_id: \"new_group43041\") { id } }' }) }}",
        "options": {}
      },
      "id": "2b1acaf4-526e-4817-9b74-816917321ea0",
      "name": "Move to Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1184,
        -1280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DEEjaXy7pOncZeQ1",
          "name": "Monday.com"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 15
            }
          ]
        }
      },
      "id": "db01ddd8-ffc6-4fc1-b383-51507d566a36",
      "name": "Every 15 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1840,
        -1280
      ]
    }
  ],
  "connections": {
    "Get To-Do Items": {
      "main": [
        [
          {
            "node": "Filter Done Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Done Items": {
      "main": [
        [
          {
            "node": "Move to Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 15 Seconds": {
      "main": [
        [
          {
            "node": "Get To-Do Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Every 2 Minutes": {
      "recurrenceRules": []
    },
    "node:Every 15 Seconds": {
      "recurrenceRules": []
    },
    "node:Every 2 Minutes1": {
      "recurrenceRules": []
    },
    "node:Hourly": {
      "recurrenceRules": []
    },
    "node:Daily 8am Israel": {
      "recurrenceRules": []
    },
    "node:Daily 10am Israel": {
      "recurrenceRules": []
    },
    "node:Daily 00:05": {
      "recurrenceRules": []
    },
    "node:Daily 3am": {
      "recurrenceRules": []
    },
    "node:Every 2 Minutes2": {
      "recurrenceRules": []
    },
    "node:Every 15 Minutes": {
      "recurrenceRules": []
    },
    "node:Saturday 23:00 Israel": {
      "recurrenceRules": []
    },
    "node:Gmail Trigger (labeled)": {
      "Gmail Trigger (labeled)": {
        "lastTimeChecked": 1776363293
      }
    },
    "global": {
      "lastStatus": {
        "2847510444": "Done",
        "2847513495": "Done",
        "2847514047": "Working on it",
        "2847517619": "Working on it",
        "2847518943": "Done",
        "2847525816": "Review",
        "2847541345": "Working on it",
        "2847541371": "Working on it",
        "2847555083": "Not Started",
        "2847564887": "Not Started",
        "2847578983": "Not Started",
        "2847594857": "Not Started",
        "2847594880": "Not Started",
        "2847617103": "Not Started",
        "2847617727": "Not Started",
        "2847617805": "Not Started",
        "2847625151": "Review",
        "2847625270": "Review",
        "2847626542": "Not Started",
        "2847652533": "Not Started"
      },
      "eventMap": {},
      "assignedSet": {
        "2847510444": true,
        "2847513495": true,
        "2847514047": true,
        "2847517619": true,
        "2847518943": true,
        "2847525816": true,
        "2847541345": true,
        "2847555083": true,
        "2847564887": true,
        "2847578983": true,
        "2847594857": true,
        "2847594880": true,
        "2847617103": true,
        "2847617727": true,
        "2847617805": true,
        "2847625270": true,
        "2847626542": true,
        "2847652533": true
      },
      "remindedKeys": {
        "24h-2847525816-2026-04-17": 1776366003279
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cce6b068-92ef-466d-9ce9-7ca7c087d700",
  "activeVersionId": "cce6b068-92ef-466d-9ce9-7ca7c087d700",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-28T10:00:43.421Z",
      "createdAt": "2026-03-28T10:00:43.421Z",
      "role": "workflow:owner",
      "workflowId": "ExSSfaNuWllm5NNG",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-16T20:35:05.000Z",
    "createdAt": "2026-04-16T20:34:50.495Z",
    "versionId": "cce6b068-92ef-466d-9ce9-7ca7c087d700",
    "workflowId": "ExSSfaNuWllm5NNG",
    "nodes": [
      {
        "parameters": {
          "resource": "boardItem",
          "operation": "getAll",
          "boardId": "5093821351",
          "groupId": "new_group29179",
          "returnAll": true
        },
        "id": "e1fb87a4-11cf-462c-b741-cea8abdd1a57",
        "name": "Get To-Do Items",
        "type": "n8n-nodes-base.mondayCom",
        "typeVersion": 1,
        "position": [
          -1616,
          -1280
        ],
        "credentials": {
          "mondayComApi": {
            "id": "tL56OUnJPXJjPxm4",
            "name": "Monday.com account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst toMove = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const columns = data.column_values || [];\n  const statusCol = columns.find(c => c.id === 'project_status');\n\n  let isDone = false;\n  if (statusCol) {\n    if (statusCol.text === 'Done') {\n      isDone = true;\n    }\n    if (statusCol.value) {\n      try {\n        const parsed = typeof statusCol.value === 'string' ? JSON.parse(statusCol.value) : statusCol.value;\n        if (parsed.index === 1) isDone = true;\n      } catch (e) {}\n    }\n  }\n\n  if (isDone) {\n    toMove.push({\n      json: {\n        itemId: data.id,\n        itemName: data.name\n      }\n    });\n  }\n}\n\nreturn toMove;"
        },
        "id": "6d6627b9-193c-49f7-8e5e-c253dc5dd499",
        "name": "Filter Done Items",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1408,
          -1280
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.monday.com/v2",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query: 'mutation { move_item_to_group(item_id: ' + $json.itemId + ', group_id: \"new_group43041\") { id } }' }) }}",
          "options": {}
        },
        "id": "2b1acaf4-526e-4817-9b74-816917321ea0",
        "name": "Move to Completed",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1184,
          -1280
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DEEjaXy7pOncZeQ1",
            "name": "Monday.com"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds",
                "secondsInterval": 15
              }
            ]
          }
        },
        "id": "db01ddd8-ffc6-4fc1-b383-51507d566a36",
        "name": "Every 15 Seconds",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1840,
          -1280
        ]
      }
    ],
    "connections": {
      "Get To-Do Items": {
        "main": [
          [
            {
              "node": "Filter Done Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Done Items": {
        "main": [
          [
            {
              "node": "Move to Completed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every 15 Seconds": {
        "main": [
          [
            {
              "node": "Get To-Do Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version cce6b068",
    "description": "",
    "autosaved": true
  },
  "tags": []
}