PI workflows backup 2026-04-05 07-46/Users AD-JC Onboarding.json
{
  "updatedAt": "2026-04-04T19:03:40.592Z",
  "createdAt": "2025-09-02T14:13:13.473Z",
  "id": "vb6sSMl5XrlcvUae",
  "name": "Users AD/JC Onboarding",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Deduplication: track processed messageIds in workflow static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedIds) staticData.processedIds = {};\n\nconst msgId = $json.messageId || $json.id || '';\nif (!msgId) {\n  throw new Error('No messageId found — cannot deduplicate.');\n}\n\n// Clean up entries older than 24 hours\nconst now = Date.now();\nconst ONE_DAY = 24 * 60 * 60 * 1000;\nfor (const [key, ts] of Object.entries(staticData.processedIds)) {\n  if (now - ts > ONE_DAY) delete staticData.processedIds[key];\n}\n\nif (staticData.processedIds[msgId]) {\n  // Already processed — stop execution for this item\n  return [];\n}\n\nstaticData.processedIds[msgId] = now;\nreturn { json: $json };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        128
      ],
      "id": "a7ef4a82-48d3-437c-a335-f4576ef7ceda",
      "name": "Deduplicate"
    },
    {
      "parameters": {
        "chatId": "426570413",
        "text": "=🚨 *ONBOARDING FAILURE — JC PATH*\n\n❌ *Error:* {{$json.error?.message || $json.message || $json.stderr || $json.errorMessage || JSON.stringify($json).substring(0, 500)}}\n\n📧 *Original request from:* {{$('Email Parser JC').item.json.originalEmail?.from || 'Unknown'}}\n👤 *Name:* {{$('Email Parser JC').item.json.body?.firstname || '?'}} {{$('Email Parser JC').item.json.body?.lastname || '?'}}\n\n⏰ {{new Date().toISOString()}}\n\nPlease investigate and process manually if needed.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2400,
        448
      ],
      "id": "7f1e043a-56ae-4333-8610-b75ee85a26e4",
      "name": "Error Alert JC",
      "webhookId": "c7e912bc-d583-4904-8cc6-b1b6edd9cbb1",
      "credentials": {
        "telegramApi": {
          "id": "QH2SVpRQkhmpSDsN",
          "name": "Users Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "426570413",
        "text": "=🚨 *ONBOARDING FAILURE — AD PATH*\n\n❌ *Error:* {{$json.error?.message || $json.message || $json.stderr || $json.errorMessage || JSON.stringify($json).substring(0, 500)}}\n\n📧 *Original request from:* {{$('Email Parser AD').item.json.originalEmail?.from || 'Unknown'}}\n👤 *Name:* {{$('Email Parser AD').item.json.body?.firstname || '?'}} {{$('Email Parser AD').item.json.body?.lastname || '?'}}\n\n⏰ {{new Date().toISOString()}}\n\nPlease investigate and process manually if needed.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2320,
        1056
      ],
      "id": "8ccf2cfa-18ca-41a7-9d96-d495d8cc0a11",
      "name": "Error Alert AD",
      "webhookId": "813f62f4-4082-4190-a6e6-3904d3063856",
      "credentials": {
        "telegramApi": {
          "id": "QH2SVpRQkhmpSDsN",
          "name": "Users Bot"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        816,
        128
      ],
      "id": "cc1ac205-2457-413b-b04d-e67fda7df1aa",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "RppOCR2PhsLintBH",
          "name": "vinokura.it@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7dd6a3f5-aa13-4fdc-88f8-a9798fbf925d",
                    "leftValue": "={{$json.subject || $json.headers?.subject?.replace(/^Subject:\\s*/i,'').trim() || ''}}",
                    "rightValue": "JC",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3367d402-3127-4cf0-b3de-69d8cdc8cf90",
                    "leftValue": "={{$json.subject || $json.headers?.subject?.replace(/^Subject:\\s*/i,'').trim() || ''}}",
                    "rightValue": "AD",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1152,
        128
      ],
      "id": "a38a0337-54ba-48b7-9494-0460a3d5b512",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ===== AD EMAIL PARSER WITH SANITIZATION =====\n\nfunction sanitize(val) {\n  if (!val || typeof val !== 'string') return '';\n  return val.replace(/[;'\"\\`$|&><\\\\{}()]/g, '').trim();\n}\n\nfunction htmlToText(html) {\n  if (!html) return '';\n  html = html\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/(p|div|li|tr|h\\d)>/gi, '\\n')\n    .replace(/&nbsp;/gi, ' ');\n  const text = html.replace(/<[^>]+>/g, ' ');\n  return text.replace(/\\r?\\n/g, '\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n}\n\nlet emailBody =\n  ($json.text && String($json.text)) ||\n  htmlToText($json.html) ||\n  htmlToText($json.textAsHtml) ||\n  ($json.snippet && String($json.snippet)) ||\n  '';\n\nif (!emailBody && $json.payload && $json.payload.body && $json.payload.body.data) {\n  try {\n    const buff = Buffer.from($json.payload.body.data, 'base64');\n    emailBody = buff.toString('utf8');\n  } catch (_) {}\n}\n\nconst flat = (emailBody || '').replace(/\\r/g, '').replace(/[ \\t]+/g, ' ').trim();\n\nconst LABELS = [\n  'First Name','Last Name','Employee Number','Job Title',\n  'Department','Manager SAM','Manager','Office Phone','Phone',\n  'Office Location','Location'\n];\n\nfunction esc(s){ return s.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'); }\n\nfunction captureAfter(label, src) {\n  const labelEsc = esc(label);\n  const next = LABELS.filter(l => l !== label).map(esc);\n  const lookahead = next.length ? `(?=\\\\s*(?:${next.join('|')})\\\\s*:|$)` : '$';\n  const re = new RegExp(`${labelEsc}\\\\s*:\\\\s*([\\\\s\\\\S]*?)\\\\s*${lookahead}`, 'i');\n  const m = src.match(re);\n  return m ? m[1].trim() : '';\n}\n\nconst userData = {\n  firstname:      sanitize(captureAfter('First Name', flat)),\n  lastname:       sanitize(captureAfter('Last Name', flat)),\n  employeenumber: sanitize(captureAfter('Employee Number', flat)),\n  jobtitle:       sanitize(captureAfter('Job Title', flat)),\n  department:     sanitize(captureAfter('Department', flat)),\n  managersam:     sanitize(captureAfter('Manager SAM', flat) || captureAfter('Manager', flat)),\n  officephone:    sanitize(captureAfter('Office Phone', flat) || captureAfter('Phone', flat)),\n  officelocation: sanitize(captureAfter('Office Location', flat) || captureAfter('Location', flat)),\n};\n\nconst required = ['firstname','lastname','employeenumber','jobtitle','department','managersam'];\nconst missing = required.filter(f => !userData[f] || userData[f].trim() === '');\nif (missing.length) {\n  throw new Error(`[AD] Missing required fields: ${missing.join(', ')}. Parsed body was empty or labels didn't match.`);\n}\n\nconst subj = $json.subject || ($json.headers?.subject?.replace(/^Subject:\\s*/i,'').trim()) || '';\nconst fromText = ($json.from?.text) || ($json.headers?.from?.replace(/^From:\\s*/i,'').trim()) || '';\nconst msgId = $json.messageId || ($json.headers?.['message-id']?.replace(/^Message-Id:\\s*/i,'').trim()) || '';\n\nreturn {\n  body: userData,\n  originalEmail: { subject: subj, from: fromText, messageId: msgId },\n  sanitized: true,\n  path: 'AD'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        800
      ],
      "id": "a9910222-0e86-4f4e-9a1a-3b2df1d5a6b5",
      "name": "Email Parser AD"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.from?.value?.map(v => v.address).join(', ') }}",
        "subject": "=Re: {{$('Gmail Trigger').item.json.subject}} - Processing Started",
        "message": "=<h2 style=\"color:blue;\">📧 User Creation Request Received</h2>\n\n<p>Thank you for your user creation request. We have received your email and are processing the following information:</p>\n\n<ul>\n<li><b>First Name:</b> {{$json[\"body\"][\"firstname\"]}}</li>\n<li><b>Last Name:</b> {{$json[\"body\"][\"lastname\"]}}</li>\n<li><b>Employee Number:</b> {{$json[\"body\"][\"employeenumber\"]}}</li>\n<li><b>Job Title:</b> {{$json[\"body\"][\"jobtitle\"]}}</li>\n<li><b>Department:</b> {{$json[\"body\"][\"department\"]}}</li>\n<li><b>Manager SAM:</b> {{$json[\"body\"][\"managersam\"]}}</li>\n<li><b>Office Phone:</b> {{$json[\"body\"][\"officephone\"] || 'Not provided'}}</li>\n<li><b>Office Location:</b> {{$json[\"body\"][\"officelocation\"] || 'Not provided'}}</li>\n</ul>\n\n<p style=\"color:green;\"><b>Status:</b> Processing...</p>\n<p>You will receive another notification once the user account has been created successfully.</p>\n\n<hr>\n<small>This is an automated message from Alex IT Systems.</small>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1664,
        352
      ],
      "id": "b70c8b4a-65c5-40ca-9c39-ec98f69df5b0",
      "name": "Send Acknowledgment AD",
      "webhookId": "799b1b4d-00fd-4a0c-890c-9991db9a7c75",
      "credentials": {
        "gmailOAuth2": {
          "id": "RppOCR2PhsLintBH",
          "name": "vinokura.it@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ===== JC EMAIL PARSER WITH SANITIZATION =====\n\nfunction sanitize(val) {\n  if (!val || typeof val !== 'string') return '';\n  return val.replace(/[;'\"\\`$|&><\\\\{}()]/g, '').trim();\n}\n\nfunction htmlToText(html) {\n  if (!html) return '';\n  html = html\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/(p|div|li|tr|h\\d)>/gi, '\\n')\n    .replace(/&nbsp;/gi, ' ');\n  const text = html.replace(/<[^>]+>/g, ' ');\n  return text.replace(/\\r?\\n/g, '\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n}\n\nlet emailBody =\n  ($json.text && String($json.text)) ||\n  htmlToText($json.html) ||\n  htmlToText($json.textAsHtml) ||\n  ($json.snippet && String($json.snippet)) ||\n  '';\n\nif (!emailBody && $json.payload && $json.payload.body && $json.payload.body.data) {\n  try {\n    const buff = Buffer.from($json.payload.body.data, 'base64');\n    emailBody = buff.toString('utf8');\n  } catch (_) {}\n}\n\nconst flat = (emailBody || '').replace(/\\r/g, '').replace(/[ \\t]+/g, ' ').trim();\n\nconst LABELS = [\n  'First Name','Last Name','Employee Number','Job Title',\n  'Department','Manager SAM','Manager','Office Phone','Phone',\n  'Office Location','Location','Source Username'\n];\n\nfunction esc(s){ return s.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'); }\n\nfunction captureAfter(label, src) {\n  const labelEsc = esc(label);\n  const next = LABELS.filter(l => l !== label).map(esc);\n  const lookahead = next.length ? `(?=\\\\s*(?:${next.join('|')})\\\\s*:|$)` : '$';\n  const re = new RegExp(`${labelEsc}\\\\s*:\\\\s*([\\\\s\\\\S]*?)\\\\s*${lookahead}`, 'i');\n  const m = src.match(re);\n  return m ? m[1].trim() : '';\n}\n\nconst userData = {\n  firstname:      sanitize(captureAfter('First Name', flat)),\n  lastname:       sanitize(captureAfter('Last Name', flat)),\n  employeenumber: sanitize(captureAfter('Employee Number', flat)),\n  jobtitle:       sanitize(captureAfter('Job Title', flat)),\n  department:     sanitize(captureAfter('Department', flat)),\n  managersam:     sanitize(captureAfter('Manager SAM', flat) || captureAfter('Manager', flat)),\n  officephone:    sanitize(captureAfter('Office Phone', flat) || captureAfter('Phone', flat)),\n  officelocation: sanitize(captureAfter('Office Location', flat) || captureAfter('Location', flat)),\n  sourceusername: sanitize(captureAfter('Source Username', flat)),\n};\n\nconst required = ['firstname','lastname','employeenumber','jobtitle','department','managersam'];\nconst missing = required.filter(f => !userData[f] || userData[f].trim() === '');\nif (missing.length) {\n  throw new Error(`[JC] Missing required fields: ${missing.join(', ')}. Parsed body was empty or labels didn't match.`);\n}\n\nconst subj = $json.subject || ($json.headers?.subject?.replace(/^Subject:\\s*/i,'').trim()) || '';\nconst fromText = ($json.from?.text) || ($json.headers?.from?.replace(/^From:\\s*/i,'').trim()) || '';\nconst msgId = $json.messageId || ($json.headers?.['message-id']?.replace(/^Message-Id:\\s*/i,'').trim()) || '';\n\nreturn {\n  body: userData,\n  originalEmail: { subject: subj, from: fromText, messageId: msgId },\n  sanitized: true,\n  path: 'JC'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        112
      ],
      "id": "46b61ee4-242d-4cdc-a6fa-608a7967e0f5",
      "name": "Email Parser JC"
    },
    {
      "parameters": {
        "command": "=powershell.exe -NoProfile -ExecutionPolicy Bypass -File \"C:\\Scripts\\Create-ADUser-From-n8n.ps1\" -FirstName \"{{$json[\"body\"][\"firstname\"]}}\" -LastName \"{{$json[\"body\"][\"lastname\"]}}\" -EmployeeNumber {{$json[\"body\"][\"employeenumber\"]}} -JobTitle \"{{$json[\"body\"][\"jobtitle\"]}}\" -Department \"{{$json[\"body\"][\"department\"]}}\" -ManagerSam \"{{$json[\"body\"][\"managersam\"]}}\" -OfficePhone \"{{$json[\"body\"][\"officephone\"]}}\" -OfficeLocation \"{{$json[\"body\"][\"officelocation\"]}}\"",
        "cwd": "="
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2032,
        800
      ],
      "id": "2ad0f91a-0a92-4f00-902d-0cb6b40e1b16",
      "name": "Create New AD User",
      "credentials": {
        "sshPassword": {
          "id": "umWU43lA8b3R4GcA",
          "name": "SSH Password account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if (!$json[\"stdout\"] || $json[\"stdout\"].trim() === \"\") {\n  throw new Error(\"[AD] No JSON output received from PowerShell script. Stdout was empty.\");\n}\nlet out;\ntry {\n  out = JSON.parse($json[\"stdout\"]);\n} catch (e) {\n  throw new Error(\"[AD] Failed to parse JSON from PowerShell script: \" + e.message + \"\\n\\nOutput was:\\n\" + $json[\"stdout\"]);\n}\nif (out.error) {\n  throw new Error(\"[AD] PowerShell script error: \" + out.error);\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        784
      ],
      "id": "6be49db5-a313-4638-be7f-895a8f95532b",
      "name": "PowerShell Output Parser AD",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C099QKJSCTD",
          "mode": "list",
          "cachedResultName": "new-user-created"
        },
        "text": "=🤖 *New AD User Created Successfully!*\n\n👤 *First Name:* {{$json[\"FirstName\"]}}\n👥 *Last Name:* {{$json[\"LastName\"]}}\n🪪 *Display Name:* {{$json[\"DisplayName\"]}}\n🆔 *Username:* `{{$json[\"Username\"]}}`\n🔢 *Employee ID:* `{{$json[\"EmployeeNumber\"]}}`\n💼 *Job Title:* {{$json[\"JobTitle\"]}}\n🏢 *Department:* {{$json[\"Department\"]}}\n👔 *Manager:* {{$json[\"Manager\"]}}\n📍 *Office Location:* {{$json[\"OfficeLocation\"]}}\n📞 *Phone:* {{$json[\"OfficePhone\"]}}\n📧 *Email:* {{$json[\"Email\"]}}\n🔑 *Password:* `{{$json[\"Password\"]}}`\n✉️ *DL Groups:* {{ $json[\"DLGroupsCopied\"]?.length > 0 ? $json[\"DLGroupsCopied\"].join(', ') : '_None_' }}\n🛡️ *Security Groups:* {{ $json[\"SecurityGroupsCopied\"]?.length > 0 ? $json[\"SecurityGroupsCopied\"].join(', ') : '_None_' }}\n\n{{ $json[\"ConflictMessage\"] ? '⚠️ *Note:*\\n' + $json[\"ConflictMessage\"].split('\\n').join('\\n') : '✅ No conflicts detected.' }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2752,
        1008
      ],
      "id": "ff0f7afc-1671-480f-86ff-505c8896831d",
      "name": "Send a message AD",
      "webhookId": "619d4034-0d7d-43f0-9691-ea960aef7115",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sashavi55555@yahoo.co.il",
        "subject": "New AD User Created",
        "message": "=<h1 style=\"color:blue;\">🤖 New AD User Created:</h1>\n<p style=\"color:black; font-size:1.1em;\"><b>First Name:</b> {{$json[\"FirstName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Last Name:</b> {{$json[\"LastName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Display Name:</b> {{$json[\"DisplayName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Username:</b> {{$json[\"Username\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Employee Number:</b> {{$json[\"EmployeeNumber\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Department:</b> {{$json[\"Department\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Job Title:</b> {{$json[\"JobTitle\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Manager:</b> {{$json[\"Manager\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Office Location:</b> {{$json[\"OfficeLocation\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Office Phone:</b> {{$json[\"OfficePhone\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>E-mail:</b> {{$json[\"Email\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>DL Groups Copied:</b> {{$json[\"DLGroupsCopied\"]?.join(', ') || 'None'}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Security Groups Copied:</b> {{$json[\"SecurityGroupsCopied\"]?.join(', ') || 'None'}}</p>\n<p style=\"color:red; font-size:1.3em;\"><b>Initial Password:</b> <code>{{$json[\"Password\"]}}</code></p>\n<p style=\"color:red; font-size:1.1em;\"><b>Make sure to save the initial password in a safe location!</b></p>\n<p style=\"color:green; font-size:1.3em;\"><b>Alex IT</b></p>\n<hr>\n<small>This is an automated message. Do not reply.</small>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2736,
        576
      ],
      "id": "39f39052-5503-490e-9b77-48f692a6bfed",
      "name": "Send Message AD",
      "webhookId": "961eced4-af4c-4015-a632-1c5dcecb5a5f",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "RppOCR2PhsLintBH",
          "name": "vinokura.it@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.from?.value?.map(v => v.address).join(', ') }}",
        "subject": "=Re: {{$('Gmail Trigger').item.json.subject}} - Processing Started",
        "message": "=<h2 style=\"color:blue;\">📧 User Creation Request Received</h2>\n\n<p>Thank you for your user creation request. We have received your email and are processing the following information:</p>\n\n<ul>\n<li><b>First Name:</b> {{$json[\"body\"][\"firstname\"]}}</li>\n<li><b>Last Name:</b> {{$json[\"body\"][\"lastname\"]}}</li>\n<li><b>Employee Number:</b> {{$json[\"body\"][\"employeenumber\"]}}</li>\n<li><b>Job Title:</b> {{$json[\"body\"][\"jobtitle\"]}}</li>\n<li><b>Department:</b> {{$json[\"body\"][\"department\"]}}</li>\n<li><b>Manager SAM:</b> {{$json[\"body\"][\"managersam\"]}}</li>\n<li><b>Office Phone:</b> {{$json[\"body\"][\"officephone\"] || 'Not provided'}}</li>\n<li><b>Office Location:</b> {{$json[\"body\"][\"officelocation\"] || 'Not provided'}}</li>\n</ul>\n\n<p style=\"color:green;\"><b>Status:</b> Processing...</p>\n<p>You will receive another notification once the user account has been created successfully.</p>\n\n<hr>\n<small>This is an automated message from Alex IT Systems.</small>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1680,
        -256
      ],
      "id": "b15b3821-7f63-4604-9515-efa35518e27e",
      "name": "Send Acknowledgment JC",
      "webhookId": "799b1b4d-00fd-4a0c-890c-9991db9a7c75",
      "credentials": {
        "gmailOAuth2": {
          "id": "RppOCR2PhsLintBH",
          "name": "vinokura.it@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "command": "=powershell.exe -NoProfile -Command \"& { C:\\Scripts\\Create-JCUser-From-n8n.ps1 -FirstName '{{$json[\"body\"][\"firstname\"]}}' -LastName '{{$json[\"body\"][\"lastname\"]}}' -EmployeeNumber '{{$json[\"body\"][\"employeenumber\"]}}' -JobTitle '{{$json[\"body\"][\"jobtitle\"]}}' -Department '{{$json[\"body\"][\"department\"]}}' -ManagerSam '{{$json[\"body\"][\"managersam\"]}}' -OfficePhone '{{$json[\"body\"][\"officephone\"]}}' -OfficeLocation '{{$json[\"body\"][\"officelocation\"]}}' -SourceUsername '{{$json[\"body\"][\"sourceusername\"]}}' }\"",
        "cwd": "="
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2016,
        112
      ],
      "id": "24fab732-aaca-4376-a5a9-c0bdfec35bd1",
      "name": "Create New JC User",
      "credentials": {
        "sshPassword": {
          "id": "umWU43lA8b3R4GcA",
          "name": "SSH Password account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if (!$json[\"stdout\"] || $json[\"stdout\"].trim() === \"\") {\n  throw new Error(\"[JC] No JSON output received from PowerShell script. Stdout was empty.\");\n}\nlet out;\ntry {\n  out = JSON.parse($json[\"stdout\"]);\n} catch (e) {\n  throw new Error(\"[JC] Failed to parse JSON from PowerShell script: \" + e.message + \"\\n\\nOutput was:\\n\" + $json[\"stdout\"]);\n}\nif (out.error) {\n  throw new Error(\"[JC] PowerShell script error: \" + out.error);\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        96
      ],
      "id": "d9be7da2-ed34-43f7-84c7-ff4f59a6116a",
      "name": "PowerShell Output Parser JC",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "sashavi55555@yahoo.co.il",
        "subject": "New JC User Created",
        "message": "=<h1 style=\"color:blue;\">🤖 New JC User Created:</h1>\n\n<p style=\"color:black; font-size:1.1em;\"><b>First Name:</b> {{$json[\"FirstName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Last Name:</b> {{$json[\"LastName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Display Name:</b> {{$json[\"FirstName\"]}} {{$json[\"LastName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Employee Number:</b> {{$json[\"EmployeeNumber\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Department:</b> {{$json[\"Department\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Job Title:</b> {{$json[\"JobTitle\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Username:</b> {{$json[\"Username\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Manager:</b> {{$json[\"Manager\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Office Location:</b> {{$json[\"OfficeLocation\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Office Phone:</b> {{$json[\"OfficePhone\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>E-mail:</b> {{$json[\"Email\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>DL Groups Copied:</b> {{$json[\"DLGroupsCopied\"]?.join(', ') || 'None'}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Security Groups Copied:</b> {{$json[\"SecurityGroupsCopied\"]?.join(', ') || 'None'}}</p>\n<p style=\"color:red; font-size:1.3em;\"><b>Initial Password:</b> <code>{{$json[\"Password\"]}}</code></p>\n<p style=\"color:red; font-size:1.1em;\"><b>Make sure to save the initial password in a safe location!</b></p>\n<p style=\"color:green; font-size:1.3em;\"><b>Alex IT</b></p>\n<hr>\n<small>This is an automated message. Do not reply.</small>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2720,
        -160
      ],
      "id": "20faa24c-c0c3-4845-94d2-dd7b345ef97f",
      "name": "Send Message JC",
      "webhookId": "961eced4-af4c-4015-a632-1c5dcecb5a5f",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "RppOCR2PhsLintBH",
          "name": "vinokura.it@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "chatId": "426570413",
        "text": "=🤖 *New JC User Created Successfully!*\n\n*First Name:* {{$json[\"FirstName\"]}}\n*Last Name:* {{$json[\"LastName\"]}}\n*Display Name:* {{$json[\"FirstName\"]}} {{$json[\"LastName\"]}}\n*Employee Number:* {{$json[\"EmployeeNumber\"]}}\n*Job Title:* {{$json[\"JobTitle\"]}}\n*Department:* {{$json[\"Department\"]}}\n*Manager:* {{$json[\"Manager\"]}}\n*Office Location:* {{$json[\"OfficeLocation\"]}}\n*Phone:* {{$json[\"OfficePhone\"]}}\n*Email:* {{$json[\"Email\"]}}\n*Username:* {{$json[\"Username\"]}}\n*Password:* `{{$json[\"Password\"]}}`\n{{$json[\"ConflictMessage\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2720,
        80
      ],
      "id": "ea5b9a3d-7969-4bae-a50c-e4f65b22a241",
      "name": "Send a text message JC",
      "webhookId": "ae9b49c5-f740-4d7f-b4af-c7ce2935e45f",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "QH2SVpRQkhmpSDsN",
          "name": "Users Bot"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C099QKJSCTD",
          "mode": "list",
          "cachedResultName": "new-user-created"
        },
        "text": "=🤖 *New JC User Created Successfully!*\n\n👤 *First Name:* {{$json[\"FirstName\"]}}\n👥 *Last Name:* {{$json[\"LastName\"]}}\n🪪 *Display Name:* {{$json[\"FirstName\"]}} {{$json[\"LastName\"]}}\n🔢 *Employee ID:* `{{$json[\"EmployeeNumber\"]}}`\n💼 *Job Title:* {{$json[\"JobTitle\"]}}\n🏢 *Department:* {{$json[\"Department\"]}}\n👔 *Manager:* {{$json[\"Manager\"]}}\n📍 *Office Location:* {{$json[\"OfficeLocation\"]}}\n📞 *Phone:* {{$json[\"OfficePhone\"]}}\n📧 *Email:* {{$json[\"Email\"]}}\n🆔 *Username:* `{{$json[\"Username\"]}}`\n🔑 *Password:* `{{$json[\"Password\"]}}`\n\n{{$json[\"ConflictMessage\"] ? '⚠️ *Note:* ' + $json[\"ConflictMessage\"] : '✅ No conflicts detected.'}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2720,
        320
      ],
      "id": "ca120eab-5c60-4288-8a7c-978c439fd15b",
      "name": "Send a message JC",
      "webhookId": "619d4034-0d7d-43f0-9691-ea960aef7115",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "426570413",
        "text": "=🤖 <b>New AD User Created Successfully!</b>\n\n<b>First Name:</b> {{$json[\"FirstName\"]}}\n<b>Last Name:</b> {{$json[\"LastName\"]}}\n<b>Display Name:</b> {{$json[\"DisplayName\"]}}\n<b>Employee Number:</b> {{$json[\"EmployeeNumber\"]}}\n<b>Job Title:</b> {{$json[\"JobTitle\"]}}\n<b>Department:</b> {{$json[\"Department\"]}}\n<b>Manager:</b> {{$json[\"Manager\"]}}\n<b>Office Location:</b> {{$json[\"OfficeLocation\"]}}\n<b>Phone:</b> {{$json[\"OfficePhone\"]}}\n<b>Email:</b> {{$json[\"Email\"]}}\n<b>Username:</b> <code>{{$json[\"Username\"]}}</code>\n<b>Password:</b> <code>{{$json[\"Password\"].replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')}}</code>\n<b>DL Groups Copied:</b> {{$json[\"DLGroupsCopied\"]?.join(', ') || 'None'}}\n<b>Security Groups Copied:</b> {{$json[\"SecurityGroupsCopied\"]?.join(', ') || 'None'}}\n{{ $json[\"ConflictMessage\"] ? '⚠️ <b>Note:</b>\\n' + $json[\"ConflictMessage\"].replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;') : '✅ No conflicts detected.' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2736,
        768
      ],
      "id": "ecaeb4f5-7d99-4bc1-9bbe-77793b733d88",
      "name": "Send a text message AD",
      "webhookId": "ae9b49c5-f740-4d7f-b4af-c7ce2935e45f",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "QH2SVpRQkhmpSDsN",
          "name": "Users Bot"
        }
      }
    }
  ],
  "connections": {
    "Deduplicate": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Email Parser JC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Parser AD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Parser AD": {
      "main": [
        [
          {
            "node": "Send Acknowledgment AD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create New AD User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Parser JC": {
      "main": [
        [
          {
            "node": "Create New JC User",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Acknowledgment JC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New AD User": {
      "main": [
        [
          {
            "node": "PowerShell Output Parser AD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Alert AD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PowerShell Output Parser AD": {
      "main": [
        [
          {
            "node": "Send a message AD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Message AD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message AD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Alert AD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New JC User": {
      "main": [
        [
          {
            "node": "PowerShell Output Parser JC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Alert JC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PowerShell Output Parser JC": {
      "main": [
        [
          {
            "node": "Send a message JC",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Message JC",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message JC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Alert JC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1775330074,
        "possibleDuplicates": [
          "19d59eb21f093fad",
          "19d59e35f6a47b71"
        ]
      }
    },
    "node:Gmail Trigger1": {
      "Gmail Trigger1": {
        "lastTimeChecked": 1771680097,
        "possibleDuplicates": [
          "19c805ce5b77d08c",
          "19c80559e4605ab9"
        ]
      }
    },
    "global": {
      "processedIds": {
        "<1847087827.13103647.1775308778825@lva1-app85767.prod.linkedin.com>": 1775311639712,
        "<calendar-8c1b88db-1691-47aa-89de-0f184f691d33@google.com>": 1775311639713,
        "<2013458772.14827934.1775301527573@lva1-app104057.prod.linkedin.com>": 1775311639714,
        "<1657936349.13981522.1775294365790@lva1-app95971.prod.linkedin.com>": 1775311639715,
        "<EhFqEgc4QCa8TZKIqwqjfA@geopod-ismtpd-7>": 1775311639716,
        "<877470454.14704983.1775287153299@lva1-app54868.prod.linkedin.com>": 1775311639717,
        "<1E2lBKXTTgqzLCtkmTcrrg@geopod-ismtpd-85>": 1775311639718,
        "<calendar-04898129-95b8-4b02-bf41-965bbcffe2aa@google.com>": 1775311639718,
        "<76411070-adf3-4362-bad2-892a53bc1c22@ind1s06mta1322.xt.local>": 1775311639719,
        "<854332324.10480424.1775248451754@ltx1-app98964.prod.linkedin.com>": 1775311639720,
        "<calendar-9fc2452c-4944-4b97-bd53-7e2911ebcc20@google.com>": 1775311639720,
        "<8E.7C.04132.41300D96@i-0e52becb0cf78da5a.mta1vrest.sd.prd.sparkpost>": 1775311639721,
        "<1685151514.2739283.1775234839346@ltx1-app69832.prod.linkedin.com>": 1775311639722,
        "<1671843649.4889118.1775229650669@ltx1-app25099.prod.linkedin.com>": 1775311639722,
        "<740174076.9237873.1775222327275@ltx1-app69933.prod.linkedin.com>": 1775311639723,
        "<wt3N-4W9Sg-XVF0TS19diw@geopod-ismtpd-3>": 1775311639723,
        "<23.A8.08184.17FAFC96@i-0d964cfe33c485bf6.mta1vrest.sd.prd.sparkpost>": 1775311639724,
        "<346066213.8565104.1775215265834@ltx1-app82430.prod.linkedin.com>": 1775311639725,
        "<2078585599.8554792.1775208017712@ltx1-app93768.prod.linkedin.com>": 1775311639725,
        "<r9jm7czp6J1DkECWHJn3Ew@notifications.google.com>": 1775311639726,
        "<RroJRlLySMausSQXU9mAmg@geopod-ismtpd-46>": 1775311639727,
        "<2132558588.7748083.1775200726695@ltx1-app159730.prod.linkedin.com>": 1775311639727,
        "<calendar-fd9d931f-8faa-4411-8af6-c216334011eb@google.com>": 1775311639728,
        "<5899111918280289$b1179fd84d8449148016eb099e6004c6@notice.aliexpress.com>": 1775311639728,
        "<0100019d50359d25-234dc7cd-921e-40ed-ab0c-0b6f5c7f07bd-000000@email.amazonses.com>": 1775311639729,
        "<0100019d5035501d-eaaa59a4-f8d0-448b-8898-e69d2f659fb4-000000@email.amazonses.com>": 1775311639730,
        "<114289993.57.1775155594552.s3nd1t.formit@formit-app-prd>": 1775311639730,
        "<4F.F6.14829.AD2BEC96@i-09f3e7c965a4decb0.mta1vrest.sd.prd.sparkpost>": 1775311639731,
        "<1775151151845877270.1.7256009540352885133@listmonk.example.com>": 1775311639731,
        "<aLRftELxB4LpXfejU-Gn6w@notifications.google.com>": 1775311639732,
        "<01KN7DXFAR69YV6RY9A9SAE5BA@klaviyomail.com>": 1775311639733,
        "<190318102.3502816.1775143438752@lor1-app136109.prod.linkedin.com>": 1775311639733,
        "<6tOJL9cuTLeAouCm7M7RYQ@geopod-ismtpd-16>": 1775311639734,
        "<312640761.3758404.1775135938530@lor1-app141274.prod.linkedin.com>": 1775311639735,
        "<calendar-a7b70cc9-db01-4fe2-adc5-37ba6aa8ffa0@google.com>": 1775311639735,
        "<465272339.3135651.1775128731988@lor1-app128736.prod.linkedin.com>": 1775311639736,
        "<anO1_b6VTpCtzf820qP6kA@geopod-ismtpd-48>": 1775311639737,
        "<Zs3scj5ZQTiTZecw4iHaFQ@geopod-ismtpd-114>": 1775311639738,
        "<1910016234.537474.1775121614695@lor1-app135747.prod.linkedin.com>": 1775311639739,
        "<NMFFDA3c10fa55-42fd-4f52-9074-6a71d22e4290006AB7BClnkd_mid_prod2@em.linkedin.com>": 1775311639740,
        "<418323393.2421267.1775114552695@lor1-app151564.prod.linkedin.com>": 1775311639741,
        "<3gLLV7A8WltZQzOPMEHV4w@notifications.google.com>": 1775328107055,
        "<19d59d989ef.13d15269122881.2916992251032309936@alex-it.net>": 1775328929821,
        "<KviKfTLqNii3yYpiF4YmUQ@notifications.google.com>": 1775330081403
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cd75c788-7cda-4816-b51b-3ea0d635ec7f",
  "activeVersionId": "cd75c788-7cda-4816-b51b-3ea0d635ec7f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T09:14:00.807Z",
      "createdAt": "2025-10-31T09:14:00.807Z",
      "role": "workflow:owner",
      "workflowId": "vb6sSMl5XrlcvUae",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-04T19:03:44.000Z",
    "createdAt": "2026-04-04T19:03:40.593Z",
    "versionId": "cd75c788-7cda-4816-b51b-3ea0d635ec7f",
    "workflowId": "vb6sSMl5XrlcvUae",
    "nodes": [
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Deduplication: track processed messageIds in workflow static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedIds) staticData.processedIds = {};\n\nconst msgId = $json.messageId || $json.id || '';\nif (!msgId) {\n  throw new Error('No messageId found — cannot deduplicate.');\n}\n\n// Clean up entries older than 24 hours\nconst now = Date.now();\nconst ONE_DAY = 24 * 60 * 60 * 1000;\nfor (const [key, ts] of Object.entries(staticData.processedIds)) {\n  if (now - ts > ONE_DAY) delete staticData.processedIds[key];\n}\n\nif (staticData.processedIds[msgId]) {\n  // Already processed — stop execution for this item\n  return [];\n}\n\nstaticData.processedIds[msgId] = now;\nreturn { json: $json };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          128
        ],
        "id": "a7ef4a82-48d3-437c-a335-f4576ef7ceda",
        "name": "Deduplicate"
      },
      {
        "parameters": {
          "chatId": "426570413",
          "text": "=🚨 *ONBOARDING FAILURE — JC PATH*\n\n❌ *Error:* {{$json.error?.message || $json.message || $json.stderr || $json.errorMessage || JSON.stringify($json).substring(0, 500)}}\n\n📧 *Original request from:* {{$('Email Parser JC').item.json.originalEmail?.from || 'Unknown'}}\n👤 *Name:* {{$('Email Parser JC').item.json.body?.firstname || '?'}} {{$('Email Parser JC').item.json.body?.lastname || '?'}}\n\n⏰ {{new Date().toISOString()}}\n\nPlease investigate and process manually if needed.",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2400,
          448
        ],
        "id": "7f1e043a-56ae-4333-8610-b75ee85a26e4",
        "name": "Error Alert JC",
        "webhookId": "c7e912bc-d583-4904-8cc6-b1b6edd9cbb1",
        "credentials": {
          "telegramApi": {
            "id": "QH2SVpRQkhmpSDsN",
            "name": "Users Bot"
          }
        }
      },
      {
        "parameters": {
          "chatId": "426570413",
          "text": "=🚨 *ONBOARDING FAILURE — AD PATH*\n\n❌ *Error:* {{$json.error?.message || $json.message || $json.stderr || $json.errorMessage || JSON.stringify($json).substring(0, 500)}}\n\n📧 *Original request from:* {{$('Email Parser AD').item.json.originalEmail?.from || 'Unknown'}}\n👤 *Name:* {{$('Email Parser AD').item.json.body?.firstname || '?'}} {{$('Email Parser AD').item.json.body?.lastname || '?'}}\n\n⏰ {{new Date().toISOString()}}\n\nPlease investigate and process manually if needed.",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2320,
          1056
        ],
        "id": "8ccf2cfa-18ca-41a7-9d96-d495d8cc0a11",
        "name": "Error Alert AD",
        "webhookId": "813f62f4-4082-4190-a6e6-3904d3063856",
        "credentials": {
          "telegramApi": {
            "id": "QH2SVpRQkhmpSDsN",
            "name": "Users Bot"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "simple": false,
          "filters": {},
          "options": {}
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          816,
          128
        ],
        "id": "cc1ac205-2457-413b-b04d-e67fda7df1aa",
        "name": "Gmail Trigger",
        "credentials": {
          "gmailOAuth2": {
            "id": "RppOCR2PhsLintBH",
            "name": "vinokura.it@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "7dd6a3f5-aa13-4fdc-88f8-a9798fbf925d",
                      "leftValue": "={{$json.subject || $json.headers?.subject?.replace(/^Subject:\\s*/i,'').trim() || ''}}",
                      "rightValue": "JC",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "3367d402-3127-4cf0-b3de-69d8cdc8cf90",
                      "leftValue": "={{$json.subject || $json.headers?.subject?.replace(/^Subject:\\s*/i,'').trim() || ''}}",
                      "rightValue": "AD",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1152,
          128
        ],
        "id": "a38a0337-54ba-48b7-9494-0460a3d5b512",
        "name": "Switch"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// ===== AD EMAIL PARSER WITH SANITIZATION =====\n\nfunction sanitize(val) {\n  if (!val || typeof val !== 'string') return '';\n  return val.replace(/[;'\"\\`$|&><\\\\{}()]/g, '').trim();\n}\n\nfunction htmlToText(html) {\n  if (!html) return '';\n  html = html\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/(p|div|li|tr|h\\d)>/gi, '\\n')\n    .replace(/&nbsp;/gi, ' ');\n  const text = html.replace(/<[^>]+>/g, ' ');\n  return text.replace(/\\r?\\n/g, '\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n}\n\nlet emailBody =\n  ($json.text && String($json.text)) ||\n  htmlToText($json.html) ||\n  htmlToText($json.textAsHtml) ||\n  ($json.snippet && String($json.snippet)) ||\n  '';\n\nif (!emailBody && $json.payload && $json.payload.body && $json.payload.body.data) {\n  try {\n    const buff = Buffer.from($json.payload.body.data, 'base64');\n    emailBody = buff.toString('utf8');\n  } catch (_) {}\n}\n\nconst flat = (emailBody || '').replace(/\\r/g, '').replace(/[ \\t]+/g, ' ').trim();\n\nconst LABELS = [\n  'First Name','Last Name','Employee Number','Job Title',\n  'Department','Manager SAM','Manager','Office Phone','Phone',\n  'Office Location','Location'\n];\n\nfunction esc(s){ return s.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'); }\n\nfunction captureAfter(label, src) {\n  const labelEsc = esc(label);\n  const next = LABELS.filter(l => l !== label).map(esc);\n  const lookahead = next.length ? `(?=\\\\s*(?:${next.join('|')})\\\\s*:|$)` : '$';\n  const re = new RegExp(`${labelEsc}\\\\s*:\\\\s*([\\\\s\\\\S]*?)\\\\s*${lookahead}`, 'i');\n  const m = src.match(re);\n  return m ? m[1].trim() : '';\n}\n\nconst userData = {\n  firstname:      sanitize(captureAfter('First Name', flat)),\n  lastname:       sanitize(captureAfter('Last Name', flat)),\n  employeenumber: sanitize(captureAfter('Employee Number', flat)),\n  jobtitle:       sanitize(captureAfter('Job Title', flat)),\n  department:     sanitize(captureAfter('Department', flat)),\n  managersam:     sanitize(captureAfter('Manager SAM', flat) || captureAfter('Manager', flat)),\n  officephone:    sanitize(captureAfter('Office Phone', flat) || captureAfter('Phone', flat)),\n  officelocation: sanitize(captureAfter('Office Location', flat) || captureAfter('Location', flat)),\n};\n\nconst required = ['firstname','lastname','employeenumber','jobtitle','department','managersam'];\nconst missing = required.filter(f => !userData[f] || userData[f].trim() === '');\nif (missing.length) {\n  throw new Error(`[AD] Missing required fields: ${missing.join(', ')}. Parsed body was empty or labels didn't match.`);\n}\n\nconst subj = $json.subject || ($json.headers?.subject?.replace(/^Subject:\\s*/i,'').trim()) || '';\nconst fromText = ($json.from?.text) || ($json.headers?.from?.replace(/^From:\\s*/i,'').trim()) || '';\nconst msgId = $json.messageId || ($json.headers?.['message-id']?.replace(/^Message-Id:\\s*/i,'').trim()) || '';\n\nreturn {\n  body: userData,\n  originalEmail: { subject: subj, from: fromText, messageId: msgId },\n  sanitized: true,\n  path: 'AD'\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1552,
          800
        ],
        "id": "a9910222-0e86-4f4e-9a1a-3b2df1d5a6b5",
        "name": "Email Parser AD"
      },
      {
        "parameters": {
          "sendTo": "={{ $('Gmail Trigger').item.json.from?.value?.map(v => v.address).join(', ') }}",
          "subject": "=Re: {{$('Gmail Trigger').item.json.subject}} - Processing Started",
          "message": "=<h2 style=\"color:blue;\">📧 User Creation Request Received</h2>\n\n<p>Thank you for your user creation request. We have received your email and are processing the following information:</p>\n\n<ul>\n<li><b>First Name:</b> {{$json[\"body\"][\"firstname\"]}}</li>\n<li><b>Last Name:</b> {{$json[\"body\"][\"lastname\"]}}</li>\n<li><b>Employee Number:</b> {{$json[\"body\"][\"employeenumber\"]}}</li>\n<li><b>Job Title:</b> {{$json[\"body\"][\"jobtitle\"]}}</li>\n<li><b>Department:</b> {{$json[\"body\"][\"department\"]}}</li>\n<li><b>Manager SAM:</b> {{$json[\"body\"][\"managersam\"]}}</li>\n<li><b>Office Phone:</b> {{$json[\"body\"][\"officephone\"] || 'Not provided'}}</li>\n<li><b>Office Location:</b> {{$json[\"body\"][\"officelocation\"] || 'Not provided'}}</li>\n</ul>\n\n<p style=\"color:green;\"><b>Status:</b> Processing...</p>\n<p>You will receive another notification once the user account has been created successfully.</p>\n\n<hr>\n<small>This is an automated message from Alex IT Systems.</small>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1664,
          352
        ],
        "id": "b70c8b4a-65c5-40ca-9c39-ec98f69df5b0",
        "name": "Send Acknowledgment AD",
        "webhookId": "799b1b4d-00fd-4a0c-890c-9991db9a7c75",
        "credentials": {
          "gmailOAuth2": {
            "id": "RppOCR2PhsLintBH",
            "name": "vinokura.it@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// ===== JC EMAIL PARSER WITH SANITIZATION =====\n\nfunction sanitize(val) {\n  if (!val || typeof val !== 'string') return '';\n  return val.replace(/[;'\"\\`$|&><\\\\{}()]/g, '').trim();\n}\n\nfunction htmlToText(html) {\n  if (!html) return '';\n  html = html\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/(p|div|li|tr|h\\d)>/gi, '\\n')\n    .replace(/&nbsp;/gi, ' ');\n  const text = html.replace(/<[^>]+>/g, ' ');\n  return text.replace(/\\r?\\n/g, '\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/[ \\t]{2,}/g, ' ').trim();\n}\n\nlet emailBody =\n  ($json.text && String($json.text)) ||\n  htmlToText($json.html) ||\n  htmlToText($json.textAsHtml) ||\n  ($json.snippet && String($json.snippet)) ||\n  '';\n\nif (!emailBody && $json.payload && $json.payload.body && $json.payload.body.data) {\n  try {\n    const buff = Buffer.from($json.payload.body.data, 'base64');\n    emailBody = buff.toString('utf8');\n  } catch (_) {}\n}\n\nconst flat = (emailBody || '').replace(/\\r/g, '').replace(/[ \\t]+/g, ' ').trim();\n\nconst LABELS = [\n  'First Name','Last Name','Employee Number','Job Title',\n  'Department','Manager SAM','Manager','Office Phone','Phone',\n  'Office Location','Location','Source Username'\n];\n\nfunction esc(s){ return s.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'); }\n\nfunction captureAfter(label, src) {\n  const labelEsc = esc(label);\n  const next = LABELS.filter(l => l !== label).map(esc);\n  const lookahead = next.length ? `(?=\\\\s*(?:${next.join('|')})\\\\s*:|$)` : '$';\n  const re = new RegExp(`${labelEsc}\\\\s*:\\\\s*([\\\\s\\\\S]*?)\\\\s*${lookahead}`, 'i');\n  const m = src.match(re);\n  return m ? m[1].trim() : '';\n}\n\nconst userData = {\n  firstname:      sanitize(captureAfter('First Name', flat)),\n  lastname:       sanitize(captureAfter('Last Name', flat)),\n  employeenumber: sanitize(captureAfter('Employee Number', flat)),\n  jobtitle:       sanitize(captureAfter('Job Title', flat)),\n  department:     sanitize(captureAfter('Department', flat)),\n  managersam:     sanitize(captureAfter('Manager SAM', flat) || captureAfter('Manager', flat)),\n  officephone:    sanitize(captureAfter('Office Phone', flat) || captureAfter('Phone', flat)),\n  officelocation: sanitize(captureAfter('Office Location', flat) || captureAfter('Location', flat)),\n  sourceusername: sanitize(captureAfter('Source Username', flat)),\n};\n\nconst required = ['firstname','lastname','employeenumber','jobtitle','department','managersam'];\nconst missing = required.filter(f => !userData[f] || userData[f].trim() === '');\nif (missing.length) {\n  throw new Error(`[JC] Missing required fields: ${missing.join(', ')}. Parsed body was empty or labels didn't match.`);\n}\n\nconst subj = $json.subject || ($json.headers?.subject?.replace(/^Subject:\\s*/i,'').trim()) || '';\nconst fromText = ($json.from?.text) || ($json.headers?.from?.replace(/^From:\\s*/i,'').trim()) || '';\nconst msgId = $json.messageId || ($json.headers?.['message-id']?.replace(/^Message-Id:\\s*/i,'').trim()) || '';\n\nreturn {\n  body: userData,\n  originalEmail: { subject: subj, from: fromText, messageId: msgId },\n  sanitized: true,\n  path: 'JC'\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1568,
          112
        ],
        "id": "46b61ee4-242d-4cdc-a6fa-608a7967e0f5",
        "name": "Email Parser JC"
      },
      {
        "parameters": {
          "command": "=powershell.exe -NoProfile -ExecutionPolicy Bypass -File \"C:\\Scripts\\Create-ADUser-From-n8n.ps1\" -FirstName \"{{$json[\"body\"][\"firstname\"]}}\" -LastName \"{{$json[\"body\"][\"lastname\"]}}\" -EmployeeNumber {{$json[\"body\"][\"employeenumber\"]}} -JobTitle \"{{$json[\"body\"][\"jobtitle\"]}}\" -Department \"{{$json[\"body\"][\"department\"]}}\" -ManagerSam \"{{$json[\"body\"][\"managersam\"]}}\" -OfficePhone \"{{$json[\"body\"][\"officephone\"]}}\" -OfficeLocation \"{{$json[\"body\"][\"officelocation\"]}}\"",
          "cwd": "="
        },
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          2032,
          800
        ],
        "id": "2ad0f91a-0a92-4f00-902d-0cb6b40e1b16",
        "name": "Create New AD User",
        "credentials": {
          "sshPassword": {
            "id": "umWU43lA8b3R4GcA",
            "name": "SSH Password account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "if (!$json[\"stdout\"] || $json[\"stdout\"].trim() === \"\") {\n  throw new Error(\"[AD] No JSON output received from PowerShell script. Stdout was empty.\");\n}\nlet out;\ntry {\n  out = JSON.parse($json[\"stdout\"]);\n} catch (e) {\n  throw new Error(\"[AD] Failed to parse JSON from PowerShell script: \" + e.message + \"\\n\\nOutput was:\\n\" + $json[\"stdout\"]);\n}\nif (out.error) {\n  throw new Error(\"[AD] PowerShell script error: \" + out.error);\n}\nreturn out;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          784
        ],
        "id": "6be49db5-a313-4638-be7f-895a8f95532b",
        "name": "PowerShell Output Parser AD",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C099QKJSCTD",
            "mode": "list",
            "cachedResultName": "new-user-created"
          },
          "text": "=🤖 *New AD User Created Successfully!*\n\n👤 *First Name:* {{$json[\"FirstName\"]}}\n👥 *Last Name:* {{$json[\"LastName\"]}}\n🪪 *Display Name:* {{$json[\"DisplayName\"]}}\n🆔 *Username:* `{{$json[\"Username\"]}}`\n🔢 *Employee ID:* `{{$json[\"EmployeeNumber\"]}}`\n💼 *Job Title:* {{$json[\"JobTitle\"]}}\n🏢 *Department:* {{$json[\"Department\"]}}\n👔 *Manager:* {{$json[\"Manager\"]}}\n📍 *Office Location:* {{$json[\"OfficeLocation\"]}}\n📞 *Phone:* {{$json[\"OfficePhone\"]}}\n📧 *Email:* {{$json[\"Email\"]}}\n🔑 *Password:* `{{$json[\"Password\"]}}`\n✉️ *DL Groups:* {{ $json[\"DLGroupsCopied\"]?.length > 0 ? $json[\"DLGroupsCopied\"].join(', ') : '_None_' }}\n🛡️ *Security Groups:* {{ $json[\"SecurityGroupsCopied\"]?.length > 0 ? $json[\"SecurityGroupsCopied\"].join(', ') : '_None_' }}\n\n{{ $json[\"ConflictMessage\"] ? '⚠️ *Note:*\\n' + $json[\"ConflictMessage\"].split('\\n').join('\\n') : '✅ No conflicts detected.' }}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2752,
          1008
        ],
        "id": "ff0f7afc-1671-480f-86ff-505c8896831d",
        "name": "Send a message AD",
        "webhookId": "619d4034-0d7d-43f0-9691-ea960aef7115",
        "credentials": {
          "slackApi": {
            "id": "obEYVo8oQOJ22JqX",
            "name": "AD Admin Bot"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "sashavi55555@yahoo.co.il",
          "subject": "New AD User Created",
          "message": "=<h1 style=\"color:blue;\">🤖 New AD User Created:</h1>\n<p style=\"color:black; font-size:1.1em;\"><b>First Name:</b> {{$json[\"FirstName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Last Name:</b> {{$json[\"LastName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Display Name:</b> {{$json[\"DisplayName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Username:</b> {{$json[\"Username\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Employee Number:</b> {{$json[\"EmployeeNumber\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Department:</b> {{$json[\"Department\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Job Title:</b> {{$json[\"JobTitle\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Manager:</b> {{$json[\"Manager\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Office Location:</b> {{$json[\"OfficeLocation\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Office Phone:</b> {{$json[\"OfficePhone\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>E-mail:</b> {{$json[\"Email\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>DL Groups Copied:</b> {{$json[\"DLGroupsCopied\"]?.join(', ') || 'None'}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Security Groups Copied:</b> {{$json[\"SecurityGroupsCopied\"]?.join(', ') || 'None'}}</p>\n<p style=\"color:red; font-size:1.3em;\"><b>Initial Password:</b> <code>{{$json[\"Password\"]}}</code></p>\n<p style=\"color:red; font-size:1.1em;\"><b>Make sure to save the initial password in a safe location!</b></p>\n<p style=\"color:green; font-size:1.3em;\"><b>Alex IT</b></p>\n<hr>\n<small>This is an automated message. Do not reply.</small>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2736,
          576
        ],
        "id": "39f39052-5503-490e-9b77-48f692a6bfed",
        "name": "Send Message AD",
        "webhookId": "961eced4-af4c-4015-a632-1c5dcecb5a5f",
        "executeOnce": false,
        "credentials": {
          "gmailOAuth2": {
            "id": "RppOCR2PhsLintBH",
            "name": "vinokura.it@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "={{ $('Gmail Trigger').item.json.from?.value?.map(v => v.address).join(', ') }}",
          "subject": "=Re: {{$('Gmail Trigger').item.json.subject}} - Processing Started",
          "message": "=<h2 style=\"color:blue;\">📧 User Creation Request Received</h2>\n\n<p>Thank you for your user creation request. We have received your email and are processing the following information:</p>\n\n<ul>\n<li><b>First Name:</b> {{$json[\"body\"][\"firstname\"]}}</li>\n<li><b>Last Name:</b> {{$json[\"body\"][\"lastname\"]}}</li>\n<li><b>Employee Number:</b> {{$json[\"body\"][\"employeenumber\"]}}</li>\n<li><b>Job Title:</b> {{$json[\"body\"][\"jobtitle\"]}}</li>\n<li><b>Department:</b> {{$json[\"body\"][\"department\"]}}</li>\n<li><b>Manager SAM:</b> {{$json[\"body\"][\"managersam\"]}}</li>\n<li><b>Office Phone:</b> {{$json[\"body\"][\"officephone\"] || 'Not provided'}}</li>\n<li><b>Office Location:</b> {{$json[\"body\"][\"officelocation\"] || 'Not provided'}}</li>\n</ul>\n\n<p style=\"color:green;\"><b>Status:</b> Processing...</p>\n<p>You will receive another notification once the user account has been created successfully.</p>\n\n<hr>\n<small>This is an automated message from Alex IT Systems.</small>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1680,
          -256
        ],
        "id": "b15b3821-7f63-4604-9515-efa35518e27e",
        "name": "Send Acknowledgment JC",
        "webhookId": "799b1b4d-00fd-4a0c-890c-9991db9a7c75",
        "credentials": {
          "gmailOAuth2": {
            "id": "RppOCR2PhsLintBH",
            "name": "vinokura.it@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "command": "=powershell.exe -NoProfile -Command \"& { C:\\Scripts\\Create-JCUser-From-n8n.ps1 -FirstName '{{$json[\"body\"][\"firstname\"]}}' -LastName '{{$json[\"body\"][\"lastname\"]}}' -EmployeeNumber '{{$json[\"body\"][\"employeenumber\"]}}' -JobTitle '{{$json[\"body\"][\"jobtitle\"]}}' -Department '{{$json[\"body\"][\"department\"]}}' -ManagerSam '{{$json[\"body\"][\"managersam\"]}}' -OfficePhone '{{$json[\"body\"][\"officephone\"]}}' -OfficeLocation '{{$json[\"body\"][\"officelocation\"]}}' -SourceUsername '{{$json[\"body\"][\"sourceusername\"]}}' }\"",
          "cwd": "="
        },
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          2016,
          112
        ],
        "id": "24fab732-aaca-4376-a5a9-c0bdfec35bd1",
        "name": "Create New JC User",
        "credentials": {
          "sshPassword": {
            "id": "umWU43lA8b3R4GcA",
            "name": "SSH Password account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "if (!$json[\"stdout\"] || $json[\"stdout\"].trim() === \"\") {\n  throw new Error(\"[JC] No JSON output received from PowerShell script. Stdout was empty.\");\n}\nlet out;\ntry {\n  out = JSON.parse($json[\"stdout\"]);\n} catch (e) {\n  throw new Error(\"[JC] Failed to parse JSON from PowerShell script: \" + e.message + \"\\n\\nOutput was:\\n\" + $json[\"stdout\"]);\n}\nif (out.error) {\n  throw new Error(\"[JC] PowerShell script error: \" + out.error);\n}\nreturn out;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2288,
          96
        ],
        "id": "d9be7da2-ed34-43f7-84c7-ff4f59a6116a",
        "name": "PowerShell Output Parser JC",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "sendTo": "sashavi55555@yahoo.co.il",
          "subject": "New JC User Created",
          "message": "=<h1 style=\"color:blue;\">🤖 New JC User Created:</h1>\n\n<p style=\"color:black; font-size:1.1em;\"><b>First Name:</b> {{$json[\"FirstName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Last Name:</b> {{$json[\"LastName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Display Name:</b> {{$json[\"FirstName\"]}} {{$json[\"LastName\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Employee Number:</b> {{$json[\"EmployeeNumber\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Department:</b> {{$json[\"Department\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Job Title:</b> {{$json[\"JobTitle\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Username:</b> {{$json[\"Username\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Manager:</b> {{$json[\"Manager\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Office Location:</b> {{$json[\"OfficeLocation\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Office Phone:</b> {{$json[\"OfficePhone\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>E-mail:</b> {{$json[\"Email\"]}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>DL Groups Copied:</b> {{$json[\"DLGroupsCopied\"]?.join(', ') || 'None'}}</p>\n<p style=\"color:black; font-size:1.1em;\"><b>Security Groups Copied:</b> {{$json[\"SecurityGroupsCopied\"]?.join(', ') || 'None'}}</p>\n<p style=\"color:red; font-size:1.3em;\"><b>Initial Password:</b> <code>{{$json[\"Password\"]}}</code></p>\n<p style=\"color:red; font-size:1.1em;\"><b>Make sure to save the initial password in a safe location!</b></p>\n<p style=\"color:green; font-size:1.3em;\"><b>Alex IT</b></p>\n<hr>\n<small>This is an automated message. Do not reply.</small>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2720,
          -160
        ],
        "id": "20faa24c-c0c3-4845-94d2-dd7b345ef97f",
        "name": "Send Message JC",
        "webhookId": "961eced4-af4c-4015-a632-1c5dcecb5a5f",
        "executeOnce": false,
        "credentials": {
          "gmailOAuth2": {
            "id": "RppOCR2PhsLintBH",
            "name": "vinokura.it@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "chatId": "426570413",
          "text": "=🤖 *New JC User Created Successfully!*\n\n*First Name:* {{$json[\"FirstName\"]}}\n*Last Name:* {{$json[\"LastName\"]}}\n*Display Name:* {{$json[\"FirstName\"]}} {{$json[\"LastName\"]}}\n*Employee Number:* {{$json[\"EmployeeNumber\"]}}\n*Job Title:* {{$json[\"JobTitle\"]}}\n*Department:* {{$json[\"Department\"]}}\n*Manager:* {{$json[\"Manager\"]}}\n*Office Location:* {{$json[\"OfficeLocation\"]}}\n*Phone:* {{$json[\"OfficePhone\"]}}\n*Email:* {{$json[\"Email\"]}}\n*Username:* {{$json[\"Username\"]}}\n*Password:* `{{$json[\"Password\"]}}`\n{{$json[\"ConflictMessage\"]}}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2720,
          80
        ],
        "id": "ea5b9a3d-7969-4bae-a50c-e4f65b22a241",
        "name": "Send a text message JC",
        "webhookId": "ae9b49c5-f740-4d7f-b4af-c7ce2935e45f",
        "executeOnce": false,
        "credentials": {
          "telegramApi": {
            "id": "QH2SVpRQkhmpSDsN",
            "name": "Users Bot"
          }
        }
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C099QKJSCTD",
            "mode": "list",
            "cachedResultName": "new-user-created"
          },
          "text": "=🤖 *New JC User Created Successfully!*\n\n👤 *First Name:* {{$json[\"FirstName\"]}}\n👥 *Last Name:* {{$json[\"LastName\"]}}\n🪪 *Display Name:* {{$json[\"FirstName\"]}} {{$json[\"LastName\"]}}\n🔢 *Employee ID:* `{{$json[\"EmployeeNumber\"]}}`\n💼 *Job Title:* {{$json[\"JobTitle\"]}}\n🏢 *Department:* {{$json[\"Department\"]}}\n👔 *Manager:* {{$json[\"Manager\"]}}\n📍 *Office Location:* {{$json[\"OfficeLocation\"]}}\n📞 *Phone:* {{$json[\"OfficePhone\"]}}\n📧 *Email:* {{$json[\"Email\"]}}\n🆔 *Username:* `{{$json[\"Username\"]}}`\n🔑 *Password:* `{{$json[\"Password\"]}}`\n\n{{$json[\"ConflictMessage\"] ? '⚠️ *Note:* ' + $json[\"ConflictMessage\"] : '✅ No conflicts detected.'}}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2720,
          320
        ],
        "id": "ca120eab-5c60-4288-8a7c-978c439fd15b",
        "name": "Send a message JC",
        "webhookId": "619d4034-0d7d-43f0-9691-ea960aef7115",
        "credentials": {
          "slackApi": {
            "id": "obEYVo8oQOJ22JqX",
            "name": "AD Admin Bot"
          }
        }
      },
      {
        "parameters": {
          "chatId": "426570413",
          "text": "=🤖 <b>New AD User Created Successfully!</b>\n\n<b>First Name:</b> {{$json[\"FirstName\"]}}\n<b>Last Name:</b> {{$json[\"LastName\"]}}\n<b>Display Name:</b> {{$json[\"DisplayName\"]}}\n<b>Employee Number:</b> {{$json[\"EmployeeNumber\"]}}\n<b>Job Title:</b> {{$json[\"JobTitle\"]}}\n<b>Department:</b> {{$json[\"Department\"]}}\n<b>Manager:</b> {{$json[\"Manager\"]}}\n<b>Office Location:</b> {{$json[\"OfficeLocation\"]}}\n<b>Phone:</b> {{$json[\"OfficePhone\"]}}\n<b>Email:</b> {{$json[\"Email\"]}}\n<b>Username:</b> <code>{{$json[\"Username\"]}}</code>\n<b>Password:</b> <code>{{$json[\"Password\"].replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')}}</code>\n<b>DL Groups Copied:</b> {{$json[\"DLGroupsCopied\"]?.join(', ') || 'None'}}\n<b>Security Groups Copied:</b> {{$json[\"SecurityGroupsCopied\"]?.join(', ') || 'None'}}\n{{ $json[\"ConflictMessage\"] ? '⚠️ <b>Note:</b>\\n' + $json[\"ConflictMessage\"].replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;') : '✅ No conflicts detected.' }}",
          "additionalFields": {
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2736,
          768
        ],
        "id": "ecaeb4f5-7d99-4bc1-9bbe-77793b733d88",
        "name": "Send a text message AD",
        "webhookId": "ae9b49c5-f740-4d7f-b4af-c7ce2935e45f",
        "executeOnce": false,
        "credentials": {
          "telegramApi": {
            "id": "QH2SVpRQkhmpSDsN",
            "name": "Users Bot"
          }
        }
      }
    ],
    "connections": {
      "Deduplicate": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "Deduplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Email Parser JC",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Email Parser AD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email Parser AD": {
        "main": [
          [
            {
              "node": "Send Acknowledgment AD",
              "type": "main",
              "index": 0
            },
            {
              "node": "Create New AD User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email Parser JC": {
        "main": [
          [
            {
              "node": "Create New JC User",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Acknowledgment JC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create New AD User": {
        "main": [
          [
            {
              "node": "PowerShell Output Parser AD",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Alert AD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PowerShell Output Parser AD": {
        "main": [
          [
            {
              "node": "Send a message AD",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Message AD",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send a text message AD",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Alert AD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create New JC User": {
        "main": [
          [
            {
              "node": "PowerShell Output Parser JC",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Alert JC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PowerShell Output Parser JC": {
        "main": [
          [
            {
              "node": "Send a message JC",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Message JC",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send a text message JC",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Alert JC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version cd75c788",
    "description": "",
    "autosaved": true
  },
  "tags": []
}