PI workflows backup 2026-03-31 00-00/Manual Slack Article Summarizer.json
{
  "updatedAt": "2026-03-30T13:17:26.587Z",
  "createdAt": "2025-09-02T14:15:51.644Z",
  "id": "UkPfwOVWETGpaImb",
  "name": "Manual Slack Article Summarizer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -6784,
        -720
      ],
      "id": "0e446bc6-3f96-4879-9bd9-886fb64a0279",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "jsCode": "// Set the URL to summarize here\nconst url = \"https://www.geektime.co.il/one-more-thing-macintosh-apple-50th-anniversary\";\nreturn [{ json: { url } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6496,
        -720
      ],
      "id": "dec7e23d-66ee-4eb0-96c6-ec5f7b1ccba5",
      "name": "Set URL"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/plain"
            },
            {
              "name": "X-Return-Format",
              "value": "text"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6272,
        -720
      ],
      "id": "ac197c52-7c0e-4f01-a90b-09bea9298069",
      "name": "Jina Reader",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst url = $('Set URL').first().json.url || \"\";\n\n// Check if Jina returned usable content\nlet jinaText = input.data || input.html || input.body || input.content || input.response || \"\";\nif (typeof jinaText !== \"string\") jinaText = String(jinaText);\n\n// Jina returns markdown — strip common markdown artifacts but keep the text\njinaText = jinaText\n  .replace(/!\\[[^\\]]*\\]\\([^)]*\\)/g, \"\")   // remove images\n  .replace(/\\[[^\\]]*\\]\\([^)]*\\)/g, (m) => { // keep link text, drop URL\n    const text = m.match(/\\[([^\\]]*)\\]/);\n    return text ? text[1] : \"\";\n  })\n  .replace(/^#{1,6}\\s+/gm, \"\")             // remove heading markers\n  .replace(/\\*\\*([^*]+)\\*\\*/g, \"$1\")       // remove bold\n  .replace(/\\*([^*]+)\\*/g, \"$1\")           // remove italic\n  .replace(/^[\\-\\*]\\s+/gm, \"\")             // remove list markers\n  .replace(/\\n{3,}/g, \"\\n\\n\")              // collapse newlines\n  .trim();\n\nconst hasError = !!(input.error || input.statusCode >= 400);\nconst tooShort = jinaText.length < 200;\n\nif (hasError || tooShort) {\n  // Pass through to fallback HTML extraction\n  return [{ json: { jinaFailed: true, jinaLength: jinaText.length, url } }];\n}\n\n// Jina succeeded — extract title from first line if it looks like a title\nlet pageTitle = \"\";\nconst lines = jinaText.split(\"\\n\").filter(l => l.trim());\nif (lines.length > 0 && lines[0].length < 200) {\n  pageTitle = lines[0].trim();\n}\n\nconst MAX_LENGTH = 8000;\nlet article = jinaText;\nif (article.length > MAX_LENGTH) {\n  article = article.substring(0, MAX_LENGTH) + \"... [truncated]\";\n}\n\nreturn [{ json: { \n  article, \n  url, \n  pageTitle, \n  originalLength: jinaText.length, \n  extractedLength: article.length, \n  valid: true,\n  jinaFailed: false,\n  source: \"jina\"\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6048,
        -720
      ],
      "id": "5c275d89-5246-4c6b-a5c9-19898641870c",
      "name": "Check Jina Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.jinaFailed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "jina-fallback-check"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5824,
        -720
      ],
      "id": "810db8e1-e065-4f2b-b5cc-ee436c07c62b",
      "name": "Jina Failed?"
    },
    {
      "parameters": {
        "url": "={{ $('Set URL').first().json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5552,
        -496
      ],
      "id": "054a0c21-1fe2-4999-bef3-638e04a64c4d",
      "name": "HTTP Request (Fallback)"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst html = inputData.data || inputData.html || inputData.body || inputData.content || inputData.response || \"\";\nconst url = $('Set URL').first().json.url || \"\";\n\nif (!html) {\n  return [{ json: { error: \"No HTML content found\", article: \"\", url, pageTitle: \"\", valid: false } }];\n}\n\n// Decode HTML entities helper\nfunction decodeEntities(str) {\n  return str\n    .replace(/&#x([0-9A-Fa-f]+);/g, (_, hex) => String.fromCharCode(parseInt(hex, 16)))\n    .replace(/&#([0-9]+);/g, (_, dec) => String.fromCharCode(parseInt(dec, 10)))\n    .replace(/&amp;/g, \"&\")\n    .replace(/&lt;/g, \"<\")\n    .replace(/&gt;/g, \">\")\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&nbsp;/g, \" \");\n}\n\nlet pageTitle = \"\";\ntry {\n  const titleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\n  if (titleMatch) pageTitle = decodeEntities(titleMatch[1]).trim();\n} catch(e) {}\n\nconst MAX_LENGTH = 8000;\nlet text = \"\";\n\ntry {\n  const matches = html.match(/<(p|h[1-6])[^>]*>([\\s\\S]*?)<\\/(p|h[1-6])>/gi);\n  if (matches) {\n    text = matches\n      .map(m => decodeEntities(m.replace(/<[^>]+>/g, \"\")).trim())\n      .filter(t => t.length > 5)\n      .join(\"\\n\\n\");\n  }\n} catch (e) {}\n\nif (text.length < 100) {\n  try {\n    const jsonBlocks = html.match(/<script[^>]+type=[\"']application\\/(ld\\+json|json)[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi);\n    if (jsonBlocks) {\n      for (let block of jsonBlocks) {\n        try {\n          const clean = block.replace(/<script[^>]*>/i, \"\").replace(/<\\/script>/i, \"\").trim();\n          const parsed = JSON.parse(clean);\n          const findText = (obj) => {\n            if (!obj || typeof obj !== \"object\") return null;\n            if (obj.articleBody && typeof obj.articleBody === \"string\") return obj.articleBody;\n            if (obj.text && typeof obj.text === \"string\" && obj.text.length > 100) return obj.text;\n            if (Array.isArray(obj)) { for (const el of obj) { const r = findText(el); if (r) return r; } }\n            else { for (const key of Object.keys(obj)) { const r = findText(obj[key]); if (r) return r; } }\n            return null;\n          };\n          const result = findText(parsed);\n          if (result) { text = decodeEntities(result); break; }\n        } catch (err) {}\n      }\n    }\n  } catch (e) {}\n}\n\nif (!text || text.length < 200) {\n  return [{ json: { \n    error: \"Article body not found or too short (likely JS-rendered or blocked). Extracted only \" + text.length + \" chars.\", \n    article: text, \n    url, \n    pageTitle, \n    valid: false \n  } }];\n}\n\nif (text.length > MAX_LENGTH) {\n  text = text.substring(0, MAX_LENGTH) + \"... [truncated]\";\n}\n\nreturn [{ json: { article: text, url, pageTitle, originalLength: html.length, extractedLength: text.length, valid: true, source: \"fallback\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5280,
        -496
      ],
      "id": "950ce6ea-2588-4903-8587-67e37105fc6a",
      "name": "Extract Article Text (Fallback)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "guard-check-1"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5008,
        -496
      ],
      "id": "53decfc3-9769-4ec0-9181-d540a631a64b",
      "name": "Fallback Extracted?"
    },
    {
      "parameters": {
        "jsCode": "const url = $('Set URL').first().json.url || \"\";\nconst pageTitle = $json.pageTitle || \"\";\nconst error = $json.error || \"Could not extract article content\";\n\nconst displayName = pageTitle || url || \"Unknown\";\nconst link = url ? `<${url}|${displayName}>` : displayName;\n\nconst text = `:warning: *Could not summarize article*\\n\\n${link}\\n\\n_Reason: ${error}_\\n\\n_Tried both Jina Reader and direct HTML extraction. The page may be JS-rendered, paywalled, or blocking automated access. Try a direct article URL instead of an aggregator like MSN._`;\n\nreturn [{ json: { text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4736,
        -304
      ],
      "id": "b0b162f8-8d48-495c-ae7e-b4a3b239647e",
      "name": "Error Message"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09BFKKCMQ8",
          "mode": "list",
          "cachedResultName": "n8n-sammarize"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -4464,
        -304
      ],
      "id": "772d8507-0cea-46a3-a7ff-bc8ce8dbd7f8",
      "name": "Send Error to Slack",
      "webhookId": "fb37895d-0d8c-46d3-bb18-44e99df4fbf3",
      "credentials": {
        "slackApi": {
          "id": "I5astSkOODZZU76Y",
          "name": "n8n Summery"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.article || \"\";\nconst url = $json.url || \"\";\nconst pageTitle = $json.pageTitle || \"\";\n\nif (!text) {\n  return [{ json: { language: \"en\", article: \"\", url, pageTitle } }];\n}\n\n// Check both article text AND page title for Hebrew\nconst combinedText = text + \" \" + pageTitle;\nconst hebrewMatches = combinedText.match(/[\\u0590-\\u05FF]/g) || [];\nconst hebrewRatio = hebrewMatches.length / combinedText.length;\n\n// Check if URL is from known Hebrew sites\nconst hebrewDomains = ['walla.co.il', 'ynet.co.il', 'mako.co.il', 'haaretz.co.il', 'haaretz.com', 'globes.co.il', 'calcalist.co.il', 'maariv.co.il', 'israelhayom.co.il', 'kan.org.il', 'now14.co.il', 'ice.co.il', 'sport5.co.il', 'geektime.co.il', 'themarker.com', 'timeout.co.il', 'n12.co.il', 'reshet.tv', 'news.walla.co.il', 'e.walla.co.il'];\nconst isHebrewDomain = hebrewDomains.some(d => url.includes(d));\n\n// Check page title for Hebrew\nconst titleHebrewMatches = pageTitle.match(/[\\u0590-\\u05FF]/g) || [];\nconst titleHasHebrew = titleHebrewMatches.length > 3;\n\nconst language = (hebrewRatio > 0.1 || isHebrewDomain || titleHasHebrew) ? \"he\" : \"en\";\n\nconsole.log(`Language: ${language}, ratio: ${hebrewRatio.toFixed(3)}, hebrewDomain: ${isHebrewDomain}, titleHebrew: ${titleHasHebrew}`);\n\nreturn [{ json: { language, article: text, url, pageTitle } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4736,
        -704
      ],
      "id": "c510d984-f694-48ad-99ae-983084799389",
      "name": "Language Detector1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.language }}",
                    "rightValue": "en",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c3a00057-dd80-40ab-b521-1aa9530c0682"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.language }}",
                    "rightValue": "he",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fa9803a0-8dfc-4651-a929-dd4926aec98c"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4464,
        -704
      ],
      "id": "5dddf4e9-92e6-42f5-8664-b00bd67e32be",
      "name": "Route by Language1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a summarization tool. Output ONLY valid JSON, nothing else.\n\nCRITICAL: You may ONLY use information that appears in the article text below. If the article is empty, very short, or seems like garbage/HTML fragments, respond with:\n{\"title\": \"Error: Could not extract article\", \"bullets\": [\"The article content could not be extracted from the source page.\", \"The page may require JavaScript rendering or may be blocking access.\", \"Try using a direct article URL instead of an aggregator.\", \"No summary is possible without article content.\", \"Please try a different URL or source.\"]}\n\nDo NOT invent, fabricate, or hallucinate ANY content. Do NOT write a summary about a topic you think the URL might be about. ONLY summarize text that is explicitly provided below.\n\n{{$json[\"language\"] === \"he\" ? 'CRITICAL INSTRUCTION: You MUST write the title and ALL bullet points in Hebrew (עברית). Do NOT write in English. Every single word must be in Hebrew. If you write even one bullet in English, you have failed.' : 'Write the title and all bullet points in English.'}}\n\nSummarize the article into a short headline title and exactly 5 detailed bullet points.\n\nRules for the TITLE:\n- The title should be a short, compelling headline (5-10 words max).\n- It must capture the main event or topic of the article.\n- Do NOT repeat the title content in the first bullet point.\n\nRules for BULLET POINTS:\n- Each bullet MUST be 3-4 sentences long, approximately 50-70 words each.\n- Each bullet must cover a DIFFERENT key aspect of the article.\n- Include specific details: real names, dates, numbers, locations, and quotes from the article.\n- The first bullet should provide essential context and background, NOT repeat the title.\n- Remaining bullets should cover: key events/actions, people involved, consequences/impact, and broader context or next steps.\n- Do NOT invent or guess dates, facts, or details not in the article.\n- If the article does not mention something, do not make it up.\n- No bullet characters, no markdown, no extra text.\n- Output ONLY the JSON object below, nothing before or after it.\n\n{\"title\": \"Short headline title\", \"bullets\": [\"Detailed point 1 with context and background.\", \"Detailed point 2 about key events.\", \"Detailed point 3 about people and actions.\", \"Detailed point 4 about consequences.\", \"Detailed point 5 about broader context.\"]}\n\nArticle:\n{{ $json[\"article\"] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -4224,
        -512
      ],
      "id": "ac1c7eb3-20d0-413d-bc02-bf9e662d104d",
      "name": "AI Agent (OpenRouter)1"
    },
    {
      "parameters": {
        "jsCode": "console.log(\"=== VALIDATOR START ===\");\n\n// Try to get language from Language Detector\nlet language = \"en\";\nlet url = \"\";\nlet pageTitle = \"\";\ntry {\n  const upstream = $('Language Detector1').first().json;\n  language = upstream.language || \"en\";\n  url = upstream.url || \"\";\n  pageTitle = upstream.pageTitle || \"\";\n} catch(e) {\n  console.log(\"Could not read Language Detector:\", e.message);\n}\n\nlet raw = $json.output || $json.text || $json.content || \"\";\nif (typeof raw !== \"string\") raw = JSON.stringify(raw);\n\nconsole.log(\"Raw length:\", raw.length);\nconsole.log(\"Raw first 500:\", raw.slice(0, 500));\n\n// Clean markdown fences and normalize quotes\nlet s = raw\n  .replace(/```json\\s*/gi, \"\")\n  .replace(/```\\s*/g, \"\")\n  .replace(/[\\u2018\\u2019]/g, \"'\")\n  .replace(/[\\u201C\\u201D]/g, '\"')\n  .trim();\n\n// Extract JSON object from surrounding text\nconst jsonStart = s.indexOf('{');\nconst jsonEnd = s.lastIndexOf('}');\nif (jsonStart !== -1 && jsonEnd > jsonStart) {\n  s = s.substring(jsonStart, jsonEnd + 1);\n}\n\nlet obj = null;\n\n// Attempt 1: Direct parse\ntry {\n  obj = JSON.parse(s);\n  if (typeof obj === \"string\") obj = JSON.parse(obj);\n  console.log(\"Parse attempt 1 OK\");\n} catch (e) {\n  console.log(\"Parse 1 failed:\", e.message);\n}\n\n// Attempt 2: Fix trailing commas, newlines\nif (!obj) {\n  try {\n    let fixed = s.replace(/,\\s*]/g, \"]\").replace(/,\\s*}/g, \"}\").replace(/\\n/g, \" \").replace(/\\t/g, \" \");\n    obj = JSON.parse(fixed);\n    console.log(\"Parse attempt 2 OK\");\n  } catch (e) {\n    console.log(\"Parse 2 failed:\", e.message);\n  }\n}\n\n// Attempt 3: Truncated JSON repair\nif (!obj) {\n  try {\n    let repair = s;\n    const openBrackets = (repair.match(/\\[/g) || []).length;\n    const closeBrackets = (repair.match(/\\]/g) || []).length;\n    const openBraces = (repair.match(/\\{/g) || []).length;\n    const closeBraces = (repair.match(/\\}/g) || []).length;\n    const quotes = repair.match(/(?<!\\\\)\"/g) || [];\n    if (quotes.length % 2 !== 0) repair += '\"';\n    for (let i = 0; i < (openBrackets - closeBrackets); i++) repair += ']';\n    for (let i = 0; i < (openBraces - closeBraces); i++) repair += '}';\n    repair = repair.replace(/,\\s*]/g, \"]\").replace(/,\\s*}/g, \"}\");\n    obj = JSON.parse(repair);\n    console.log(\"Parse attempt 3 (repair) OK\");\n  } catch (e) {\n    console.log(\"Parse 3 failed:\", e.message);\n  }\n}\n\n// Attempt 4: Regex salvage\nif (!obj || typeof obj !== \"object\") {\n  const titleMatch = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n  const bulletMatches = [...s.matchAll(/\"((?:[^\"\\\\]|\\\\.){10,})\"/g)]\n    .map(m => m[1])\n    .filter(t => !t.match(/^(title|bullets|language|url|Short title|Point \\d)$/i) && t.length > 15);\n  if (titleMatch && bulletMatches.length >= 2) {\n    obj = { title: titleMatch[1], bullets: bulletMatches.slice(0, 5) };\n    console.log(\"Regex salvage OK\");\n  }\n}\n\nif (!obj) {\n  return [{ json: { error: \"Failed to parse AI output\", raw: s.slice(0, 500), language, url } }];\n}\n\n// GUARD: Check if the AI returned an error title (refused to summarize)\nif (obj.title && obj.title.toLowerCase().includes(\"error\")) {\n  return [{ json: { error: \"AI could not summarize: \" + obj.title, raw: \"\", language, url, pageTitle } }];\n}\n\nlet title = obj.title || \"Summary\";\nlet bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n\nbullets = bullets\n  .map(b => typeof b !== \"string\" ? String(b) : b)\n  .map(b => b.replace(/\\\\n/g, \" \").replace(/\\\\t/g, \" \").replace(/\\\\\"/g, '\"').trim())\n  .filter(b => b.length > 5);\n\nif (bullets.length > 5) bullets = bullets.slice(0, 5);\nconst defaultBullet = language === \"he\" ? \"לא נמצאו פרטים נוספים.\" : \"No further details available.\";\nwhile (bullets.length < 5) bullets.push(defaultBullet);\n\nconsole.log(\"=== VALIDATOR OK: title:\", title, \"bullets:\", bullets.length);\nreturn [{ json: { title, bullets, language, url, pageTitle, source: language === \"he\" ? \"OpenRouter\" : \"Local\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3888,
        -704
      ],
      "id": "6daade02-bfa8-4584-bb21-c5016acb5a2e",
      "name": "Validator"
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\nconst title = input.title || null;\nconst bullets = input.bullets || null;\nconst error = input.error || null;\nconst raw = input.raw || \"\";\nconst url = input.url || \"\";\nconst pageTitle = input.pageTitle || \"\";\nconst language = input.language || \"en\";\nconst source = input.source || \"Unknown\";\n\nif (error && (!bullets || !Array.isArray(bullets) || bullets.length === 0)) {\n  const errorMsg = language === \"he\" ? \"שגיאה בעיבוד המאמר\" : \"Error processing article\";\n  const sourceText = language === \"he\" ? \"מקור:\" : \"Source:\";\n  return [{\n    json: {\n      text: `⚠️ ${errorMsg}\\n\\n${sourceText} ${url ? `<${url}|${url}>` : \"Unknown\"}\\n\\n\\`\\`\\`\\n${raw?.slice(0, 500) || \"No content\"}\\n\\`\\`\\``\n    }\n  }];\n}\n\n// Decode HTML entities\nfunction decodeEntities(str) {\n  return str\n    .replace(/&#x([0-9A-Fa-f]+);/g, (_, hex) => String.fromCharCode(parseInt(hex, 16)))\n    .replace(/&#([0-9]+);/g, (_, dec) => String.fromCharCode(parseInt(dec, 10)))\n    .replace(/&amp;/g, \"&\")\n    .replace(/&lt;/g, \"<\")\n    .replace(/&gt;/g, \">\")\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&nbsp;/g, \" \");\n}\n\nlet cleanTitle = decodeEntities(String(title || \"Summary\"))\n  .replace(/^[\"']|[\"']$/g, \"\")\n  .replace(/[.,\"]+$/, \"\")\n  .replace(/automated with this n8n workflow/i, \"\")\n  .trim();\n\nlet displayPageTitle = pageTitle ? decodeEntities(pageTitle) : \"\";\n\nlet cleanBullets = (Array.isArray(bullets) ? bullets : [])\n  .map(b => String(b).trim())\n  .filter(b => b && !/automated with this n8n workflow/i.test(b))\n  .map(b => {\n    let cleaned = b.replace(/^[\"']|[\"']$/g, \"\").replace(/^[•\\-\\*\\s]+/, \"\").trim();\n    cleaned = cleaned.replace(/\\.{2,}/g, \".\");\n    if (cleaned.length > 0) cleaned = cleaned.charAt(0).toUpperCase() + cleaned.slice(1);\n    if (!/[.!?]$/.test(cleaned) && !/[׃׀]$/.test(cleaned)) cleaned += \".\";\n    return cleaned;\n  })\n  .filter(Boolean)\n  .slice(0, 5);\n\nconst defaultBullet = language === \"he\" ? \"לא נמצאו פרטים נוספים.\" : \"No further details available.\";\nwhile (cleanBullets.length < 5) cleanBullets.push(defaultBullet);\n\nconst RTL = \"\\u200F\";\nconst summaryLabel = language === \"he\" ? \"סיכום:\" : \"Summary:\";\n\nconst titleLink = url ? `<${url}|${cleanTitle}>` : cleanTitle;\nconst summaryLine = language === \"he\"\n  ? `:brain: ${summaryLabel} ${RTL}${titleLink}${RTL}`\n  : `:brain: ${summaryLabel} ${titleLink}`;\n\nlet parts;\nif (language === \"he\") {\n  parts = [\n    summaryLine,\n    \"\",\n    ...cleanBullets.map((b, i) => `${i + 1}. ${RTL}${b}${RTL}`),\n    \"\"\n  ];\n} else {\n  parts = [\n    summaryLine,\n    \"\",\n    ...cleanBullets.map(b => `• ${b}`),\n    \"\"\n  ];\n}\n\nreturn [{ json: { text: parts.join(\"\\n\") } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3552,
        -704
      ],
      "id": "acc34fe2-b935-44ea-bd68-195df3750a7c",
      "name": "Formatter"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09BFKKCMQ8",
          "mode": "list",
          "cachedResultName": "n8n-sammarize"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3216,
        -704
      ],
      "id": "ef7a1490-0600-4a84-9b85-56da904d11b3",
      "name": "Send to Slack",
      "webhookId": "fb37895d-0d8c-46d3-bb18-44e99df4fbf3",
      "credentials": {
        "slackApi": {
          "id": "I5astSkOODZZU76Y",
          "name": "n8n Summery"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -4224,
        -288
      ],
      "id": "44d44d5e-8be6-47a9-a13e-aeec67636eb6",
      "name": "OpenRouter Fallback",
      "credentials": {
        "openRouterApi": {
          "id": "hGAnvpSAhWRbFktq",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemma-3-12b",
          "mode": "list",
          "cachedResultName": "google/gemma-3-12b"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4240,
        -656
      ],
      "id": "a71bbb13-515f-43e0-afd2-ab9cfc620bde",
      "name": "Local Gemma 12B",
      "credentials": {
        "openAiApi": {
          "id": "Qixf0scvpigYEtTm",
          "name": "Macbook mini m4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a summarization tool. Output ONLY valid JSON, nothing else.\n\nCRITICAL: You may ONLY use information that appears in the article text below. If the article is empty, very short, or seems like garbage/HTML fragments, respond with:\n{\"title\": \"Error: Could not extract article\", \"bullets\": [\"The article content could not be extracted from the source page.\", \"The page may require JavaScript rendering or may be blocking access.\", \"Try using a direct article URL instead of an aggregator.\", \"No summary is possible without article content.\", \"Please try a different URL or source.\"]}\n\nDo NOT invent, fabricate, or hallucinate ANY content. Do NOT write a summary about a topic you think the URL might be about. ONLY summarize text that is explicitly provided below.\n\n{{$json[\"language\"] === \"he\" ? 'CRITICAL INSTRUCTION: You MUST write the title and ALL bullet points in Hebrew (עברית). Do NOT write in English. Every single word must be in Hebrew. If you write even one bullet in English, you have failed.' : 'Write the title and all bullet points in English.'}}\n\nSummarize the article into a short headline title and exactly 5 detailed bullet points.\n\nRules for the TITLE:\n- The title should be a short, compelling headline (5-10 words max).\n- It must capture the main event or topic of the article.\n- Do NOT repeat the title content in the first bullet point.\n\nRules for BULLET POINTS:\n- Each bullet MUST be 3-4 sentences long, approximately 50-70 words each.\n- Each bullet must cover a DIFFERENT key aspect of the article.\n- Include specific details: real names, dates, numbers, locations, and quotes from the article.\n- The first bullet should provide essential context and background, NOT repeat the title.\n- Remaining bullets should cover: key events/actions, people involved, consequences/impact, and broader context or next steps.\n- Do NOT invent or guess dates, facts, or details not in the article.\n- If the article does not mention something, do not make it up.\n- No bullet characters, no markdown, no extra text.\n- Output ONLY the JSON object below, nothing before or after it.\n\n{\"title\": \"Short headline title\", \"bullets\": [\"Detailed point 1 with context and background.\", \"Detailed point 2 about key events.\", \"Detailed point 3 about people and actions.\", \"Detailed point 4 about consequences.\", \"Detailed point 5 about broader context.\"]}\n\nArticle:\n{{ $json[\"article\"] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -4240,
        -944
      ],
      "id": "eeb85636-f9b6-4cf9-a179-293af196287b",
      "name": "AI Agent (Local)"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set URL": {
      "main": [
        [
          {
            "node": "Jina Reader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Reader": {
      "main": [
        [
          {
            "node": "Check Jina Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Jina Result": {
      "main": [
        [
          {
            "node": "Jina Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Failed?": {
      "main": [
        [
          {
            "node": "HTTP Request (Fallback)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Language Detector1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Fallback)": {
      "main": [
        [
          {
            "node": "Extract Article Text (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article Text (Fallback)": {
      "main": [
        [
          {
            "node": "Fallback Extracted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Extracted?": {
      "main": [
        [
          {
            "node": "Language Detector1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Message": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Language Detector1": {
      "main": [
        [
          {
            "node": "Route by Language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Language1": {
      "main": [
        [
          {
            "node": "AI Agent (Local)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent (OpenRouter)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (OpenRouter)1": {
      "main": [
        [
          {
            "node": "Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validator": {
      "main": [
        [
          {
            "node": "Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatter": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (OpenRouter)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Local Gemma 12B": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Local)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Local)": {
      "main": [
        [
          {
            "node": "Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "86ec3521-bf81-4182-9063-7372e2a43186",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-31T09:14:00.833Z",
      "createdAt": "2025-10-31T09:14:00.833Z",
      "role": "workflow:owner",
      "workflowId": "UkPfwOVWETGpaImb",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": null,
  "tags": []
}