PI workflows backup 2026-03-15 20-00/Whtsapp AI Bot.json
{
  "updatedAt": "2026-03-14T13:10:03.945Z",
  "createdAt": "2026-03-13T10:46:06.839Z",
  "id": "TuCodb0y457nG7iM",
  "name": "Whtsapp AI Bot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-incoming-bot",
        "options": {}
      },
      "id": "99ef85f5-216b-4bf1-a135-4571f2774c88",
      "name": "Webhook - Receive WhatsApp Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        448,
        -1264
      ],
      "webhookId": "waha-incoming-bot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-chat-id",
              "leftValue": "={{ $json.body.payload.from }}",
              "rightValue": "120363426439026095@g.us",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-not-from-api",
              "leftValue": "={{ $json.body.payload.source }}",
              "rightValue": "api",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f173fcea-d055-4d8d-b183-687c35557764",
      "name": "Filter: AI Bot group only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        720,
        -1264
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-from",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "extract-question",
              "name": "question",
              "value": "={{ $json.body.payload.body.trim() }}",
              "type": "string"
            },
            {
              "id": "session-key",
              "name": "sessionKey",
              "value": "={{ 'history_' + $json.body.payload.from.replace(/[^a-z0-9]/gi, '_') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "408fbd56-9128-4e0e-b534-3c6083b9b767",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        -1264
      ]
    },
    {
      "parameters": {
        "jsCode": "const key = $json.sessionKey;\nconst stored = $getWorkflowStaticData('global');\nconst history = stored[key] ? JSON.parse(stored[key]) : [];\n\nreturn [{\n  json: {\n    chatId: $json.chatId,\n    question: $json.question,\n    sessionKey: $json.sessionKey,\n    history: history\n  }\n}];"
      },
      "id": "e6fd0ff8-f6b2-4aa0-a312-99b43746726e",
      "name": "Load History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -1264
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "google/gemma-3-12b",
          "mode": "list",
          "cachedResultName": "GOOGLE/GEMMA-3-12B"
        },
        "messages": {
          "values": [
            {
              "content": "You are Alex’s AI assistant. Answer questions clearly and accurately. Provide concise, useful information. Structure responses when it helps readability. Avoid unnecessary filler or overly casual language. Respond in the same language as the user’s message (for example, Hebrew questions → Hebrew answers, English questions → English answers).",
              "role": "system"
            },
            {
              "content": "={{ $json.question }}"
            }
          ]
        },
        "options": {
          "maxTokens": 1024,
          "temperature": 0.7
        }
      },
      "id": "118f7f2f-94cd-4310-9e78-be81e768bf2b",
      "name": "Ask LM Studio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1488,
        -1264
      ],
      "credentials": {
        "openAiApi": {
          "id": "Qixf0scvpigYEtTm",
          "name": "Macbook mini m4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Load History').first().json;\nconst answer = ($json.message?.content || $json.text || '').trim();\nconst key = prev.sessionKey;\n\nconst stored = $getWorkflowStaticData('global');\nlet history = stored[key] ? JSON.parse(stored[key]) : [];\n\nhistory.push({ role: 'user', content: prev.question });\nhistory.push({ role: 'assistant', content: answer });\n\nif (history.length > 20) history = history.slice(-20);\n\nstored[key] = JSON.stringify(history);\n\nreturn [{\n  json: {\n    chatId: prev.chatId,\n    answer: answer\n  }\n}];"
      },
      "id": "32471ecf-7401-46d8-8651-2e00221a1f47",
      "name": "Save History + Extract Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -1264
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "default"
            },
            {
              "name": "chatId",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ab2363ab-7aa3-49e7-8189-2afa5f0f0968",
      "name": "Send Reply via WAHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2160,
        -1264
      ]
    }
  ],
  "connections": {
    "Webhook - Receive WhatsApp Message": {
      "main": [
        [
          {
            "node": "Filter: AI Bot group only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: AI Bot group only": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Load History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load History": {
      "main": [
        [
          {
            "node": "Ask LM Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask LM Studio": {
      "main": [
        [
          {
            "node": "Save History + Extract Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save History + Extract Answer": {
      "main": [
        [
          {
            "node": "Send Reply via WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "global": {
      "history_972545580431_c_us": "[{\"role\":\"user\",\"content\":\"what is 2+2?\"},{\"role\":\"assistant\",\"content\":\"4\"},{\"role\":\"user\",\"content\":\"what is the capital of France?\"},{\"role\":\"assistant\",\"content\":\"Paris.\"},{\"role\":\"user\",\"content\":\"what is the capital of Israel?\"},{\"role\":\"assistant\",\"content\":\"Jerusalem.\"},{\"role\":\"user\",\"content\":\"what is the capital of Belarus?\"},{\"role\":\"assistant\",\"content\":\"Minsk.\"},{\"role\":\"user\",\"content\":\"tell me about Trump\"},{\"role\":\"assistant\",\"content\":\"Donald Trump is a businessman and former U.S. President (2017-2021). Key points:\\n\\n*   **Business:** Real estate developer, known for Trump Tower and casinos.\\n*   **Politics:** Republican Party. Ran for president in 2016, winning against Hillary Clinton. Lost to Joe Biden in 2020.\\n*   **Policies:** Focused on tax cuts, deregulation, and stricter immigration policies.\\n*   **Controversies:** Faced investigations and impeachment proceedings during his presidency.\\n\\n\\n\\nIs there a specific aspect you'd like to know more about?\"},{\"role\":\"user\",\"content\":\"כמה שנים ישראל קיימת?\"},{\"role\":\"assistant\",\"content\":\"ישראל הוקמה בשנת 1948. לכן, היא קיימת כבר 76 שנים.\"},{\"role\":\"user\",\"content\":\"כמה  מלחמות ארצות הברית עברה ?\"},{\"role\":\"assistant\",\"content\":\"The United States has been involved in numerous conflicts. Here's a concise list of major wars:\\n\\n*   Revolutionary War (1775-1783)\\n*   War of 1812 (1812-1815)\\n*   Mexican-American War (1846-1848)\\n*   Civil War (1861-1865)\\n*   Spanish-American War (1898)\\n*   World War I (1917-1918)\\n*   World War II (1941-1945)\\n*   Korean War (1950-1953)\\n*   Vietnam War (1955-1975)\\n*   Persian Gulf War (1990-1991)\\n*   War in Afghanistan (2001-2021)\\n*   Iraq War (2003-2011)\"},{\"role\":\"user\",\"content\":\"מי היא מכבי חיפה ?\"},{\"role\":\"assistant\",\"content\":\"מכבי חיפה הוא מועדון כדורגל ישראלי מהצפון.\"},{\"role\":\"user\",\"content\":\"למה כשאדם רואה טוב אומרים שהוא רואה 6  6\"},{\"role\":\"assistant\",\"content\":\"It's a reference to the Snellen eye chart. \\\"6/6\\\" vision means you can see at 20 feet what a person with normal vision should be able to see at 20 feet.\"},{\"role\":\"user\",\"content\":\"תענה בעברית מי יותר טוב מסי או רונדלו?\"},{\"role\":\"assistant\",\"content\":\"מסי.\"}]",
      "history_120363407766258921_g_us": "[{\"role\":\"user\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"Patching schedule confirmed:\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"assistant\",\"content\":\"Patching schedule confirmed.\\n\\n*   **Windows Servers:** Sunday 2:00-6:00 AM\\n*   **macOS Devices:** Saturday 8:00AM-12:00PM\"},{\"role\":\"user\",\"content\":\"who is better messi or ronaldo?\"},{\"role\":\"assistant\",\"content\":\"That's a debate with no definitive answer, Alex. \\n\\n**Messi:** Generally considered more naturally gifted, exceptional dribbling & playmaking.\\n**Ronaldo:** Incredible athleticism, prolific goalscorer, strong aerial ability.\\n\\nIt comes down to preference. Both are all-time greats.\"},{\"role\":\"user\",\"content\":\"what is dns?\"},{\"role\":\"assistant\",\"content\":\"DNS (Domain Name System) translates human-readable domain names (like google.com) into IP addresses (like 172.217.160.142) computers use to locate websites and other online resources.\\n\\nEssentially, it's the internet's phonebook.\"},{\"role\":\"user\",\"content\":\"מי יותר טוב רונאלדו או מסי?\"},{\"role\":\"assistant\",\"content\":\"This is a subjective question! Both Ronaldo and Messi are incredible players. \\n\\n**Generally:**\\n\\n*   **Messi** is often praised for natural talent, dribbling, and playmaking.\\n*   **Ronaldo** is often praised for athleticism, finishing, and versatility.\\n\\nThere's no definitive \\\"better\\\" – it depends on preference!\"}]",
      "history_120363426439026095_g_us": "[{\"role\":\"user\",\"content\":\"מה התאריך?\"},{\"role\":\"assistant\",\"content\":\"היום הוא יום שלישי, ה-7 במאי 2024.\"},{\"role\":\"user\",\"content\":\"מי נשיא ארצות הברית?\"},{\"role\":\"assistant\",\"content\":\"ג'ו ביידן הוא נשיא ארצות הברית הנוכחי. \\n\\n(Joe Biden is the current President of the United States.)\"},{\"role\":\"user\",\"content\":\"מי נשיא רוסיה?\"},{\"role\":\"assistant\",\"content\":\"נשיא רוסיה הוא ולדימיר פוטין.\"},{\"role\":\"user\",\"content\":\"who president of Israel?\"},{\"role\":\"assistant\",\"content\":\"The current President of Israel is Isaac Herzog. \\n\\nHere's a brief overview:\\n\\n*   **Name:** Isaac Herzog\\n*   **Took Office:** July 1, 2021\\n*   **Term Length:** 7 years (single term)\"},{\"role\":\"user\",\"content\":\"איך אומרים יד באנגלית?\"},{\"role\":\"assistant\",\"content\":\"יד באנגלית נקראת **hand**.\"},{\"role\":\"user\",\"content\":\"מה זה גול ?\"},{\"role\":\"assistant\",\"content\":\"גול הוא נקודה שמושגת במשחק כדורגל כאשר הכדור חוצה במלואו את קו השער בין העמודים והמשקוף, כאשר הקבוצה היריבה היא זו שצריכה להגן על השער. \\n\\nבמילים אחרות, זהו היעד העיקרי של המשחק - להכניס את הכדור לשער של הקבוצה השנייה כמה שיותר פעמים.\"},{\"role\":\"user\",\"content\":\"מה קורה?\"},{\"role\":\"assistant\",\"content\":\"I'm doing well, thank you for asking! How can I help you today?\"},{\"role\":\"user\",\"content\":\"תענה לי בעברית כשאני רושם בעברית\"},{\"role\":\"assistant\",\"content\":\"בסדר גמור. אענה לך בעברית כשאתה כותב בעברית. שאל אותי מה שתרצה!\"},{\"role\":\"user\",\"content\":\"מה יותר טוב אייפון או מאק\"},{\"role\":\"assistant\",\"content\":\"בחירה בין אייפון למאק תלויה בצרכים ובהעדפות האישיות שלך. הנה השוואה קצרה:\\n\\n**אייפון:**\\n\\n*   **ניידות:** מכשיר נייד וקל משקל.\\n*   **פשטות שימוש:** ידידותי למשתמש במיוחד, עם ממשק אינטואיטיבי.\\n*   **מערכת הפעלה:** iOS - יציבה, מאובטחת ועם חנות אפליקציות עשירה.\\n*   **מתאים ל:** אנשים שרוצים מכשיר תקשורת, בידור וצילום קל לשימוש.\\n\\n**מאק:**\\n\\n*   **עוצמה:** ביצועים גבוהים יותר, מתאים למשימות כבדות כמו עריכת וידאו או גרפיקה.\\n*   **גמישות:** מערכת הפעלה macOS - גמישה יותר ומאפשרת התאמה אישית רבה.\\n*   **פרודוקטיביות:** כלים רבים לפרודוקטיביות, כמו GarageBand ו-Pages.\\n*   **מתאים ל:** אנשים שצריכים מחשב חזק לעבודה יצירתית או משימות כבדות.\\n\\n**המלצה:**\\n\\n*   אם אתה מחפש מכשיר נייד וקל לשימוש, אייפון הוא בחירה טובה.\\n*   אם אתה צריך מחשב חזק לעבודה או ליצירה, מאק הוא בחירה טובה יותר.\\n\\nאפשר גם לשלב את שניהם - אייפון ומאק יכולים לעבוד יחד בצורה חלקה באמצעות תכונות כמו AirDrop ו-Continuity.\"},{\"role\":\"user\",\"content\":\"hi\"},{\"role\":\"assistant\",\"content\":\"Hello. How can I assist you today?\"}]"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "aee4f8ea-27b0-46fb-9bc5-13965049a7df",
  "activeVersionId": "aee4f8ea-27b0-46fb-9bc5-13965049a7df",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-13T10:46:06.843Z",
      "createdAt": "2026-03-13T10:46:06.843Z",
      "role": "workflow:owner",
      "workflowId": "TuCodb0y457nG7iM",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-14T13:10:08.000Z",
    "createdAt": "2026-03-14T13:10:03.946Z",
    "versionId": "aee4f8ea-27b0-46fb-9bc5-13965049a7df",
    "workflowId": "TuCodb0y457nG7iM",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "waha-incoming-bot",
          "options": {}
        },
        "id": "99ef85f5-216b-4bf1-a135-4571f2774c88",
        "name": "Webhook - Receive WhatsApp Message",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          448,
          -1264
        ],
        "webhookId": "waha-incoming-bot"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "check-chat-id",
                "leftValue": "={{ $json.body.payload.from }}",
                "rightValue": "120363426439026095@g.us",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "check-not-from-api",
                "leftValue": "={{ $json.body.payload.source }}",
                "rightValue": "api",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "f173fcea-d055-4d8d-b183-687c35557764",
        "name": "Filter: AI Bot group only",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2,
        "position": [
          720,
          -1264
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "extract-from",
                "name": "chatId",
                "value": "={{ $json.body.payload.from }}",
                "type": "string"
              },
              {
                "id": "extract-question",
                "name": "question",
                "value": "={{ $json.body.payload.body.trim() }}",
                "type": "string"
              },
              {
                "id": "session-key",
                "name": "sessionKey",
                "value": "={{ 'history_' + $json.body.payload.from.replace(/[^a-z0-9]/gi, '_') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "408fbd56-9128-4e0e-b534-3c6083b9b767",
        "name": "Extract Message",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          976,
          -1264
        ]
      },
      {
        "parameters": {
          "jsCode": "const key = $json.sessionKey;\nconst stored = $getWorkflowStaticData('global');\nconst history = stored[key] ? JSON.parse(stored[key]) : [];\n\nreturn [{\n  json: {\n    chatId: $json.chatId,\n    question: $json.question,\n    sessionKey: $json.sessionKey,\n    history: history\n  }\n}];"
        },
        "id": "e6fd0ff8-f6b2-4aa0-a312-99b43746726e",
        "name": "Load History",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1232,
          -1264
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "google/gemma-3-12b",
            "mode": "list",
            "cachedResultName": "GOOGLE/GEMMA-3-12B"
          },
          "messages": {
            "values": [
              {
                "content": "You are Alex’s AI assistant. Answer questions clearly and accurately. Provide concise, useful information. Structure responses when it helps readability. Avoid unnecessary filler or overly casual language. Respond in the same language as the user’s message (for example, Hebrew questions → Hebrew answers, English questions → English answers).",
                "role": "system"
              },
              {
                "content": "={{ $json.question }}"
              }
            ]
          },
          "options": {
            "maxTokens": 1024,
            "temperature": 0.7
          }
        },
        "id": "118f7f2f-94cd-4310-9e78-be81e768bf2b",
        "name": "Ask LM Studio",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          1488,
          -1264
        ],
        "credentials": {
          "openAiApi": {
            "id": "Qixf0scvpigYEtTm",
            "name": "Macbook mini m4"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const prev = $('Load History').first().json;\nconst answer = ($json.message?.content || $json.text || '').trim();\nconst key = prev.sessionKey;\n\nconst stored = $getWorkflowStaticData('global');\nlet history = stored[key] ? JSON.parse(stored[key]) : [];\n\nhistory.push({ role: 'user', content: prev.question });\nhistory.push({ role: 'assistant', content: answer });\n\nif (history.length > 20) history = history.slice(-20);\n\nstored[key] = JSON.stringify(history);\n\nreturn [{\n  json: {\n    chatId: prev.chatId,\n    answer: answer\n  }\n}];"
        },
        "id": "32471ecf-7401-46d8-8651-2e00221a1f47",
        "name": "Save History + Extract Answer",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1840,
          -1264
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://waha:3000/api/sendText",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Api-Key",
                "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "session",
                "value": "default"
              },
              {
                "name": "chatId",
                "value": "={{ $json.chatId }}"
              },
              {
                "name": "text",
                "value": "={{ $json.answer }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ab2363ab-7aa3-49e7-8189-2afa5f0f0968",
        "name": "Send Reply via WAHA",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2160,
          -1264
        ]
      }
    ],
    "connections": {
      "Webhook - Receive WhatsApp Message": {
        "main": [
          [
            {
              "node": "Filter: AI Bot group only",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter: AI Bot group only": {
        "main": [
          [
            {
              "node": "Extract Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Message": {
        "main": [
          [
            {
              "node": "Load History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load History": {
        "main": [
          [
            {
              "node": "Ask LM Studio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ask LM Studio": {
        "main": [
          [
            {
              "node": "Save History + Extract Answer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save History + Extract Answer": {
        "main": [
          [
            {
              "node": "Send Reply via WAHA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version aee4f8ea",
    "description": "",
    "autosaved": true
  },
  "tags": []
}