PI workflows backup 2026-03-03 11-09/Disable AD User.json
{
  "updatedAt": "2026-02-13T11:47:23.247Z",
  "createdAt": "2025-09-14T14:06:44.615Z",
  "id": "wwSwPmpbzl1DiAul",
  "name": "Disable AD User",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "=powershell.exe -NoProfile -ExecutionPolicy Bypass -File \"C:\\Scripts\\Disable-ADUser-From-n8n.ps1\" -Username \"{{$json[\"body\"][\"username\"]}}\"",
        "cwd": "="
      },
      "id": "81ffb333-6605-499d-bb72-6032654d3434",
      "name": "Disable AD User",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -11936,
        -10736
      ],
      "credentials": {
        "sshPassword": {
          "id": "umWU43lA8b3R4GcA",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f54ab6de-2566-4063-b57a-aa7fd93f51fb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -13632,
        -10720
      ],
      "id": "ea83f994-7330-4143-90d1-29d5e10e2141",
      "name": "Webhook",
      "webhookId": "f54ab6de-2566-4063-b57a-aa7fd93f51fb"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Allow this slash command only in #disable-ad-user\n */\nconst ALLOWED_CHANNEL_IDS = new Set(['C09GN391SQ6']);\nconst payload = $json.body ?? $json;\nconst channelId = payload.channel_id || payload.channel?.id || null;\nconst channelName = payload.channel_name || payload.channel?.name || null;\nlet authorized = false;\nlet errorMessage = '';\nif (channelId && ALLOWED_CHANNEL_IDS.has(channelId)) {\n  authorized = true;\n} else {\n  errorMessage = '🚫 This command can only be used in #disable-ad-user';\n}\nreturn { ...$json, authorized, errorMessage, channelId, channelName };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13120,
        -10720
      ],
      "id": "f73481af-9630-4480-b8cf-f636491b5c30",
      "name": "Authorization Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "fbe754c6-374d-46bf-853c-84f7edfb467d",
              "leftValue": "={{$json.authorized}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -12720,
        -10720
      ],
      "id": "143d9063-cd81-4491-9947-bf9bcb794174",
      "name": "IF Authorized"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.errorMessage}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -12432,
        -10416
      ],
      "id": "91dec564-a12e-42ba-9b74-fa4a36bc8367",
      "name": "Access Denied Response"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "🔄 Disabling user... please wait",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -12432,
        -10736
      ],
      "id": "830c32c6-0810-40a4-b25e-f7df11876a09",
      "name": "Processing Response"
    },
    {
      "parameters": {
        "jsCode": "// Slack slash command input parser\nconst payload = $json.body ?? $json;\nconst raw = (payload.text ?? payload.username ?? '').trim();\nif (!raw) throw new Error('No username provided.');\nconst username = raw.replace(/^@/, '');\nreturn { body: { username } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12192,
        -10736
      ],
      "id": "8ff99dff-563f-49d5-9e0d-69bc1761492a",
      "name": "Normalize input"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if (!$json[\"stdout\"] || $json[\"stdout\"].trim() === \"\") {\n  throw new Error(\"No JSON output received from PowerShell script. Stdout was empty.\");\n}\ntry {\n  return JSON.parse($json[\"stdout\"]);\n} catch (e) {\n  throw new Error(\"Failed to parse JSON from PowerShell script: \" + e.message + \"\\n\\nOutput was:\\n\" + $json[\"stdout\"]);\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11632,
        -10736
      ],
      "id": "fe8c8fd5-4bdf-4379-9db9-7e85aa47bef8",
      "name": "AD Script Output Parser"
    },
    {
      "parameters": {
        "sendTo": "vinokura@alex-it.net",
        "subject": "New AD user Created",
        "message": "={{$json[\"Status\"] === \"Not Found\" || $json[\"Status\"] === \"Error\" ? \"<h3 style='color:#d32f2f;'>\" + $json[\"Message\"] + \"</h3><p style='color:black; font-size:0.95em;'><b>👤 Username:</b> \" + $json[\"Username\"] + \"</p>\" : \"<h2 style='color:red;'>🔒 AD User \" + ($json[\"Status\"] === \"Already Disabled\" ? \"Already Disabled\" : \"Disabled\") + \"</h2><p style='color:black; font-size:0.95em;'><b>👤 Username:</b> \" + $json[\"Username\"] + \"</p><p style='color:black; font-size:0.95em;'><b>🆔 Full Name:</b> \" + $json[\"FullName\"] + \"</p><p style='color:black; font-size:0.95em;'><b>📌 Status:</b> \" + $json[\"Status\"] + \"</p>\" + ($json[\"GroupsRemoved\"].length > 0 ? \"<p style='color:black; font-size:0.95em;'><b>🗑️ Groups Removed:</b> \" + $json[\"GroupsRemoved\"].join(\", \") + \"</p>\" : \"\") + ($json[\"MovedToOU\"] ? \"<p style='color:black; font-size:0.95em;'><b>📂 Moved To:</b> \" + $json[\"MovedToOU\"] + \"</p>\" : \"\")}}\n\n<hr>\n<p style=\"font-size:0.85em; color:gray;\">\n  Automated by n8n workflow\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -10464,
        -10896
      ],
      "id": "6231b153-60fd-491e-8ec9-1d68a446c613",
      "name": "Send Message",
      "webhookId": "961eced4-af4c-4015-a632-1c5dcecb5a5f",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "C5742Grqr9Rpnxid",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "426570413",
        "text": "={{$json[\"Status\"] === \"Not Found\" || $json[\"Status\"] === \"Error\" ? $json[\"Message\"] + \"\\n\\n👤 Username: \" + $json[\"Username\"] : \"🔒 AD User \" + ($json[\"Status\"] === \"Already Disabled\" ? \"Already Disabled\" : \"Disabled\") + \"\\n\\n👤 Username: \" + $json[\"Username\"] + \"\\n🆔 Full Name: \" + $json[\"FullName\"] + \"\\n📌 Status: \" + $json[\"Status\"] + ($json[\"GroupsRemoved\"].length > 0 ? \"\\n🗑️ Groups Removed: \" + $json[\"GroupsRemoved\"].join(', ') : \"\") + ($json[\"MovedToOU\"] ? \"\\n📂 Moved To: \" + $json[\"MovedToOU\"] : \"\")}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -10464,
        -10656
      ],
      "id": "ce563df4-076d-4707-9a68-b30e15e93312",
      "name": "Send a text message",
      "webhookId": "ae9b49c5-f740-4d7f-b4af-c7ce2935e45f",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "x7W5pZqq5q5bGRzU",
          "name": "Disable AD User"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09GN391SQ6",
          "mode": "list",
          "cachedResultName": "disable-ad-user"
        },
        "text": "={{$json[\"Status\"] === \"Not Found\" || $json[\"Status\"] === \"Error\" ? $json[\"Message\"] + \"\\n\\n👤 Username: \" + $json[\"Username\"] : \"🔒 AD User \" + ($json[\"Status\"] === \"Already Disabled\" ? \"Already Disabled\" : \"Disabled\") + \"\\n\\n👤 Username: \" + $json[\"Username\"] + \"\\n🆔 Full Name: \" + $json[\"FullName\"] + \"\\n📌 Status: \" + $json[\"Status\"] + ($json[\"GroupsRemoved\"].length > 0 ? \"\\n🗑️ Groups Removed: \" + $json[\"GroupsRemoved\"].join(', ') : \"\") + ($json[\"MovedToOU\"] ? \"\\n📂 Moved To: \" + $json[\"MovedToOU\"] : \"\")}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -10464,
        -10432
      ],
      "id": "7958ceae-e580-46d9-9f73-3e8434612d00",
      "name": "Send a message",
      "webhookId": "619d4034-0d7d-43f0-9691-ea960aef7115",
      "credentials": {
        "slackApi": {
          "id": "ogd5puOuqvP7Ix28",
          "name": "Disable AD User"
        }
      }
    }
  ],
  "connections": {
    "Disable AD User": {
      "main": [
        [
          {
            "node": "AD Script Output Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Authorization Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorization Check": {
      "main": [
        [
          {
            "node": "IF Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Authorized": {
      "main": [
        [
          {
            "node": "Processing Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Access Denied Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processing Response": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Disable AD User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AD Script Output Parser": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ef169dc7-f292-4562-b240-2e53e0055772",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T09:14:00.838Z",
      "createdAt": "2025-10-31T09:14:00.838Z",
      "role": "workflow:owner",
      "workflowId": "wwSwPmpbzl1DiAul",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": null,
  "tags": []
}