PI workflows backup 2026-04-21 21-00/02 Slack Scheduled Messages.json
{
  "updatedAt": "2026-04-21T15:01:24.142Z",
  "createdAt": "2026-04-21T15:01:21.711Z",
  "id": "RCSjn4OiVbDrl2tm",
  "name": "02 Slack Scheduled Messages",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "bb14e495-13f1-4695-ac46-59dd826ffb4b",
      "name": "Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Scheduled messages config\n// Edit this array to add/remove/modify scheduled messages\n// Times are in 24h format, Israel timezone (UTC+2/3)\nconst now = new Date();\nconst israelTime = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Jerusalem' }));\nconst dayOfWeek = israelTime.getDay(); // 0=Sun, 1=Mon...\nconst hour = israelTime.getHours();\nconst minute = israelTime.getMinutes();\nconst dayName = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'][dayOfWeek];\n\nconst scheduledMessages = [\n  // === DAILY MESSAGES ===\n  {\n    id: 'daily-standup-reminder',\n    channel: 'REPLACE_CHANNEL_ID',\n    text: ':coffee: Good morning team! Time for standup updates.',\n    hour: 9,\n    minute: 0,\n    days: ['Sun','Mon','Tue','Wed','Thu'], // Israeli work week\n    enabled: true\n  },\n  // === WEEKLY MESSAGES ===\n  {\n    id: 'weekly-it-review',\n    channel: 'REPLACE_CHANNEL_ID',\n    text: ':clipboard: Weekly IT review — please update your open tickets in JSM before EOD.',\n    hour: 10,\n    minute: 0,\n    days: ['Thu'],\n    enabled: true\n  },\n  {\n    id: 'weekly-friday-wrap',\n    channel: 'REPLACE_CHANNEL_ID',\n    text: ':wave: Shabbat Shalom! Reminder: update your status if OOO next week.',\n    hour: 14,\n    minute: 0,\n    days: ['Fri'],\n    enabled: true\n  },\n  // === MONTHLY MESSAGES (1st of month) ===\n  {\n    id: 'monthly-license-audit',\n    channel: 'REPLACE_CHANNEL_ID',\n    text: ':mag: Monthly reminder: review SaaS license usage and deactivate unused accounts.',\n    hour: 10,\n    minute: 0,\n    days: ['Sun','Mon','Tue','Wed','Thu'],\n    monthDay: 1, // only on 1st of the month\n    enabled: false\n  }\n];\n\nconst toSend = scheduledMessages.filter(msg => {\n  if (!msg.enabled) return false;\n  if (msg.hour !== hour || msg.minute !== minute) return false;\n  if (!msg.days.includes(dayName)) return false;\n  if (msg.monthDay && israelTime.getDate() !== msg.monthDay) return false;\n  return true;\n});\n\nif (toSend.length === 0) {\n  return []; // nothing to send this minute\n}\n\nreturn toSend.map(msg => ({ json: { channel: msg.channel, text: msg.text, id: msg.id } }));"
      },
      "id": "2a66bc3c-6642-4583-a24e-801cbfbd8261",
      "name": "Check Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -80
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "8528646d-e308-4c38-a4c5-1e993fa0fcf5",
      "name": "Send Scheduled Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        368,
        -80
      ],
      "webhookId": "f576f473-333d-44e2-84b4-74d48b1bdd77",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    }
  ],
  "connections": {
    "Every Minute": {
      "main": [
        [
          {
            "node": "Check Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Schedule": {
      "main": [
        [
          {
            "node": "Send Scheduled Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "af9c59d6-0caf-4b9d-9c1c-49ae4972a582",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-21T15:01:21.714Z",
      "createdAt": "2026-04-21T15:01:21.714Z",
      "role": "workflow:owner",
      "workflowId": "RCSjn4OiVbDrl2tm",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": null,
  "tags": []
}