PI workflows backup 2026-04-21 21-00/05 Slack Guest Access Manager.json
{
  "updatedAt": "2026-04-21T15:01:51.966Z",
  "createdAt": "2026-04-21T15:01:51.966Z",
  "id": "O53Nqzd9TKseNG2m",
  "name": "05 Slack Guest Access Manager",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-guest-invite",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "060f9239-bce5-4ac2-921d-9a131be412ce",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        -16
      ],
      "webhookId": "slack-guest-invite"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "url-verify",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "490733c3-701e-4fa6-aac3-118924b9ef85",
      "name": "Is URL Verify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        -16
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ challenge: $json.body.challenge }) }}",
        "options": {}
      },
      "id": "12a21493-4da8-432b-8e89-f4e8130782ab",
      "name": "Return Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16,
        -160
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "id": "4a2d4cd7-63e7-4f3c-aa87-cccb6cb389c4",
      "name": "ACK 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Detect /guest-invite slash command or bot DM\n// Expected format: /guest-invite email@example.com #channel-name 30d\n// Or in bot DM: guest invite email@example.com #channel-name 30d\nconst body = $input.first().json.body;\nconst event = body.event || {};\nconst text = (event.text || body.text || '').trim();\nconst sender = event.user || body.user_id || '';\nconst channel = event.channel || body.channel_id || '';\n\n// Parse: email, target channel, optional expiry\nconst parts = text.replace(/^\\/?guest[- ]?invite\\s*/i, '').split(/\\s+/);\nconst email = parts[0] || '';\nconst targetChannel = (parts[1] || '').replace(/[<#>]/g, '').split('|')[0]; // handle <#C123|channel-name>\nconst expiry = parts[2] || '30d'; // default 30 days\n\nif (!email || !email.includes('@')) {\n  return [{ json: { error: true, channel, message: ':x: Usage: `guest invite email@example.com #channel 30d`' } }];\n}\n\n// Calculate expiry timestamp\nconst daysMatch = expiry.match(/(\\d+)d/i);\nconst days = daysMatch ? parseInt(daysMatch[1]) : 30;\nconst expiryDate = new Date(Date.now() + days * 86400000).toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    error: false,\n    email,\n    targetChannel,\n    sender,\n    channel,\n    days,\n    expiryDate\n  }\n}];"
      },
      "id": "beb751fd-95c5-4f90-bd3e-f998462bde16",
      "name": "Parse Guest Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "no-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6901e1f6-b421-4140-9ef1-d4f1aa1e7f0a",
      "name": "Valid Input?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        496,
        128
      ]
    },
    {
      "parameters": {
        "url": "https://slack.com/api/admin.users.invite",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.slackApi.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"channel_ids\": \"{{ $json.targetChannel }}\",\n  \"is_restricted\": true,\n  \"team_id\": \"REPLACE_TEAM_ID\"\n}",
        "options": {}
      },
      "id": "04c080f6-64cc-4dfd-8c5e-fd7982c6f243",
      "name": "Invite Guest (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevData = $('Parse Guest Command').first().json;\n\n// Log guest for tracking & expiry management\nconst logEntry = {\n  email: prevData.email,\n  channel: prevData.targetChannel,\n  invitedBy: prevData.sender,\n  expiryDate: prevData.expiryDate,\n  days: prevData.days,\n  invitedAt: new Date().toISOString(),\n  apiOk: input.ok || false,\n  apiError: input.error || null\n};\n\nconst success = input.ok === true;\n\nreturn [{\n  json: {\n    ...logEntry,\n    success,\n    notifyChannel: prevData.channel,\n    message: success\n      ? `:white_check_mark: Guest invite sent to *${prevData.email}* for <#${prevData.targetChannel}>\\nExpires: ${prevData.expiryDate} (${prevData.days} days)\\nInvited by: <@${prevData.sender}>`\n      : `:x: Failed to invite ${prevData.email}: ${input.error || 'Unknown error'}\\n_Note: Guest invites require a paid Slack plan. On free plan, this logs the request for manual processing._`\n  }\n}];"
      },
      "id": "052bff54-df23-441c-b50c-ddad1f5db32b",
      "name": "Log & Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        32
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.notifyChannel }}",
          "mode": "id"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "00bc0cd7-cac9-484b-8504-8fa4055b9d76",
      "name": "Notify Result",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1216,
        32
      ],
      "webhookId": "b92876a0-f310-4c10-8c34-bdba6f72a7d1",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "9fb1b549-77cb-4386-b071-867ca8b71fea",
      "name": "Usage Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        736,
        224
      ],
      "webhookId": "c3666892-0d5b-481a-866e-8a3bf42fc9e9",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "3cf9df45-3603-49d4-8c64-29166052e8a4",
      "name": "Daily Expiry Check 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -464,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check static data for expired guests\nconst staticData = $getWorkflowStaticData('global');\nconst guests = staticData.guests || [];\nconst today = new Date().toISOString().split('T')[0];\nconst expired = guests.filter(g => g.expiryDate <= today);\nconst active = guests.filter(g => g.expiryDate > today);\n\n// Update static data to remove expired\nstaticData.guests = active;\n\nif (expired.length === 0) return [];\n\nreturn expired.map(g => ({\n  json: {\n    ...g,\n    message: `:hourglass_flowing_sand: Guest access expired: *${g.email}* in <#${g.channel}>\\nExpired: ${g.expiryDate}\\n_Please remove this guest manually or via Slack admin._`\n  }\n}));"
      },
      "id": "6cfb5fc0-4fd3-468d-bdfc-699170164a5e",
      "name": "Check Expired Guests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        384
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJC2985U2",
          "mode": "id"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "ec2f91ca-cffa-49ae-a2d7-f83a50fa300b",
      "name": "Notify Expiry",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        16,
        384
      ],
      "webhookId": "ea18faf4-7315-44c9-b123-4c9015e95852",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is URL Verify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is URL Verify?": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ACK 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACK 200": {
      "main": [
        [
          {
            "node": "Parse Guest Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Guest Command": {
      "main": [
        [
          {
            "node": "Valid Input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Input?": {
      "main": [
        [
          {
            "node": "Invite Guest (API)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Usage Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invite Guest (API)": {
      "main": [
        [
          {
            "node": "Log & Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log & Format Result": {
      "main": [
        [
          {
            "node": "Notify Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Expiry Check 8am": {
      "main": [
        [
          {
            "node": "Check Expired Guests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Expired Guests": {
      "main": [
        [
          {
            "node": "Notify Expiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "db89e522-f2b0-4b85-b596-80d974d16685",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-21T15:01:51.969Z",
      "createdAt": "2026-04-21T15:01:51.969Z",
      "role": "workflow:owner",
      "workflowId": "O53Nqzd9TKseNG2m",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": null,
  "tags": []
}