PI workflows backup 2026-04-21 21-00/Homelab Uptime Monitor.json
{
  "updatedAt": "2026-04-21T16:10:46.925Z",
  "createdAt": "2026-04-21T14:58:26.698Z",
  "id": "dnzGhIwHx1q9jEGk",
  "name": "Homelab Uptime Monitor",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "6e1644f9-9983-48a2-bcdd-5f634001f07a",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        4128,
        1520
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-sites",
              "name": "Websites",
              "type": "string",
              "value": "=https://ai.alex-it.net\nhttps://ai.mac.alex-it.net\nhttps://ai.pc.alex-it.net\nhttps://alexgpt.alex-it.net\nhttps://bazarr.alex-it.net\nhttps://dashboard.alex-it.net\nhttps://dockhand.alex-it.net\nhttps://grafana.alex-it.net\nhttps://ha.alex-it.net\nhttps://ha.pi.alex-it.net\nhttps://it-assets.alex-it.net\nhttps://jellyfin.alex-it.net\nhttps://jellyseerr.alex-it.net\nhttps://n8n.alex-it.net\nhttps://n8n.pi.alex-it.net\nhttps://nas.alex-it.net\nhttps://nginx.alex-it.net\nhttps://pdf.alex-it.net\nhttps://pihole.alex-it.net\nhttps://qbittorrent.alex-it.net\nhttps://radarr.alex-it.net\nhttps://sonarr.alex-it.net\nhttps://vault.alex-it.net\nhttps://vault.pi.alex-it.net\nhttps://waha.alex-it.net\nhttps://wallos.alex-it.net\nhttps://wireguard.alex-it.net\nhttps://gemini.google.com\nhttps://workspace.google.com\nhttps://crowdstrike.com\nhttps://status.hibob.io\nhttps://letsencrypt.org\nhttps://status.okta.com"
            },
            {
              "id": "cfg-wait",
              "name": "wait_secs",
              "type": "number",
              "value": 10
            },
            {
              "id": "cfg-slack-channel",
              "name": "slack_channel",
              "type": "string",
              "value": "C0AUET92Z28"
            },
            {
              "id": "cfg-status-pages",
              "name": "StatusPages",
              "type": "string",
              "value": "=Claude|https://status.anthropic.com/api/v2/status.json\nOpenAI|https://status.openai.com/api/v2/status.json\nGitHub|https://www.githubstatus.com/api/v2/status.json\nCloudflare|https://www.cloudflarestatus.com/api/v2/status.json\nSlack|https://status.slack.com/api/v2.0.0/current\nAtlassian|https://status.atlassian.com/api/v2/status.json\nZoom|https://status.zoom.us/api/v2/status.json\nJumpCloud|https://status.jumpcloud.com/api/v2/status.json\nMonday|https://status.monday.com/api/v2/status.json"
            }
          ]
        },
        "options": {}
      },
      "id": "9b08670c-f8ee-4688-a18d-8da62ecd0a47",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        4336,
        1520
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parse-urls",
              "name": "Websites",
              "type": "array",
              "value": "={{ $json.Websites.split('\\n').filter((url) => url.trim()) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1e7183d-1e51-4257-bd91-c1b76d9b3a27",
      "name": "Parse URLs",
      "type": "n8n-nodes-base.set",
      "position": [
        4560,
        1520
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "Websites",
        "options": {}
      },
      "id": "c2ad89f2-6368-4065-8bd1-7dad196202e2",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        4768,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.Websites }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "d2e3a893-e775-4ad9-bf06-bbc1399236bb",
      "name": "Check Site",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4976,
        1520
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "226c493d-9d63-4b09-bae8-132b866d30b9",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        5200,
        1520
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "stat-date",
              "name": "date",
              "type": "string",
              "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}"
            },
            {
              "id": "stat-website",
              "name": "website",
              "type": "string",
              "value": "={{ $('Split Out').item.json.Websites }}"
            },
            {
              "id": "stat-code",
              "name": "statusCode",
              "type": "number",
              "value": "={{ $json.statusCode || 0 }}"
            },
            {
              "id": "stat-up",
              "name": "IS_UP",
              "type": "boolean",
              "value": "={{ $json.statusCode > 0 && $json.statusCode < 500 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "def136ef-94a3-4467-bd64-2bed289941f6",
      "name": "Calculate Status",
      "type": "n8n-nodes-base.set",
      "position": [
        5424,
        1520
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-up",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.IS_UP }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "UP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-down",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.IS_UP }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "DOWN"
            }
          ]
        },
        "options": {}
      },
      "id": "12c29562-7b78-4a66-945d-43f3ec13b39f",
      "name": "Status Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        5648,
        1520
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "amount": "={{ $json.wait_secs || 10 }}"
      },
      "id": "428e374a-416e-4346-a628-fe43d1fa4ff6",
      "name": "Wait for Recheck",
      "type": "n8n-nodes-base.wait",
      "position": [
        5856,
        1648
      ],
      "typeVersion": 1.1,
      "webhookId": "2627951f-8f7f-49d6-8840-cf54dde18d77"
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "ad6ada97-6d48-4826-bde8-77a98ad5551a",
      "name": "Recheck Site",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6080,
        1648
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "re-date",
              "name": "date",
              "type": "string",
              "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}"
            },
            {
              "id": "re-website",
              "name": "website",
              "type": "string",
              "value": "={{ $('Calculate Status').item.json.website }}"
            },
            {
              "id": "re-code",
              "name": "statusCode",
              "type": "number",
              "value": "={{ $json.statusCode || 0 }}"
            },
            {
              "id": "re-up",
              "name": "IS_UP",
              "type": "boolean",
              "value": "={{ $json.statusCode > 0 && $json.statusCode < 500 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a6ee4573-b96d-4f4f-a9d6-991e0959d589",
      "name": "Recheck Status",
      "type": "n8n-nodes-base.set",
      "position": [
        6352,
        1648
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-re-up",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.IS_UP }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "RECOVERED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-re-down",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.IS_UP }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "CONFIRMED DOWN"
            }
          ]
        },
        "options": {}
      },
      "id": "5dae57db-7bff-4d7f-aeb1-98c058c2d40d",
      "name": "Recheck Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        6576,
        1648
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AUET92Z28",
          "mode": "id"
        },
        "text": "=:red_circle: *{{ $json.website }}* is DOWN\n\nStatus code: `{{ $json.statusCode }}`\nFirst detected: {{ $json.date }}\nRecheck confirmed the outage.\n:link: {{ $json.website }}",
        "otherOptions": {}
      },
      "id": "cc5c30d7-2d98-4286-bd97-2541b784b539",
      "name": "Slack Alert DOWN",
      "type": "n8n-nodes-base.slack",
      "position": [
        6848,
        1664
      ],
      "typeVersion": 2.2,
      "webhookId": "ddc2c6eb-ccb1-46a4-9a24-913406934685",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sp-parse",
              "name": "StatusPages",
              "type": "array",
              "value": "={{ $json.StatusPages.split('\\n').filter((line) => line.trim()) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0ec6ac33-d3e5-40e0-8527-4fc9f44a3bcb",
      "name": "Parse Status Pages",
      "type": "n8n-nodes-base.set",
      "position": [
        4560,
        1920
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "StatusPages",
        "options": {}
      },
      "id": "b12a3d48-5b74-4acf-8336-731198be70ed",
      "name": "Split Status Pages",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        4768,
        1920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sp-name",
              "name": "service_name",
              "type": "string",
              "value": "={{ $json.StatusPages.split('|')[0] }}"
            },
            {
              "id": "sp-url",
              "name": "api_url",
              "type": "string",
              "value": "={{ $json.StatusPages.split('|')[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "389f1efd-3f7d-497b-b807-8c2c5fe1c883",
      "name": "Extract Name & URL",
      "type": "n8n-nodes-base.set",
      "position": [
        4976,
        1920
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.api_url }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "3803aaca-b59a-47b7-9ba0-214e1214bfea",
      "name": "Fetch Status API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5200,
        1920
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  \n  let serviceName = 'Unknown';\n  let apiUrl = '';\n  try {\n    serviceName = $('Extract Name & URL').all()[i].json.service_name || 'Unknown';\n    apiUrl = $('Extract Name & URL').all()[i].json.api_url || '';\n  } catch(e) {}\n  \n  // Derive status page URL from API URL\n  let statusPageUrl = '';\n  try {\n    const u = new URL(apiUrl);\n    statusPageUrl = u.origin;\n  } catch(e) {}\n  \n  const body = item.json.body || item.json;\n  \n  let indicator = 'unknown';\n  let description = 'Could not parse status';\n  \n  if (body && body.page && body.status && body.status.indicator) {\n    indicator = body.status.indicator;\n    description = body.status.description || '';\n    if (body.page.url) statusPageUrl = body.page.url;\n  }\n  else if (body && body.status && typeof body.status === 'object' && body.status.indicator) {\n    indicator = body.status.indicator;\n    description = body.status.description || '';\n  }\n  else if (body && body.status !== undefined && typeof body.status === 'string') {\n    const s = body.status.toLowerCase();\n    indicator = (s === 'ok' || s === 'active') ? 'none' : s;\n    description = (s === 'ok' || s === 'active') ? 'All Systems Operational' : body.status;\n  }\n  else if (typeof body === 'string') {\n    try {\n      const parsed = JSON.parse(body);\n      if (parsed.status && typeof parsed.status === 'object' && parsed.status.indicator) {\n        indicator = parsed.status.indicator;\n        description = parsed.status.description || '';\n        if (parsed.page && parsed.page.url) statusPageUrl = parsed.page.url;\n      }\n    } catch(e) {}\n  }\n  \n  const isHealthy = indicator === 'none';\n  \n  results.push({\n    json: {\n      service_name: serviceName,\n      indicator: indicator,\n      description: description,\n      is_healthy: isHealthy,\n      status_page_url: statusPageUrl,\n      checked_at: new Date().toLocaleString('en-GB', { \n        day: '2-digit', month: '2-digit', year: 'numeric',\n        hour: '2-digit', minute: '2-digit', hour12: false \n      })\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "9d30b272-6271-4afb-bcfd-27e078e6af3e",
      "name": "Parse Status Response",
      "type": "n8n-nodes-base.code",
      "position": [
        5424,
        1920
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "sp-cond-healthy",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.is_healthy }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "HEALTHY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "sp-cond-incident",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.is_healthy }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "INCIDENT"
            }
          ]
        },
        "options": {}
      },
      "id": "8f4294d3-5395-4cb0-befa-84bad403b1f2",
      "name": "Status Page Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        5648,
        1920
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AUET92Z28",
          "mode": "id"
        },
        "text": "=:warning: *{{ $json.service_name }}* has an active incident\n\nStatus: `{{ $json.indicator }}` — {{ $json.description }}\nChecked at: {{ $json.checked_at }}\n:link: {{ $json.status_page_url }}",
        "otherOptions": {}
      },
      "id": "1f96edf9-8b40-4323-ac25-e91587cb7cc7",
      "name": "Slack Alert Incident",
      "type": "n8n-nodes-base.slack",
      "position": [
        5920,
        2000
      ],
      "typeVersion": 2.2,
      "webhookId": "fa68049d-4207-4b61-835e-4e75569c915f",
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "# Homelab Uptime Monitor\n\n**Schedule:** Every 5 minutes\n**Alert channel:** Slack\n\n### Branch 1 — HTTP Checks (top)\nCheck → if DOWN → wait 10s → recheck → if still DOWN → :red_circle: alert + link\nThreshold: statusCode < 500 (401/403 = UP)\n**33 sites:** 27 homelab + 6 external (Gemini, Google Workspace, CrowdStrike, HiBob, Let's Encrypt, Okta)\n\n### Branch 2 — Status Page APIs (bottom)\nFetch public status APIs → parse indicator → if not `none` → :warning: alert + status page link\n**9 services:** Claude, OpenAI, GitHub, Cloudflare, Slack, Atlassian, Zoom, JumpCloud, Monday",
        "height": 340,
        "width": 520,
        "color": 4
      },
      "id": "63e7b80b-d414-4fd1-9f64-3e3d529af3de",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4096,
        1152
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Parse URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Status Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse URLs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Check Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Site": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Calculate Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Status": {
      "main": [
        [
          {
            "node": "Status Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Router": {
      "main": [
        [],
        [
          {
            "node": "Wait for Recheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Recheck": {
      "main": [
        [
          {
            "node": "Recheck Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recheck Site": {
      "main": [
        [
          {
            "node": "Recheck Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recheck Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recheck Status": {
      "main": [
        [
          {
            "node": "Recheck Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recheck Router": {
      "main": [
        [],
        [
          {
            "node": "Slack Alert DOWN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Status Pages": {
      "main": [
        [
          {
            "node": "Split Status Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Status Pages": {
      "main": [
        [
          {
            "node": "Extract Name & URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Name & URL": {
      "main": [
        [
          {
            "node": "Fetch Status API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Status API": {
      "main": [
        [
          {
            "node": "Parse Status Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Status Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Status Response": {
      "main": [
        [
          {
            "node": "Status Page Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Page Router": {
      "main": [
        [],
        [
          {
            "node": "Slack Alert Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateId": "11763",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7306f890-d57f-483c-bf3f-f77f66650d3f",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-21T14:58:26.704Z",
      "createdAt": "2026-04-21T14:58:26.704Z",
      "role": "workflow:owner",
      "workflowId": "dnzGhIwHx1q9jEGk",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": null,
  "tags": []
}