PI workflows backup 2026-04-07 21-00/Slack Article Summarizer.json
{
  "updatedAt": "2026-04-05T11:34:51.185Z",
  "createdAt": "2025-09-02T14:14:42.893Z",
  "id": "GzAlS0kt9q4YI0n7",
  "name": "Slack Article Summarizer",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "={{$json.url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9,he;q=0.8,ru;q=0.7"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2768,
        1744
      ],
      "id": "58f44e06-d47f-4e20-b7bf-946da71726a4",
      "name": "Fetch Page",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "const err = $json.error || 'Unknown error';\nconst url = $json.url || '';\nconst lang = $json.language || 'en';\nconst channel = $('Is Duplicate?').first().json.slack_channel || $('Extract URL & Deduplicate').first().json.slack_channel || '';\n\n// Failed — remove URL from dedup cache so it can be retried\ntry {\n  const staticData = $getWorkflowStaticData('global');\n  if (staticData.processedUrls && url) delete staticData.processedUrls[url];\n} catch (e) {}\n\nconst msgs = { he: '⚠️ נכשל בסיכום המאמר', ru: '⚠️ Не удалось обобщить статью', en: '⚠️ Failed to summarize article' };\nconst reasons = { he: 'סיבה:', ru: 'Причина:', en: 'Reason:' };\nreturn [{ json: { text: `${msgs[lang] || msgs.en}\\n${reasons[lang] || reasons.en} ${err}\\n\\n${url ? `<${url}|Link>` : ''}`, slack_channel: channel } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3952,
        1920
      ],
      "id": "9b9cfa4d-ab0e-46ea-95d6-b0dd0c6d3057",
      "name": "Format Error"
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.output || $json.text || $json.content || '';\nif (typeof raw !== 'string') raw = JSON.stringify(raw);\n\nconst url = $('Build Prompt').first().json.url || '';\nconst language = $('Build Prompt').first().json.language || 'en';\nconst slack_channel = $('Is Duplicate?').first().json.slack_channel || $('Extract URL & Deduplicate').first().json.slack_channel || '';\n\n// HTML entity decoder\nconst decodeEntities = (str) => str\n  .replace(/&quot;/g, '\"')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&#39;/g, \"'\")\n  .replace(/&apos;/g, \"'\")\n  .replace(/&#x27;/g, \"'\")\n  .replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(Number(n)));\n\n// Unwrap double-encoded string\ntry {\n  const unwrapped = JSON.parse(raw);\n  if (typeof unwrapped === 'string') raw = unwrapped;\n} catch (e) {}\n\n// Strip <think>...</think> blocks (Gemma/DeepSeek reasoning traces)\nraw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n\n// Strip markdown fences\nlet s = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '');\n\n// Escape unescaped quotes inside Hebrew acronyms FIRST (e.g., צה\"ל, יו\"ר, מנכ״ל)\n// Covers: ASCII \", gershayim ״ (U+05F4), and smart quotes \" \" (U+201C/U+201D)\ns = s.replace(/([\\u0590-\\u05FF])[\"״\\u201C\\u201D]([\\u0590-\\u05FF])/g, '$1\\\\\"$2');\n\n// Fix duplicate \"bullets\" keys — merge into single array (AFTER acronym escaping)\nif ((s.match(/\"bullets\"\\s*:/g) || []).length > 1) {\n  const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n  const allBullets = [];\n  const bulletRx = /\"bullets\"\\s*:\\s*\\[\\s*\"((?:[^\"\\\\]|\\\\.)*)\"\\s*\\]/g;\n  let bm;\n  while ((bm = bulletRx.exec(s)) !== null) {\n    allBullets.push(bm[1]);\n  }\n  if (tm && allBullets.length > 1) {\n    s = JSON.stringify({ title: tm[1], bullets: allBullets });\n  }\n}\n\n// Extract first JSON object\nconst si = s.indexOf('{');\nconst ei = s.lastIndexOf('}');\nif (si > -1 && ei > si) s = s.substring(si, ei + 1);\n\n// Normalize whitespace and smart quotes\ns = s.replace(/[\\r\\n]+/g, ' ').replace(/[\\u2018\\u2019]/g, \"'\").replace(/[\\u201C\\u201D]/g, '\"').trim();\n\nlet title = 'Summary';\nlet bullets = [];\n\n// Attempt 1: Direct JSON parse\ntry {\n  const obj = JSON.parse(s);\n  title = obj.title || 'Summary';\n  bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n} catch (e) {\n  // Attempt 2: Fix trailing commas\n  try {\n    let fixed = s.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n    const obj = JSON.parse(fixed);\n    title = obj.title || 'Summary';\n    bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n  } catch (e2) {\n    // Attempt 3: Truncated JSON repair - close open brackets/braces\n    try {\n      let repair = s;\n      const openBrackets = (repair.match(/\\[/g) || []).length;\n      const closeBrackets = (repair.match(/\\]/g) || []).length;\n      const openBraces = (repair.match(/\\{/g) || []).length;\n      const closeBraces = (repair.match(/\\}/g) || []).length;\n      const quotes = repair.match(/(?<!\\\\)\"/g) || [];\n      if (quotes.length % 2 !== 0) repair += '\"';\n      for (let i = 0; i < (openBrackets - closeBrackets); i++) repair += ']';\n      for (let i = 0; i < (openBraces - closeBraces); i++) repair += '}';\n      repair = repair.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n      const obj = JSON.parse(repair);\n      title = obj.title || 'Summary';\n      bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n    } catch (e3) {\n      // Attempt 4: Aggressive truncation salvage\n      try {\n        const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        if (tm) title = tm[1].replace(/\\\\\"/g, '\"').replace(/\\\\n/g, ' ');\n        \n        const bulletsStart = s.indexOf('\"bullets\"');\n        if (bulletsStart > -1) {\n          const afterBullets = s.substring(bulletsStart);\n          const bracketStart = afterBullets.indexOf('[');\n          if (bracketStart > -1) {\n            const bulletsContent = afterBullets.substring(bracketStart + 1);\n            const completeStrings = [];\n            let inString = false;\n            let current = '';\n            let escaped = false;\n            for (let i = 0; i < bulletsContent.length; i++) {\n              const ch = bulletsContent[i];\n              if (escaped) { current += ch; escaped = false; continue; }\n              if (ch === '\\\\') { current += ch; escaped = true; continue; }\n              if (ch === '\"') {\n                if (inString) {\n                  if (current.length > 25) completeStrings.push(current.replace(/\\\\\"/g, '\"').replace(/\\\\n/g, ' '));\n                  current = '';\n                  inString = false;\n                } else {\n                  inString = false;\n                  current = '';\n                  inString = true;\n                }\n              } else if (inString) {\n                current += ch;\n              }\n            }\n            if (completeStrings.length > 0) bullets = completeStrings;\n          }\n        }\n      } catch (e4) {\n        // Attempt 5: Simple regex fallback\n        const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        const bm = s.match(/\"bullets\"\\s*:\\s*\\[([\\s\\S]*?)\\]/);\n        if (tm) title = tm[1];\n        if (bm) bullets = [...bm[1].matchAll(/\"((?:[^\"\\\\]|\\\\.){10,})\"/g)].map(m => m[1]).filter(b => b.length > 15);\n      }\n    }\n  }\n}\n\n// Decode HTML entities in title\ntitle = decodeEntities(title);\n\nbullets = bullets\n  .map(b => {\n    let cleaned = String(b).replace(/^[•\\-\\s]+/, '').replace(/\\.{2,}/g, '.').replace(/\\s+/g, ' ').replace(/\\\\n/g, ' ').replace(/\\\\\"/g, '\"').trim();\n    return decodeEntities(cleaned);\n  })\n  .filter(b => {\n    if (!b || b.length < 25) return false;\n    const lc = b.toLowerCase();\n    return !lc.includes('no further details') && !lc.includes('no additional details') &&\n           !lc.includes('לא נמצאו פרטים') && !lc.includes('אין פרטים') &&\n           !lc.includes('информация недоступна');\n  });\n\nif (bullets.length === 0) {\n  const noContent = { he: 'לא הצלחתי לחלץ מידע מהמאמר', ru: 'Не удалось извлечь информацию', en: 'Could not extract summary from article' };\n  return [{ json: { text: `⚠️ ${noContent[language] || noContent.en}\\n\\n${url ? `<${url}|Link>` : ''}`, slack_channel } }];\n}\n\n// --- SUCCESS: Mark URL as processed for dedup ---\ntry {\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.processedUrls) staticData.processedUrls = {};\n  staticData.processedUrls[url] = Date.now();\n} catch (e) {}\n\nconst RLM = '\\u200F';\nconst LRM = '\\u200E';\nconst wrapLatin = t => {\n  // Protect Hebrew acronyms (e.g., צה\"ל, מנכ״ל) — don't split them with LRM\n  const protectd = t.replace(/([\\u0590-\\u05FF]+[\"'״׳\\u05F3\\u05F4][\\u0590-\\u05FF]+)/g, (m) => `\\x01${m}\\x01`);\n  // Only wrap Latin/number sequences of 2+ chars\n  const wrapped = protectd.replace(/([A-Za-z0-9]{2,}(?:[.,:/\\-][A-Za-z0-9]+)*)/g, `${LRM}$1${LRM}`);\n  return wrapped.replace(/\\x01/g, '');\n};\n\nlet titleLine, bulletLines;\n\nif (language === 'he') {\n  const wt = url ? `<${url}|${wrapLatin(title)}>` : wrapLatin(title);\n  titleLine = `${RLM}:brain: ${wt}`;\n  bulletLines = bullets.map(b => `${RLM}• ${wrapLatin(b)}`);\n} else if (language === 'ru') {\n  titleLine = url ? `:brain: <${url}|${title}>` : `:brain: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n} else {\n  titleLine = url ? `:brain: Summary: <${url}|${title}>` : `:brain: Summary: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n}\n\nreturn [{ json: { text: [titleLine, '', ...bulletLines].join('\\n'), slack_channel } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4816,
        1760
      ],
      "id": "daf9b1d2-7128-4b0a-8aee-5540676ffcb1",
      "name": "Validate & Format"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel }}",
          "mode": "id"
        },
        "text": "={{$json.text}}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        5008,
        1920
      ],
      "id": "6e4b4562-ffd5-4996-9f5e-56616b8da730",
      "name": "Send to Slack",
      "webhookId": "946820e3-d85c-43a1-a0e5-58777a4a0c86",
      "credentials": {
        "slackApi": {
          "id": "I5astSkOODZZU76Y",
          "name": "n8n Summery"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check content-type — skip non-HTML responses (PDFs, images, etc.)\nconst headers = $json.headers || {};\nconst contentType = (headers['content-type'] || headers['Content-Type'] || '').toLowerCase();\nconst url = $('Is Duplicate?').first().json.url || '';\n\n// HTML entity decoder\nconst decodeEntities = (str) => str\n  .replace(/&quot;/g, '\"')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&#39;/g, \"'\")\n  .replace(/&apos;/g, \"'\")\n  .replace(/&#x27;/g, \"'\")\n  .replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(Number(n)));\n\n// Accept text/html and application/xhtml+xml\nif (contentType && !contentType.includes('text/html') && !contentType.includes('application/xhtml') && !contentType.includes('text/plain')) {\n  return [{ json: { error: `Non-HTML content (${contentType.split(';')[0]}). Cannot extract article text.`, url, needsJina: false } }];\n}\nconst html = $json.body || $json.data || $json.html || $json.content || '';\nif (!html || (typeof html === 'string' && html.length < 100)) {\n  return [{ json: { error: 'No HTML content received', url, needsJina: true } }];\n}\nconst MAX_LEN = 12000;\nlet text = '';\ntry {\n  const ld = html.match(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\n  if (ld) { const d = JSON.parse(ld[1]); if (d.articleBody && d.articleBody.length > 300) text = d.articleBody; }\n} catch (e) {}\nif (text.length < 300) {\n  const art = html.match(/<article[^>]*>([\\s\\S]*?)<\\/article>/i);\n  if (art) {\n    const ex = art[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<aside[\\s\\S]*?<\\/aside>/gi,'').replace(/<footer[\\s\\S]*?<\\/footer>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\nif (text.length < 300) {\n  const main = html.match(/<main[^>]*>([\\s\\S]*?)<\\/main>/i);\n  if (main) {\n    const ex = main[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\nif (text.length < 300) {\n  const pat = /<div[^>]*class=\"[^\"]*(?:art_body|article_text|article-body|post-content|entry-content|story-body|article__content|content-body)[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/i;\n  const match = html.match(pat);\n  if (match) { const ex = match[1].replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim(); if (ex.length > text.length) text = ex; }\n}\nif (text.length < 300) {\n  const paras = html.match(/<p[^>]*>(.*?)<\\/p>/gis);\n  if (paras && paras.length > 3) {\n    const good = paras.map(p => p.replace(/<[^>]+>/g,'').trim()).filter(p => p.length > 40 && !/cookie|privacy|subscribe|newsletter|הרשמה|פרטיות/i.test(p));\n    if (good.length >= 3) text = good.join('\\n\\n');\n  }\n}\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\n// If extraction failed, flag for Jina fallback\nif (!text || text.length < 200) {\n  return [{ json: { error: 'Direct extraction failed', url, needsJina: true } }];\n}\n// Detect language\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\n\n// Decode HTML entities before sending to LLM\ntext = decodeEntities(text);\n\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\nreturn [{ json: { article: text, url, language, charCount: text.length, needsJina: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        1744
      ],
      "id": "f833abbe-6ec6-41df-9094-5534f2c6a8d2",
      "name": "Extract Text & Detect Language"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dup-check",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2512,
        1648
      ],
      "id": "eac0891a-eb93-4d5f-b584-817b88edabb9",
      "name": "Is Duplicate?"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst event = body.event || {};\nconst headers = $json.headers || {};\n\n// --- Retry filter ---\nif (headers['x-slack-retry-num']) return [];\n\n// --- Bot user ID from env or fallback ---\nconst BOT_USER_ID = 'U07K8QJ9XYZ';\n\n// --- Handle message_changed: only process if a NEW URL was added ---\nif (event.subtype === 'message_changed') {\n  const prev = event.previous_message?.text || '';\n  const curr = event.message?.text || '';\n  if (prev === curr) return [];\n\n  const extractUrls = (text) => {\n    const urls = new Set();\n    const slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\n    let m;\n    while ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\n    const plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}|]+/g;\n    while ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n    return urls;\n  };\n\n  const prevUrls = extractUrls(prev);\n  const currUrls = extractUrls(curr);\n  const newUrls = [...currUrls]\n    .map(u => u.split('|')[0])\n    .filter(u => !prevUrls.has(u) && u.match(/^https?:\\/\\/.+\\..+/));\n\n  if (newUrls.length === 0) return [];\n\n  const user = event.message?.user || event.previous_message?.user || '';\n  if (!user || user === BOT_USER_ID || event.message?.bot_id) return [];\n\n  // Dedup\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.processedUrls) staticData.processedUrls = {};\n  if (!staticData.processedMsgs) staticData.processedMsgs = {};\n\n  const msgKey = `${user}_${event.message?.ts || event.ts}_edited`;\n  if (staticData.processedMsgs[msgKey]) return [];\n  staticData.processedMsgs[msgKey] = Date.now();\n\n  // Clean old entries\n  const twoDaysAgo = Date.now() - 172800000;\n  for (const k of Object.keys(staticData.processedUrls)) {\n    if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\n  }\n  for (const k of Object.keys(staticData.processedMsgs)) {\n    if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n  }\n\n  // Return all new URLs (supports multi-URL messages)\n  const results = [];\n  const fourHoursAgo = Date.now() - 14400000;\n  for (const url of newUrls) {\n    const isDuplicate = staticData.processedUrls[url] > fourHoursAgo;\n    // Store optimistically — Format Error will clear on failure, Validate & Format will confirm on success\n    if (!isDuplicate) staticData.processedUrls[url] = Date.now();\n    results.push({ json: { isDuplicate, url, slack_channel: event.channel, slack_user: user, slack_ts: event.message?.ts || event.ts } });\n  }\n  return results;\n}\n\n// --- Skip non-message subtypes ---\nconst skipSubtypes = ['bot_message','message_deleted','channel_join','channel_leave','channel_topic','channel_purpose','file_share','pinned_item','unpinned_item'];\nif (event.subtype && skipSubtypes.includes(event.subtype)) return [];\n\n// --- Skip bots and empty messages ---\nif (event.type !== 'message' || event.bot_id || event.user === BOT_USER_ID || !event.text) return [];\n\n// --- Extract URLs ---\nconst text = event.text || '';\nconst urls = new Set();\n\nconst slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\nlet m;\nwhile ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\n\nconst plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}|]+/g;\nwhile ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n\nconst validUrls = [...urls]\n  .map(u => u.split('|')[0])\n  .filter(u => u.match(/^https?:\\/\\/.+\\..+/));\nif (validUrls.length === 0) return [];\n\n// --- Dedup ---\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedUrls) staticData.processedUrls = {};\nif (!staticData.processedMsgs) staticData.processedMsgs = {};\n\nconst msgKey = `${event.user}_${event.ts}`;\nif (staticData.processedMsgs[msgKey]) return [];\nstaticData.processedMsgs[msgKey] = Date.now();\n\nconst fourHoursAgo = Date.now() - 14400000;\nconst twoDaysAgo = Date.now() - 172800000;\n\n// Clean old entries\nfor (const k of Object.keys(staticData.processedUrls)) {\n  if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\n}\nfor (const k of Object.keys(staticData.processedMsgs)) {\n  if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n}\n\n// Return ALL URLs from message (multi-URL support)\nconst results = [];\nfor (const url of validUrls) {\n  const isDuplicate = staticData.processedUrls[url] > fourHoursAgo;\n  // Store optimistically — Format Error will clear on failure, Validate & Format will confirm on success\n  if (!isDuplicate) staticData.processedUrls[url] = Date.now();\n  results.push({ json: { isDuplicate, url, slack_channel: event.channel, slack_user: event.user, slack_ts: event.ts } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        1648
      ],
      "id": "6ef68deb-a3ac-4a78-bbfd-3de04d82f44d",
      "name": "Extract URL & Deduplicate"
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2032,
        1648
      ],
      "id": "72f0fae9-fb1f-4bde-9f97-6c5239738470",
      "name": "Respond 200 (Ack)"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { challenge: $json.body.challenge } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        1456
      ],
      "id": "71649548-324e-4e4a-866a-1d65894dda61",
      "name": "Return Challenge"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2304,
        1456
      ],
      "id": "d41e6cec-641c-4017-980a-70cf1d49ab87",
      "name": "Respond 200 (Challenge)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "url-verify-check",
              "leftValue": "={{$json[\"body\"][\"type\"]}}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        1552
      ],
      "id": "93c5ca08-5bf9-4eca-9f11-302399d92c21",
      "name": "Is URL Verification?"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1536,
        1552
      ],
      "id": "d2401acb-f3e9-45c3-a355-26869384bffd",
      "name": "Webhook",
      "webhookId": "d63266c1-1b49-4fc1-8530-cbdb5e8fb27f"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel }}",
          "mode": "id"
        },
        "text": "=ℹ️ This URL was already summarized recently.\n\n<{{$json.url}}|{{$json.url}}>",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2736,
        1456
      ],
      "id": "e438e802-a389-4fa7-8746-7afa2c65dc25",
      "name": "Send Duplicate Notice1",
      "webhookId": "4c109572-f287-4e64-9bda-ffb85c1243de",
      "credentials": {
        "slackApi": {
          "id": "I5astSkOODZZU76Y",
          "name": "n8n Summery"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "error-check-direct",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3232,
        1936
      ],
      "id": "42ac1bf6-c44f-4d80-a3d4-271ced205d29",
      "name": "Has Direct Error?"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.data || $json.body || $json.content || '';\nconst prevData = $('Needs Jina Fallback?').first().json;\nconst url = prevData.url || '';\n\nif (!raw || (typeof raw === 'string' && raw.length < 200)) {\n  let reason = prevData.error || 'Could not extract article text.';\n  if (reason === 'Direct extraction failed') {\n    reason += ' Jina Reader also failed — site may require login or block automated access.';\n  }\n  return [{ json: { error: reason, url, needsJina: false } }];\n}\n\nlet text = typeof raw === 'string' ? raw : JSON.stringify(raw);\nconst MAX_LEN = 12000;\n\n// Clean Jina output\ntext = text.replace(/^Title:.*\\n/i, '').replace(/^URL Source:.*\\n/i, '').replace(/^Markdown Content:\\n/i, '').replace(/!\\[.*?\\]\\(.*?\\)/g, '').replace(/\\[([^\\]]+)\\]\\(.*?\\)/g, '$1').replace(/#{1,6}\\s*/g, '').replace(/[*_]{1,3}/g, '').replace(/\\s+/g, ' ').trim();\n\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\n\n// Detect language\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\n\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\n\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\n\nreturn [{ json: { article: text, url, language, charCount: text.length, needsJina: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        1648
      ],
      "id": "24b807c5-8061-4c2f-bec1-bf29fdb1b8e8",
      "name": "Parse Jina Response"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/plain"
            },
            {
              "name": "X-Return-Format",
              "value": "text"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3472,
        1648
      ],
      "id": "ebf02e37-743f-467a-a9c9-84903a39dfd3",
      "name": "Jina Reader Fallback",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "needs-jina-check",
              "leftValue": "={{ $json.needsJina }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3232,
        1744
      ],
      "id": "d143110c-f37c-45a0-8aa1-7438c84627cd",
      "name": "Needs Jina Fallback?"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemma-4-26b-a4b",
          "mode": "list",
          "cachedResultName": "google/gemma-4-26b-a4b"
        },
        "options": {
          "frequencyPenalty": 0.3,
          "maxTokens": 8192,
          "presencePenalty": 0.1,
          "temperature": 0.2,
          "timeout": 120000,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4304,
        2080
      ],
      "id": "8e45a990-9bd7-4768-bbb2-5f6538916ecc",
      "name": "Local LLM",
      "credentials": {
        "openAiApi": {
          "id": "WJsCuec8UzGRGVIc",
          "name": "Macbook Pro M1Pro"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert article summarizer. Output ONLY valid JSON — no markdown fences, no preamble, no thinking. Do NOT use <think> tags or internal reasoning. Respond immediately with JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4400,
        1760
      ],
      "id": "cb2ef999-b8c3-4659-ae8f-a4a3e6f100fe",
      "name": "AI Summarizer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3952,
        1648
      ],
      "id": "9ca994fb-94ac-4457-b9c9-57f2c085aa2d",
      "name": "Has Error?"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4464,
        2080
      ],
      "id": "8aaa1b0d-cef8-46ce-b73b-87a37ac97caa",
      "name": "OpenRouter Fallback",
      "credentials": {
        "openRouterApi": {
          "id": "hGAnvpSAhWRbFktq",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const article = $json.article || '';\nconst language = $json.language || 'en';\nconst url = $json.url || '';\nconst langNames = { he: 'Hebrew', ru: 'Russian', en: 'English' };\nconst langName = langNames[language] || 'English';\n\nconst prompt = `Summarize the following article in ${langName}.\n\nRules:\n- Output ONLY valid JSON, no markdown fences, no extra text.\n- Return a short headline title (5-10 words max) and exactly 5 bullet points.\n- The title should be a compelling headline capturing the main event or topic.\n- Do NOT repeat the title content in the first bullet point.\n- Each bullet: 3-4 sentences, 60-80 words, with specific details (names, dates, numbers, locations, quotes).\n- Each bullet must cover a DIFFERENT key aspect and provide enough context for someone unfamiliar with the topic.\n- The first bullet should provide essential context and background.\n- Remaining bullets should cover: key events/actions, people involved, consequences/impact, and broader context or next steps.\n- Include real names, dates, numbers, locations, and quotes mentioned in the article.\n- Do NOT invent or guess dates, facts, or details not in the article.\n- Do NOT include bullet characters in the bullets array.\n- Do NOT include filler like \"no further details available\".\n- The title and all bullets MUST be written in ${langName}.\n\nCRITICAL: The \"bullets\" key must appear EXACTLY ONCE containing an array of 5 strings.\nDo NOT repeat the \"bullets\" key multiple times. All 5 bullet points go in ONE array.\n\nCorrect format:\n{\"title\": \"Headline here\", \"bullets\": [\"First point...\", \"Second point...\", \"Third point...\", \"Fourth point...\", \"Fifth point...\"]}\n\nWrong format (DO NOT DO THIS):\n{\"title\": \"...\", \"bullets\": [\"point1\"], \"bullets\": [\"point2\"]}\n\nArticle:\n${article}`;\n\nreturn [{ json: { prompt, language, url } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        1760
      ],
      "id": "c497ef89-429f-4846-bb49-4e978ade0c47",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "content": "Add this temporarily to the top of your Extract URL & Deduplicate node to reset all saved websites\n\n$getWorkflowStaticData('global').processedUrls = {}; ",
        "height": 96,
        "width": 656,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3232,
        768
      ],
      "typeVersion": 1,
      "id": "9ad1ecd2-1251-4d91-93dd-5c8177a1a028",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Fetch Page": {
      "main": [
        [
          {
            "node": "Extract Text & Detect Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Format": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text & Detect Language": {
      "main": [
        [
          {
            "node": "Has Direct Error?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Needs Jina Fallback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Send Duplicate Notice1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL & Deduplicate": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 (Ack)": {
      "main": [
        [
          {
            "node": "Extract URL & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Challenge": {
      "main": [
        [
          {
            "node": "Respond 200 (Challenge)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is URL Verification?": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 (Ack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Is URL Verification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Direct Error?": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Jina Response": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Reader Fallback": {
      "main": [
        [
          {
            "node": "Parse Jina Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Jina Fallback?": {
      "main": [
        [
          {
            "node": "Jina Reader Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarizer": {
      "main": [
        [
          {
            "node": "Validate & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarizer",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "AI Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "binaryMode": "separate"
  },
  "staticData": {
    "global": {
      "metrics": {
        "total": 216,
        "success": 216
      },
      "processedUrls": {
        "https://news.walla.co.il/item/3828860": 1775497225836,
        "https://www.macrumors.com/2026/04/06/mac-mini-and-mac-studio-long-shipping-delays/?link_source=ta_first_comment&amp;taid=69d3c25c8830ae0001dcff43&amp;utm_campaign=trueanthem&amp;utm_medium=social&amp;utm_source=facebook&amp;fbclid=IwZnRzaARCIodleHRuA2FlbQIxMQBzcnRjBmFwcF9pZAo2NjI4NTY4Mzc5AAEewE6dULn52FZ2dKSKW-4cWbKEqFI6gavQoMwqnbZwHusalkjyK4tUYb3MOpY_aem_zk5YwL7nHTj3f6dtLuUDHg": 1775584132587
      },
      "processedEvents": {
        "1762243942.321019-undefined": 1762243945452
      },
      "processedMessages": {
        "U08AYDL2FQD_1771354645.863239": 1771354647255
      },
      "processedMsgs": {
        "U08AYDL2FQD_1775497185.925329": 1775497187201,
        "U08AYDL2FQD_1775584113.088639": 1775584114651
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9af16be5-c604-4639-9887-e12b3aa3f993",
  "activeVersionId": "9af16be5-c604-4639-9887-e12b3aa3f993",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T09:14:00.820Z",
      "createdAt": "2025-10-31T09:14:00.820Z",
      "role": "workflow:owner",
      "workflowId": "GzAlS0kt9q4YI0n7",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-05T11:34:53.000Z",
    "createdAt": "2026-04-05T11:34:51.187Z",
    "versionId": "9af16be5-c604-4639-9887-e12b3aa3f993",
    "workflowId": "GzAlS0kt9q4YI0n7",
    "nodes": [
      {
        "parameters": {
          "url": "={{$json.url}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept",
                "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
              },
              {
                "name": "Accept-Language",
                "value": "en-US,en;q=0.9,he;q=0.8,ru;q=0.7"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {
                "maxRedirects": 5
              }
            },
            "response": {
              "response": {
                "fullResponse": true
              }
            },
            "timeout": 15000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2768,
          1744
        ],
        "id": "58f44e06-d47f-4e20-b7bf-946da71726a4",
        "name": "Fetch Page",
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "parameters": {
          "jsCode": "const err = $json.error || 'Unknown error';\nconst url = $json.url || '';\nconst lang = $json.language || 'en';\nconst channel = $('Is Duplicate?').first().json.slack_channel || $('Extract URL & Deduplicate').first().json.slack_channel || '';\n\n// Failed — remove URL from dedup cache so it can be retried\ntry {\n  const staticData = $getWorkflowStaticData('global');\n  if (staticData.processedUrls && url) delete staticData.processedUrls[url];\n} catch (e) {}\n\nconst msgs = { he: '⚠️ נכשל בסיכום המאמר', ru: '⚠️ Не удалось обобщить статью', en: '⚠️ Failed to summarize article' };\nconst reasons = { he: 'סיבה:', ru: 'Причина:', en: 'Reason:' };\nreturn [{ json: { text: `${msgs[lang] || msgs.en}\\n${reasons[lang] || reasons.en} ${err}\\n\\n${url ? `<${url}|Link>` : ''}`, slack_channel: channel } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3952,
          1920
        ],
        "id": "9b9cfa4d-ab0e-46ea-95d6-b0dd0c6d3057",
        "name": "Format Error"
      },
      {
        "parameters": {
          "jsCode": "let raw = $json.output || $json.text || $json.content || '';\nif (typeof raw !== 'string') raw = JSON.stringify(raw);\n\nconst url = $('Build Prompt').first().json.url || '';\nconst language = $('Build Prompt').first().json.language || 'en';\nconst slack_channel = $('Is Duplicate?').first().json.slack_channel || $('Extract URL & Deduplicate').first().json.slack_channel || '';\n\n// HTML entity decoder\nconst decodeEntities = (str) => str\n  .replace(/&quot;/g, '\"')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&#39;/g, \"'\")\n  .replace(/&apos;/g, \"'\")\n  .replace(/&#x27;/g, \"'\")\n  .replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(Number(n)));\n\n// Unwrap double-encoded string\ntry {\n  const unwrapped = JSON.parse(raw);\n  if (typeof unwrapped === 'string') raw = unwrapped;\n} catch (e) {}\n\n// Strip <think>...</think> blocks (Gemma/DeepSeek reasoning traces)\nraw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n\n// Strip markdown fences\nlet s = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '');\n\n// Escape unescaped quotes inside Hebrew acronyms FIRST (e.g., צה\"ל, יו\"ר, מנכ״ל)\n// Covers: ASCII \", gershayim ״ (U+05F4), and smart quotes \" \" (U+201C/U+201D)\ns = s.replace(/([\\u0590-\\u05FF])[\"״\\u201C\\u201D]([\\u0590-\\u05FF])/g, '$1\\\\\"$2');\n\n// Fix duplicate \"bullets\" keys — merge into single array (AFTER acronym escaping)\nif ((s.match(/\"bullets\"\\s*:/g) || []).length > 1) {\n  const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n  const allBullets = [];\n  const bulletRx = /\"bullets\"\\s*:\\s*\\[\\s*\"((?:[^\"\\\\]|\\\\.)*)\"\\s*\\]/g;\n  let bm;\n  while ((bm = bulletRx.exec(s)) !== null) {\n    allBullets.push(bm[1]);\n  }\n  if (tm && allBullets.length > 1) {\n    s = JSON.stringify({ title: tm[1], bullets: allBullets });\n  }\n}\n\n// Extract first JSON object\nconst si = s.indexOf('{');\nconst ei = s.lastIndexOf('}');\nif (si > -1 && ei > si) s = s.substring(si, ei + 1);\n\n// Normalize whitespace and smart quotes\ns = s.replace(/[\\r\\n]+/g, ' ').replace(/[\\u2018\\u2019]/g, \"'\").replace(/[\\u201C\\u201D]/g, '\"').trim();\n\nlet title = 'Summary';\nlet bullets = [];\n\n// Attempt 1: Direct JSON parse\ntry {\n  const obj = JSON.parse(s);\n  title = obj.title || 'Summary';\n  bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n} catch (e) {\n  // Attempt 2: Fix trailing commas\n  try {\n    let fixed = s.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n    const obj = JSON.parse(fixed);\n    title = obj.title || 'Summary';\n    bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n  } catch (e2) {\n    // Attempt 3: Truncated JSON repair - close open brackets/braces\n    try {\n      let repair = s;\n      const openBrackets = (repair.match(/\\[/g) || []).length;\n      const closeBrackets = (repair.match(/\\]/g) || []).length;\n      const openBraces = (repair.match(/\\{/g) || []).length;\n      const closeBraces = (repair.match(/\\}/g) || []).length;\n      const quotes = repair.match(/(?<!\\\\)\"/g) || [];\n      if (quotes.length % 2 !== 0) repair += '\"';\n      for (let i = 0; i < (openBrackets - closeBrackets); i++) repair += ']';\n      for (let i = 0; i < (openBraces - closeBraces); i++) repair += '}';\n      repair = repair.replace(/,\\s*]/g, ']').replace(/,\\s*}/g, '}');\n      const obj = JSON.parse(repair);\n      title = obj.title || 'Summary';\n      bullets = Array.isArray(obj.bullets) ? obj.bullets : [];\n    } catch (e3) {\n      // Attempt 4: Aggressive truncation salvage\n      try {\n        const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        if (tm) title = tm[1].replace(/\\\\\"/g, '\"').replace(/\\\\n/g, ' ');\n        \n        const bulletsStart = s.indexOf('\"bullets\"');\n        if (bulletsStart > -1) {\n          const afterBullets = s.substring(bulletsStart);\n          const bracketStart = afterBullets.indexOf('[');\n          if (bracketStart > -1) {\n            const bulletsContent = afterBullets.substring(bracketStart + 1);\n            const completeStrings = [];\n            let inString = false;\n            let current = '';\n            let escaped = false;\n            for (let i = 0; i < bulletsContent.length; i++) {\n              const ch = bulletsContent[i];\n              if (escaped) { current += ch; escaped = false; continue; }\n              if (ch === '\\\\') { current += ch; escaped = true; continue; }\n              if (ch === '\"') {\n                if (inString) {\n                  if (current.length > 25) completeStrings.push(current.replace(/\\\\\"/g, '\"').replace(/\\\\n/g, ' '));\n                  current = '';\n                  inString = false;\n                } else {\n                  inString = false;\n                  current = '';\n                  inString = true;\n                }\n              } else if (inString) {\n                current += ch;\n              }\n            }\n            if (completeStrings.length > 0) bullets = completeStrings;\n          }\n        }\n      } catch (e4) {\n        // Attempt 5: Simple regex fallback\n        const tm = s.match(/\"title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        const bm = s.match(/\"bullets\"\\s*:\\s*\\[([\\s\\S]*?)\\]/);\n        if (tm) title = tm[1];\n        if (bm) bullets = [...bm[1].matchAll(/\"((?:[^\"\\\\]|\\\\.){10,})\"/g)].map(m => m[1]).filter(b => b.length > 15);\n      }\n    }\n  }\n}\n\n// Decode HTML entities in title\ntitle = decodeEntities(title);\n\nbullets = bullets\n  .map(b => {\n    let cleaned = String(b).replace(/^[•\\-\\s]+/, '').replace(/\\.{2,}/g, '.').replace(/\\s+/g, ' ').replace(/\\\\n/g, ' ').replace(/\\\\\"/g, '\"').trim();\n    return decodeEntities(cleaned);\n  })\n  .filter(b => {\n    if (!b || b.length < 25) return false;\n    const lc = b.toLowerCase();\n    return !lc.includes('no further details') && !lc.includes('no additional details') &&\n           !lc.includes('לא נמצאו פרטים') && !lc.includes('אין פרטים') &&\n           !lc.includes('информация недоступна');\n  });\n\nif (bullets.length === 0) {\n  const noContent = { he: 'לא הצלחתי לחלץ מידע מהמאמר', ru: 'Не удалось извлечь информацию', en: 'Could not extract summary from article' };\n  return [{ json: { text: `⚠️ ${noContent[language] || noContent.en}\\n\\n${url ? `<${url}|Link>` : ''}`, slack_channel } }];\n}\n\n// --- SUCCESS: Mark URL as processed for dedup ---\ntry {\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.processedUrls) staticData.processedUrls = {};\n  staticData.processedUrls[url] = Date.now();\n} catch (e) {}\n\nconst RLM = '\\u200F';\nconst LRM = '\\u200E';\nconst wrapLatin = t => {\n  // Protect Hebrew acronyms (e.g., צה\"ל, מנכ״ל) — don't split them with LRM\n  const protectd = t.replace(/([\\u0590-\\u05FF]+[\"'״׳\\u05F3\\u05F4][\\u0590-\\u05FF]+)/g, (m) => `\\x01${m}\\x01`);\n  // Only wrap Latin/number sequences of 2+ chars\n  const wrapped = protectd.replace(/([A-Za-z0-9]{2,}(?:[.,:/\\-][A-Za-z0-9]+)*)/g, `${LRM}$1${LRM}`);\n  return wrapped.replace(/\\x01/g, '');\n};\n\nlet titleLine, bulletLines;\n\nif (language === 'he') {\n  const wt = url ? `<${url}|${wrapLatin(title)}>` : wrapLatin(title);\n  titleLine = `${RLM}:brain: ${wt}`;\n  bulletLines = bullets.map(b => `${RLM}• ${wrapLatin(b)}`);\n} else if (language === 'ru') {\n  titleLine = url ? `:brain: <${url}|${title}>` : `:brain: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n} else {\n  titleLine = url ? `:brain: Summary: <${url}|${title}>` : `:brain: Summary: ${title}`;\n  bulletLines = bullets.map(b => `• ${b}`);\n}\n\nreturn [{ json: { text: [titleLine, '', ...bulletLines].join('\\n'), slack_channel } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4816,
          1760
        ],
        "id": "daf9b1d2-7128-4b0a-8aee-5540676ffcb1",
        "name": "Validate & Format"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "={{ $json.slack_channel }}",
            "mode": "id"
          },
          "text": "={{$json.text}}",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          5008,
          1920
        ],
        "id": "6e4b4562-ffd5-4996-9f5e-56616b8da730",
        "name": "Send to Slack",
        "webhookId": "946820e3-d85c-43a1-a0e5-58777a4a0c86",
        "credentials": {
          "slackApi": {
            "id": "I5astSkOODZZU76Y",
            "name": "n8n Summery"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Check content-type — skip non-HTML responses (PDFs, images, etc.)\nconst headers = $json.headers || {};\nconst contentType = (headers['content-type'] || headers['Content-Type'] || '').toLowerCase();\nconst url = $('Is Duplicate?').first().json.url || '';\n\n// HTML entity decoder\nconst decodeEntities = (str) => str\n  .replace(/&quot;/g, '\"')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&#39;/g, \"'\")\n  .replace(/&apos;/g, \"'\")\n  .replace(/&#x27;/g, \"'\")\n  .replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(Number(n)));\n\n// Accept text/html and application/xhtml+xml\nif (contentType && !contentType.includes('text/html') && !contentType.includes('application/xhtml') && !contentType.includes('text/plain')) {\n  return [{ json: { error: `Non-HTML content (${contentType.split(';')[0]}). Cannot extract article text.`, url, needsJina: false } }];\n}\nconst html = $json.body || $json.data || $json.html || $json.content || '';\nif (!html || (typeof html === 'string' && html.length < 100)) {\n  return [{ json: { error: 'No HTML content received', url, needsJina: true } }];\n}\nconst MAX_LEN = 12000;\nlet text = '';\ntry {\n  const ld = html.match(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\n  if (ld) { const d = JSON.parse(ld[1]); if (d.articleBody && d.articleBody.length > 300) text = d.articleBody; }\n} catch (e) {}\nif (text.length < 300) {\n  const art = html.match(/<article[^>]*>([\\s\\S]*?)<\\/article>/i);\n  if (art) {\n    const ex = art[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<aside[\\s\\S]*?<\\/aside>/gi,'').replace(/<footer[\\s\\S]*?<\\/footer>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\nif (text.length < 300) {\n  const main = html.match(/<main[^>]*>([\\s\\S]*?)<\\/main>/i);\n  if (main) {\n    const ex = main[1].replace(/<script[\\s\\S]*?<\\/script>/gi,'').replace(/<style[\\s\\S]*?<\\/style>/gi,'').replace(/<nav[\\s\\S]*?<\\/nav>/gi,'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    if (ex.length > text.length) text = ex;\n  }\n}\nif (text.length < 300) {\n  const pat = /<div[^>]*class=\"[^\"]*(?:art_body|article_text|article-body|post-content|entry-content|story-body|article__content|content-body)[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/i;\n  const match = html.match(pat);\n  if (match) { const ex = match[1].replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim(); if (ex.length > text.length) text = ex; }\n}\nif (text.length < 300) {\n  const paras = html.match(/<p[^>]*>(.*?)<\\/p>/gis);\n  if (paras && paras.length > 3) {\n    const good = paras.map(p => p.replace(/<[^>]+>/g,'').trim()).filter(p => p.length > 40 && !/cookie|privacy|subscribe|newsletter|הרשמה|פרטיות/i.test(p));\n    if (good.length >= 3) text = good.join('\\n\\n');\n  }\n}\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\n// If extraction failed, flag for Jina fallback\nif (!text || text.length < 200) {\n  return [{ json: { error: 'Direct extraction failed', url, needsJina: true } }];\n}\n// Detect language\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\n\n// Decode HTML entities before sending to LLM\ntext = decodeEntities(text);\n\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\nreturn [{ json: { article: text, url, language, charCount: text.length, needsJina: false } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2992,
          1744
        ],
        "id": "f833abbe-6ec6-41df-9094-5534f2c6a8d2",
        "name": "Extract Text & Detect Language"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "dup-check",
                "leftValue": "={{ $json.isDuplicate }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2512,
          1648
        ],
        "id": "eac0891a-eb93-4d5f-b584-817b88edabb9",
        "name": "Is Duplicate?"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body || $json;\nconst event = body.event || {};\nconst headers = $json.headers || {};\n\n// --- Retry filter ---\nif (headers['x-slack-retry-num']) return [];\n\n// --- Bot user ID from env or fallback ---\nconst BOT_USER_ID = 'U07K8QJ9XYZ';\n\n// --- Handle message_changed: only process if a NEW URL was added ---\nif (event.subtype === 'message_changed') {\n  const prev = event.previous_message?.text || '';\n  const curr = event.message?.text || '';\n  if (prev === curr) return [];\n\n  const extractUrls = (text) => {\n    const urls = new Set();\n    const slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\n    let m;\n    while ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\n    const plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}|]+/g;\n    while ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n    return urls;\n  };\n\n  const prevUrls = extractUrls(prev);\n  const currUrls = extractUrls(curr);\n  const newUrls = [...currUrls]\n    .map(u => u.split('|')[0])\n    .filter(u => !prevUrls.has(u) && u.match(/^https?:\\/\\/.+\\..+/));\n\n  if (newUrls.length === 0) return [];\n\n  const user = event.message?.user || event.previous_message?.user || '';\n  if (!user || user === BOT_USER_ID || event.message?.bot_id) return [];\n\n  // Dedup\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.processedUrls) staticData.processedUrls = {};\n  if (!staticData.processedMsgs) staticData.processedMsgs = {};\n\n  const msgKey = `${user}_${event.message?.ts || event.ts}_edited`;\n  if (staticData.processedMsgs[msgKey]) return [];\n  staticData.processedMsgs[msgKey] = Date.now();\n\n  // Clean old entries\n  const twoDaysAgo = Date.now() - 172800000;\n  for (const k of Object.keys(staticData.processedUrls)) {\n    if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\n  }\n  for (const k of Object.keys(staticData.processedMsgs)) {\n    if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n  }\n\n  // Return all new URLs (supports multi-URL messages)\n  const results = [];\n  const fourHoursAgo = Date.now() - 14400000;\n  for (const url of newUrls) {\n    const isDuplicate = staticData.processedUrls[url] > fourHoursAgo;\n    // Store optimistically — Format Error will clear on failure, Validate & Format will confirm on success\n    if (!isDuplicate) staticData.processedUrls[url] = Date.now();\n    results.push({ json: { isDuplicate, url, slack_channel: event.channel, slack_user: user, slack_ts: event.message?.ts || event.ts } });\n  }\n  return results;\n}\n\n// --- Skip non-message subtypes ---\nconst skipSubtypes = ['bot_message','message_deleted','channel_join','channel_leave','channel_topic','channel_purpose','file_share','pinned_item','unpinned_item'];\nif (event.subtype && skipSubtypes.includes(event.subtype)) return [];\n\n// --- Skip bots and empty messages ---\nif (event.type !== 'message' || event.bot_id || event.user === BOT_USER_ID || !event.text) return [];\n\n// --- Extract URLs ---\nconst text = event.text || '';\nconst urls = new Set();\n\nconst slackRx = /<(https?:\\/\\/[^>|]+)(\\|[^>]+)?>/g;\nlet m;\nwhile ((m = slackRx.exec(text)) !== null) urls.add(m[1]);\n\nconst plainRx = /https?:\\/\\/[^\\s<>\"'\\[\\]{}|]+/g;\nwhile ((m = plainRx.exec(text)) !== null) urls.add(m[0].replace(/[.,;:)]+$/, ''));\n\nconst validUrls = [...urls]\n  .map(u => u.split('|')[0])\n  .filter(u => u.match(/^https?:\\/\\/.+\\..+/));\nif (validUrls.length === 0) return [];\n\n// --- Dedup ---\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedUrls) staticData.processedUrls = {};\nif (!staticData.processedMsgs) staticData.processedMsgs = {};\n\nconst msgKey = `${event.user}_${event.ts}`;\nif (staticData.processedMsgs[msgKey]) return [];\nstaticData.processedMsgs[msgKey] = Date.now();\n\nconst fourHoursAgo = Date.now() - 14400000;\nconst twoDaysAgo = Date.now() - 172800000;\n\n// Clean old entries\nfor (const k of Object.keys(staticData.processedUrls)) {\n  if (staticData.processedUrls[k] < twoDaysAgo) delete staticData.processedUrls[k];\n}\nfor (const k of Object.keys(staticData.processedMsgs)) {\n  if (staticData.processedMsgs[k] < twoDaysAgo) delete staticData.processedMsgs[k];\n}\n\n// Return ALL URLs from message (multi-URL support)\nconst results = [];\nfor (const url of validUrls) {\n  const isDuplicate = staticData.processedUrls[url] > fourHoursAgo;\n  // Store optimistically — Format Error will clear on failure, Validate & Format will confirm on success\n  if (!isDuplicate) staticData.processedUrls[url] = Date.now();\n  results.push({ json: { isDuplicate, url, slack_channel: event.channel, slack_user: event.user, slack_ts: event.ts } });\n}\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2304,
          1648
        ],
        "id": "6ef68deb-a3ac-4a78-bbfd-3de04d82f44d",
        "name": "Extract URL & Deduplicate"
      },
      {
        "parameters": {
          "respondWith": "text",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          2032,
          1648
        ],
        "id": "72f0fae9-fb1f-4bde-9f97-6c5239738470",
        "name": "Respond 200 (Ack)"
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { challenge: $json.body.challenge } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2032,
          1456
        ],
        "id": "71649548-324e-4e4a-866a-1d65894dda61",
        "name": "Return Challenge"
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          2304,
          1456
        ],
        "id": "d41e6cec-641c-4017-980a-70cf1d49ab87",
        "name": "Respond 200 (Challenge)"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "url-verify-check",
                "leftValue": "={{$json[\"body\"][\"type\"]}}",
                "rightValue": "url_verification",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1792,
          1552
        ],
        "id": "93c5ca08-5bf9-4eca-9f11-302399d92c21",
        "name": "Is URL Verification?"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "slack-events",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          1536,
          1552
        ],
        "id": "d2401acb-f3e9-45c3-a355-26869384bffd",
        "name": "Webhook",
        "webhookId": "d63266c1-1b49-4fc1-8530-cbdb5e8fb27f"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "={{ $json.slack_channel }}",
            "mode": "id"
          },
          "text": "=ℹ️ This URL was already summarized recently.\n\n<{{$json.url}}|{{$json.url}}>",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2736,
          1456
        ],
        "id": "e438e802-a389-4fa7-8746-7afa2c65dc25",
        "name": "Send Duplicate Notice1",
        "webhookId": "4c109572-f287-4e64-9bda-ffb85c1243de",
        "credentials": {
          "slackApi": {
            "id": "I5astSkOODZZU76Y",
            "name": "n8n Summery"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "error-check-direct",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3232,
          1936
        ],
        "id": "42ac1bf6-c44f-4d80-a3d4-271ced205d29",
        "name": "Has Direct Error?"
      },
      {
        "parameters": {
          "jsCode": "const raw = $json.data || $json.body || $json.content || '';\nconst prevData = $('Needs Jina Fallback?').first().json;\nconst url = prevData.url || '';\n\nif (!raw || (typeof raw === 'string' && raw.length < 200)) {\n  let reason = prevData.error || 'Could not extract article text.';\n  if (reason === 'Direct extraction failed') {\n    reason += ' Jina Reader also failed — site may require login or block automated access.';\n  }\n  return [{ json: { error: reason, url, needsJina: false } }];\n}\n\nlet text = typeof raw === 'string' ? raw : JSON.stringify(raw);\nconst MAX_LEN = 12000;\n\n// Clean Jina output\ntext = text.replace(/^Title:.*\\n/i, '').replace(/^URL Source:.*\\n/i, '').replace(/^Markdown Content:\\n/i, '').replace(/!\\[.*?\\]\\(.*?\\)/g, '').replace(/\\[([^\\]]+)\\]\\(.*?\\)/g, '$1').replace(/#{1,6}\\s*/g, '').replace(/[*_]{1,3}/g, '').replace(/\\s+/g, ' ').trim();\n\ntext = text.replace(/all rights reserved|כל הזכויות שמורות|copyright \\d{4}|©\\s*\\d{4}/gi,'').replace(/follow us on.*|עקבו אחרינו.*/gi,'').replace(/\\s+/g,' ').trim();\n\n// Detect language\nconst israeliSites = ['walla.co.il','ynet.co.il','mako.co.il','haaretz.co.il','calcalist.co.il','globes.co.il','maariv.co.il','sport5.co.il','kan.org.il','n12.co.il','reshet13.co.il','ice.co.il','arutz7.co.il','hidabroot.com'];\nconst russianSites = ['rbc.ru','lenta.ru','ria.ru','tass.ru','kommersant.ru','meduza.io','novayagazeta.ru','iz.ru'];\n\nlet language = 'en';\nif (israeliSites.some(s => url.includes(s))) language = 'he';\nelse if (russianSites.some(s => url.includes(s))) language = 'ru';\nelse {\n  const heb = (text.match(/[\\u0590-\\u05FF]/g) || []).length;\n  const cyr = (text.match(/[\\u0400-\\u04FF]/g) || []).length;\n  const total = text.length;\n  if (heb / total > 0.08) language = 'he';\n  else if (cyr / total > 0.08) language = 'ru';\n}\n\nif (text.length > MAX_LEN) text = text.substring(0, MAX_LEN) + '... [truncated]';\n\nreturn [{ json: { article: text, url, language, charCount: text.length, needsJina: false } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3712,
          1648
        ],
        "id": "24b807c5-8061-4c2f-bec1-bf29fdb1b8e8",
        "name": "Parse Jina Response"
      },
      {
        "parameters": {
          "url": "=https://r.jina.ai/{{ $json.url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "text/plain"
              },
              {
                "name": "X-Return-Format",
                "value": "text"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {
                "maxRedirects": 5
              }
            },
            "timeout": 30000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3472,
          1648
        ],
        "id": "ebf02e37-743f-467a-a9c9-84903a39dfd3",
        "name": "Jina Reader Fallback",
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "needs-jina-check",
                "leftValue": "={{ $json.needsJina }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3232,
          1744
        ],
        "id": "d143110c-f37c-45a0-8aa1-7438c84627cd",
        "name": "Needs Jina Fallback?"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "google/gemma-4-26b-a4b",
            "mode": "list",
            "cachedResultName": "google/gemma-4-26b-a4b"
          },
          "options": {
            "frequencyPenalty": 0.3,
            "maxTokens": 8192,
            "presencePenalty": 0.1,
            "temperature": 0.2,
            "timeout": 120000,
            "topP": 0.9
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          4304,
          2080
        ],
        "id": "8e45a990-9bd7-4768-bbb2-5f6538916ecc",
        "name": "Local LLM",
        "credentials": {
          "openAiApi": {
            "id": "WJsCuec8UzGRGVIc",
            "name": "Macbook Pro M1Pro"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "needsFallback": true,
          "options": {
            "systemMessage": "You are an expert article summarizer. Output ONLY valid JSON — no markdown fences, no preamble, no thinking. Do NOT use <think> tags or internal reasoning. Respond immediately with JSON."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          4400,
          1760
        ],
        "id": "cb2ef999-b8c3-4659-ae8f-a4a3e6f100fe",
        "name": "AI Summarizer"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "error-check",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3952,
          1648
        ],
        "id": "9ca994fb-94ac-4457-b9c9-57f2c085aa2d",
        "name": "Has Error?"
      },
      {
        "parameters": {
          "model": "openai/gpt-5-nano",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          4464,
          2080
        ],
        "id": "8aaa1b0d-cef8-46ce-b73b-87a37ac97caa",
        "name": "OpenRouter Fallback",
        "credentials": {
          "openRouterApi": {
            "id": "hGAnvpSAhWRbFktq",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const article = $json.article || '';\nconst language = $json.language || 'en';\nconst url = $json.url || '';\nconst langNames = { he: 'Hebrew', ru: 'Russian', en: 'English' };\nconst langName = langNames[language] || 'English';\n\nconst prompt = `Summarize the following article in ${langName}.\n\nRules:\n- Output ONLY valid JSON, no markdown fences, no extra text.\n- Return a short headline title (5-10 words max) and exactly 5 bullet points.\n- The title should be a compelling headline capturing the main event or topic.\n- Do NOT repeat the title content in the first bullet point.\n- Each bullet: 3-4 sentences, 60-80 words, with specific details (names, dates, numbers, locations, quotes).\n- Each bullet must cover a DIFFERENT key aspect and provide enough context for someone unfamiliar with the topic.\n- The first bullet should provide essential context and background.\n- Remaining bullets should cover: key events/actions, people involved, consequences/impact, and broader context or next steps.\n- Include real names, dates, numbers, locations, and quotes mentioned in the article.\n- Do NOT invent or guess dates, facts, or details not in the article.\n- Do NOT include bullet characters in the bullets array.\n- Do NOT include filler like \"no further details available\".\n- The title and all bullets MUST be written in ${langName}.\n\nCRITICAL: The \"bullets\" key must appear EXACTLY ONCE containing an array of 5 strings.\nDo NOT repeat the \"bullets\" key multiple times. All 5 bullet points go in ONE array.\n\nCorrect format:\n{\"title\": \"Headline here\", \"bullets\": [\"First point...\", \"Second point...\", \"Third point...\", \"Fourth point...\", \"Fifth point...\"]}\n\nWrong format (DO NOT DO THIS):\n{\"title\": \"...\", \"bullets\": [\"point1\"], \"bullets\": [\"point2\"]}\n\nArticle:\n${article}`;\n\nreturn [{ json: { prompt, language, url } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4192,
          1760
        ],
        "id": "c497ef89-429f-4846-bb49-4e978ade0c47",
        "name": "Build Prompt"
      },
      {
        "parameters": {
          "content": "Add this temporarily to the top of your Extract URL & Deduplicate node to reset all saved websites\n\n$getWorkflowStaticData('global').processedUrls = {}; ",
          "height": 96,
          "width": 656,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3232,
          768
        ],
        "typeVersion": 1,
        "id": "9ad1ecd2-1251-4d91-93dd-5c8177a1a028",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "Fetch Page": {
        "main": [
          [
            {
              "node": "Extract Text & Detect Language",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Error": {
        "main": [
          [
            {
              "node": "Send to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate & Format": {
        "main": [
          [
            {
              "node": "Send to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Text & Detect Language": {
        "main": [
          [
            {
              "node": "Has Direct Error?",
              "type": "main",
              "index": 0
            },
            {
              "node": "Needs Jina Fallback?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Duplicate?": {
        "main": [
          [
            {
              "node": "Send Duplicate Notice1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract URL & Deduplicate": {
        "main": [
          [
            {
              "node": "Is Duplicate?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond 200 (Ack)": {
        "main": [
          [
            {
              "node": "Extract URL & Deduplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return Challenge": {
        "main": [
          [
            {
              "node": "Respond 200 (Challenge)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is URL Verification?": {
        "main": [
          [
            {
              "node": "Return Challenge",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond 200 (Ack)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Is URL Verification?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Direct Error?": {
        "main": [
          [
            {
              "node": "Format Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Jina Response": {
        "main": [
          [
            {
              "node": "Has Error?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Jina Reader Fallback": {
        "main": [
          [
            {
              "node": "Parse Jina Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Needs Jina Fallback?": {
        "main": [
          [
            {
              "node": "Jina Reader Fallback",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Local LLM": {
        "ai_languageModel": [
          [
            {
              "node": "AI Summarizer",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Summarizer": {
        "main": [
          [
            {
              "node": "Validate & Format",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Error?": {
        "main": [
          [
            {
              "node": "Format Error",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Fallback": {
        "ai_languageModel": [
          [
            {
              "node": "AI Summarizer",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Build Prompt": {
        "main": [
          [
            {
              "node": "AI Summarizer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version 9af16be5",
    "description": "",
    "autosaved": true
  },
  "tags": []
}