PI workflows backup 2026-03-28 20-00/WAHA Webhook Auto Start.json
{
  "updatedAt": "2026-03-25T20:35:32.733Z",
  "createdAt": "2026-03-25T20:24:23.770Z",
  "id": "kkI9aGg5BSQm1WWt",
  "name": "WAHA Webhook Auto Start",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "e57fc299-e17f-4e9a-9fce-638718153691",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        0
      ]
    },
    {
      "parameters": {
        "url": "http://waha:3000/api/sessions/default",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "c7b9f73c-17e2-4bc3-8561-2808cc5eb998",
      "name": "Check WAHA Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-stopped",
              "leftValue": "={{ $json.status }}",
              "rightValue": "STOPPED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3dd2d713-183a-4d9d-b20d-4d3ced81687b",
      "name": "Is Session Stopped?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha:3000/api/sessions/default/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "7d644ab3-13f7-423d-8fc2-8ca6940547ce",
      "name": "Start Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -192
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://waha:3000/api/sessions/default",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"config\": {\n    \"webhooks\": [\n      {\n        \"url\": \"https://n8n.pi.alex-it.net/webhook/waha-incoming\",\n        \"events\": [\"session.status\", \"message\", \"message.any\"]\n      },\n      {\n        \"url\": \"https://n8n.pi.alex-it.net/webhook/waha-incoming-bot\",\n        \"events\": [\"session.status\", \"message\", \"message.any\"]\n      }\n    ]\n  }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "cfe0d5a5-cab5-4dfc-b6df-112fd107f332",
      "name": "Register Both Webhooks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        0
      ]
    },
    {
      "parameters": {},
      "id": "b7c6c0c5-6a45-4248-bfb1-939ec0a1be6b",
      "name": "WAHA Down - Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -16,
        208
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Check WAHA Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check WAHA Session": {
      "main": [
        [
          {
            "node": "Is Session Stopped?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WAHA Down - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Session Stopped?": {
      "main": [
        [
          {
            "node": "Start Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Register Both Webhooks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Session": {
      "main": [
        [
          {
            "node": "Register Both Webhooks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "e949c389-0cc1-4af4-8ca4-e065d9b7b349",
  "activeVersionId": "e949c389-0cc1-4af4-8ca4-e065d9b7b349",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-25T20:24:23.774Z",
      "createdAt": "2026-03-25T20:24:23.774Z",
      "role": "workflow:owner",
      "workflowId": "kkI9aGg5BSQm1WWt",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-25T20:43:58.000Z",
    "createdAt": "2026-03-25T20:33:58.898Z",
    "versionId": "e949c389-0cc1-4af4-8ca4-e065d9b7b349",
    "workflowId": "kkI9aGg5BSQm1WWt",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "id": "e57fc299-e17f-4e9a-9fce-638718153691",
        "name": "Every 5 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -768,
          0
        ]
      },
      {
        "parameters": {
          "url": "http://waha:3000/api/sessions/default",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Api-Key",
                "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
              }
            ]
          },
          "options": {
            "timeout": 10000
          }
        },
        "id": "c7b9f73c-17e2-4bc3-8561-2808cc5eb998",
        "name": "Check WAHA Session",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -400,
          0
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-stopped",
                "leftValue": "={{ $json.status }}",
                "rightValue": "STOPPED",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "3dd2d713-183a-4d9d-b20d-4d3ced81687b",
        "name": "Is Session Stopped?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -96,
          -16
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://waha:3000/api/sessions/default/start",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Api-Key",
                "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
              }
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "7d644ab3-13f7-423d-8fc2-8ca6940547ce",
        "name": "Start Session",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          160,
          -192
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "http://waha:3000/api/sessions/default",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Api-Key",
                "value": "1ENEwO3sB28lWYzMEhmDYNpW7xc2Om0y"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"config\": {\n    \"webhooks\": [\n      {\n        \"url\": \"https://n8n.pi.alex-it.net/webhook/waha-incoming\",\n        \"events\": [\"session.status\", \"message\", \"message.any\"]\n      },\n      {\n        \"url\": \"https://n8n.pi.alex-it.net/webhook/waha-incoming-bot\",\n        \"events\": [\"session.status\", \"message\", \"message.any\"]\n      }\n    ]\n  }\n}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "cfe0d5a5-cab5-4dfc-b6df-112fd107f332",
        "name": "Register Both Webhooks",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          528,
          0
        ]
      },
      {
        "parameters": {},
        "id": "b7c6c0c5-6a45-4248-bfb1-939ec0a1be6b",
        "name": "WAHA Down - Skip",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -16,
          208
        ]
      }
    ],
    "connections": {
      "Every 5 Minutes": {
        "main": [
          [
            {
              "node": "Check WAHA Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check WAHA Session": {
        "main": [
          [
            {
              "node": "Is Session Stopped?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "WAHA Down - Skip",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Session Stopped?": {
        "main": [
          [
            {
              "node": "Start Session",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Register Both Webhooks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start Session": {
        "main": [
          [
            {
              "node": "Register Both Webhooks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version e949c389",
    "description": "",
    "autosaved": true
  },
  "tags": []
}