PI workflows backup 2026-04-27 21-00/Monday Overdue Enforcer.json
{
  "updatedAt": "2026-04-16T19:35:16.077Z",
  "createdAt": "2026-04-16T19:22:38.617Z",
  "id": "CFpBb3c3Lqfkz9mq",
  "name": "Monday Overdue Enforcer",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "320d4c03-7935-4269-b534-85032a3cc2aa",
      "name": "Daily 10am Israel",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Bump order: (blank) → Medium → High → Critical (ceiling)\nconst bump = { '': 'Medium', 'Low': 'Medium', 'Medium': 'High', 'High': 'Critical', 'Critical': 'Critical' };\nconst today = new Date().toISOString().split('T')[0];\nconst items = $input.first().json?.data?.boards?.[0]?.groups?.[0]?.items_page?.items || [];\nconst out = [];\nfor (const item of items) {\n  const status = (item.column_values || []).find(c => c.id === 'project_status');\n  const due = (item.column_values || []).find(c => c.id === 'date');\n  const pri = (item.column_values || []).find(c => c.id === 'priority');\n  if (status?.text === 'Done') continue;\n  const dueStr = due?.text?.split(' ')[0] || '';\n  if (!dueStr || dueStr >= today) continue;\n  const currentPri = pri?.text || '';\n  const newPri = bump[currentPri] || 'Medium';\n  const daysOverdue = Math.floor((new Date(today) - new Date(dueStr)) / 86400000);\n  out.push({ json: { itemId: item.id, itemName: item.name, dueDate: dueStr, daysOverdue, currentPri, newPri, bumped: currentPri !== newPri, url: `https://alex-it.monday.com/boards/5093821351/pulses/${item.id}` } });\n}\nreturn out;"
      },
      "id": "3f441acd-f4df-4d4a-a51d-b98bd8252a95",
      "name": "Find Overdue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "bumped-check",
              "leftValue": "={{$json.bumped}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c40ffaf3-673a-4509-87b0-faa98bd51c82",
      "name": "Needs Priority Bump?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -448,
        -208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "API-Version",
              "value": "2024-10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: `mutation { change_simple_column_value(board_id: 5093821351, item_id: ${$json.itemId}, column_id: \"priority\", value: \"${$json.newPri}\") { id } }` }) }}",
        "options": {}
      },
      "id": "fbe4be8e-cd67-4efa-8e2e-2404bc297c8d",
      "name": "Bump Priority",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        -304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DEEjaXy7pOncZeQ1",
          "name": "Monday.com"
        }
      }
    },
    {
      "parameters": {},
      "id": "7c1c2220-66da-4ae0-9c12-2d1f9d3c72bd",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        0,
        -208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0ATBUJS329', text: `:warning: Overdue: ${$json.itemName}`, blocks: [ { type: 'section', text: { type: 'mrkdwn', text: `⚠️ *Overdue:* <${$json.url}|${$json.itemName}>` } }, { type: 'context', elements: [ { type: 'mrkdwn', text: `📅 Due ${$json.dueDate}   ·   🕒 *${$json.daysOverdue}* day(s) overdue${$json.bumped ? `   ·   🔺 Priority: *${$json.currentPri || '(blank)'}* → *${$json.newPri}*` : `   ·   🔒 At max priority (*${$json.currentPri}*)`}` } ] } ] }) }}",
        "options": {}
      },
      "id": "868e1295-4c22-4195-b278-abee1dbdefe7",
      "name": "Slack Overdue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        -208
      ],
      "credentials": {
        "slackApi": {
          "id": "obEYVo8oQOJ22JqX",
          "name": "AD Admin Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "API-Version",
              "value": "2024-10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: `query { boards(ids: 5093821351) { groups(ids: \"new_group29179\") { items_page(limit: 200) { items { id name column_values(ids: [\"project_status\", \"date\", \"priority\"]) { id text value } } } } } }` }) }}",
        "options": {}
      },
      "id": "ee424397-f188-4864-b35d-7ddc348da526",
      "name": "Get To-Do Items3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        -208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DEEjaXy7pOncZeQ1",
          "name": "Monday.com"
        }
      }
    }
  ],
  "connections": {
    "Daily 10am Israel": {
      "main": [
        [
          {
            "node": "Get To-Do Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Overdue": {
      "main": [
        [
          {
            "node": "Needs Priority Bump?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Priority Bump?": {
      "main": [
        [
          {
            "node": "Bump Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Bump Priority": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All": {
      "main": [
        [
          {
            "node": "Slack Overdue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get To-Do Items3": {
      "main": [
        [
          {
            "node": "Find Overdue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily 10am Israel": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "cc1c56dd-a464-4080-9426-54aae5d2e805",
  "activeVersionId": "cc1c56dd-a464-4080-9426-54aae5d2e805",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-16T19:22:38.626Z",
      "createdAt": "2026-04-16T19:22:38.626Z",
      "role": "workflow:owner",
      "workflowId": "CFpBb3c3Lqfkz9mq",
      "projectId": "pWTWmuHnmIHw48U9"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-16T19:35:17.000Z",
    "createdAt": "2026-04-16T19:34:24.785Z",
    "versionId": "cc1c56dd-a464-4080-9426-54aae5d2e805",
    "workflowId": "CFpBb3c3Lqfkz9mq",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 10 * * *"
              }
            ]
          }
        },
        "id": "320d4c03-7935-4269-b534-85032a3cc2aa",
        "name": "Daily 10am Israel",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1104,
          -208
        ]
      },
      {
        "parameters": {
          "jsCode": "// Bump order: (blank) → Medium → High → Critical (ceiling)\nconst bump = { '': 'Medium', 'Low': 'Medium', 'Medium': 'High', 'High': 'Critical', 'Critical': 'Critical' };\nconst today = new Date().toISOString().split('T')[0];\nconst items = $input.first().json?.data?.boards?.[0]?.groups?.[0]?.items_page?.items || [];\nconst out = [];\nfor (const item of items) {\n  const status = (item.column_values || []).find(c => c.id === 'project_status');\n  const due = (item.column_values || []).find(c => c.id === 'date');\n  const pri = (item.column_values || []).find(c => c.id === 'priority');\n  if (status?.text === 'Done') continue;\n  const dueStr = due?.text?.split(' ')[0] || '';\n  if (!dueStr || dueStr >= today) continue;\n  const currentPri = pri?.text || '';\n  const newPri = bump[currentPri] || 'Medium';\n  const daysOverdue = Math.floor((new Date(today) - new Date(dueStr)) / 86400000);\n  out.push({ json: { itemId: item.id, itemName: item.name, dueDate: dueStr, daysOverdue, currentPri, newPri, bumped: currentPri !== newPri, url: `https://alex-it.monday.com/boards/5093821351/pulses/${item.id}` } });\n}\nreturn out;"
        },
        "id": "3f441acd-f4df-4d4a-a51d-b98bd8252a95",
        "name": "Find Overdue",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -672,
          -208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "bumped-check",
                "leftValue": "={{$json.bumped}}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "c40ffaf3-673a-4509-87b0-faa98bd51c82",
        "name": "Needs Priority Bump?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -448,
          -208
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.monday.com/v2",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "API-Version",
                "value": "2024-10"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query: `mutation { change_simple_column_value(board_id: 5093821351, item_id: ${$json.itemId}, column_id: \"priority\", value: \"${$json.newPri}\") { id } }` }) }}",
          "options": {}
        },
        "id": "fbe4be8e-cd67-4efa-8e2e-2404bc297c8d",
        "name": "Bump Priority",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -224,
          -304
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DEEjaXy7pOncZeQ1",
            "name": "Monday.com"
          }
        }
      },
      {
        "parameters": {},
        "id": "7c1c2220-66da-4ae0-9c12-2d1f9d3c72bd",
        "name": "Merge All",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          0,
          -208
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ channel: 'C0ATBUJS329', text: `:warning: Overdue: ${$json.itemName}`, blocks: [ { type: 'section', text: { type: 'mrkdwn', text: `⚠️ *Overdue:* <${$json.url}|${$json.itemName}>` } }, { type: 'context', elements: [ { type: 'mrkdwn', text: `📅 Due ${$json.dueDate}   ·   🕒 *${$json.daysOverdue}* day(s) overdue${$json.bumped ? `   ·   🔺 Priority: *${$json.currentPri || '(blank)'}* → *${$json.newPri}*` : `   ·   🔒 At max priority (*${$json.currentPri}*)`}` } ] } ] }) }}",
          "options": {}
        },
        "id": "868e1295-4c22-4195-b278-abee1dbdefe7",
        "name": "Slack Overdue",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          -208
        ],
        "credentials": {
          "slackApi": {
            "id": "obEYVo8oQOJ22JqX",
            "name": "AD Admin Bot"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.monday.com/v2",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "API-Version",
                "value": "2024-10"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query: `query { boards(ids: 5093821351) { groups(ids: \"new_group29179\") { items_page(limit: 200) { items { id name column_values(ids: [\"project_status\", \"date\", \"priority\"]) { id text value } } } } } }` }) }}",
          "options": {}
        },
        "id": "ee424397-f188-4864-b35d-7ddc348da526",
        "name": "Get To-Do Items3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -880,
          -208
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DEEjaXy7pOncZeQ1",
            "name": "Monday.com"
          }
        }
      }
    ],
    "connections": {
      "Daily 10am Israel": {
        "main": [
          [
            {
              "node": "Get To-Do Items3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Overdue": {
        "main": [
          [
            {
              "node": "Needs Priority Bump?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Needs Priority Bump?": {
        "main": [
          [
            {
              "node": "Bump Priority",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge All",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Bump Priority": {
        "main": [
          [
            {
              "node": "Merge All",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge All": {
        "main": [
          [
            {
              "node": "Slack Overdue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get To-Do Items3": {
        "main": [
          [
            {
              "node": "Find Overdue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Vinokur",
    "name": "Version cc1c56dd",
    "description": "",
    "autosaved": false
  },
  "tags": []
}